[2016-04-05 22:56] danielmewes commented on #5614
... and Java driver!

This is not critical for 2.3 (but a nice plus). We can update the drivers later.

(@nighelles, @deontologician, @VeXocide )

[2016-04-05 23:14] larkost commented on #5595
@mbroadst: we are going to figure out how to mitigate/fix the `.gitattributes` issue with #5597

[2016-04-06 00:12] mlucy commented on #5600
A fix for this is in next, CR by @VeXocide .

[2016-04-06 00:12] #5600 closed

[2016-04-06 00:29] nighelles commented on #5614
This should be fixed for the javascript driver.

[2016-04-06 00:49] mlucy commented on #5604
Sorry about that, I didn't realize that some of the newer error types weren't aliased when I did the autoreplace.

[2016-04-06 04:45] larkost opened #5615 "sign the MacOS uninstaller"
Our MacOS uninstaller is an Applescript application, and up to MacOS X El Capitan (10.11) those did not require application signatures. It seems that that has changed, so we need to figure out how to sign it, and start doing so.

The work-around is simple: right-click on the scriptlet, and choose "Open". Depending on your Gatekeeper settings you will then have the option to run it at the warning b

[2016-04-06 05:04] #5458 closed

[2016-04-06 05:16] #5349 closed

[2016-04-06 05:18] #5072 closed

[2016-04-06 05:18] #5328 closed

[2016-04-06 05:23] larkost commented on #5441
This has been checked into `next` with ee07023d

[2016-04-06 05:23] #5441 closed

[2016-04-06 06:17] #5611 closed

[2016-04-06 06:37] erikdubbelboer commented on #5601
@danielmewes we changed our object so this isn't an issue anymore.

I thought a mature database like rethinkdb would at least have some tests with random objects of random depths and would fail gracefully when something was wrong. A simple object like this crashing the whole database seems like a big bug to me.

[2016-04-06 06:54] larkost opened #5616 "raft election timeouts seem too common"
A number of tests have been occasionally producing errors because of `table.wait` timing out on them. When I look at the logs for the servers involved I see a lot of `Raft election timed out.` notices, sometimes repeating for 30-40 seconds.

Some of this is probably because we are using 3 servers, so with one out of commission (as is done in the tests), there is about an even chance of deadlock in

[2016-04-06 07:09] larkost commented on #5616
Adding a little fuel to this fire, `unit.ClusteringRaft.Failover` also failed during the same run with the message:
[code]
My naive read of that test makes me think that this might be related.

[2016-04-06 08:33] larkost opened #5617 "Adjust expected errors for missing functions in `polyglot/meta/table.js`"
In the `./test/rql_test/test-runner polyglot/meta/table.js` tests we check to see that a few methods are no longer defined on `r`, specifically `r.wait` (line 258), `r.rebalance()` (line 263), and `r.wait` with a configuration (line 348). Unfortunately the specific error message generated by the lack of method there seems to vary with the version of node we test with:
node 0.10:
[code]
node 0.12:

[2016-04-06 08:42] larkost opened #5619 "move `interface` tests to `test-runner`"
On `the-shadow` I am having increasing problems getting good results. Part of this is aging hardware, but compounding that is the issue that parts of tests wind up living well past the test they started in with `./test/run`, so things build up to the point where no more valid testing can happen well before a round of tests can complete.

I would like to move more tests from `./test/run` to `test-r

[2016-04-06 08:53] larkost opened #5620 "decouple the driver building from `./configure`"
Currently if you want to build any of the drivers you have to also have run `./configure`. For Python and Ruby this is not really necessary, since they need no downloads, and there are no settings for them. There is a longer conversation to be had about the JavaScript driver (it needs a CoffeScript compiler and all its decencies), and some thinking to be done about the Java driver (obviously needs

[2016-04-06 11:42] geoah commented on #5038
Is this currently in the roadmap for one of the next releases?

[2016-04-06 13:22] scottder opened #5621 "2.3 Issues in help output for rethinkdb-dump examples"
The examples section still references the -a flag

[2016-04-06 14:44] #5621 closed

[2016-04-06 14:50] danielmewes commented on #5621
Thanks for reporting this! It's now fixed in v2.3.x and will ship with the 2.3.0 Python driver release.

[2016-04-06 14:51] danielmewes opened #5622 "precise and utopic packages build with `-dirty` version"
This seems to be caused by `.gitattributes`. For the 2.3.0 packages, I manually changed the gen-config script to not add the -dirty tag but we have to find a permanent solution for this.

[2016-04-06 14:52] danielmewes opened #5623 "Windows web_assets.cc cause compiler to run out of heap space"
Found a work-around for 2.3.0 to get the web_assets.cc smaller, but will need a permanent fix.

[2016-04-06 15:05] AtnNn commented on #5623
In my experience, msc sometimes fails when recompiling `web_assets.cc` alone, but not when compiling it along with other files.

It might be possible to use a resource file instead (https://msdn.microsoft.com/en-us/library/aa381054(v=vs.85).aspx)

[2016-04-06 16:01] joeblew99 commented on #5588
Thanks. I have been doing that already.

Does not help with the real issue though.

On Tue, 5 Apr 2016, 19:09 Karl Kuehn, <notifications@github.com> wrote:

[2016-04-06 18:00] danielmewes commented on #5038
@geoah Not sure which release this is going to be in, but we'll try our best. It's a feature that has been asked for a lot, so I think chances are good that it will make it into one of the next few releases.

[2016-04-06 18:43] danielmewes commented on #5612
:+1:

[2016-04-06 19:05] danielmewes commented on #5623
It gave me this error https://msdn.microsoft.com/en-us/library/yz7kx3y2.aspx every time.

This seems to happen once the `web_assets.cc` grows over a certain size. The limit seems to be somewhere slightly below 10 MB. Though I'm not sure what exactly is the limiting factor (total size of string constants in the file? actual file size?).

[2016-04-06 20:28] danielmewes opened #5624 "`rethinkdb dump` etc. have bad error message if wrong password is used"
The easiest way to reproduce is taking a server with no password, and running
[code]
Enter some non-empty password, and it will fail like this:
[code]

Note that it says "Could not connect to ...", but doesn't print the reason for the connection failure. Additionally it prints a second error when trying to parse the version (it should bail out before even trying to parse it if it can't connect).

[2016-04-06 20:40] danielmewes commented on #3983
A work-around on the server side seems to be disabling HTTP connection re-using (keepalive). I'd prefer to find out what our webserver does wrong that breaks this with Safari, but in the worst case we could disable it depending on the browser.

[2016-04-06 23:15] andyburke opened #5625 "Not following semver breaks node.js driver"
Today, with the release of 2.3.0, my node.js code stopped working against a 2.2.5 server:

[code]

My package.json setup is:

[code]

This should allow upgrade to all 2.x.y releases. According to semver, those releases would not break compatibility. (Where major versions break compatibility, minor versions add functionality and patch versions fix bugs.)

Because 2.3.0 breaks compatibility with 2.2

[2016-04-06 23:25] larkost commented on #5583
This is up for review in CR 3589, from branch: larkost/5583-dethread-interface.system_changefeeds

[2016-04-06 23:39] rocketraman commented on #5468
I don't understand why #5471 fixes this. This issue is to mark the `Cursor` as `Closeable` whereas #5471 marks the `Connection` as `Closeable` (which is also good, but different). Is it because if the Connection is closed it is unnecessary to close cursors?

[2016-04-06 23:53] danielmewes commented on #5468
@rocketraman You're right. I think we mixed this up. Re-opening.

[2016-04-06 23:57] deontologician commented on #5468
whoops, yeah I'll fix this, thanks for catching it

[2016-04-06 23:59] danielmewes commented on #5625
Thanks for bringing this up again @andyburke . This is indeed a convincing example for why we should strongly consider switching to semver for our driver. The reason for why we don't use it at the moment is to keep the driver versions similar to the corresponding server versions, so you can easily tell which driver works with which server.

We could use something like `23.0.0` instead of `2.3.0` m

[2016-04-07 00:15] andyburke commented on #5625
Is there a particular reason to avoid using semver on the server side? The semver concepts aren't really tied to javascript.

It can lead to high version numbers if you are moving fast and breaking backward compatibility often, but that isn't a problem as long as you're ok with versions like 14.3.2.

[2016-04-07 01:31] jazoom opened #5626 "I already have a 'users' table where all my product's users are. What's going to happen when I update to RethinkDB 2.3?"

[2016-04-07 01:33] danielmewes commented on #5626
The RethinkDB 2.3 `users` table is in the special `rethinkdb` system
database, so there won't be any conflict.

- Daniel

On Wed, Apr 6, 2016 at 6:31 PM, jazoom <notifications@github.com> wrote:

[2016-04-07 01:37] jazoom commented on #5626
Haha, yeah, I just realised that and came to comment before anyone else called out my silliness. It'll be a different "database". Thanks for the reply.

[2016-04-07 01:37] #5626 closed

[2016-04-07 07:09] tatsujin1 commented on #3583
I realized  (a while back) that this feature would make my suggestions on #746 and #4008 about non-deleting variants a lot easier and also more explicit (i.e. better) than using TTL-like functionality. At least in most of my cases.

For example:
`table.filter(r.lazy(r.now()) >= r.row['expires_at']).changes()`
vs (using a TTLified index):
`table.changes()`

What I guess I'm trying to say is that th

[2016-04-07 10:55] SergKhachko commented on #4541
For cases like `recipe for target 'build/release_system/obj/rdb_protocol/protocol.o' failed`
Successfully continued to "make" after swap enabling in Raspberry Pi 3.
`sudo apt-get install dphys-swapfile`

[2016-04-07 17:14] opsb commented on #4629
Just wondering, if the current implementation doesn't support squashing, does this mean that it's possible to match received changed to writes on a one to one basis?

[2016-04-07 17:30] nighelles commented on #5624
This should be fixed in next.

[2016-04-07 17:30] #5624 closed

[2016-04-07 17:32] danielmewes commented on #4629
@opsb I think it is, at least as far as point writes are concerned (writes that change only one document). For writes that affect multiple documents, you can see a variable number of timestamps, some of which will be shared across multiple document changes.

[2016-04-07 17:34] #5509 closed

[2016-04-07 17:37] danielmewes commented on #5347
Since it was on Safari, it might be the same issue as https://github.com/rethinkdb/rethinkdb/issues/3983

[2016-04-07 17:49] danielmewes commented on #5042
Same as https://github.com/rethinkdb/rethinkdb/issues/5309

[2016-04-07 17:49] #5042 closed

[2016-04-07 18:00] danielmewes commented on #5504
Renamed to "On mixed-architecture cluster: Error in replication after node reconnect" for organization purposes.

[2016-04-07 18:02] danielmewes commented on #5482
This is probably fixed in RethinkDB 2.3.0, since we changed how server IDs are identified.

@artdude543 I'm going to close the issue. Please let us know if it still persists for you on RethinkDB 2.3.0.

[2016-04-07 18:02] #5482 closed

[2016-04-07 18:04] danielmewes commented on #5439
Renamed to "No error on changefeed after server restart in Java driver" to better reflect what the remaining issue is.

[2016-04-07 18:08] danielmewes commented on #5193
@mlucy Had you been able to reproduce this?

[2016-04-07 18:09] danielmewes commented on #5095
@ProgVal Did the `libicu-dev` work-around end up working for you btw?

[2016-04-07 18:11] danielmewes commented on #5039
@thomasmodeneis Are you still experiencing this? Any ideas on what query might have caused the high read throughput?

[2016-04-07 18:13] ProgVal commented on #5095
Sorry, I don't remember

[2016-04-07 18:13] tve opened #5627 "Support upsert with functions"
I'm trying to "upsert" a row (i.e. insert if it doesn't exist and update if it does) with the twist that I need to increment a sequence number field. I tried insert() with conflict:update but i can make the add(1) work. Is there an alternate formulation or could insert be made to accept r.row?
Specifically:
[code]
produces:
[code]

[2016-04-07 18:25] danielmewes commented on #4961
@jyapayne Sorry we haven't made any progress on this yet. Are you still experiencing the issue?
You might also want to make sure that you're not using the same connection from multiple threads.

@Tryneus Can you think of any race conditions that could happen in the Python Tornado backend? Maybe if the read of a response requires multiple reads from the socket or something like that?

[2016-04-07 18:28] danielmewes commented on #4912
We haven't seen this again. I'm going to close it as a duplicate of #5074 in the hope that fixing #5074 will also fix the cause of this..

[2016-04-07 18:28] #4912 closed

[2016-04-07 18:29] pires commented on #5439
@gyim can you try with latest release, `2.3.0`?

[2016-04-07 18:30] danielmewes commented on #4761
Looks like a duplicate of https://github.com/rethinkdb/rethinkdb/issues/5576 , which we have hopefully fixed in 2.3.0.

[2016-04-07 18:30] #4761 closed

[2016-04-07 18:31] danielmewes commented on #4681
Does anyone know if this is still an issue?

[2016-04-07 18:35] danielmewes commented on #4681
@nighelles mentioned he might have seen this failing recently.

[2016-04-07 18:42] danielmewes commented on #5627
We actually just shipped the option for having a custom conflict-resolution function on `insert` with RethinkDB 2.3.0. You can now write this:

[code]

[2016-04-07 18:42] #5627 closed

[2016-04-07 18:53] DefinitelyCarter commented on #3983
Just wanted to note that the web ui works in safari when using the official rethinkdb docker image.
Maybe the keep alive setting is disabled by default in the rethinkdb docker image?

[2016-04-07 19:17] larkost commented on #5583
This is in `next` with b3733e0c.

[2016-04-07 19:17] #5583 closed

[2016-04-07 19:31] danielmewes commented on #3983
@DefinitelyCarter Thanks for the note. It's not generally disabled on Docker. I think whether this issue occurs or not depends on the network conditions and on the server load, though we don't understand what's causing it exactly yet.

[2016-04-07 19:58] mlucy commented on #4681
I don't remember doing anything to fix this, so it's quite possibly still an issue.

[2016-04-07 20:00] mlucy commented on #5193
I have neither reproduced nor failed to reproduce this.

[2016-04-07 20:03] brianjpetersen opened #5628 "Regression from 2.2.6 => 2.3.0 for eq_join with order_by"
I updated to version ```2.3.0``` from version ```2.2.6``` and am experiencing a regression in my testing that I haven't been able to attribute to any changes made internally.

Specifically, I have a table with a secondary compound index named ```by_which_then_what_then_when``` against the attributes ```[r.row['which'], r.row['what_id'], r.row['when']]```.  I have the following three documents inse

[2016-04-07 20:19] brianjpetersen commented on #5628
Apologies, I didn't read the release log closely enough.  For those who encounter this "regression," it is noted in the release notes.

https://github.com/rethinkdb/rethinkdb/releases/tag/v2.3.0

[2016-04-07 20:19] #5628 closed

[2016-04-07 22:09] opsb commented on #4629
That's really useful for scenario that I'm looking at :) A further clarification, if a timestamp can be shared across multiple document changes, would they only ever be shared within a single write or could they be shared across multiple concurrent writes?

[2016-04-08 04:33] dalanmiller commented on #5265
Will also be good for future versions of Rasbian on the Raspberry Pi 3, currently the distro is still not 64 bit but the Raspberry Pi 3 processor is 64 bit.

[2016-04-08 16:27] scottder opened #5629 "Connectng from internal host to host in AWS."
I am connecting from an internal host to an AWS instance with a public IP. I have the AWS public IP set as the canonical-address and if the internal host has it's own canonical address set I get the following error.

`
2016-04-08T16:24:42.294560853 11.325906s error: Connected to peer with unresolvable hostname: internal.domain.com, closing connection.  Consider using the '--canonical-address' laun

[2016-04-08 17:03] danielmewes commented on #5628
Sorry for the inconvenience.
We changed this because not keeping the ordering gives us a lot more potential for performance optimizations in `eqJoin`.

[2016-04-08 17:08] danielmewes commented on #4629
@opsb Only between writes done as part of the same query.

[2016-04-08 17:20] danielmewes commented on #5629
Hi @scottder , have you set the canonical addresses to publicly reachable addresses? Can the internal host reach the public one on the cluster port (29015), as well as the public one the internal one through its canonical address?

The first error suggests that maybe the address passed to `--join` / `-j` isn't a public address. Could that be?

That crash with the backtrace definitely looks like a

[2016-04-08 17:28] scottder commented on #5629
So the internal host can reach the public AWS host on port 29015 and I have the public IP address set as the canonical in AWS.

The AWS instance can't route publicly over the internet back to 29015 however. In previous testing this didn't prevent things from working in my previous tests ( the AWS instance doesn't have join statements back to the internal either.

[2016-04-08 17:36] scottder commented on #5629
And I did not see that error.

[2016-04-08 17:38] scottder commented on #5629
Also in the internal instance I see this:

`2016-04-08T13:37:21.363213729 5.130731s warn: We were unable to connect to the following peer, or the --join address does not match the peer's canonical address: <AWS_Public_IP>:29015`

But onthe AWS end I do have the canonical-address set to that IP.

[2016-04-08 17:44] muriloventuroso opened #5630 "Error: No JSON object could be decoded"
RethinkDB installed on a Debian, but I'm getting an error message when connecting by Python 2.7:

`>>> import rethinkdb as r

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/rethinkdb/net.py", line 661, in connect
    return conn.reconnect(timeout=timeout)
  File "/usr/local/lib/python2.7/dist-packages/rethinkdb/net.py", line

[2016-04-08 17:49] NeckBeardPrince commented on #5630
The problem was the rethinkdb driver. The installed driver was 2.3.0 but the server installed was 2.2.5.
Doing this fixed my issue.

`sudo pip uninstall rethinkdb`
`sudo pip install 'rethinkdb==2.2.0.post5'`

[2016-04-08 17:53] muriloventuroso commented on #5630
It worked. Thanks buddy

[2016-04-08 17:53] #5630 closed

[2016-04-08 21:53] nighelles commented on #5366
It looks like that error is getting caught in the driver before going into the insert logic.

[2016-04-08 22:21] mlucy commented on #5366
@nighelles -- I don't think the driver is smart enough to detect when primary keys are too long, is it?  The Ruby driver isn't, at least.

[2016-04-08 23:00] larkost commented on #5615
It looks like the answer is that we need to use `codesign` to sign the `.app` once we create it. I am working on this, but we are going to need another signing identity as the one we currently have installed on the builder is for installers only.

[2016-04-08 23:01] mglukhovsky commented on #3711
Hey guys, we had an unexpected level of interest in this project. We're starting to open the developer preview for Horizon (though it's still early.)

You can sign up here: https://horizon.io

I'd like to keep the volume of traffic on this conversation minimal for existing participants, so I'm going to lock this conversation for the next few weeks to collaborators. I'll unlock it as Horizon nears

[2016-04-08 23:20] sceutre opened #5631 "In 2.3 Java driver RethinkDB.r.array() works differently with a passed in array"
In the old Java driver if you could go:
`
  Object[] keys = { "a", "b" };
  r.array(keys);
`
you'd get a list with two elements "a" and "b".  In the new driver you get a list with a single element, the array containing "a" and "b".  We were using this for example to generate the argument to table.getAll() which results in our searches not working.  A workaround is to just use Arrays.asList(keys) i

[2016-04-08 23:22] sceutre commented on #5448
I can confirm that 2.3 does not show the behaviour we were seeing.

[2016-04-08 23:23] nighelles commented on #5366
Ah, I see what you're saying. In the js driver, 'a'*500 gives NaN.

[2016-04-08 23:34] tve opened #5632 "RethinkDB crash"
While running tests (most likely with invalid RQL expressions) I got the following crash. I'm running the official RethinkDB docker image v.2.2.5.
[code]
I have no idea whether I can repro...

[2016-04-08 23:38] jouerose opened #5633 "RethinkDB.com - Typo in code on Javascript cookbook page ?"
Hello,

on this page: https://rethinkdb.com/docs/cookbook/javascript/
Under this title: Filtering based on the presence of a value in an array
We have the following sentence: "Suppose we have a table users with documents of the following form"
which has "users" in plural form yet in the four other occurrences of the table "user" it is in singular form.
Is there a particular reason for this differe

[2016-04-08 23:51] tve commented on #5632
I could repro on 2.2.5 but have now upgraded to 2.3.0 and it's not reoccurring.

[2016-04-08 23:51] #5632 closed

[2016-04-09 01:12] dineyw23 commented on #5633
I think you should open this issue in the RethinkDB docs' issue tracker,[ here.](https://github.com/rethinkdb/docs/issues)

[2016-04-09 06:40] jouerose commented on #5633
thanks @dineyw23 for the correction.

[2016-04-09 06:40] #5633 closed

[2016-04-09 18:34] mikemaccana commented on #2014
Regarding `/usr/lib/systemd/system/rethinkdb@.service` - why the trailing at symbol? or should it be `@instance-name.service?`

[2016-04-09 19:08] anatol commented on #2014
It is so called instantiated service that allow to run multiple instances of rethinkdb http://0pointer.de/blog/projects/instances.html

It might be better to use simpler non-instantiated service file as a default option. But the instantiated one added to Arch to match current init script http://www.rethinkdb.com/docs/start-on-startup/

[2016-04-09 22:37] wmark opened #5634 "hangs with asynchronous writes, millions of records, and ≥60% cache usage"
I seem to be hitting an invisible wall when inserting some millions of rows (avg. 160bytes in size):
As soon as I've inserted 18M rows RethinkDB just stops responding.

Any pending INSERTs just hang.
CPU is at 0% at this point, no disk activity (no consolidation of the data on disk), ~60% of „cache“ has been used (I tried setting the cache to 16 GiB and then independently to 22 GiB without differe

[2016-04-09 23:06] wmark commented on #5634
I've disabled *swap* (removed the partition) and reduced RethinkDB's cache size to below 16GiB: the hanging just happened earlier. I guess a million or two records have not been written to disk.

Being in this state, I cannot kill RethinkDB's main process.

[2016-04-10 00:49] davefinster opened #5635 ""may be used uninitialized" when compiling 2.3 for Alpine"
Hi All

Just attempting to compile 2.3 from source for Alpine Linux and am encountering the following:

[code]

Configure was run with as below and the export was done prior to calling make.

[code]

Happy to supply any additional information/try anything that can be recommended

[2016-04-10 01:39] VeXocide commented on #5635
I'm sorry you ran into this @davefinster, could you please let me know what compiler you're using such that I can try to reproduce this. Had a quick glance at the related code and nothing stood out, it's hard to tell whether this is a bug or simply an overzealous compiler.

[2016-04-10 01:46] davefinster commented on #5635
Hi @VeXocide

Configure output below:
[code]

I'm just running through the compile with Clang now to test

[2016-04-10 01:57] VeXocide commented on #5635
Thank you, I'm currently building with GCC 5.3.0 to see if I can reproduce this. In the meantime you can work around this by using `make ALLOW_WARNINGS=1`, this disables the `-Werror` flag causing the compiler to fail on warnings.

[2016-04-10 02:52] VeXocide commented on #5635
Managed to reproduce this locally, I'll go fight GCC coming Monday.

[2016-04-10 03:05] davefinster commented on #5635
Great. Clang made it past that spot, completed compilation but failed on linking

[code]

[2016-04-10 03:57] VeXocide commented on #5635
You may be trying to link objects that were compiled with a different ABI, see https://gcc.gnu.org/onlinedocs/gcc-5.3.0/libstdc++/manual/manual/using_dual_abi.html for more information. If I remember correctly Clang could build using the GCC Standard Library, but it may be making assumptions regarding the ABI.

A fun little tidbit 'cause it's Saturday evening and I'm bored. In the days when the ea

[2016-04-10 08:27] a-c-m opened #5636 "Fails to build on Raspberry Pi 2"
Followed the instructions on http://rethinkdb.com/docs/install/raspbian/
Expanded swap to 1gb using http://raspberrypi.stackexchange.com/questions/70/how-to-set-up-swap-space

Hit the following error:

[code]

Details of the OS/Pi

[code]

[2016-04-10 11:28] 360disrupt commented on #5636
I have similar problems with `raspberry pi 3`. I think it would be awesome if somebody could provide already compiled binary distributions here for the different `arm`s.

1)
 I can't even install the dependencies, http://raspberrypi.stackexchange.com/questions/45420/installing-rethinkdb-any-diff-equivalent-db. The `libboost1.55-dev` packages fails to install.
2) During the installation I get probl

[2016-04-10 11:51] 360disrupt commented on #5265
The processor is `64 bit` but the linux is `32 bit`. I had the same confusion with installing `nodejs` on the pi3, had to install the `armv7` version not the `arm64`.

[2016-04-10 13:58] wmark commented on #5634
The issue does not exist in RethinkDB 2.2.6.

[2016-04-10 13:59] mbroadst commented on #3312
@AtnNn yeah this is wierd. I'm trying to build this in yocto and getting to the same error. `build/external/v8_3.30.33.16/build/third_party/icu/configure` is definitely missing, but is instead located at `build/external/v8_3.30.33.16/build/third_party/icu/source/configure` not sure what's going on here

[2016-04-10 15:24] danielmewes commented on #5634
On which operating system/distribution + version are you running this?Is there a chance that you could send us a copy of the rethinkdb data directory and the script that you're using for the writes? We can set up a secure upload location for uploading the data files. We're also happy to sign an NDA if the data is sensitive.

[2016-04-10 15:48] wmark commented on #5634
Running on Ubuntu 16.04 (Xenial) (updated as of today), their Linux 4.4.0-4-generic, SSD with ext4.
32 GiB ECC DDR4, amd64, Xeon E5-2676v3 (12 core+HT, Haswell). No _swap_.

RethinkDB is yours published for Docker and started this way:
[code]

(I've used 2.2.6 and 2.3.0.)

I cannot send you the data directory, but the raw data ready for your import tool. Packed as _squashfs_ image of about 1.5 GiB

[2016-04-10 16:15] danielmewes commented on #5634
Data in a squashfs image sounds good. Do you have a place to upload it to or do you want us to provide you with one?Thanks for your help in tracking this down!

[2016-04-10 18:54] JasonSoares opened #5637 "NameError: global name 'options' is not defined when importing from file"
Running the following command, results in an error producing the following stacktrace:

**command (example)**
`$ rethinkdb import -f data/bars.json --table foo.bar`

**stacktrace**
Traceback (most recent call last):
  File "/usr/local/bin/rethinkdb-import", line 9, in <module>
    load_entry_point('rethinkdb==2.3.0', 'console_scripts', 'rethinkdb-import')()
  File "/usr/local/lib/python2.7/site-pa

[2016-04-10 18:59] JasonSoares commented on #5637
PR submitted: #5638.

[2016-04-10 19:04] mbroadst commented on #3312
@AtnNn looks like the bug is in this line: https://github.com/rethinkdb/rethinkdb/blob/next/mk/support/pkg/v8.sh#L17

[2016-04-10 21:55] PeterKnego commented on #281
HI, I created a connection pool implementation for Java driver. It wraps connections and provides them in a round-robin fashion, creating new connections as needed. It supports connecting to multiple cluster nodes.
[code]

This is the basic test: https://github.com/PeterKnego/rethinkdb/blob/connection_pool/drivers/java/src/test/java/com/rethinkdb/FixedConnectionPoolTest.java

[2016-04-10 22:02] mbroadst commented on #5597
yeah on a fresh checkout for me (like absolutely fresh, new folder, new fork from github etc), I get this:

[code]

This is pretty annoying. I was fetching changes from upstream on my local fork to submit a patch, and now I have to run through a number of other hoops

[2016-04-10 22:50] gyelwande commented on #3061
The issue is fixed.

[2016-04-11 06:33] binarycrayon commented on #5608
Closed, thanks for the details @danielmewes !

[2016-04-11 08:19] 360disrupt commented on #4541
@SergKhachko do you need to do anything else than:
- `sudo nano /etc/dphys-swapfile`
- `CONF_SWAPFILE=1000`
- `sudo reboot`
- `free -m` => shows then the new swap size

e.g. use the `setup` command:
http://manpages.ubuntu.com/manpages/trusty/man8/dphys-swapfile.8.html
or is it fine with the above steps?

[2016-04-11 09:04] SergKhachko commented on #4541
@360disrupt only dphys-swapfile installation needed, no configuring required.
For my case, there was an issue with RAM (no free ram during build process), so I've decided to enable swap in my Ubuntu Mate for RPi3.

[2016-04-11 13:10] scottder commented on #5629
Also, i tried giving the internal instance name in /etc/hosts on the AWS instance and it gave the same backtrace error as above.

[2016-04-11 13:43] iyobo commented on #1592
Eagerly awaiting this!

[2016-04-11 18:26] VeXocide commented on #5635
The `maybe-uninitialized` error is very likely to be cause by GCC being overzealous. There's an issue here regarding `boost::optional<T>` and a similar error, https://gcc.gnu.org/bugzilla/show_bug.cgi?id=47679, and `WebKit` has reportedly disabled the warning as well, https://bugs.webkit.org/show_bug.cgi?id=119835.

@AtnNn -- how can we detect the `-Wno-maybe-uninitialized` option and set it when

[2016-04-11 18:28] VeXocide commented on #5635
What's worse, according to the WebKit link the warning uses the GCC optimizer and can thus give different results based on the optimization level.

[2016-04-11 18:58] VeXocide commented on #5635
It turns out `-Wno-maybe-uninitialized` got added around GCC 4.4 thus we can simply set it when compiling with GCC.

[2016-04-11 20:14] VeXocide commented on #5635
Just ran into a new problem with GCC 5.3.
[code]

[2016-04-11 20:15] wmark commented on #5634
https://section8dot.com/uploads/benchdata-people.csv.xz.squashfs

[code]

Create a new table 'benchdata' in database 'test';
remember to select "Ack writes only when written to disk" ← NO.

[code]

After a few minutes, depending on RethinkDB's cache size, writes/s drop to zero and RethinkDB stops responding.

[2016-04-11 20:17] VeXocide commented on #5635
This is probably due to me building on OS X, we have the following in place.
[code]
I'll check with @danielmewes why it's conditional on `__APPLE__` when he gets back.

[2016-04-11 20:20] nighelles commented on #5366
This is fixed in review 3587, implemented in nighelles/5366

[2016-04-11 20:33] VeXocide commented on #5635
Merged the `-Wno-maybe-uninitialized` fix to `next` via commit 027ce31ec895a949d9a28ab2624179ab359041c2, I'll leave this bug open to answer the above question.

Hopefully it should now build on Linux using GCC 5.3.

[2016-04-11 20:34] VeXocide commented on #5635
Over the shoulder review by @larkost by the way.

[2016-04-11 20:46] VeXocide commented on #5616
@larkost -- the latter is a duplicate of https://github.com/rethinkdb/rethinkdb/issues/4550, I suspect it to be an issue related to the test but it's hard to tell.

[2016-04-11 21:05] davefinster commented on #5635
Oddly I didn't hit any additional issues once ALLOW_WARNINGS was set - the only (now) warning that I got was another occurrence of the original one that I observed.

[2016-04-11 21:22] larkost opened #5642 "rethink how `interface/artificial_table` works"
With the move of the `interface` tests from `./test/run` to `./test/rql_test/test-runner` (#5619) the way we run the `interface/artificial_table` test works. Right now it is called by `test-runner`, and then itself starts another instance of `test-runner`. This is just so we can specify that a list of tests run with a specific table (`rethinkdb._debug_scratch`). There has to be a better way of doi

[2016-04-11 21:41] Tryneus commented on #5629
I believe I have a fix for the crash - which appears to be an uncaught exception.  Unfortunately, though, I don't think it will fix your connectivity issues, @scottder.  The fix addresses a problem where one peer connects to a second peer, and is informed of a _third_ peer which has an unresolvable address (in review 3593).

This will not fix the connectivity problems because the first peer still

[2016-04-11 21:44] adamkdean commented on #3029
Any update on this? It's been a year now... :wink:

[2016-04-11 21:57] scottder commented on #5629
Sorry, there are three internal peers that already connected in a cluster. So that may be where the issue is. Thanks

[2016-04-11 22:10] dalanmiller opened #5643 "RethinkDB local cluster crashing from non-unique (all the same) generated instance names"
Creating three node local cluster, rethinkdb (2.3.0 from Homebrew) will run fine until connected to from WebGUI, in this case on `localhost:8083`.

[code]

[2016-04-11 22:16] dalanmiller commented on #5643
Same result when I try to connect via Python driver.

[2016-04-11 22:28] mlucy commented on #5643
@dalanmiller -- is this in the released version?

It looks like the last two people to touch the file were @nighelles and @danielmewes .

[2016-04-11 22:34] dalanmiller commented on #5643
Yup, straight from `homebrew`.

Looks like they are all getting the same name? They all have this line:

[code]

[2016-04-11 22:35] nighelles commented on #5643
Yeah, changing the names to be different for each server should be a temporary workaround. I'm looking into fixing this.

[2016-04-11 22:36] mlucy opened #5644 "Logstash plugin causes a sanity check to fail"
See https://github.com/rethinkdb/logstash-input-rethinkdb/issues/13 .

[2016-04-11 22:39] dalanmiller commented on #5643
Same error when renaming and retagging all members:

[code]

[2016-04-11 22:41] mlucy commented on #5644
It look like any time you try to subscribe to a changefeed on an artificial table with `squash: true` set we fail this check.

[2016-04-11 22:54] dalanmiller commented on #5643
Identified that all names being generated for the `rethinkdb` instances on Mac OS X 10.11.4 are identical and not randomizing.

[2016-04-11 22:54] mike-marcacci commented on #5348
We're hitting this every once in a while, always in low memory situations, and (as far as I can tell) before hitting swap. It's hard to know for sure though, because OOM killer doesn't work and we have to hard reboot the server for it to become responsive.

Latest logs running RethinkDB 2.3.0, sorry I don't really have any more useful insight:

[code]

[2016-04-11 22:57] mlucy commented on #5637
Thanks for the report / PR @JasonSoares !

@Tryneus, you maintain the import script, right?

[2016-04-11 23:09] mlucy commented on #5644
It looks like the behavior prior to the change that introduced the crash was to treat `squash: true` and `squash: false` identically for artificial tables, with semantics that are most similar to `squash: true` for real tables, but with implementation details in the `changefeed` namespace identical to `squash: false`.  I think we should go back to that behavior.

[2016-04-11 23:13] mlucy commented on #5644
A fix for this is in CR 5644 by @VeXocide .

[2016-04-11 23:34] mlucy commented on #5644
This is in next and 2.3.x.

[2016-04-11 23:34] #5644 closed

[2016-04-11 23:36] mlucy commented on #5644
@coffeemug -- We should probably do a point release for this and https://github.com/rethinkdb/rethinkdb/issues/5643 once that's in.  Does someone besides @danielmewes know how to do that?  Maybe @larkost ?

[2016-04-11 23:49] coffeemug commented on #281
:+1:

[2016-04-12 00:31] thelinuxlich commented on #3029
I think we should open a new issue for using Heroes of the Storm names.

[2016-04-12 00:49] nighelles commented on #5643
The fix for the crash with duplicate names is in review 3595, implemented in nighelles/5643.

[2016-04-12 01:38] alx696 opened #5645 "make Failure"
$ make -j 4

[40/425] CC build/release/obj/clustering/immediate_consistency/backfillee.o
In file included from ./src/clustering/administration/servers/server_metadata.hpp:10:0,
                 from ./src/clustering/administration/tables/table_metadata.hpp:12,
                 from ./src/clustering/table_contract/contract_metadata.hpp:12,
                 from ./src/clustering/table_contract/coord

[2016-04-12 01:41] coffeemug commented on #5644
I'll talk to some ppl tomorrow and and also see if @AtnNn is available to help.

[2016-04-12 01:57] VeXocide commented on #5645
The `-Wmaybe-uninitialized` error is a duplicate of #5635 which I fixed this morning, the link error is odd.

[2016-04-12 08:03] analytik opened #5646 "Rethinkdb-restore fails in 2.3.0 and 2.2.6, data exported from 2.3.0"
[code]

Using Python 2.7, running in custom docker image with debian:jessie with just rethinkdb and python2.7 and python-pip installed.

Is there any way to figure out which value triggered this? I'll be happy to supply more information.

[2016-04-12 08:07] analytik opened #5647 "Rethinkdb-restore fails in 2.3.0 with Python 3.4"
I get this error while running RethinkDB 2.3.0, python package 2.3.0 and `Python 3.4.2 (default, Oct  8 2014, 10:45:20) [GCC 4.9.1] on linux` inside a debian:jessie docker container.
[code]

[2016-04-12 08:19] analytik commented on #5646
Actually, I apologize, the data was exported with 2.3.0. This is what I get when I try to import with 2.2.6:

[code]

[2016-04-12 08:47] adamkdean commented on #3029
Strangely I've launched three new instances on a totally separate piece of kit, and the only think they have in common is that they are rethinkdb:2.3 and they also have s4j appended. Is this a way to know what version you're running?

[2016-04-12 09:03] mlucy commented on #5647
Ping @Tryneus .

[2016-04-12 09:04] mlucy commented on #5647
Thanks for the bug report @analytik !

[2016-04-12 09:08] mlucy commented on #5646
Thanks for the bug report @analytik !

I'm a little unclear on what happened.  Is this the sequence of events that causes the crash?
* Start RethinkDB 2.2.6.
* Call `rethinkdb export` pointed at that server.
* Start RethinkDB 2.3.
* Call `rethinkdb import` pointed at 2.3.
* RethinkDB 2.3 crashes.

[2016-04-12 10:13] analytik commented on #5646
Hi, sorry for being unclear.

* I started with RethinkDB 2.2.x and used that for a few weeks, in a local dev environment.
* Upgraded to `rethinkdb-2.3.0-pre-horizon-x64-linux` binary from the Slack #horizon channel, worked fine for several days
* Upgraded to the official 2.3.0~0jessie package, everything worked fine for several days...
* ...until I tried the import data into the local 2.3.0 from o

[2016-04-12 12:04] 360disrupt commented on #5636
I was able to rebuild it with a new jessie installation and the steps I describe here:
http://raspberrypi.stackexchange.com/questions/45420/installing-rethinkdb-any-diff-equivalent-db/45697#45697

[2016-04-12 13:41] scottder commented on #5522
As mentioned above, some members of the cluster are external to the environment being used. I'd prefer the primaries stay inside for latency considerations. More configuration options are always good for things like this.

[2016-04-12 13:57] csaintc commented on #5493
I'm still seeing this issue in 2.3

[2016-04-12 14:10] bgnorlov opened #5650 "Any ways to delete or update all documents returned by concatMap subquery?"
I tried to run the following query to delete all posts in board (or it may be all posts in all boards in concrete folder)
[code]
and I got this error
[code]

[2016-04-12 14:53] scottder opened #5651 "rethink-dump issue with python."
I am running 2.3.0~0trusty on an Ubuntu 14.04 machine. I used pip to install the Python drivers (2.3.0). I am getting the following error.

`NOTE: 'rethinkdb-dump' saves data and secondary indexes, but does *not* save
 cluster metadata.  You will need to recreate your cluster setup yourself after
 you run 'rethinkdb-restore'.
Exporting to directory...
ReQL error during 'version check': Could not c

[2016-04-12 15:35] danielmewes commented on #5651
Hi @scottder, the first issue might indicate a wrong password. Do you have an admin password (previously auth key) set on your cluster? If yes, you can try passing in the `-p` option.
If you have TLS enabled for the driver port on the server though, this won't work since you'll still need the `--tls-cert` option. (In either case the error message is bad, which we have fixed in https://github.com/r

[2016-04-12 15:35] #5651 closed

[2016-04-12 15:36] danielmewes commented on #4815
More people are now encountering this when running the import/export scripts against a TLS-enabled cluster.

@larkost could you take a look at this?

[2016-04-12 15:38] danielmewes commented on #5493
@csaintc That probably means that one of the servers actually isn't connected to the proxy. You can check the `connected_to` field in `r.db('rethinkdb').table('server_status')` to see which servers are connected to which other server and proxy.

[2016-04-12 15:41] danielmewes commented on #5644
If you end up building this week, I recommend someone take a look at https://github.com/rethinkdb/rethinkdb/issues/5622 first. For 2.3.0, I literally waited until buildbot was done with the checkout step, and then went into its temporary directory and edited the scripts/gen_version.sh script to not add `-dirty` before it started compiling the server. You can do it again the same way of course, but

[2016-04-12 15:44] scottder commented on #5651
@danielmewes Thanks, it was thge wrong PW.

[2016-04-12 17:47] NeilHanlon commented on #5378
I think this is resolved by #5528  -- @danielmewes ?

[2016-04-12 19:08] larkost opened #5653 "find a replacement for `.test` files in `test-runner`"
We have 30-some `.test` files in `./test/rql_test` that are just setup files for actual tests. So we run them from `test-runner`, and they in turn run the actual tests. Mostly these are just to make sure that the actual test file gets run with the desired version of the interpreter (e.g.: `ruby`) that it was written for. A second reason I started writing these was so that you could run the tests o

[2016-04-12 19:26] nighelles opened #5654 "Crash while testing duplicate server names"
[code]

[2016-04-12 20:31] mlucy commented on #5654
I'm not sure who knows this code best.  @VeXocide, maybe?

[2016-04-12 21:27] VeXocide commented on #5654
I ran this by @mlucy and we agree the backtrace makes no sense, the following jump is impossible.
[code]

It likely means something got corrupted along the way, but we're unsure what.

[2016-04-12 21:34] VeXocide opened #5655 "Server name is no longer random"
In 2.3 a random number generator is no longer being properly seeded, leading to non-random server names.

[2016-04-12 21:34] VeXocide commented on #3029
@adamkdean -- we discovered this as well as part of #5643, I opened a new issue to track this bug, #5655.

[2016-04-12 21:49] deontologician commented on #3029
But seriously, we need good names again. These random names are bogus

[2016-04-12 21:51] Tryneus commented on #5629
Ok, the fix has been approved and merged to `next` in commit 3e2b6ed, and cherry-picked into `v2.3.x` in commit f7c4e3d.  Will be in release 2.3.1.  I believe this concludes the issue, since the cause of your connectivity issues is understood, @scottder.  Thanks for submitting this issue!

If you're still having problem getting your servers to connect, keep in mind that all members of your cluster

[2016-04-12 21:51] #5629 closed

[2016-04-12 21:56] jjqq2013 opened #5656 "cursor timeout"
I know cursor timeout has been implemented, but is there anyone noticed it's not enough theoretically?

https://github.com/rethinkdb/rethinkdb/blob/9715c657c64189c52d8de7af56ddf37d18411fb0/drivers/java/src/main/java/com/rethinkdb/net/Cursor.java#L197

[code]

Please note the `waitOnCursorItems(timeout)` maybe called several times theoretically, so the total consumed timeout is greater than specifi

[2016-04-12 22:06] Tryneus commented on #5646
@analytik - when importing data from a higher version of rethinkdb into a lower version, secondary indexes cannot be imported.  You can specify this by passing `--no-secondary-indexes` to the `restore` or `import` command.  Granted, the server should not crash due to a bad query and we should fix this.

I don't see such a simple explanation for the crash on 2.3.0, however.  Since it's happening in

[2016-04-12 22:12] nighelles commented on #5643
The crash is fixed in next.

[2016-04-12 22:22] larkost commented on #3755
I think that this is all possible without too much work. But we need to separate the `dump` and `restore` portions. The latter is a bit easier so I will do that in this message, then a second one for `dump`.

For `restore` this should be really easy to do, since `tarfile` already allows us to access individual files either serially or in any arbitrary way we want. There should be no issues with do

[2016-04-12 22:26] phil-hildebrand commented on #2873
I've run into this issue as well, but even if I restart each node of the old cluster while all nodes in the new cluster are down, the old cluster still sees the removed node as part of it's cluster when the removed node comes online. (IE: cluster 1 = node 01/02/03, cluster 2 = 04

[2016-04-12 22:36] nighelles commented on #5646
This seems similar to #5104.

[2016-04-12 22:37] larkost commented on #3755
For the `dump` portion we could do three things to drastically reduce/eliminate our on-disk footprint:
1. Rather than writing all of the output files to disk, then packing them into a `tar.gz` file, we could write each one into the archive when it is done, rather than waiting for them all. This would do almost nothing for `dump`s dominated by a single big table, but would improve all other cases.

[2016-04-12 22:41] larkost commented on #5530
I am going to close this one as a duplicate of #3755.

[2016-04-12 22:41] #5530 closed

[2016-04-12 23:31] phil-hildebrand commented on #2873
We were able to get it working by having all nodes of the cluster shutdown and then started one at a time.  Our use case was around re-allocating resources without rebuilding he VM.  Perhaps just the documentation for it would suffice.

[2016-04-12 23:38] mbroadst commented on #2873
@phil-hildebrand the problem is that any node that has ever been up and a part of a cluster maintains an immutable internal list of nodes they have "known" for a hardcoded 24 hour period. The only solution at the moment, as you have noted, is to shut _everything_ down. I have a PR up [here](https://github.com/rethinkdb/rethinkdb/pull/5596) to allow users to specify a custom timeout for those cache

[2016-04-13 02:06] QianJin2013 opened #5657 "2.3.0 r.array(Object val0, Object...vals) cause unexpected problem"
hi, java driver 2.3.0 modified  `r.array` definition, but caused problem when passing var args, i want to know why do the modification( sorry, i am not accusing, just need to know if there is any merit, i think this modification is unnecessary).

<a href="https://github.com/rethinkdb/rethinkdb/blob/95dfdb28a268f7fe68ab357596e6751baea99c27/drivers/java/src/main/java/com/rethinkdb/gen/model/TopLevel

[2016-04-13 04:14] yrik commented on #4127
+1..

[2016-04-13 04:51] oliverjanik opened #5658 "Allow Hyphen-minus in db names and table names"
https://en.wikipedia.org/wiki/Hyphen-minus

I tried searching around. Couldn't find anything about why it's not allowed.

[2016-04-13 08:11] analytik commented on #5646
Thank you! Passing `--no-secondary-indexes` helped, both with 2.2.6 and 2.3.0 servers with 2.3.0 data export.

Would it help if I just sent you privately the *.info files from our DB export?

[2016-04-13 11:13] Tryneus commented on #5646
@analytik - that would be very helpful, could you email it to me at marc@rethinkdb.com?  Thanks!

[2016-04-13 11:40] analytik commented on #5646
Sent.

[2016-04-13 12:54] jwanglof opened #5659 "Typo on the website with the new user and password?"
I think I have found a typo on the website but not really sure if I'm doing something wrong or not. I have added a user with ID: `test_user` and password: `test_password` according to the docs: https://rethinkdb.com/docs/permissions-and-accounts/

The server is running fine and I can access the web interface, however, when I try to connect to it via the JavaScript RethinkDB driver with the followi

[2016-04-13 13:44] goatic commented on #1395
Is there full fletched promise support in the Node driver as of now? Looking over the docs, there's plenty of asynchronous commands that document supporting callbacks, but not promises (thenable/awaitables). For example `dbDrop`,`dbList` etc.

btw, am loving what you're doing with Rethink!

[2016-04-13 14:15] NeilHanlon commented on #5659
This is a _bit_ of an issue...

Every driver except javascript uses `user` as the username field for `r.connect()`. Javascript uses `username`

Ultimately it's a pretty easy code fix, but probably is going to require communication for people that have already updated and changed their code over.

[2016-04-13 15:46] adamkdean commented on #5655
Does https://github.com/rethinkdb/rethinkdb/issues/5643#issuecomment-209125101 fix this?

[2016-04-13 15:49] VeXocide commented on #5655
@adamkdean -- unfortunately it's a completely separate issue, but I'm working on it.

[2016-04-13 15:54] adamkdean commented on #5655
Ok no problem, just wanted to check rather than assume.

Thanks for working on this, and the rest of Rethink, much appreciated!

[2016-04-13 15:54] nighelles commented on #5659
Hey, thanks for pointing this out. We're considering this a bug in the javascript driver, and it will be fixed to be consistent with the documentation and the other drivers.

[2016-04-13 17:17] nighelles commented on #5650
You could try something like this:
[code]
I'm going to close this, because it doesn't seem like a bug. Let me know if you have more questions. You can also check out the RethinkDB slack channel for more help.

[2016-04-13 17:17] #5650 closed

[2016-04-13 17:35] marshall007 commented on #1395
@goatic I don't think the promise variants are documented, but for (almost) any method that takes a callback, the callback is optional and a promise is returned.

[2016-04-13 18:17] mschurr opened #5660 "Java Driver: Connection is lost during changes(), never times out."
My code is essentially:

[code]

I connected to the server and was successfully listening to changes. Then, I killed the database server (only a single instance was running). As far as I can tell, the Java driver does not break the for loop when the connection is lost it just keeps sitting there expecting more data forever. There doesn't appear to be any timeout period. And, obviously, if I restar

[2016-04-13 18:26] encryptio opened #5661 "Add an `error` optarg to `coerceTo`"
Someone on Slack brought up `r.expr("foo").coerceTo("number").gt(2)` and wanted to handle the case where the value could not be coereced to a number. `r.default` doesn't work in this case. The only solution that came up was using `r.branch(r.match(...), ...coerceTo('number'), null).gt(2)`, which is ugly and error prone.

I'd like for an optarg to be added to `coerceTo` that allows you to customize

[2016-04-13 18:30] meenie commented on #5661
@encryptio Thanks for writing this up!  I appreciate you looking into this so thoroughly :).

[2016-04-13 18:58] marshall007 commented on #5661
@encryptio instead of having an optarg, what do you think about having a generic term (maybe `.catch()`) for handling exceptions on the server-side?

[code]

**Example usage:**

[code]

With this in place, `.default()` just becomes a special case of `.catch()`.

[code]

[2016-04-13 19:02] encryptio commented on #5658
Closing as a dupe of https://github.com/rethinkdb/rethinkdb/issues/5537

I personally agree it should be allowed. :P

[2016-04-13 19:02] #5658 closed

[2016-04-13 19:07] VeXocide commented on #5537
In favour.

[2016-04-13 20:04] encryptio commented on #5661
This is actually forcing me to rethink my thoughts on exceptions (no pun intended.) My gut feeling is "ew pls no", but digging into it, none of my objections apply to ReQL. (The usual ones I have are related to poor documentation of what exceptions can be thrown in what situations, the difficulty of debugging a forgotten exception at one layer that was noticed at a different layer dozens of files

[2016-04-13 21:22] goatic commented on #1395
excellent, was kind of expecting it to just not be documented :+1:

[2016-04-13 21:51] nighelles commented on #5659
This is fixed in next.

[2016-04-13 22:01] larkost commented on #5622
Linking this to the root cause bug: #5597

[2016-04-13 22:23] larkost commented on #5597
I worked on this a bit today and have come up with two solutions:
1. We remove the `*  text=auto` line that is telling `git` to guess which files we want to have it mange. We already have rules to auto-convert `.cc`, `.hpp`, `.h`, and `.tcc` files (we might want to add `.c`, but have nothing at the moment), and rules to prevent conversion of `.sh`, `./configure`, and everything in `./mk/support/pk

[2016-04-13 22:42] nighelles commented on #5348
I managed to reproduce this in a low memory environment on Ubuntu 14.04 with a release version of 2.3.

I was able to finagle the following backtrace:
[code]

[2016-04-13 22:51] larkost commented on #5617
Anyone object to me removing the message check from this test? This would mean that it would only check that we get a `TypeError`, not what the message is.

[2016-04-13 22:56] marshall007 commented on #5661
@encryptio all good points. I really like the semantics of `.map()`, accepting either a constant or function, and that tends to be how you expect most ReQL terms to behave. It would be nice if we could preserve that here. The use of `r.literal` in my examples was to disambiguate the single-arg `catch` overloads. In hind-sight that's probably more trouble than it's worth. So I agree that function h

[2016-04-13 23:29] marshall007 commented on #2269
Just realized my proposal in [#5661 (comment)](https://github.com/rethinkdb/rethinkdb/issues/5661#issuecomment-209595470) is pretty much identical to the long-term solution brought up in this issue. I think extending `default` to accept error types makes more sense than adding a new term as I was suggesting. That said, I'd prefer specifying the error type as the first argument rather than an optar

[2016-04-14 00:21] nighelles commented on #5348
For some reason I can only reproduce this on a release build, and not with a build built with the same settings.

[2016-04-14 03:29] oliverjanik commented on #5537
Yes please,

My use case is generating table names on the fly based on sanitized input. That input however does contain `-` character often which is very common in urls and slugs.

[2016-04-14 04:22] bgnorlov opened #5662 "Weird error with r.args"
I tried to retrieve all folders and merge them with all boards which stored as array of ids but got error which I don't understand
[code]
Seems like r.args not working with brackets operator. I tried to change to r.args(folder('boards').coerceTo('array')) or  r.args(r.expr(folder('boards').coerceTo('array')) but the same result

[2016-04-14 09:42] a-c-m commented on #5636
http://raspberrypi.stackexchange.com/questions/45420/installing-rethinkdb-any-diff-equivalent-db/45697#45697 worked well for me, i didn't use the script entirely, but instead ran the code bellow, which was copied from it:

[code]

It took several hours (over night), but completed.

Perhaps http://rethinkdb.com/docs/install/raspbian/ should be updated with the above snippet ?

[2016-04-14 11:45] simkimsia commented on #4598
So currently, what's the best way forward to implement some form of transactions (even if it's a 2PC) using rethink 2.3? Is there a document page on this?

[2016-04-14 14:09] dancannon opened #5663 "Server status table not readable by non-admin users"
In GoRethink we read the `server_status` table to get the list of available servers when connecting and also create a changefeed on this table to ensure that the client always has the complete up-to-date list of servers.

However in 2.3 with the addition of users this no longer works for non-admin users as it appears that it is not possible to grant read permission to non-admin users on system tab

[2016-04-14 15:12] edwardsmarkf opened #5664 "e: Array over size limit `100000` in:"
hello - and thank you very much for rethinkdb.

my issue was first[ raised here:](https://groups.google.com/forum/#!topic/rethinkdb/wo6M4d7DZsU)

to reproduce the issue:
1) unzip/tar attached, or [download here](http://edwardsmark.com/issue.tar.gz)
2) rethinkdb import -f parentTable.json --table test.parentTable --pkey id  ;
3) rethinkdb import -f childTable.json --table test.childTable --pkey id

[2016-04-14 17:12] mike-marcacci commented on #5348
This is now happening at least daily on a single machine we're using for a large migration. We have the cache size set to 32 MB to reduce memory use, as the DB is only receiving writes (decently sized documents at say 1000 per minute), and occasional very simple reads.

The dataset is quite large (around half a terabyte) and on pretty wimpy hardware (8GB memory), but when it isn't crashed it's mor

[2016-04-14 17:14] mike-marcacci commented on #5348
Let me know if there's any diagnostics you'd like me to perform, as this is essentially offline data and the problem's completely reproducible.

[2016-04-14 17:56] nighelles commented on #5348
It seems like the issue may be connected with exhausting the memory on a machine, is your machine using close to all it's memory when it crashes? Can I also ask what sort of writes you are sending when the crash occurs?

[2016-04-14 18:07] moserrya commented on #5348
When the crash occurred for us the machine was at 100% memory usage (per the dashboard) and had been maxed out for several days that that point. We were migrating ~100M small documents from a relational store.

[2016-04-14 18:34] encryptio commented on #5662
This occurred in <=2.2 when the `r.args` expanded to zero arguments. https://github.com/rethinkdb/rethinkdb/issues/2588 fixes it in 2.3.

There's a workaround in that issue's first comment that you might be able to use if you're not ready to upgrade to 2.3: `r.getAll(r.args(dynamicThing.append('prevent-empty-error')), {index: ...})`

Closing because I think that solves it. If you have any further

[2016-04-14 18:34] #5662 closed

[2016-04-14 18:50] Sxw1212 commented on #5348
The segfault occurred for me when importing many small documents, maybe 1KB at the most.

[2016-04-14 19:52] drcongo opened #5666 "Possible memory leak"
I've been working on a thing to make RethinkDB play nicely with Flask-Security - https://github.com/hactar-is/frink/tree/develop - I wrote a bunch of tests, found I needed to upgrade RethinkDB to 2.3.0 because of a bug in 2.2.6, and then noticed that my tests seem to cause a memory leak in RethinkDB. Every time I run them, the memory consumption for the rethinkdb process in htop grows by between 4

[2016-04-14 19:57] drcongo commented on #5666
This is the only output in the rethinkdb default.log during a test run:

[code]

[2016-04-14 20:13] drcongo commented on #5666
A bit more info. Once rethinkdb hits around 60% of available memory in my VM, the tests start to slow down to a crawl. The rethink admin dashboard still shows cache use at 1%, and varies between 71MB and 92MB disk use.

![screen shot 2016-04-14 21 06 17](https://cloud.githubusercontent.com/assets/39289/14542149/64dd5508-0285-11e6-9c90-4ab1d82ba5b5.png)

![screen shot 2016-04-14 21 04 32](https://c

[2016-04-14 21:37] VeXocide commented on #5655
In CR 3599 by @Tryneus

[2016-04-14 21:41] nighelles commented on #5348
Were these small documents being inserted using no reply writes?

[2016-04-14 21:46] moserrya commented on #5348
In our case, no, there were reply writes.

[2016-04-14 22:20] Sxw1212 commented on #5348
I was using the JSON import feature of the rethink CLI, not sure if that uses no-reply writes or not.

[2016-04-14 23:47] mlucy opened #5667 "v2.3 of the JS driver fails in an ugly way when connecting to a RethinkDB 2.2 server"
From the mailing list:

[code]

@nighelles, you did the JS implementation of the new handshake, right?  It might be nice to produce a friendlier error here if it's easy.

[2016-04-14 23:47] mlucy commented on #5667
We should probably check the other two drivers as well at some point.

[2016-04-14 23:51] mlucy commented on #5664
Thanks for the bug report @edwardsmarkf !

@nighelles, is it possible this is related to the new `eq_join` implementation in 2.3?

[2016-04-14 23:57] nighelles commented on #5348
I also recovered the following very unhelpful backtrace
[code]

[2016-04-14 23:59] mlucy commented on #5663
Granular permissions on systems tables seems like a reasonable thing to add support for.  I think @VeXocide commented once that it's a little bit hard for some reason?

It also seems like it might be reasonable to have some system tables default to being world-readable.

Tagging as a `ReQL_proposal` and putting into 2.4.

[2016-04-15 00:01] mlucy commented on #4598
@simkimsia -- you might find some of the links in https://github.com/rethinkdb/docs/issues/598 helpful.

[2016-04-15 00:03] mlucy commented on #5661
+1 for implementing a generic `rescue` or `catch` instead of adding an optarg to every term that produces an error we might want to replace with a value.

[2016-04-15 00:04] VeXocide commented on #5663
Indeed, we're hoping to do this for 2.4. It's a sufficiently large set of changes that we'll be unlikely to backport them to 2.3 though.

[2016-04-15 00:07] nighelles commented on #5664
Hey @edwardsmarkf ,

I tried importing your data into a RethinkDB 2.3 instance running on Ubuntu 14.04, and the command you listed above returns successfully on my end.

Is there something about your system that might be different from my end?

[2016-04-15 00:11] mlucy commented on #5660
ping @deontologician .

[2016-04-15 01:00] edwardsmarkf commented on #5664
end?

probably!  can you give me a few commands i can run, such as "uname -a"

its a centos7 installation running on virtualbox.

Thank you,

Mark Edwards

On Thu, Apr 14, 2016 at 5:08 PM, Nighelles David <notifications@github.com>
wrote:

[2016-04-15 01:01] mlucy commented on #5657
ping @deontologician

[2016-04-15 01:05] danielmewes commented on #5664
@nighelles could this be related to how big the batches get? Maybe if the server reads over 100k documents within the default 500ms batch duration limit?

[2016-04-15 01:07] danielmewes commented on #5348
The backtrace looks like it's crashing in the allocator, i.e. jemalloc in our case. @nighelles since you can now reproduce this, maybe try configuring with --system-malloc and see if it goes away. If it does, we can try using a newer version of jemalloc.

[2016-04-15 01:11] danielmewes commented on #5348
@moserrya‎ note that the 100% shown in the dashboard are not total memory usage, but usage of the reserved RethinkDB cache. The cache is usually less than half of the total memory on the server. You would need to use something like top, htop or free to get the actual memory usage on the server. 

[2016-04-15 01:18] nighelles commented on #5664
@danielmewes That's an interesting thought.

[2016-04-15 01:21] deontologician commented on #5660
I am not actually sure why it wouldn't raise an exception if the socket is closed. Maybe it's swallowing the error.

[2016-04-15 01:22] edwardsmarkf opened #5668 "collapse table list and another delete table button"
hello - this is a thought from an EXTREME newbie, been using rethinkdb a few days and i am already in love with it.

1) will it be possible in the future to "collapse" & hide the table list display, like an accordion?

https://jqueryui.com/accordion/

2) could the "delete-table" button be on the bottom of the webpage as well as on the top?   if one has a lot of tables, you have to scroll back to t

[2016-04-15 01:56] nighelles commented on #5667
This is fixed in next.

[2016-04-15 01:56] #5667 closed

[2016-04-15 02:33] mschurr commented on #5660
I'm not entirely sure. I wrapped the loop in a try-catch block that catches and logs all exceptions and I'm definitely not getting any exceptions. I waited ~5 minutes after I terminated the server to see if it would eventually time out and throw an exception, but I got nothing.

I'm using the latest version of the drivers (through Maven) and the latest version of the server (on Ubuntu installed th

[2016-04-15 04:14] bchavez commented on #5660
Hi @mschurr , is it possible for you to enable debug driver logging? If you could provide the full log and after about 5 minutes the disconnection happens, maybe the logs could reveal some clues. :mag:

[2016-04-15 09:27] mschurr commented on #5660
Sure. What do I need to do in order to enable that?

[2016-04-15 09:50] mschurr commented on #5660
Sure, I have attached the debug logs. I inserted an item from the web UI before terminating the server and you can see that change shows up in the logs, so the change feed was working initially. The server was terminated roughly at `04:47:00`. I waited until roughly `04:57:00` (10 minutes) before capturing the logs - as you can see, nothing happened in the logs between when I terminated the server

[2016-04-15 10:21] mikemaccana commented on #2014
Forgot to add: thanks @anatol !

[2016-04-15 13:29] thinklinux opened #5669 "[JavaScript Driver] Bug when I use custom user"
I added a new user to my database and for some reason I got `Wrong password` error. I looked at the repo and I saw this:

[code]

Everything is fine here but when I looked over the compiled version in my node_modules folder I saw this:

[code]

So I had to set `username` on the `connect` method not `user` to have this working. The npm package version is 2.3.0.

[2016-04-15 17:30] nighelles commented on #5669
Hey @thinklinux , thanks for reporting this. This seems like the same issue from #5659 . We're fixing the problem with the javascript driver, but in the meantime using `username` should work.

Let me know if you have any other issues or questions.

[2016-04-15 17:30] #5669 closed

[2016-04-15 17:33] bchavez commented on #5660
Maybe, try creating two threads: **Thread A** and **Thread B**. Have **Thread A** listen for changes and later have **Thread B** close the connection. **Thread A** *should* wake up exceptionally from blocking.

Something like:
[code]
Quick sanity check would make sure the basic plumbing is working.

[2016-04-15 18:36] AlexzAK commented on #5647
yep, `file` is not defined in python3

[2016-04-15 18:56] #5647 closed

[2016-04-15 18:56] larkost commented on #5647
The fix just made it in though PR #5648 by @NeilHanlon.

[2016-04-15 19:05] nighelles commented on #5348
@danielmewes It seems as though the crash doesn't occur with system malloc, at least in the case I was able to reproduce.

[2016-04-15 19:36] mglukhovsky commented on #5667
Should we prepare a point release of the JS driver?

[2016-04-15 21:16] mhassaan opened #5670 "RethinkDB ReqlDriverError Error during handshake"
hi guys I am trying to configure rethinkdb with my rails application along with postgresql . I have followed the procedure mentioned in the documentation  but i am getting this error when i try to add a record using rails console .

`RethinkDB::ReqlDriverError Error during handshake: #<Errno::ECONNRESET: Connection reset by peer>`
Ruby version is 2.2.4 and rethinkdb is 2.3.0. I have followed other

[2016-04-15 21:54] larkost commented on #5670
We are a little confused by this, since there should be good error messages even if you had mixed versions of server and client. One thought is that you might have your port numbers mixed up, and are trying to connect to, for instance, the cluster port? Is there anything in the server logs when you make this connection?

We just explicitly ran an experiment where we ran a 2.3.0 server and connecte

[2016-04-15 22:48] mschurr commented on #5660
I can confirm that closing the connection manually breaks the loop. Program and logs attached.

[code]

[code]

[2016-04-15 22:49] larkost opened #5671 "Uninstall RethinkDB.app made on 10.10 crashes on 10.7"
We have recently moved from compiling our MacOS packages on a 10.7 machine to one running 10.10 (with settings to ensure compatibility with 10.7). This has worked out very well in most cases, but the resulting `Uninstall RethinkDB.app` crashes (SIGSEV) on 10.7 machines. Unfortunately, we only noticed this after we shipped the 2.3.0 package, so we have a bad version out in the wild.

After working

[2016-04-15 22:51] larkost commented on #5671
I will leave this open until we have shipped a new version that corrects this problem, presumably 2.3.1 which will probably be going out next week.

[2016-04-15 23:23] larkost commented on #5615
This is up for review in CR 3600, from branch `larkost/5615-sign-macos-uninstaller`.

[2016-04-15 23:36] mhassaan commented on #5670
No i dont see any logs beacause when i try to require rethinkdb in rails console , it fails. When i request using webUI yes then i can see logs  But now i have upgraded my ruby version to 2.3.0 .
`gem list rethinkdb` gives me `rethinkdb (2.3.0.0)` . And more over when i run this command
 `rethinkdb --version` i get `rethinkdb 1.4.1 (CLANG 4.1 ((tags/Apple/clang-421.11.66)))` . I am a bit confused

[2016-04-15 23:39] nighelles commented on #5664
@edwardsmarkf Can you tell me the settings you're using for the virtualbox instance?

[2016-04-15 23:43] larkost commented on #5615
This has been merged into `next` with 5ba40aae.

[2016-04-15 23:43] #5615 closed

[2016-04-15 23:47] larkost commented on #5619
This has been merged to `next` with 4be62cea.

[2016-04-15 23:47] #5619 closed

[2016-04-15 23:53] larkost opened #5672 "improve building on later versions of MacOS"
With #2230 we started building on later versions of MacOS X (specifically 10.10), and then with #5671 moved that to 10.11 (El Capitan). However, we are still doing this using ENV variables, rather than a more integrated approach. This is a follow-on to get that working.

[2016-04-16 00:09] larkost commented on #5670
You can download the `.dmg` from our [website](https://rethinkdb.com/docs/install/osx/), and that has an uninstaller (note: there is a bug in it on older MacOS versions right now). That will clean out that old version, assuming you used a `.pkg` version. Personally I prefer the version from `.pkg` over homebrew, but that is mostly personal preference.

But it is likely that that old version of Ret

[2016-04-16 04:48] bchavez commented on #5660
Hey @mschurr , thanks for that. That helps a lot.

I'm gonna take a shot in the dark on this one. Java skills are rusty, so I need help on this one.

The exception handler in the response pump looks like:

[`Connection.java`:**Line 115**](https://github.com/rethinkdb/rethinkdb/blob/next/drivers/java/src/main/java/com/rethinkdb/net/Connection.java#L115)
[code]
The handler only handles `IOException

[2016-04-16 08:40] mglukhovsky commented on #5670
@mhassaan: you can try `which rethinkdb` to see what binary it's choosing to run.

[2016-04-16 13:23] fkollmann opened #5674 "VERSION file is missing / Python Error: %d format: a number is required, not str"
**Error**

When downloading the official sources, the VERSION file is missing, causing rethinkdb to compile as '2.3.0-fallback', instead of '2.3.0'.

Which causes the python driver to crash: `ReQL error during 'version check': Could not connect to localhost:28015. Error: %d format: a number is required, not str`

**Workaround**

Simply run the following command before running *configure*:
`echo 2.

[2016-04-16 16:42] mschurr commented on #5660
Hmm. I think you're right. It seems possible for a RuntimeException to be thrown there that doesn't get caught by the catch block (since ReqlError <: RuntimeException), and that is what it looks like gets thrown when the socket reaches EOF.

I believe in this case the error will get swallowed; the `ExecutorService::submit` returns a future. The swallowed exception, in this case, will be re-thrown

[2016-04-16 17:49] sczk commented on #5674
@fkollmann , issue #5624 discusses the same error. It was caused by providing an invalid password. Not a very informational error message, but sounds like it'll be fixed in the next version.

[2016-04-16 19:41] fkollmann commented on #5674
The password is correct. I just changed it:

[code]

[2016-04-16 19:42] nojvek opened #5675 "implement rql get with optional index"
Having a secondary index of 1:1 mapping is very common, yet getAll returns an array, as a consumer I just want the first value if it exists or null.

Having table(x).get(z, {index:'z'}) would be very very useful. I end up writing workarounds for this in js, but having this built in rql would be really really awesome.

[2016-04-17 01:07] alfredbaudisch opened #5676 "Not being able to externally start a proxy node to connect to a Docker based 3 node cluster (received inconsistent routing)"
I managed to run a 3 node cluster using Docker in my machine and I can do all operations in the web UI. All nodes communicate with each other correctly. Also with or without providing the -h hostname the result is the same.

### Create a 3 node cluster

    docker run -d -h localhost -p 8080:8080 -p 28015:28015 -p 29015:29015 -v /data:/data --name rethink-1 --net rethinknet rethinkdb  rethinkdb -d

[2016-04-17 06:31] jazoom commented on #4676
I get this all the time when iterating through my database's objects from Node running on Windows (development). Luckily, it doesn't do this on my production Ubuntu servers (running the same code).

Still, it's very annoying when I'm doing stuff in my test database.

[2016-04-17 15:31] neumino opened #5677 "Missing null byte between messages"
I'm trying to update rethinkdbdash to 2.3 and I have a little problem with the response from the server

I'm trying to send the magic number and the first message at the same time as mentioned in https://github.com/rethinkdb/docs/issues/1058#issuecomment-206515079 but I get back the following:
[code]
Without a null byte at the end of the first message.

Is sending the magic number and the user at

[2016-04-17 15:33] neumino commented on #5677
Arg never mind, I'm not fully awake yet. It works fine, I was just passing the wrong message. Sorry for the noise : )

[2016-04-17 15:33] #5677 closed

[2016-04-18 09:39] mikemaccana opened #5678 "Better error messages for version mismatches"
When attempting a `rethinkdb restore`

    ReQL error during 'version check': Could not connect to localhost:28015. Error: No JSON object could be decoded

The 'JSON' message is confusing, it makes it seem like the backup is corrupt. The action cause is the version mismatch. A better error would be:

    ReQL error during 'version check': rethinkdb version mismatch when connecting to localhost:280

[2016-04-18 12:36] cefn opened #5679 "Add filter-like boolean operator 'matches' ?"
I would like to be able to filter for both subdocuments which are fields and those which are arrays from my document-oriented store with the convenience of the simplified filter syntax.

For example I would like to offer up an API like

[code]

However, the registry is deliberately designed to hide exactly how the entities are mapped to documents or sub-documents. Consequently, while 'workshop' mi

[2016-04-18 17:17] nighelles commented on #5348
@danielmewes Unfortunately, the crash still reproduces using the newest version  of jemalloc.

[2016-04-18 17:45] mhassaan commented on #5670
@larkost it works , i download .pkg version and uninstall the previous version. Then i ran the package to install the updated version. And now i query in rails console I dont see any connection out problem. I think that drivers available in older versions of rethinkdb are not feasible with current version. Moreover, @mglukhovsky @larkost If I am not wrong, currently there is no way to switch datab

[2016-04-18 18:00] nighelles commented on #5674
Hey @fkollmann , the --password option should interactively allow you to input the password, rather than typing the password as an argument to the option. Is this the behavior that you're seeing on your end?

[2016-04-18 18:17] thelinuxlich opened #5680 "No RethinkDB 2.3 package for Debian Wheezy"
It is still a supported version, and Google Cloud still uses it for instances with NVME disk.

[2016-04-18 19:26] larkost opened #5681 "r.http https queries failing on MacOS 10.7 when built on 10.10+"
Starting with `v2.3.0` we are building on MacOS 10.10 or better. This gets us a much newer build toolchain, and we are building such that we should be compatible with MacOS 10.7. So far the only issue we have encountered with this is in the https support in `r.http`: for those results we are getting an error back every time:

[code]

The same server binary running on latter versions of MacOS (e.g.

[2016-04-18 19:29] larkost commented on #5681
I have tried out the work in #5672 to see if that fixes the issue, but it does not appear to do so.

[2016-04-18 19:29] jbhatab commented on #4541
I'm running the commands here, https://rethinkdb.com/docs/install/raspbian/, which seem to be up to date with this conversation but still am having errors when running "make ALLOW_WARNINGS=1"

![screen shot 2016-04-18 at 2 27 51 pm](https://cloud.githubusercontent.com/assets/2458718/14616936/d8f7b462-0571-11e6-8aad-06c297900840.png)

@SergKhachko I ran that install but I already had it actually. D

[2016-04-18 19:34] SergKhachko commented on #4541
@jbhatab the same exception was throwed for me too. Just increase the swap size to avoid process killing.

[2016-04-18 20:04] jbhatab commented on #4541
@SergKhachko I saw "CONF_SWAPSIZE=100", but no "CONF_SWAPFILE". Am I supposed to update the conf_swapsize or add in the conf_swapfile key?

[2016-04-18 20:26] GlurG commented on #5505
Just tried this out again on RethinkDB 2.3.0 Windows Beta, and encountered the following error when executing "rethinkdb dump" using WinPython 3.4.3

[code]

However, "rethinkdb dump" works for Python 2.7.11 (on Windows)!

[2016-04-18 20:50] gebrits opened #5682 "Percolate feature like Elasticsearch"
This might already be possible with subscribing to streams but just to be sure:

is it possible to create a percolate feature like [Elasticsearch Percolate](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-percolate.html) with RethinkDB?
I.e.: the ability to get notified (server side in our case) when a document matches a particular query?

usecase: say you were to implement

[2016-04-18 21:23] jbhatab commented on #4541
I'm getting a new bug it looks like. no space left on device.

![screen shot 2016-04-18 at 4 22 39 pm](https://cloud.githubusercontent.com/assets/2458718/14620358/d1ee7a6a-0581-11e6-925b-700279ce23ba.png)

[2016-04-18 21:54] larkost commented on #5681
After trying a number of variants, including the latest version of `curl` it looks like we alway have this problem when building with our embedded version. So when built on 10.7 with `--static curl` (really `--static all`) we still get the issue. Building with the `--dynamic curl` flag on any version seems to work correctly. As far as I can tell we are correctly specifying `--with-darwinssl`, and

[2016-04-18 22:06] nighelles commented on #5666
Hey @drcongo , I was able to confirm that the leak exists, and we figured out what was causing it.

Thanks for the report, this should be fixed soon.

[2016-04-18 22:18] chrisvariety commented on #5675
You can use `.nth(0)` at the end of the `getAll` to return a single item, FYI

[2016-04-18 22:30] drcongo commented on #5666
@nighelles Ace, thanks. Just glad it wasn't me doing something wrong!

[2016-04-18 22:47] mlucy commented on #5682
RethinkDB doesn't currently have a way to store queries in tables.  We're thinking of adding persistent changefeeds in the future (https://github.com/rethinkdb/rethinkdb/issues/3471), which would be similar in some ways to what you want.

Closing since this isn't a bug, but feel free to continue asking questions here.

[2016-04-18 22:47] #5682 closed

[2016-04-18 22:50] mlucy commented on #5675
Thanks for the proposal @nojvak!  What would you expect the behavior to be if you write `table.get(foo, index: 'bar')` and there are two entries in index `bar` with value `foo`?  Would you expect it to error, or pick a value and return it?

[2016-04-18 22:55] #5655 closed

[2016-04-18 22:56] VeXocide commented on #5655
Merge into `next` and `v2.3.x` via commits f6bdc5e5f696ab90c1cf08da03fd719a628c3773 and 52e39c78b4838b3ae1a1884c2e54c2549dfb4a1b respectively.

[2016-04-18 23:07] larkost commented on #5681
I found the error... and it is either `coreFoundationUnknownErr` or `errSecCoreFoundationUnknown` depending on where it actually comes from. This is coming out of `darwinssl_connect_step2` in `libcurl`, so there is potentially going to be a lot of digging to do to below this to figure out where either `curl` or the 10.7 `Security.framework` is going wrong.

My current view on this is that we proba

[2016-04-18 23:14] thelinuxlich opened #5683 "Cluster getting killed for unknown reasons in 2.3"
A microservice using a older version of rethinkdbdash tried connecting to my Rethinkdb 2.3 cluster and and made two servers shutdown with this error:

[code]

[2016-04-18 23:15] thelinuxlich commented on #5683
Forgot to mention this microservice tried to open a changefeed

[2016-04-18 23:18] mike-marcacci commented on #5683
This backtrace looks quite similar to the comment at https://github.com/rethinkdb/rethinkdb/issues/5348#issuecomment-186863025

[2016-04-18 23:23] nojvek commented on #5675
I would say that it behaves as follows:

Not found : null
One match: return that item
More than one: return first

Nth(0) gives an error when no item is found. So you can't chain it nicely.

Get will return you one. GetAll returns all.

It would be nice if indexes could have constraints I.e no duplicates. So
you can have nice foreign keys.

On Monday, April 18, 2016, Michael Lucy <notifications@gi

[2016-04-18 23:24] chrisvariety commented on #5675
@nojvek `.nth(0).default(null)` is the pattern I use very often to avoid the error, works super great!

[2016-04-18 23:45] mlucy opened #5684 "Segmentation fault related to randomness"
If you build the latest v2.3.x in debug mode, start it in GDB (which slows down startup presumably), and connect to the web UI as quickly as possible, you frequently get this crash:

[code]

@VeXocide, is it possible this is related to the recent randomness changes?

[2016-04-18 23:53] thelinuxlich commented on #5683
I did a investigation in the microservice and noticed it is using a proxy with the 2.2 version, so it is not related to the js driver, gonna change the issue title

[2016-04-19 00:10] VeXocide commented on #5684
Yes, this is almost certainly related.

[2016-04-19 00:46] frankleng opened #5685 ".fold() vs .reduce() performance"
Since  ```.reduce()``` simply returns the 1st element if the sequence has 1 element.
I ended up used the new ```.fold()``` instead. It returns the base, so we don't run into inconsistent results when dealing with single and multi element sequences.

Tested them both on a small dataset, but the profiler indicated that ```.fold()``` took consistently 2-3x longer in server time.
Is this because ```.r

[2016-04-19 00:47] VeXocide commented on #5684
@mlucy wasn't able to reproduce this after a clean build, we suspect it may have been a build artifact.

[2016-04-19 00:55] jeffreywescott commented on #1855
Am I the only one who _doesn't_ want the results `collapse`d? What I want (especially as a replacement for `zip`, when joining) is a way to replace something like an ID field with a nested object, e.g.:

### Input:
[code]

### Desired Output:
[code]

[2016-04-19 02:46] nojvek commented on #5675
oh I didn't know that was a thing.

I still think .get(x, {index:y}) is a lot cleaner though. Thoughts?

Is it plausible for rethinkdb to have user submitted tricks and tips for
their api docs? This is one thing I really loved about php docs. Lots of
useful snippets like this in their documentation site submitted by the
users solving common problems.

On Mon, Apr 18, 2016 at 4:24 PM, chrismcc <not

[2016-04-19 03:05] thelinuxlich opened #5686 "eqJoin optarg to emit a custom object"
So we can avoid the eqJoin().[zip(),.map()] thing

For example, this would return the same as the default eqJoin behavior:

[code]

[2016-04-19 03:08] ntquyen commented on #5666
@nighelles Can you confirm that this issue only happens in 2.3.0? Do users of previous versions (2.2.5 like me) need to worry about this?

[2016-04-19 03:26] lucasjans commented on #1271
@danielmewes is this getting any closer? we need to be able to do `.count` against indexes (getall or between). our data set has 7mb records and it is far too slow. engineering our own solution outside Rethink is complexity I would prefer to avoid.

[2016-04-19 05:15] VeXocide commented on #5666
@ntquyen -- I can confirm it only happens in `2.3.0` and `2.3.0-pre-horizon`, users of previous versions, including the `2.2.x` range, do not need to worry about this.

[2016-04-19 06:55] sceutre commented on #5448
Fwiw, to completely close the door on this, we found last week that 2.3 was indeed exhibiting the issue, but the issue was our fault all along.  It turns out we were leaking  a connection (creating, using, not closing, and losing the reference) at a rate of one a minute.

[2016-04-19 08:02] SergKhachko commented on #4541
@jbhatab seems like your SDcard is too small. Anyway, I have a deb package already built. Try to download [this](https://mega.nz/#!2lhxAK4D!u1wd35qila167d2YxCfCIfFHM044rB8RTEgUCnQL6sQ) and instal as `sudo dpkg -i rethinkdb_2.3_armhf.deb`

[2016-04-19 10:12] rsantosdev commented on #2948
@samkelleher how do you capture the queries from thinky ?!

[2016-04-19 10:23] pires commented on #5448
Thank you for letting us know @sceutre.

[2016-04-19 10:43] cefn opened #5687 "Documentation for r.row (javascript) contains significant error and filter(...) should fail hard to reveal it"
I was trying to understand the operation of ```r.row``` by reference to [the javascript documentation](https://rethinkdb.com/api/javascript/row/). I was deeply confused by how this example offered in the documentation) could ever possibly work.

[code]
I investigated further (executable example below) and indeed it seems to be a straight-up error in a central part of the RethinkDB documentation.

[2016-04-19 11:58] samkelleher commented on #2948
@rsantosdev You can access the query sent to the server via the property _query (on a thinky query).
[code]

[2016-04-19 12:02] rsantosdev commented on #2948
tks @samkelleher, in case anyone wants to monitor most slow queries as well, here is a gist

https://gist.github.com/rsantosdev/45ccb7f7dd88563d4bcee34f3185c458

[2016-04-19 12:40] c941010623 opened #5688 "how can i use replication like mysql ??"
this db can use master-slave like mysql ??

[2016-04-19 14:58] muescha commented on #1855
its more a join or something similar

[2016-04-19 15:18] muescha commented on #1855
but then it should be also like:

[code]
and then

[code]

[code]

[code]

but i think it is a special use case

[2016-04-19 15:20] NeilHanlon opened #5689 "Allow secondary index for leftHand field of eqJoin"
This came up in slack:

[code]

Doesn't work, as table_key is an index on both tables, not a key. The proposed solution is:

[code]

However this solution probably isn't very good for performance.

Is there any reason an index can't be the left hand of a join? Is it unnecessarily complex to do this?

Just a suggestion :)

[2016-04-19 16:21] jeffreywescott commented on #1855
I'm not sure it's a special use case, particularly for things like GraphQL.

[2016-04-19 16:26] felixis-1 commented on #5688
The RethinkDB documentation on sharding and replication [here](https://www.rethinkdb.com/docs/sharding-and-replication/) will help you out.

[2016-04-19 16:36] rocketraman commented on #1855
Yeah I'd say the current approach to `join` in RethinkDB is very SQL-like: by default, return a flat structure with the content from both sides of the join mashed together (collapsed?). Since I'm getting back JSON, I'd much rather have an easy way to make my result look like Jeffrey noted above. It should also be easy to operate on lists or maps of foreign keys, like:

[code]

to produce:

[code]

[2016-04-19 17:09] bchavez commented on #5660
Related #5439.

[2016-04-19 17:33] 360disrupt commented on #4541
Maybe this helps somebody:
https://github.com/rethinkdb/rethinkdb/issues/5636
I had lots of errors when installing but managed it in the end.

[2016-04-19 17:53] alfredbaudisch commented on #5676
I fixed it by myself.

1) Name and tag the servers

    docker run -d -h localhost -p 8080:8080 -p 28015:28015 -p 29015:29015 -v /data_rethink1:/data --name rethink-1 --net rethinknet rethinkdb  rethinkdb -n rethink1 -t rethink1 -d /data --bind all --canonical-address 172.18.0.2
    docker run -d -h localhost -p 8081:8080 -p 28016:28015 -p 29016:29015 -v /data_rethink2:/data --name rethink-2 --net

[2016-04-19 17:54] #5676 closed

[2016-04-19 18:12] danielmewes commented on #5631
Hi @sceutre . We changed the implementation in order to support lambdas inside of arrays, which is required for the new `interleave` option of the `union` term.

There might be a better way to implement this that maintains the old behavior that you mention.

[2016-04-19 18:23] danielmewes commented on #5634
@wmark Sorry for the delay, I was out of office last week. The download link no longer seems to be valid. Could you send me a new one via email to daniel@rethinkdb.com ?

[2016-04-19 18:33] danielmewes commented on #3061
@gyelwande I might have missed this. Which change fixed this?

[2016-04-19 18:40] danielmewes commented on #5635
@VeXocide Can we backport this to v2.3.x as well?

[2016-04-19 18:43] danielmewes commented on #5643
@nighelles Can you backport the fix to the `v2.3.x` branch please?

[2016-04-19 18:43] danielmewes commented on #5643
(re-opened for backporting)

[2016-04-19 18:45] renato commented on #3471
This would be very useful to us, too. Are you working on this currently or is it on hold for now?

[2016-04-19 18:47] danielmewes commented on #5645
@alx696 On which platform / operating system version was this? What was the output of the `configure` command?
Can you try running `make -j 4 ALLOW_WARNINGS=1` and see if the linker error still occurs?

[2016-04-19 18:47] VeXocide commented on #5635
@danielmewes -- absolutely, give me a minute

[2016-04-19 18:50] barkerja commented on #5689
[code]

Apologies if my JS is a little off, but you need to use a function to construct the compound key.

[2016-04-19 18:50] danielmewes commented on #5646
I don't think there is anything we can do about the failure on older servers. We have fixed this with #5104 for 2.3.0 forward. RethinkDB 2.3 will now generate a proper error message when attempting to restore from a future version of RethinkDB.

The 2.3 crash is more concerning.

[2016-04-19 18:52] VeXocide commented on #5635
I already did apparently, it's commit 49cfae5173687ad9e7ccb4f3ec60feeb1889f02f.

[2016-04-19 19:01] danielmewes commented on #5378
Indeed, thanks for the note @NeilHanlon .
There is now a `--quiet` option added by @nh2.

[2016-04-19 19:01] #5378 closed

[2016-04-19 19:01] barkerja commented on #5689
Or you can do something to the effect of:

[code]

[2016-04-19 19:11] danielmewes commented on #5656
Thanks for your research @QianJin2013 .

[2016-04-19 19:25] danielmewes commented on #1395
@goatic Note that all ReQL terms such as `dbDrop`, `dbList` etc. are non-blocking functions in JavaScript that only build up a "query object". The command that actually executes the query and that is blocking is `run`, which has both a promise- and a callback-style interface (which is documented). The examples in the individual commands are often using the callback-style I think.

[2016-04-19 19:26] danielmewes commented on #5659
@nighelles Can you backport the fix to `v2.3.x` please?

[2016-04-19 19:27] danielmewes commented on #5659
Actually since we've shipped this, we should probably support both variants for 2.3.x (and potentially longer, though we can probably remove it in 2.4).

@nighelles do you mind adding a `username` option back in that maps to `user` for backwards compatibility?

[2016-04-19 19:30] danielmewes commented on #5617
@larkost Sounds fine to me.

[2016-04-19 20:00] nighelles commented on #5659
@danielmewes , the current fix does currently support both versions to avoid breaking existing code.

[2016-04-19 20:01] NeilHanlon commented on #5689
`(row) => [...]` is a JS shortcut in ES7 (I think). It's an implicit return.

And yes--that's one way to do it, but if you're always going to join both tables together... then it's not an indexed operation on the left hand side.

[2016-04-19 20:01] thelinuxlich commented on #5683
@mlucy actually I updated the proxy and my cluster gets constantly killed so it is not related :( :( :(

Another stacktrace:

[code]

[2016-04-19 20:12] mlucy commented on #5684
I just got this crash again with a different backtrace (using the clean build that was failing to reproduce it before):

[code]

[2016-04-19 20:12] mlucy commented on #5684
It happened when I tried to delete a document from a table.

[2016-04-19 20:26] nighelles commented on #5659
@danielmewes This is in 2.3.x

[2016-04-19 20:34] goatic commented on #1395
haha - I guess I should move past the docs and get some actual work done :stuck_out_tongue_winking_eye:

[2016-04-19 20:42] mlucy commented on #5683
Thanks for the bug report @thelinuxlich .  Is the microservice running any insert queries?  If so, would it be possible to post them here?

[2016-04-19 20:43] thelinuxlich commented on #5683
I have a lot of microservice instances, and some of them are inserting in batches of max 100 records. Unfortunately the stacktrace doesn't help to pinpoint what service is killing the cluster

[2016-04-19 20:44] danielmewes opened #5691 "`pkey_was_autogenerated` is incorrect in inserts"
`table_t::batched_insert` gets both an `insert_datums` and a `pkey_was_autogenerated` vector which are the same size. It then checks each element in `insert_datums` for whether it is valid or not, and moves the valid elements into a new vector `valid_inserts`.
Then it calls `tbl->write_batched_insert` with `valid_inserts` and the original `pkey_was_autogenerated` vector.

At this point, the `pkey_

[2016-04-19 20:49] thelinuxlich commented on #5683
The most write-heavy microservice inserts in batches, and do something simple like this:

[code]

[2016-04-19 20:51] danielmewes commented on #5683
I have a theory for where the bug is. Going to build a test binary and send it to @thelinuxlich .

[2016-04-19 20:53] VeXocide commented on #5684
I've managed to reproduce this and we decided to switch to a different pseudo random number generator, we're now using `mt19937_64`.

[2016-04-19 21:17] danielmewes commented on #5683
Handing this over to @nighelles, since it turns out that there are deeper issues with the `changes` return value computation.

I think the issue is with this line https://github.com/rethinkdb/rethinkdb/blob/next/src/rdb_protocol/val.cc#L371 where we move a value out of `pkey_to_change`. If multiple entries in the insert batch have the same primary key and the `update` or `replace` conflict-resolut

[2016-04-19 21:20] VeXocide commented on #5684
Fixed in `v2.3.x` and `next` via commits 422e06f558f8f631da9e3cebe5165309cfb8e1d2 and 25578607b759e469f7571cd93518f4a417390853 respectively. Over-the-shoulder review by @mlucy.

[2016-04-19 21:20] #5684 closed

[2016-04-19 21:25] danielmewes opened #5692 "Implement permissions on system tables part II"
In 2.3 we ended up disallowing system table access for non-admin users for simplicity reasons.

Copying the original proposal from https://github.com/rethinkdb/rethinkdb/issues/5463 here:

* Read permissions on system tables will be assigned through the usual mechanism (i.e. the "rethinkdb" database is treated like any other database)
* Nobody can write to a system table, except for the `admin` us

[2016-04-19 21:26] danielmewes commented on #5663
I just opened https://github.com/rethinkdb/rethinkdb/issues/5692 to address the general issue of extending permissions to system tables. Closing this as a duplicate.

[2016-04-19 21:26] #5663 closed

[2016-04-19 21:31] danielmewes commented on #5657
This is the same as https://github.com/rethinkdb/rethinkdb/issues/5631 .
To go into a bit more detail: The reason we fixed the first argument was because Java couldn't resolve the overload type between the lambda variant and the Object variant when pure varargs were used.

We will try to figure out a better solution.

[2016-04-19 21:31] #5657 closed

[2016-04-19 21:32] danielmewes commented on #5668
Those are very reasonable suggestions @edwardsmarkf .

Pinging @mglukhovsky and @deontologician for comments.

[2016-04-19 21:41] danielmewes commented on #5667
@nighelles can you cherry-pick to `v2.3.x` please? It will go into the next point release then.

[2016-04-19 21:44] nighelles commented on #5667
This is in v2.3.x

[2016-04-19 21:46] danielmewes commented on #5671
I'll close this because it makes keeping track of which changes are making it into 2.3.1 a bit easier for me.

[2016-04-19 21:46] #5671 closed

[2016-04-19 21:46] deontologician commented on #5668
@edwardsmarkf For 1) do you want each database to be collapsible independently?
2) Sounds like a solid suggestion. Probably we'd only display it on the bottom if the table list is larger than a certain size

[2016-04-19 21:46] danielmewes commented on #5615
@larkost Did you cherry-pick this into `v2.3.x` as well?

[2016-04-19 21:47] danielmewes commented on #5619
:+1:

[2016-04-19 21:52] danielmewes commented on #5676
Thanks for documenting this @alfredbaudisch . Might be useful for others who have the same issue.

[2016-04-19 21:52] larkost commented on #5688
To expand a bit, it is hard to compare our replication directly to what MySQL has but in general what we do is better for almost all cases. I encourage reading the document that @felixis-1 linked to, but here is a short summary:

We allow you to split any table into multiple shards, each of these shards needs to have a `primary` server (they can all be on one, or any combination of servers that ma

[2016-04-19 21:52] #5688 closed

[2016-04-19 21:54] larkost commented on #5681
I setup the virtual machines today, and can confirm that the current binary works as expected on 10.9.5. So my vote is that we use this bug to add in the additional euro reporting, declare that we support from 10.9 up, and close this bug.

@danielmewes, this sound about right?

[2016-04-19 22:01] danielmewes commented on #4676
@jazoom That's quite weird.

@Timer Do you still have the code that prints out the response messages? Maybe @jazoom could use that to get us some insights into why this is failing on Windows.

[2016-04-19 22:11] mlucy opened #5693 "Audit uses of `rng_t`"
We just had a bug where a class had an `rng_t` as a member variable and was accessing it from multiple threads.  This is incorrect to do.  It appears that some other classes also have `rng_t`s as member variables; in almost all cases they should not have these variables and should be using the global `rand*` methods in `random.hpp`.

[2016-04-19 22:13] danielmewes commented on #5678
This is similar to https://github.com/rethinkdb/rethinkdb/issues/5667, but for the Python driver.

I completely agree that we should catch this error and print a better message.

[2016-04-19 22:19] danielmewes commented on #5679
Thanks for the proposal @cefn . That makes sense. I also think that it's somewhat inconsistent to have the dictionary-style syntax for `filter` but not being able to use that same syntax elsewhere.

I'm not sure about how to best integrate this into ReQL, but having an additional term as you suggest that behaves like `filter` except that it returns `true` or `false` and is applied to a single item

[2016-04-19 22:21] danielmewes commented on #5670
@mhassaan Older drivers work with newer versions, but not the other way around.
Indeed there is no way at the moment to change the default database in the web UI. You have to use `r.db` for accessing databases other than `test`.

[2016-04-19 22:21] #5670 closed

[2016-04-19 22:24] danielmewes commented on #5680
@thelinuxlich We discontinued Wheezy packages with 2.3.0 as mentioned in the release notes. The reason is that RethinkDB now required GCC 4.8 to compile, and we couldn't find any backports for Debian Wheezy. :-(

RethinkDB can be compiled with GCC 4.8 from jessie, but it will also require a more recent libc, so we can't easily pack it that way. Using GCC packages from Ubuntu comes with similar iss

[2016-04-19 22:24] danielmewes commented on #5680
Are other distributions available for the GC NVME instances?

[2016-04-19 22:25] thelinuxlich commented on #5680
Not yet.

[2016-04-19 22:26] thelinuxlich commented on #5680
I migrated to normal SSD instances, but this should be better documented for other GCE users

[2016-04-19 22:27] danielmewes commented on #5505
This seems to be the same issue as https://github.com/rethinkdb/rethinkdb/issues/5647 but for `rethinkdb dump`. Thanks for reporting it @GlurG .

[2016-04-19 22:29] danielmewes opened #5694 "Fix rethinkdb-dump on Python 3"
A similar issue as https://github.com/rethinkdb/rethinkdb/issues/5647 appears to exist for `rethinkdb dump`: https://github.com/rethinkdb/rethinkdb/issues/5505#issuecomment-211562672

Assigning to @larkost since you reviewed the equivalent fix for `rethinkdb restore` https://github.com/rethinkdb/rethinkdb/pull/5648 .

[2016-04-19 22:36] cefn commented on #5679
It's probably lodash I had the 'matches' notion from, see [https://lodash.com/docs#matches](https://lodash.com/docs#matches)

How about fieldsEq(). This name might be appropriate if you choose that the primitive should explicitly test for eq, but one level down.

Alternatively if you allow the partial matching logic to go all the way down like lodash (e.g. eq is only assessed at the level of javas

[2016-04-19 22:40] danielmewes commented on #5685
@frankleng Your interpretation of the performance difference sounds correct. `fold` does not parallelize the way `reduce` does.

You can use the following to provide a default with `reduce` in case of an empty input stream:
`r.expr([]).reduce(function(a, b) {...}).default(base)`

[2016-04-19 22:40] #5685 closed

[2016-04-19 22:41] danielmewes commented on #5685
@frankleng Does the `default` work-around work for you? Maybe we should put such an example in the `reduce` API docs...

[2016-04-19 22:43] danielmewes commented on #5686
Somewhat related to https://github.com/rethinkdb/rethinkdb/issues/2720 .
This by itself sounds really useful though.

[2016-04-19 22:54] danielmewes commented on #5687
Thanks for the report @cefn, and sorry for the confusion. You are completely right of course, and the example should use `gt`. Unfortunately it's hard to detect such mistakes in the JavaScript driver (it's not really an issue of `filter`, but of how anonymous functions are processed within the driver).

I opened https://github.com/rethinkdb/docs/issues/1090 on the issue tracker for our documentati

[2016-04-19 22:54] #5687 closed

[2016-04-19 23:09] danielmewes commented on #5679
I like the word `partial` in this context. Maybe just `.partial({...})`? Or the `.partialMatch({...})` you suggested?

We'll try to schedule this for one of the upcoming ReQL discussions (we usually have ReQL discussion periods at the beginning of planning the next release, and we always pick a handful of ReQL_proposal issues to discuss). We'll see what others think then.

[2016-04-19 23:11] cefn commented on #5687
The reason I was saying filter should throw an error; I believed that ```filter(true)``` and ```filter(false)``` were ALWAYS a bug as there is no circumstances under which they could ever actually be used.

[2016-04-19 23:17] QianJin2013 commented on #5657
Thank you i got it.

2016年4月20日水曜日、Daniel Mewes<notifications@github.com>さんは書きました:

[2016-04-19 23:17] danielmewes commented on #5659
Cool, perfect :)

[2016-04-19 23:17] #5659 closed

[2016-04-19 23:24] #5637 closed

[2016-04-19 23:33] NeilHanlon commented on #5694
Since I worked on #5647

What do you think about doing

`is_fileobj = hasattr(options["out_file"], 'read')`

instead of making unnecessarily complex code to work with both Python 3 and Python 2? Since in Python 3, you'd have to do `isinstance(options["out_file"], io.IOBase)` --but that'd fail in Python 2.

I think it's still readable and gets the point across.

[2016-04-19 23:38] danielmewes commented on #5689
Thanks for opening the issue here @NeilHanlon .

I think using the index on the left table wouldn't make any significant difference for performance. The only difference would be that we could theoretically extract the value of `(row) => [row('key_one'), row('key_two')]` from the index rather than re-evaluating that function for every row from the left table. However that's not always possible the

[2016-04-19 23:40] danielmewes commented on #5694
Pinging @larkost about that. My understanding of this is too shallow to tell whether that could have any disadvantages or not.

[2016-04-19 23:43] danielmewes commented on #3471
@renato We have not started actively working on this yet.
Which degree of resumability are you going to need? Is it enough to resume a changefeed after a brief connection drop between the client and the RethinkDB server? Or do you need changefeeds to survive server restarts as well (either client or database servers)?

[2016-04-20 00:00] danielmewes commented on #5439
Since https://github.com/rethinkdb/rethinkdb/issues/5660 has more information by now, I'm closing this as a duplicate.

[2016-04-20 00:00] #5439 closed

[2016-04-20 00:06] larkost commented on #5694
@NeilHanlon: ya, that is a good way to handle this. I have a version with that and some other changes (making it Python2.6 compatible) that I will have reviewed tomorrow morning.

[2016-04-20 00:09] danielmewes commented on #5681
Could we check for this particular error number and emit a special message stating that `https` is not supported on OS X 10.8 and older?
That would be my only additional suggestion. Other than that not fixing the issue and dropping full support for OS X older than 10.9 sounds fine to me.

[2016-04-20 00:10] NeilHanlon commented on #5689
Thanks @danielmewes

Yeah that makes sense. @barkerja and I talked for a bit on Slack earlier about the issue and basically determined that `join`ing on an index on the left hand side has no real effect since as he mentions above, you can `getAll` on the index and then join based on that data.

The issue was for @edwardsmarkf and to see if this was something reql needed or not.

Sounds like not. ;

[2016-04-20 00:37] nighelles commented on #5666
This is in review 3602.

[2016-04-20 00:45] nighelles commented on #5643
This is in 2.3.x

[2016-04-20 00:45] #5643 closed

[2016-04-20 03:09] c941010623 commented on #5688
if i have two rethinkdb (a and b)
but now i want a asnyc b how can i do it ?
ex:
a=> ip:192.168.0.1
b=>ip:192.168.0.2

[2016-04-20 03:46] VeXocide commented on #5681
We can easily check and emit a special message if we're on OS X and `CURLE_SSL_CONNECT_ERROR` occurs.

[2016-04-20 04:36] ntquyen opened #5695 "Query is so slow in large database with big records (up to 7mb record)"
I'm using rethinkdb cluster with 3 instances inside docker containers and my database has some big tables: 27GB for each replicas (~85k records) and having up to 7MB for one record. The cluster is allocated 30GB of RAM and ~14 GB cache-size in total for the cluster. Each table has 3 shards and 3 replicas.

The problem is before the cluster was working quite happily with haft the RAM today, but aft

[2016-04-20 06:36] ntquyen commented on #5666
Thanks @nighelles!

[2016-04-20 06:43] lucasjans commented on #5023
We are experiencing similar behavior with much smaller documents in #5695

[2016-04-20 07:01] lucasjans commented on #2646
Should this referenced ticket be closed @danielmewes? I am not sure they are the same issue. I want to do a simple .`count` against a `.getAll` index but it is incredibly slow. I think it is reading all records and not simply going off the b-tree index. #1271

[2016-04-20 07:23] jazoom commented on #4676
This is the meat of the code:

`var lastId = r.minval;
var LIMIT = 500;

function doBatch() {
 r.db(database).table(objects).between(lastId, r.maxval, { leftBound: 'open', index: 'id' }).orderBy({ index: 'id' }).limit(LIMIT).run(connection, function(error, cursor) {

    if (error) {
      // be sad
      return;
    }

    cursor.toArray(function(error, objects) {
      if (error) {
        // be

[2016-04-20 08:26] frankleng commented on #5685
@danielmewes ```default``` has no effect since the result is not empty.

[2016-04-20 09:23] ntquyen commented on #5456
@danielmewes I've just upgraded my cluster from 2.2.5 to 2.2.6 but I still got error
[code]

Here how to reproduce it:

My cluster has only one instance, and I have some rethinkdb proxies connecting to it.

rethinkdb container running outside kubernetes:
[code]

Each rethinkdb proxy runs in a kubernetes pod with my app container and bind to `localhost` so that my app can connect to the cluster via

[2016-04-20 16:03] renato commented on #3471
@danielmewes We are currently using PouchDB/CouchDB to replicate between different database instances in different locations for a retail POS software that just can't be offline - and, being in Brazil, our internet service providers are not reliable at all, so we can't have only a central database.

That said, I believe having changefeeds resumability (**if** we can guarantee the changes' delivery

[2016-04-20 18:28] danielmewes commented on #5685
I was thinking about the 0-element input case, but I now see that you mentioned the 1-element scenario.

This comment mentions another work-around https://github.com/rethinkdb/rethinkdb/issues/2629#issuecomment-47708929 by using `.union(['base']).reduce`. However I think that will stop the `reduce` from being parallelized, so it will degrade to the same performance as `fold` more or less.

Can you

[2016-04-20 18:39] danielmewes opened #5696 "`eqJoin` on changefeed causes infinite loop"
Running this query on an empty table `t1`:
[code]

causes the server to use 100% of one CPU core. The query never returns the initial cursor, and the server can no longer be shut down. It has to be killed with SIGKILL.

This bug was reported by ordishs on Slack.

[2016-04-20 19:56] nighelles commented on #5696
Could this be caused by trusting the batchspec from the input side?

On Wednesday, April 20, 2016, Daniel Mewes <notifications@github.com> wrote:

[2016-04-20 20:01] thelinuxlich commented on #5580
This would enable a "streaming limit":

[code]

[2016-04-20 20:14] danielmewes commented on #5696
@nighelles No I think we just need to handle empty batches in the eq_join_datum_stream_t.
I have a three-line fix that appears to work. Do you want it for code review or should I give it to @mlucy?

[2016-04-20 20:18] nighelles commented on #5696
I can review it, but I don't know how to get on code reviewer outside the office

[2016-04-20 20:36] danielmewes commented on #5230
I've just run into the same issue on Ubuntu 16.04.

I can use `--fetch npm` for now, but we should fix this. Maybe with a patch similar to the work-around @AtnNn found?
[code]

[2016-04-20 20:56] mlucy commented on #5683
@danielmewes -- I just approved the review for this, but @nighelles is out of town.  The fix is in nighelles/5691 if you want to merge it in to do a point release before he's back.

[2016-04-20 20:59] #5696 closed

[2016-04-20 21:01] danielmewes commented on #5696
The patch was merged into v2.3.x c98fe45 and next b70434f and will ship with RethinkDB 2.3.1.

[2016-04-20 21:16] mlucy commented on #5685
@danielmewes -- I'm not 100% sure, but I *think* `union` is smart enough to parallelize the `reduce` if some of its arguments are lazy streams.

@frankleng -- what reduction are you trying to do?  Usually if your reduction is something `reduce` can do correctly, it's also correct to never call it in the one-element case.

[2016-04-20 21:51] #5683 closed

[2016-04-20 21:51] #5691 closed

[2016-04-20 21:52] danielmewes commented on #5683
Fixed in next  7864afb and v2.3.x . Will ship with RethinkDB 2.3.1 this week.

Thanks for reporting the issue @thelinuxlich, and sorry you had to run into it.

[2016-04-20 21:52] danielmewes commented on #5691
Fixed in next 7864afb and v2.3.x .

[2016-04-20 21:56] #5666 closed

[2016-04-20 21:57] danielmewes commented on #5666
Merged into next b13ea45 and v2.3.x b973488. Will ship with RethinkDB 2.3.1.

Thanks again for reporting this @drcongo .

[2016-04-20 21:57] thelinuxlich commented on #5683
Thanks for the super fast fix :)

[2016-04-20 21:58] danielmewes opened #5697 "Ubuntu 16.04 (Xenial Xerus) packages"
I mostly have this working... We should ship these with 2.3.1.

[2016-04-20 22:29] danielmewes commented on #5634
It looks like Docker has a default size limit for the changed data of a given container, depending on the backend used.
Looks like it used to be 10 GB ( https://github.com/docker/docker/issues/5151 ) though it was apparently bumped to 100 GB recently ( https://github.com/docker/docker/pull/14709 ).

I wonder what happens if that limit is exhausted. Do you think it's possible that you're hitting th

[2016-04-20 22:30] frankleng commented on #5685
@danielmewes @mlucy Thanks for the tips!
I moved up some transformations into ```.map()``` and it's working as intended.

[2016-04-20 22:52] danielmewes commented on #5689
Closing as discussed. We can re-open the issue if we come up with anything that makes this worth revisiting.

[2016-04-20 22:52] #5689 closed

[2016-04-20 23:15] danielmewes commented on #5697
Packages will be available later this week starting with 2.3.1.

[2016-04-20 23:15] #5697 closed

[2016-04-20 23:17] danielmewes commented on #5597
I committed the line ending changes for the files @mbroadst listed to next and v2.3.x in order to avoid #5622 for Ubuntu Xenial (#5697). (i.e. I did option 2).

It looks like the set of files that `git` wants to change is slightly different on different systems though, so there might still be a few files with wrong line endings.

[2016-04-20 23:33] danielmewes commented on #5622
For now I fixed this by committing the changed line endings ( https://github.com/rethinkdb/rethinkdb/commit/da3d04aa03b81855a6610c6bb792433d6f4493df ).

[2016-04-20 23:33] #5622 closed

[2016-04-20 23:36] danielmewes commented on #5635
@VeXocide Regarding the `std::signbit` thing: I'm not sure. Did I commit that change?

[2016-04-20 23:43] VeXocide commented on #5635
@danielmewes -- yes, it's commit 478bf97d39ff02bd385c70d721288de86ff89656 with the message `Make using std::signbit conditional`, which is exactly what it does.

[2016-04-20 23:45] dalanmiller commented on #4437
@clandmeter related to this, I'd like to continue to keep RethinkDB working on Alpine Linux mostly for the official Docker image. Have you kept up to date on this?

[2016-04-20 23:45] VeXocide commented on #5635
I just saw there's a previous commit, f4c8ec2a0ce356e5c68ed7d5fdb3c435618451ce, with the message `Using std::signbit required on Linux`. It turns out that GCC on OS X also needs it.

[2016-04-20 23:48] larkost commented on #5147
I am working on this since it makes testing some changes to these functions a lot easier to test.

[2016-04-20 23:48] danielmewes commented on #5635
Ah I probably just found that it was needed on Linux, but caused an issue when compiling with Clang on Mac so I added the `__APPLE__` check. Maybe that was the wrong check. Does GCC on OS X use the same C++ standard library as Clang?

Checking for GCC or not is also not right, since the `using std::signbit` seems to be fine with Clang on Linux. We could just check for `#if defined(__APPLE__) && !d

[2016-04-21 00:01] VeXocide commented on #5635
I should've mentioned this, it was a GCC install from MacPorts, not quite sure what standard library it uses but I suspect the one that's shipped with GCC itself.

[2016-04-21 00:14] danielmewes commented on #3471
@renato I don't think what you need is outside the scope of resumable changefeeds per-se, but it will take a second (or third) step after our initial resumability support until you could really use them for multi-master replication. It's something we would like to support eventually though.

[2016-04-21 00:21] danielmewes commented on #5456
@ntquyen Are the "Rejected a connection from server" messages still repeating endlessly though? A few of these log entries are normal, especially if the servers are reachable through multiple addresses (e.g. one IPv6 and one IPv4 address). But they should stop once a connection has been established.

I think `15f81be4-d716-4242-be1e-fb9237bf706f` might have been a so called peer ID which is differ

[2016-04-21 00:41] wmark commented on #5634
I don't think I hit that limit: version 2.2.6 runs just fine, even with a cache of 22 GiB.

The data is here: https://s.blitznote.com/unclassified/benchdata-people.csv.xz.squashfs

[2016-04-21 00:49] danielmewes commented on #5634
Thanks for the re-upload @wmark . I got the data this time. Trying to reproduce now.

[2016-04-21 07:35] ntquyen commented on #5666
I've monitored my tables by querying the `stats` table, `storage_engine.cache.in_use_bytes` field. The numbers always stay the same, never change even while there's almost not read or write. It should release the cache, right?

I'm using version 2.2.5

[2016-04-21 08:12] ntquyen commented on #5456
When I restart the server, it runs well without any `Rejected a connection...` warning, but after about 10 - 15min, the warning appears and keep printing endlessly.

The cluster is running fine, but I really concern that warning could affect the connection between nodes in cluster. I'm also facing the issue Heartbeat timeout while the cluster (of 3 nodes) is stress (read/write continuously for 1 o

[2016-04-21 12:04] soplakanets commented on #5548
Hi, I'm having an issue with sorting by random also. The stacktrace:

[code]

The query is quite complicated, used it while sifting through data, don't think any sane person should do this in prodyction, but still...

[code]

[2016-04-21 12:25] mbroadst commented on #5597
hm, I'm seeing a different list today when I pulled in next from upstream, with some familiar faces:

[code]

[2016-04-21 13:29] mbroadst opened #5699 "OpenSSL build error on OSX 10.10.5"
[code]

I've temporarily worked around this by modifying that code to the following:
[code]

**NOTE:** it's worth noting that OS detection via defines is pretty spotty in this codebase, you might want to standardize on a few `OS_[WINDOWS|OSX|LINUX]` variables in the configure process? Maybe this already exists, but a quick grep through the source didn't turn anything up for OSX.

[2016-04-21 13:47] angry-elf opened #5700 "2.3.0 fails to build - ‘EC_KEY’ was not declared in this scope"
Hello.

I'm trying to build 2.3.0 at my gentoo system.

Here are latest build log messages:

[code]

Full build log is here - http://pastebin.com/JqiiDsps

I've successfully built 2.3.0 at my laptop, but it failed at production server.
Configuration (libc, gcc) is almost the same, so I have no idea to what to do next.

[2016-04-21 13:52] drcongo commented on #5666
@danielmewes You're welcome. You guys are awesome.

[2016-04-21 14:15] angry-elf commented on #5700
Rebuilding openssl without bindist flag fixes the issue...

[2016-04-21 14:15] #5700 closed

[2016-04-21 14:38] Timer commented on #4676
@danielmewes iirc I was simply printing out this line https://github.com/rethinkdb/rethinkdb/blob/next/drivers/javascript/net.coffee#L300

[2016-04-21 14:48] mbroadst commented on #5699
looks like the breakage is a bit more pervasive:

[code]

[2016-04-21 15:06] eden commented on #5548
@soplakanets it seems like the recommendation would be to merge in the random value in your map then sort on its value in the orderBy making the result of the sort predicate deterministic.

It seems like the RethinkDB documentation should be updated to at least call out the degenerate behavior with non-deterministic functions.

[2016-04-21 15:25] jrote1 commented on #239
Is there any update on this?

[2016-04-21 15:39] mbroadst commented on #5699
After speaking with @VeXocide it looks like this is easily resolved by passing `--fetch ssl` to configure.

[2016-04-21 15:39] #5699 closed

[2016-04-21 16:02] #5660 closed

[2016-04-21 16:17] larkost commented on #5615
Merged into `v2.3.x` with 6f1f1c18

[2016-04-21 16:20] larkost commented on #5619
Merged into `v2.3.x` with 5f4fdcb8

[2016-04-21 16:35] fkollmann commented on #5674
Okay, I found the issue. I use the following command to do the backup:

```/usr/bin/rethinkdb dump --password-file /etc/rethinkdb-admin-pwd --temp-dir $TEMPDIR --file "$BACKUPDIR/rethinkdb_dump_$(date +'%Y%m%d_%H%M%S').tar.gz"```

This command *works*, if issued from the **shell**. But it always *fails*, if running inside a **script**.

[2016-04-21 16:36] fkollmann commented on #5674
From shell:

[code]

from script:

[code]

[2016-04-21 17:55] danielmewes commented on #5699
Yeah I think we had an issue to detect the incompatible OpenSSL version during `configure` but I can't find it right now. Sorry for the confusion.

[2016-04-21 17:56] danielmewes commented on #239
@jrote1 No, this is pretty low priority.
Do you need this for your setup?

[2016-04-21 17:57] larkost commented on #5699
We generally don't want to try and branch behavior on what OS we are on, but rather do it on capabilities. This case exposes why: it is not directly that you are on MacOS X, but rather base don what version of OpenSSL you are compiling against. So a better fix for the first bit of this problem would be to use:
[code]

We have had internal conversations a few times about how to better handle OpenSS

[2016-04-21 17:59] danielmewes commented on #5666
@ntquyen That behavior is expected. After a restart, RethinkDB starts using cache as data is accessed up to the configured cache size (`--cache-size`, by default it takes half of the available RAM minus 1 GB. You can also find the current limit in the `server_status` table). Like you say, the available cache is then distributed between tables based on a least-recently-used eviction strategy (i.e.

[2016-04-21 18:01] danielmewes commented on #5700
@angry-elf In the future, you could also use `./configure --fetch openssl` to fetch a particular version of OpenSSL and build it locally. Though using the system-one is usually better because it will include more recent security patches and reduce the size of the RethinkDB binary.

[2016-04-21 18:03] danielmewes commented on #5549
@gngeorgiev When you have a chance, could you try this again on `v2.3.x`? You should be getting better error output this time.

[2016-04-21 18:04] danielmewes commented on #5230
Linking @mbroadst 's pull request here https://github.com/rethinkdb/rethinkdb/pull/5698 which has a fix for this.

[2016-04-21 18:09] danielmewes commented on #2646
@lucasjans This ticket was about aggregation queries slowing down in the presence of concurrent write operations. Unless you also have lots of background writes and the `count` is fast without the writes, but extremely slow with the writes, those are different issues.
The issue to follow is https://github.com/rethinkdb/rethinkdb/issues/3949 , which will include making `count` efficient.

We curren

[2016-04-21 18:11] danielmewes commented on #1271
@lucasjans The solution outlined in https://github.com/rethinkdb/rethinkdb/issues/3949#issuecomment-84143955 is going to solve your use case. However I can't tell for sure yet when we will ship this, as it's only one among a bunch of other features we are working on.

[2016-04-21 18:11] larkost opened #5702 "improve our handling of OpenSSL"
Our code has some built-in assumptions about the version of OpenSSL that we compile against (see #5699), but we our checks in [`configure`](https://github.com/rethinkdb/rethinkdb/blob/next/configure#L866-L872) are very limited, so don't catch these assumptions. At a minimum we should improve these assumptions, maybe adding a minimum version. One other point to make here is that we know the version

[2016-04-21 18:44] danielmewes commented on #5695
@ntquyen First of all please note that there are other things apart from the cache that will use memory when processing a query.
Especially a `group` result will be loaded into memory completely, unless you apply a reduction after it. If some of the grouped data is huge, that can use a lot of memory just for keeping the (intermediate) query result around. For some `group` queries,` `fold` can now

[2016-04-21 18:58] danielmewes commented on #5597
@mbroadst Those are the files I committed. Can you try clearing out `.gitattributes` and then pulling again (and then checking out `.gitattributes` again)?

Alternatively I was able to resolve this in one case by deleting those files locally through `rm` (not `git rm`), and then checking them out again.

[2016-04-21 19:02] larkost commented on #5688
I am not sure that I understand you, so here is what I thin you are saying: you have two `rethinkdb` servers ('a' and 'b'), possibly with different tables on them, and you want make sure that data from one is replicated on the other. Is that correct?

Assuming so, then the solution is to either restart one of the servers using the `--join` option to inform it of the other one, or to start a third

[2016-04-21 19:05] mbroadst commented on #5597
@danielmewes yeah looks like they are indeed fixed, I had just pulled from your upstream repo into my local forks clone without cleaning up properly. I just did a fresh checkout of next and there are no "bad files"

[2016-04-21 19:05] larkost commented on #5694
Testing this is actually quite a pain, so the decision has been made to complete #5147 to make this a lot easier. I am working on that now, and will probably fold this into that.

[2016-04-21 19:08] danielmewes commented on #5674
Thanks for your research @fkollmann . Sounds like we might have an issue with non-interactive sessions even when the `--password-file` option is used instead of `--password`. We'll look into it.

[2016-04-21 19:13] larkost opened #5703 "update the version on MacPorts"
We submit updates to the `brew` recipe for RethinkDB, but it looks like no one has been submitting updates to [MacPorts](https://www.macports.org/ports.php?by=name&substr=rethinkdb) (currently at 1.11.1). We should probably pick that up.

[2016-04-21 20:00] danielmewes commented on #5674
@fkollmann I actually can't reproduce this so far. Are you able to share the full backup-rethinkdb.sh script? You can also email it to me: daniel@rethinkdb.com

[2016-04-21 20:04] fkollmann commented on #5674
The full backups script:

[code]

I tested the script running in a sudo shell (```sudo -i```) on SLES 12 server.

[2016-04-21 20:06] danielmewes commented on #5602
@cefn suggested an interesting way for detecting some common cases of mis-using JavaScript operators in lambda functions in https://github.com/rethinkdb/rethinkdb/issues/5687#issuecomment-212165223 . Basically we would display a warning if a lambda function evaluates to a constant.

[2016-04-21 20:07] danielmewes commented on #5687
@cefn I see, that's a fair point. There might still be valid use cases for a constant filter function, especially when filter criteria are assembled dynamically at runtime in the application (e.g. if a variable number of criteria need to be combined).
I added a note to https://github.com/rethinkdb/rethinkdb/issues/5602 describing your idea, which is probably the context in which we'd want to do th

[2016-04-21 20:09] danielmewes commented on #5694
I'm moving this out of 2.3.1 since it might take a few days longer as far as I understand.
We can easily ship a Python driver update separately after 2.3.1.

[2016-04-21 20:13] danielmewes commented on #5625
@andyburke Switching server versioning over as well is worth considering. Though I think it is less important than for the drivers.
Our current versioning scheme also has the advantage that we can point out particularly major milestones, such as the jump from 1.x.x to 2.x.x.

[2016-04-21 20:36] danielmewes commented on #5674
@fkollmann Thanks for sharing your script. It still appears to be working for me. What is the Python version that comes with SLES 12? (`python --version`)

[2016-04-21 20:42] fkollmann commented on #5674
[code]

[2016-04-21 21:05] jrote1 commented on #239
Yes this is a key part of how I was going to use this, is there a workaround?

[2016-04-21 21:22] danielmewes commented on #239
@jrote1 The work-around is to check out v2.3.0 (or v2.3.x if you want the latest bug fixes), remove the check in https://github.com/rethinkdb/rethinkdb/blob/next/src/rpc/connectivity/cluster.cc#L985 , compiling from source, and hoping that it works.

As the issue says, we aren't testing this. It might still work in practice, or it might not (you might get server crashes when running certain querie

[2016-04-21 21:42] danielmewes commented on #5593
I think @chrisvariety 's explanation is the right one. Doing a single `getAll` with multiple keys is much more efficient than doing multiple `getAll`, one for each key. This is also at the core of our recent optimization to `eqJoin` which we shipped with RethinkDB 2.3.0. Previously `eqJoin` would do individual `getAll`s similar to your first query, while now it's combining multiple join keys into

[2016-04-21 21:42] #5593 closed

[2016-04-21 22:00] danielmewes commented on #5703
I would prefer not adding an extra step to our release process at the moment unless more people start asking for this.

[2016-04-21 22:16] cefn commented on #5687
I'm not sure I follow, since it strikes me that any case of filter(true) and filter(false) even where some complex conditional is being assessed, could be entirely substituted by an if clause and an assignment.

If true, the query specification is the complex clause, if false, the query specification is the empty sequence.

There are in-principle edge cases where javascript dynamic typing might re

[2016-04-21 22:24] danielmewes commented on #5687
@cefn I was thinking of code like this, which I have seen many times: (pseudo code)
[code]

This will perform a constant filter whenever `conditions` is empty. Requiring users to special-case this makes such code harder to write, and easier to break if they forget to test or think about the empty case.

[2016-04-21 22:44] danielmewes commented on #1855
@jeffreywescott Your use case sounds related to the `group` option suggested in https://github.com/rethinkdb/rethinkdb/issues/2720 .

[2016-04-21 23:15] danielmewes commented on #5603
Closed by https://github.com/rethinkdb/rethinkdb/pull/5618 . Will ship together with RethinkDB 2.3.1.

[2016-04-21 23:15] #5603 closed

[2016-04-21 23:36] andyburke commented on #5625
Sadly, version numbers have been imbued with this idea from a marketing perspective: 2.0 is better than 1.0, right?

One way some people/companies are separating information/PR/marketing (none of which are bad) from versioning is to have named releases. It's fun, and it leaves the versions mostly out of it so they can be driven by the APIs and developer needs, eg:

[code]

In the example, backward

[2016-04-22 00:16] hungnt-me commented on #2646
Hi @danielmewes,

Can you prioritize the index tree into cache higher than document data cache? I think query speed on index should be warranted & index tree still needs to store to disk for backup in case database is restarted or entering slow growth mode

[2016-04-22 00:21] tinco commented on #4630
Can we bump this issue? The dependency on EM is really awkward especially as EM does not fit well in the Ruby ecosystem and has fallen out of favor in the community for that reason. Big frameworks like RoR actively avoid EM.

Would you accept a PR for this? Does the team approve of the name `#async_run`? A nice move would be to mark `#em_run` deprecated and keep it functional until 3.0.

[2016-04-22 00:23] danielmewes commented on #2646
@hungnt-me I'm not sure how useful that would be to be honest. LRU cache replacement should get fairly close to optimal cache allocation. A part of an index that's rarely used will be kicked out to free up space for more frequently required data, but frequently used indexes (or parts of indexes) will be kept in cache. That being said there might be optimizations to the pure LRU strategy that impro

[2016-04-22 00:46] danielmewes opened #5705 "`rethinkdb dump` potentially broken"
Opening an issue for book-keeping purposes.
@larkost mentioned that `rethinkdb dump` might be broken and create empty files even when there is data in the table(s).

In a quick test it seemed to work in the currently released 2.3.0 version, so this is hopefully just a regression since 2.3.0 (or maybe it's broken on some platforms?).

[2016-04-22 00:49] larkost commented on #5705
It might also something I have caused in working on #5147, I am trying to work my way through the process now to find out where it has broken down.

[2016-04-22 01:22] mike-thompson-day8 opened #5706 "Typo in docs page"
The page https://www.rethinkdb.com/api/javascript/object/  contains this code:
[code]
But that uses the python name `coerce_to`  when it should instead be using javascript's `coerceTo`

[2016-04-22 01:43] larkost commented on #5705
It was something I caused in development, and this was never checked in so I am closing this.

[2016-04-22 01:43] #5705 closed

[2016-04-22 01:44] jeffreywescott commented on #1855
@danielmewes: right you are! Can't wait for that functionality. I'm going weird things in the meantime:

[code]

[2016-04-22 01:48] mike-thompson-day8 opened #5707 "Manipulating Objects"
**First**, this is a docs request ...

Based on my recent experience coming up to speed on manipulating objects, I'd suggest that the following example should be included somewhere in the API docs.  Had I seen it ... would have saved me a lot of time.

[code]

For me, if this example had been in the docs for `map`, it would have been gold. Because that's where I first went looking, trying to under

[2016-04-22 02:41] #5366 closed

[2016-04-22 02:42] danielmewes commented on #5366
Merged into next with 439213a and v2.3.x with 84007ed.

[2016-04-22 02:45] hungnt-me commented on #5695
Hi @danielmewes ,

The group query as below

[code]

Sample document

[code]

[2016-04-22 09:04] cefn commented on #5687
Your pseudo-code example looks like quality code which actually guards from passing booleans directly into filter.

I don't see any point in this where a javascript value where value===true or value===false is being used as an argument to the filter call, meaning that this code can still run even if guard behaviours are added to filter() which throw an exception when passed a primitive value direc

[2016-04-22 09:21] cefn commented on #5687
OK, I think I've figured out that r.expr() actually is never intended to handle an expression (as I understood from its name), but always performs the role of my suggested r.const(), so forget about that bit.

However, as per the last post I am still struggling to find examples where locally-evaluated primitives should be passed in to filter() without an r.expr() wrap, and I personally would prefe

[2016-04-22 11:11] mike-thompson-day8 commented on #5706
I put this issue in the wrong place.  It should have gone in your doc repo.

Corrected:  https://github.com/rethinkdb/docs/issues/1092

Closing.

[2016-04-22 11:11] #5706 closed

[2016-04-22 13:27] snackycracky commented on #5643
I have this as well in 2.3.0 with slightly different stacktrace.

![screenshot 2016-04-22 15 26 42](https://cloud.githubusercontent.com/assets/144498/14742861/a3aca30a-089e-11e6-96ce-94d4437255db.png)

[2016-04-22 16:09] kevintechie commented on #5659
Can the NPM package be updated with the fix?

[2016-04-22 17:34] danielmewes commented on #5614
@deontologician implemented this for the Java driver in ad1d38fd16ebcd30509f4882f0c6114f1aaf906. I also cherry-picked the change into v2.3.x via ea074d3.

[2016-04-22 17:51] danielmewes commented on #5659
@kevintechie Yep, we should be releasing it later today.

[2016-04-22 18:31] danielmewes commented on #5687
@cefn My point was merely that if we made `filter` queries fail with an error if they are passed a function that returns a constant `true` or `false`, that would break certain useful code patterns. The one I described in pseudo-code is such an example.

The error would get triggered there if `conditions` is empty. The developer would have to write additional code to omit the `filter` in that case,

[2016-04-22 18:46] haraldschilly opened #5708 "changefeed.cc:1799 Guarantee failed: [num_subs == 0]"
Unfortunately, one of our rethinkdb servers in our 6 node cluster crashed. I didn't found a similar error report here, so please excuse a possible duplicate. (github search isn't good)

running on linux, 2.3.0~0wily, ...

[code]

[2016-04-22 18:47] haraldschilly commented on #5708
Oh, and there is also a small one-liner in `dmesg`:

`[Fri Apr 22 18:21:31 2016] traps: rethinkdb[991] trap int3 ip:922bd5 sp:7fd2eef0dc60 error:0`

too cryptic for me, but maybe it's relevant

[2016-04-22 18:51] danielmewes commented on #5695
@hungnt-me If there are a lot of groups, this query could contribute to memory consumption.
This is how you can rewrite it using the `fold` command to use less memory on the server (as it will return a cursor instead and be evaluated lazily):
[code]

Note that the `fold` command is only available since RethinkDB 2.3.0.

@chipotle Do you think this would be a good example to add to the `fold` docs?

[2016-04-22 19:05] danielmewes commented on #5695
One thing to keep in mind is that the `fold` query will cause more network overhead and parallelize less well compared to the `group.count` query, because all data will be sent to a single server which performs the `fold`, while `.group.count` will be spread out over all shards.
So it's basically a trade-off between network efficiency and parallelism on the one, and memory consumption on the other

[2016-04-22 19:26] danielmewes commented on #5708
Ouch. Thanks for the report.

Pinging @mlucy.

[2016-04-22 20:05] danielmewes commented on #4630
@tinco We'll look into it for RethinkDB 2.4 (the next major release).

[2016-04-22 20:19] danielmewes commented on #5708
@mlucy Looking at the code, I don't understand how we can get to that guarantee, since there's an identical guarantee just before we start destructing `real_feed_t` in `constructor_cb`. Unless the `self` `feed_t` is the wrong `feed_t` object...

[2016-04-22 20:30] danielmewes commented on #5708
@mlucy I might have a fix in 852c3af02c5bc705f51f15ccba75316d03977238 but I'm not sure. Let's talk about this later.

[2016-04-22 20:45] danielmewes commented on #5708
(also I'd like to still sneak this into 2.3.1 if possible)

[2016-04-22 20:50] larkost commented on #5694
The work on this is probably complete, but I want to test more before declaring it done (mostly on non MacOS computers). This work is in branch `larkost/5147-python-driver-utils`. I anticipate it will be complete early next week.

[2016-04-22 20:59] larkost opened #5709 "fix gantz setup"
In the last round of testing on gantz there were some issues that look like setup problems that I need to fix:
[code]

This should be easy, this is just the reminder to myself to do it.

[2016-04-22 21:11] larkost opened #5710 "make gevent and twisted tests only run on valid Python versions"
`gevent` and `twisted` do not run on Python 3.0-3.1.x, so we should exclude those tests from those versions of the interpreters. Currently we only have the ability to choose specific versions (multiple), so need to introduce the ability to do something like:
`connections/twisted_connection.py2.7-,3.2+.test`
That is not the prettiest of names, but it wold get the job done, and we already support th

[2016-04-22 21:14] larkost commented on #5709
Also, `tested` needs to be fixed on `newton` for Python 3.3 and 3.4 (`ImportError: cannot import name cookiejar`).

[2016-04-22 21:34] larkost opened #5711 "error in 2.3.1 testing in interface.artificial_table:polyglot/mutation/insert.py2.6"
In the testing for `v2.3.1` I ran into this error in the `polyglot/mutation/insert.py2.6` subtest for `interface.artificial_table` on `the-shadow`. The exact same binary did not produce this error on our other MacOS X tester.
[code]

[2016-04-22 21:39] danielmewes commented on #5711
This might have something to do with the _debug_scratch table, or it might be a race condition that's only exposed when using that table (and apparently only on some machines).

Pining @nighelles , since it's at least indirectly related to the new insert functionality. Though the real issue might be somewhere else...

[2016-04-22 21:39] encryptio commented on #5710
Here's a bikeshed color for you:

How about only adding `-` and using it for "inclusive range", meaning this test would have a `-py2.7,py3.2-` specifier? This removes the `+`, and IMO, reads better.

[2016-04-22 22:19] larkost commented on #5711
This also happened on my local machine, so 2 out of 3 MacOS testers.

[2016-04-22 23:28] danielmewes commented on #5708
My theory about the bug turned out to be wrong, and we currently don't have an explanation for this.

@haraldschilly Did rethinkdb leave a core file behind by any chance?
If not, could you enable core files for the future, in case this happens again on one of your servers? A core file would make it a lot easier to debug this issue if it ever happens again.

[2016-04-22 23:41] danielmewes opened #5712 "Upgrade jemalloc to 4.1"
We're hoping that upgrading to jemalloc 4.1 might resolve https://github.com/rethinkdb/rethinkdb/issues/5348 .

However it also introduces a regression on https://github.com/rethinkdb/rethinkdb/issues/3516.

I posted a message to the jemalloc-discuss mailing list describing the issue: http://www.canonware.com/pipermail/jemalloc-discuss/2016-April/001285.html

[2016-04-23 01:17] danielmewes commented on #5634
So far I couldn't reproduce. It has imported 46M rows at this point and is still writing at a steady rate.
This was with a relatively small 2 GB cache size, because I set things up on a small machine that has only 6 GB of RAM. I might need to try this on a bigger box.

[2016-04-23 01:24] nighelles commented on #5711
Is there a particular way to reproduce this?

[2016-04-23 06:23] danielmewes commented on #5591
I have a suspicion that we're hitting a kernel limit on the number of non-contiguous virtual memory regions due to our use of `mprotect` in the coroutine stacks. This is still very speculative though and I haven't fully verified this yet.

We can probably reduce the number of coroutines we allocate for the workload the table_fuzzer is generating.
However it's important for other workloads as well

[2016-04-23 06:44] fschuetz04 commented on #4836
That fixed the issue for me :+1:

[2016-04-23 10:11] haraldschilly commented on #5708
sorry, we don't have one, but I've enabled it now...

[2016-04-23 10:41] haraldschilly commented on #5708
ok well, apport might have collected something despite core dumps not being enabled via those process limits. I'll send you the file via email.

[2016-04-23 15:55] neumino opened #5713 "returnChanges and conflict=null throw an error on delete"
This query fails one every two runs (it insert the document, then delete it and return an error)

[code]

The error being:
[code]

[2016-04-23 19:53] javierso opened #5714 "Building rethinkdb from git repo on OS X el capitan"
I am trying to build rethinkdb from the git repo on branch next on my somewhat new laptop with runs OS X el capitan. I keep getting the following error when trying to build external dependencies

[1/421] BUILD admin-deps_2.0.3
[code]
It seems pretty clear to me that the issue reside on npm , but i am not sure how to proceed from here? Has anybody run into similar problem on OS X el capitan. BTW, I

[2016-04-24 06:11] bgnorlov opened #5715 "Error: Guarantee failed: [token.has()]"
I have some error on Ubuntu Xenial with rethinkdb 2.3.0 and 2.3.1 (compiled from source) when I tried to perform some aggregation query like ```r.table("users").orderBy("active_boards_count", {"index": r.desc("active_boards_count")}).count()```
[code]

[2016-04-24 06:27] danielmewes commented on #5714
@javisan88 Can you try using `./configure --fetch npm --allow-fetch` and then run `make` again?

[2016-04-24 06:30] danielmewes commented on #5715
@bgnorlov Thank you for the bug report.
We'll look into this as soon as possible.

As a work-around, can you drop and then recreate the index `active_boards_count`?
I have a suspicion that this is an intermittent issue with index creation, so recreating the index might avoid the issue for now.

[2016-04-24 08:03] bgnorlov commented on #5715
I dropped and recreated index ```active_boards_count``` and still getting the same error. But when I dropped whole database_data directory and reconverted all my data the error gone away!

[2016-04-24 10:13] smhg commented on #5697
There aren't any xenial directories on http://download.rethinkdb.com/apt/ yet. Am I too early?
Thanks for your efforts!

[2016-04-24 14:21] Wargog commented on #5697
The releases were delayed until Monday, but the packages are ready for release

[2016-04-24 15:51] javisan88 commented on #5714
daniel thanks for the help that did help. In addition to that I had to refer #5699 for linkage errors related to openssl dynamic libraries. However, does this mean the build relies on a particular version on npm and if so shouldn't fetching npm be part of the default behavior?

[2016-04-24 22:18] mlucy commented on #4630
I like @nviennot's proposal for a generic abstraction over different types of asynchronous behavior.  Two things I'd change, though:

* I wouldn't call the class `Handler`.  For backwards-compatibility reasons we probably want a `Handler` to continue being the thing it is now.  Maybe `AsyncHandler` is a better name?
* I don't think `wait` should be part of the signature since it will never be call

[2016-04-25 14:29] mofax commented on #5697
it's Monday :-(

[2016-04-25 16:24] rocketraman opened #5716 "ReQL does not support creating polygons with multiple holes except via geojson"
I am attempting to create a polygon with more than one hole. There does not appear to be any mechanism to do this via `polygonSub`, since `polygonSub` cannot be called on the result of a `polygonSub`. For example:

[code]

produces the server error:

[code]

However, the server does support this case, and a polygon with multiple holes can be created via the `geojson` command. An example using the

[2016-04-25 16:52] danielmewes commented on #5634
My server went through and imported all 50M rows fine. I'll retry this on a larger machine in the next days to see if that changes anything.

[2016-04-25 17:04] larkost commented on #5711
Unfortunately, no. I have not been able to reproduce it during a solo run. It has only happened during bigger runs, and so far I have only seen it on those two machines. That makes it likely that this is going to be a nasty timing issue.

[2016-04-25 17:30] nighelles commented on #5664
Hey @edwardsmarkf ,

If this is still an issue for you, would you mind letting me know what settings you're using for the virtualbox? I'm still trying to reproduce this.

[2016-04-25 17:48] danielmewes commented on #5697
@mofax Since RethinkDB HQ is located in UTC-7, Monday is a bit later here. :-D

The packages are uploading right now though, and will become available in about an hour.

[2016-04-25 17:50] danielmewes commented on #5713
Thanks for opening the issue here @neumino .

@nighelles, @neumino
Is the issue that deleting a value by returning `null` from the insert conflict resolution function generally throws an error?

[2016-04-25 17:53] danielmewes commented on #5716
Thanks for opening an issue for this @rocketraman .

There was probably some reason for why we added this check to the `polygon_sub` term, but I don't remember what it was. I agree that it should in general be possible to subtract multiple polygons.

[2016-04-25 17:59] nighelles commented on #5713
It looks like that's the issue, I'm trying to track down what's causing the error to confirm.

[2016-04-25 18:25] larkost opened #5717 "compile warning from ql2.pb.h"
On `newton` I am seeing a compile warning (which we treat as an error) in `ql2.pb.h`:
[code]

[2016-04-25 18:45] danielmewes commented on #5717
@larkost Do you have the `configure` output that corresponds to that compilation?
Does it go away if you do a `make clean` and then reconfigure?

[2016-04-25 19:28] danielmewes commented on #5714
@javierso Not really a particular version, but support for newer versions of NPM is currently broken. That issue is tracked in https://github.com/rethinkdb/rethinkdb/issues/5230 and there's actually a pull request now to address the issue https://github.com/rethinkdb/rethinkdb/pull/5698 .

[2016-04-25 19:28] #5714 closed

[2016-04-25 20:15] danielmewes commented on #5697
@mofax @smhg The packages should now be available.

[2016-04-25 20:26] smhg commented on #5697
Thanks, apt-get just upgraded rethinkdb!

Got this warning though:
``
W: http://download.rethinkdb.com/apt/dists/xenial/Release.gpg: Signature by key 1614552E5765227AEC39EFCFA7E00EF33A8F2399 uses weak digest algorithm (SHA1)
``
But I'll open a new issue after investigation.

[2016-04-25 20:29] jrote1 opened #5718 "Is there a reason for slow group count query"
I am executing the following query on a table with about 2.5M rows and the query times out, am I doing something wrong? The query does not look to be doing much

`r.db("DB").table("TABLE").group({index: "Hash"}).count()`

[2016-04-25 20:47] wmark commented on #5634
I will pull some memory (32 GiB--) and disable some threads (24--) tomorrow.

[2016-04-25 21:02] larkost commented on #5717
The command I am using includes a pretty thorough clean:
`git clean -xddf --exclude /external && ./configure --fetch all --static curl --ccache && make DEBUG=1 -j15`

The output of `configure`:
[code]

[2016-04-25 21:19] danielmewes commented on #5634
@wmark You mentioned that you tried both larger and smaller cache sizes. I used a cache of just 2 GB. Had you previously tried anything that small?

[2016-04-25 21:23] danielmewes commented on #5718
@jrote1 There can be different reasons for this query being slow.
In general the query will have to read all documents in the table, which can take a long time if the data is not in cache already. Especially if the table is stored on a rotational disk (rather than SSD) or a slow cloud-storage volume, just loading every document can take a very long time.

What is the hardware you're running this o

[2016-04-25 21:37] jrote1 commented on #5718
@danielmewes Thanks for your quick response, is there a reason why it reads all of the documents from the disk when doing count when it could just use the index of the group? It is running on a rotational disk with 6gb of RAM and a 8 core processor. I will have a look at fold but I ideally need to order the resulting count.

[2016-04-25 21:42] danielmewes commented on #5707
Thanks for the proposal @mike-thompson-day8 . Having a special command for this makes sense I think.

My suggestion for a name is `map_object`.

One question is whether the function should be able to manipulate keys or just values. In the simplest case, the mapping function `function(k, v) -> v'` would return the new value for the key `k`, but couldn't change the key itself. This avoids a bunch of

[2016-04-25 21:45] danielmewes commented on #5718
@jrote1 `fold` would be ordered, but it probably won't help if the bottleneck is reading the data from disk (which it sounds like it is here).

We could indeed implement an optimization that avoids loading the whole document in this particular scenario since we could extract the group output from the index. This is simply not implemented. We would also still need to traverse the whole index, since

[2016-04-25 21:56] neumino commented on #5713
From my tests the problem is returning the changes when I delete a document
using insert.

On Mon, Apr 25, 2016, 13:54 Daniel Mewes <notifications@github.com> wrote:

[2016-04-25 21:57] cefn commented on #5369
I wonder if there might be a relationship here with RFC 6902 in terms of wire protocols e.g. see https://github.com/Starcounter-Jack/JSON-Patch

Amazingly they even have an OT (Operational Transforms) implementation too which could help with eventual consistency, but it's currently got almost no documentation. See http://starcounter.io/video-puppet-make-stateful-apps-easier-than-stateless/

[2016-04-25 21:58] nighelles commented on #5713
A fix for this is in review 5713, implemented in nighelles/5713

[2016-04-25 22:03] danielmewes commented on #5369
@cefn I think the biggest issue we need to solve is designing an on-disk format for a document that allows e.g. appending to an embedded array without having to rewrite everything that comes after the array. Basically we will need some sort of per-document allocator I suspect.

JSON-Patch might play a role for incremental updates over the wire, though I'm not sure about how this would fit in yet.

[2016-04-25 22:06] dalanmiller commented on #5230
Just got this on Raspberry Pi 3 running Rasbian Jessie Lite and was Googling, found this issue, `--fetch npm` so far has worked for me.

[2016-04-25 22:10] jrote1 commented on #5718
@danielmewes I guess the disk would be a bottleneck here as there is about 2GB of data in my table, I think the optimization would be a good idea as there is no need to load all of this data. An implementation for a count just on the group would not require a traverse of the index as the count is on the index itself, I may be wrong.

[2016-04-25 22:24] mbroadst commented on #5230
`--fetch npm` definitely works, but its a bit annoying to have to build it yourself if you already have it locally.  IMHO rethink should support both configurations, and I think the PR allows for that (at very least the PR could be updated to check for certain versions of npm and omit the registry that way)

[2016-04-25 22:55] marshall007 commented on #5707
I think this term should be named something like `map_values`. I think the name `map_object` might confuse people into thinking `.map(...)` doesn't work on objects. I also think the signature should be three-arguments: `function(val, key, row)` with `val` as the first argument since that's the only argument you need in the most common case.

@danielmewes: I'm not sure I'm a fan of returning `[k',

[2016-04-25 23:11] mlucy commented on #5707
@danielmewes -- there's an alternate proposal at https://github.com/rethinkdb/rethinkdb/issues/878 for just overloading things more.

[2016-04-26 00:41] danielmewes commented on #5715
We found a solution to this. @nighelles is wrapping up the bug fix and this is going to ship in RethinkDB 2.3.2.
@bgnorlov Thanks again for reporting it.

[2016-04-26 00:47] nighelles commented on #5715
This is in next.

[2016-04-26 00:47] #5715 closed

[2016-04-26 01:00] nighelles commented on #5713
This is in next.

[2016-04-26 01:00] #5713 closed

[2016-04-26 08:46] jrote1 opened #5719 "Crash causing corrupt database"
I am getting the following message appear in command prompt which seems to be killing the rethinkdb server. `rethinkdb: Memory allocation failed. This usually means that we have run out of RAM. Aborting.`

The issue that is more worrying is that after this crash my data file has been corrupt. I get the following error when starting rethinkdb `error: This doesn't appear to be a RethinkDB data file.

[2016-04-26 13:35] cggaurav commented on #1738
So I saw https://github.com/rethinkdb/rethinkdb/issues/2708, however, on 2.2.5, I still see this exception being thrown for our cluster.
[code]

[2016-04-26 15:04] wmark commented on #5634
No, I've never tried with it with anything less than the 7 GiB RethinkDB sets with 16 GiB memory, which is the lowest I can go (without setting anything myself) because I've only memory sticks of 16 GiB each.

Anyway, I've started test series now on a fresh Ubuntu 16.04, 2×SSDs with Ext4, Linux 4.4.0-21, Docker 1.11.0 (driver: overlay), and will update this comment with the results.

1. 16 GiB mem

[2016-04-26 15:23] abovemike opened #5721 "after upgrading 2.3, .limit and then pluck or merge and then .changes gives error"
i recently upgraded to 2.3 and some of my changefeed queries now give the following error:

worked before:
[code]

i moved the order of operations around and it seems any .pluck or .merge that takes place after .limit is recognized as a .filter and not allowed. so i now have to do this:

[code]

it works fine. i didn't see anything in the docs about this limitation, so maybe it should be included

[2016-04-26 17:54] danielmewes commented on #5719
Thanks for the report @jrote1 and sorry you had to run into this. I'm surprised that an out-of-memory condition would corrupt the data file, so we should investigate this.

Can you send us a copy of the data directory (`rethinkdb_data` or a folder in `/var/lib/rethinkdb` by default)? If yes, I can give you access to our upload server so you can upload the data securely and without size limitations

[2016-04-26 18:03] danielmewes commented on #5634
Thanks for running more tests and helping us tracking this down.

Can you explain a bit more why you think that the success of configuration 1 is an indication of a locking issue?

[2016-04-26 18:07] wmark commented on #5634
It's because this time RethinkDB's threads didn't span two NUMA nodes or more. I will run some more tests to confirm that.

[2016-04-26 18:07] danielmewes commented on #1738
@cggaurav This looks a lot like https://github.com/rethinkdb/rethinkdb/issues/5629, which was fixed in RethinkDB 2.3.1.

[2016-04-26 18:37] danielmewes commented on #5721
Hi @abovemike, this change was due to the previous behavior being wrong in certain cases. See https://github.com/rethinkdb/rethinkdb/issues/5325 .

We noted this for the case of `filter` in the 2.3.0 release notes under API-breaking changes https://github.com/rethinkdb/rethinkdb/releases/tag/v2.3.0 .

However we missed that this would also affect non-filter queries, such as the `pluck` you are usi

[2016-04-26 18:41] nighelles commented on #5721
I think I spoke with @mlucy about exactly what behavior was necessary to forbid, maybe he has a comment on what it is ok to allow.

I'll improve the error message for this.

[2016-04-26 18:45] danielmewes commented on #4563
We should look into this again for RethinkDB 2.4.

On Linux, we now use compilers that are recent enough to support this, assuming their support isn't somehow broken (I still don't have a lot of trust in this feature to be honest, given the scarce documentation on it).

On Mac I think we still can't use this, so we can't rely on it exclusively for handling stack overflows.

I also have no idea if

[2016-04-26 19:06] thelinuxlich opened #5722 "Weird bug using .between() + compound index"
This query should return 1 but it is returning 0:

[code]

I tried it again switching the event name to another existing one("test") and it returned the correct result.

Tried recreating the index:

[code]

Still, same result. When I use getAll([15,"foobar"],{index: "client_id_name"}) it returns the correct result.

The "foobar" document:
[code]

[2016-04-26 19:07] #5722 closed

[2016-04-26 19:08] thelinuxlich commented on #5722
Nevermind, I can see the "foobar" document is saving the created_at field as string

[2016-04-26 20:09] danielmewes commented on #5591
A fix for this is in CR 3614, branch daniel_unprotect_coros.

[2016-04-26 20:10] danielmewes commented on #5712
It turns out that #3516 is primarily due to our use of `mprotect` on coroutine stacks.

A patch that avoids hitting a limit on the number of mapped virtual memory areas is now in code review 3614. Once that is in, early tests indicate that we can bump the jemalloc versions without hitting #3516 again.

[2016-04-26 20:17] mlucy commented on #5721
`pluck` can never reduce the number of elements in the stream, so it should be safe after a `.limit` in a changefeed.  We should probably change it to be legal again.  (It isn't terribly important though because it has the same semantics as putting it before the `limit`.)

[2016-04-26 20:55] marshall007 opened #5723 "Proposal: db and table config templates"
Elasticsearch has the concept of [index templates](https://www.elastic.co/guide/en/elasticsearch/reference/2.3/indices-templates.html) which allow you to automatically apply configuration when new indices are created. I think it would be really nice to have something similar in RethinkDB.

The templates could be stored in a new system table, perhaps `config_templates`. This example would probably

[2016-04-26 21:06] danielmewes commented on #5721
@mlucy Can you think of a more general criteria for distinguishing allowed from disallowed terms? If we make `pluck` work, we should also make a bunch of other terms work. Anything that can be reduced to a `map` is probably ok, but `concatMap` and similar ones are not, right?

I think I'd prefer to disallow all of them for consistency, rather than white-listing a few particular transformations.

M

[2016-04-26 21:32] #5591 closed

[2016-04-26 21:32] danielmewes commented on #5591
Fixed in next by ee7da92 and v2.3.x by 9dc9b10.

[2016-04-26 21:37] mlucy commented on #5721
@danielmewes -- the general rule is that any operation which can change the number of elements in the stream can't be put after the `filter`.

[2016-04-26 21:44] nighelles commented on #4681
I just saw this again during testing on osx.

[2016-04-26 21:50] danielmewes commented on #5723
Thanks for writing up this proposal @marshall007 .

This would be a solution to https://github.com/rethinkdb/rethinkdb/issues/3335 .

I quite like this. I think the general priorities of conflicting rules should be the same as in the `permissions` table (i.e. like you say, the more specific entry wins).

I suggest that rather than having a field `table: "*"` as a wildcard, the `table` field is com

[2016-04-26 21:52] danielmewes commented on #5723
We need to figure out a way for storing the index functions in this table, since we currently can't have functions as fields inside of a document. So that part would depend on https://github.com/rethinkdb/rethinkdb/issues/1863 .

Even if we don't allow specifying default indexes at first, I think this could be useful though.

[2016-04-26 22:44] nighelles commented on #5711
This is really odd, if it's in the artificial table, then it's just writing to memory, @danielmewes is there something in particular about the _debug_scratch table that could cause a timing issue?

[2016-04-26 23:41] lprhodes opened #5724 "Improve geospatial query interoperability"
Hi,

It'd be great if we were able to return a paginated set of posts that were created within a 100 mile radius, ordered by their creation time. At the moment, this isn't achievable and given the number of location based apps, it feels like it would be a great use case for rethinkdb to cater for.

[code]

This query would specifically be used to show paginated content to a user posted by other us

[2016-04-26 23:42] marshall007 commented on #5723
@danielmewes #1863 is obviously the preferable and long-term solution. In the mean time I was thinking we could just store the binary representation. When inserting into `config_templates`, `function` could accept either a valid secondary index expression or the binary representation; just like `.indexCreate()`. When retrieving rows from `config_templates` you would always get the binary back, not

[2016-04-27 00:31] danielmewes commented on #5717
I think this was broken by https://github.com/rethinkdb/rethinkdb/commit/2993603fa743e0c68b2701b737321afedcb05fd3 which added `-Wshadow` to the GCC compiler options. I'm also running into this on our package builders.

[2016-04-27 00:48] marshall007 commented on #5723
I mostly agree for the sake of consistency with the `permissions` table. It will be a little odd to have things like `indexes` and `settings.primary_key` specified without a `table` designator, since those aren't applied at the database level. It's not that out of place though since technically `shards/replicas` are both table settings too.

Would you say the `db` field should also be omitted in t

[2016-04-27 00:52] jasonjckn commented on #3997
+1

[2016-04-27 00:55] danielcompton opened #5725 "New datatype: ES6 Symbols"
Many languages have some kind of a symbol datatype that is distinct from a string. It would be great if this was supported in RethinkDB. Now that symbols are in ES6, would it be possible to extend RethinkDB's data model to support them? The counterargument to my proposal is that RethinkDB is a JSON document database, not a JS document database. Nevertheless, I think a symbol datatype would be very

[2016-04-27 02:07] nighelles commented on #5711
This is fixed in next.

[2016-04-27 02:20] #5711 closed

[2016-04-27 07:22] soplakanets commented on #5548
@eden Thank you very much. That was easy, should have figure that out myself :) +1 for updating docs.

[2016-04-27 07:25] cggaurav commented on #5629
By the way, we solved this using our dockerized rethink containers is by specifying the docker ```--add-host``` parameter that adds mapping to /etc/host in the container so the hostname can be found.

[2016-04-27 08:16] ntquyen opened #5726 "Table data deleted down to 7k documents but disk space still not reduced"
I'm using rethinkdb cluster version 2.2.5. One of my tables was containing millions of documents taking more than 100Gb of disk space. But after I deleted the data down to 7k documents, I don't see the disk space reduce, it is still taking more than 100Gb for that table. From the admin UI, the total disk used shows only 62 GB, much less than the actual table size stored on disk. Is that normal or

[2016-04-27 08:25] jrote1 commented on #5719
@danielmewes

We are using windows so am aware that its not production ready to are not to concerned about the data loss. But thought this issue should definitely be fixed. There is confidential information so we would want to get an NDA signed before uploading the data.

With our use case we are seeing sustained writes of about 350 a second and this failure is quite consistent as it is the third

[2016-04-27 11:11] sandesh-kulkarni opened #5727 "GetAll does not support list input"
r.table('xyz').getAll([1,2]) - in data explorer displays - "No results returned."

Similarly in python - r.table('xyz').get_all([1,2]).run(con).next() - results in error message saying cursor is empty.

The feature is important as one can define the list of values in a variable and pass the variable to getAll like -

x=[1,2]
r.table('xyz').getAll(x)

What works: r.table('xyz').getAll(1,2) - works.

[2016-04-27 17:21] marshall007 commented on #5727
@sandesh-kulkarni the reason this doesn't work is because arrays are also valid primary key values. Thus, `.getAll([1, 2])` will try to find rows where `id: [1, 2]`. To get this to work you just need to wrap your array argument in an `r.args(...)`, which basically acts like a spread operator.

[code]

[2016-04-27 17:29] wmark commented on #5634
I've changed cache sizes, forced the kernel to schedule RethinkDB on two different NUMA nodes, switched to an importer written in Go to make inserts burstier – but cannot reproduce this with 4.4.0-21 anymore.

Thanks for staying on this with me!

[2016-04-27 17:29] #5634 closed

[2016-04-27 17:48] danielmewes commented on #5634
@wmark Thanks for putting so much work into this. I'll see if I can find anything suspicious in the kernel release notes. So Ubuntu 4.4.0-4 was bad, 4.4.0-21 is good it seems right?

In the meantime, I have also tested 2.3.0 and 2.3.1 on a larger server with more RAM (though I limited the cache size to 16 GB), and with two NUMA nodes. Both worked fine, despite the scheduler scheduling RethinkDB ac

[2016-04-27 18:15] danielmewes commented on #5634
Well I skimmed through the changelog http://changelogs.ubuntu.com/changelogs/pool/main/l/linux/linux_4.4.0-21.37/changelog but nothing popped out to me. That doesn't mean much though.

[2016-04-27 18:25] danielmewes commented on #5727
Closing, since this is expected behavior and there is `r.args` for this reason as @marshall007 explained.

[2016-04-27 18:25] #5727 closed

[2016-04-27 18:30] danielmewes commented on #5726
This has come up on our Google groups mailing list a few times, e.g.:
https://groups.google.com/forum/#!topic/rethinkdb/jgJid-IlzEA
https://groups.google.com/forum/#!topic/rethinkdb/_i7ceE17ro0

I'm going to open an issue about adding a FAQ entry to our docs on this, as the question is coming up quite frequently at this point.

[2016-04-27 18:30] #5726 closed

[2016-04-27 19:24] danielmewes commented on #5712
Changing the jemalloc version to 4.1 is in code review 3615.

On many Linux distributions, this will require configuring with the `--fetch jemalloc` option if the jemalloc library provided by the system is older than 4.0.0.

[2016-04-27 19:26] danielmewes commented on #5348
We did some more tests with jemalloc 4.1.0 and it now looks like that fixes the issue, at least for the case that we have been able to reproduce.
We're bumping the jemalloc version for our packages with https://github.com/rethinkdb/rethinkdb/issues/5712 . This change is going to ship with RethinkDB 2.3.2.

[2016-04-27 19:26] #5348 closed

[2016-04-27 19:27] larkost commented on #5694
This has been merged into `next` with df57248c after CR 3608 from branch `larkost/5147-python-driver-utils`.

[2016-04-27 19:27] #5694 closed

[2016-04-27 20:16] larkost commented on #4970
This was fixed in `next` with df57248c and `v2.3.x` with 979600e.

[2016-04-27 20:16] #4970 closed

[2016-04-27 20:18] danielmewes commented on #5719
Thanks @jrote1, that's very helpful information.
This sounds like we're using a 32 bit offset somewhere in the Windows port and it overflows when the file grows over ~4 GB, thereby either truncating the file or overwriting the beginning of it.

I think we can investigate this without the data for now, though we might need it later.

[2016-04-27 20:23] jrote1 commented on #5719
@danielmewes ok if you do need any data then let me know. Just out of curiosity is there normally a limit for database size?

[2016-04-27 20:27] danielmewes commented on #5719
@jrote1 Normally we use 64 bit integers for all file offsets, so the limit would be 8,192 PiB (pebibyte).

The limiting factor will usually be the amount of available RAM, since you typically need about 1% of the total data size in RAM for some internal index structures with RethinkDB.

[2016-04-27 20:28] larkost commented on #189
I have implemented something similar to this in the Python driver in df57248. That allows you to `python -m rethinkdb repl` and it will get you a shell/repl with the driver imported (as `r` and `rethinkdb`) and a connection (`conn`) established to a server if possible (even using `.repl` to make `run` easy).

[2016-04-27 20:32] larkost opened #5728 "Add repl to Ruby driver"
With df57248 I added a shell/repl to the Python driver, making it easy to get a shell with the driver imported (and a default connection made). We already have a [bug](#189) for adding this to our JavaScript driver, so this is the one to do this for Ruby.

[2016-04-27 22:43] nighelles commented on #5719
This should be fixed in next.

[2016-04-27 22:44] nighelles commented on #5721
This is fixed in next.

[2016-04-27 22:44] #5721 closed

[2016-04-27 22:47] danielmewes commented on #5719
@nighelles I think you closed the wrong issue

[2016-04-27 22:53] danielmewes commented on #5719
... @jrote1 We think we have found the bug btw and are testing a fix at the moment.

[2016-04-27 22:54] nighelles commented on #5548
This is fixed in next.

[2016-04-27 22:54] #5548 closed

[2016-04-27 22:55] #5712 closed

[2016-04-27 22:55] danielmewes commented on #5717
I removed `-Wshadow` again through commit https://github.com/rethinkdb/rethinkdb/commit/916aa39c61b4d3bde13ca3b2a63601cf409a9979 .

[2016-04-27 22:55] #5717 closed

[2016-04-27 22:57] danielmewes commented on #5712
Bumped in next 916aa39c61b4d3bde13ca3b2a63601cf409a9979 and v2.3.x feb2025.

[2016-04-27 23:47] danielmewes opened #5729 "rng_t homethread issue on Windows and THREADED_COROUTINES=1"
The thread-local `rng_t` instance has a home thread in debug mode, which is incorrectly initialized on Windows and when compiling with THREADED_COTOUTINES=1.

The reason is probably that on these platforms, we construct the thread-local instances for all threads on startup, and not on first access.

The resulting crash looks like this:
[code]

[2016-04-28 00:32] danielmewes commented on #5719
This is fixed by ab8349b388755ff26c3ffa8bca704dbc604443c8 .
The fix will be included in the upcoming 2.3.2-windows-beta release.

Thanks again for reporting this @jrote1 .

[2016-04-28 00:32] #5719 closed

[2016-04-28 00:44] danielmewes commented on #189
We should maybe just have `rethinkdb shell` call the Python repl, similar to how `rethinkdb import` calls the Python import script etc.

[2016-04-28 00:49] #5678 closed

[2016-04-28 00:55] danielmewes commented on #5629
@cggaurav thanks, that's useful to know.

[2016-04-28 00:58] danielmewes commented on #5725
What would the semantics of a symbol data type be within ReQL? Would it behave just like a string?

Also, though I might be wrong about this, don't symbols in most languages need to be statically defined in the client code?
So if a symbol isn't defined in the client, we couldn't actually convert a symbol stored in a RethinkDB document back into a client symbol, could we?

[2016-04-28 01:07] danielmewes commented on #5724
Thanks for opening a feature request for this @lprhodes .

This will actually be covered by https://github.com/rethinkdb/rethinkdb/issues/2855 . There are still a few open questions about that feature, but it should at least be sufficient to implement efficient pagination with `getIntersecting`.
Another possible option for allowing a combination of `between` and `getIntersecting` would be https://

[2016-04-28 01:49] mlucy commented on #5725
Most dynamic languages let you intern symbols at runtime, but it's usually bad style to do this too much because a lot of languages don't garbage-collect symbols (even Ruby didn't before 2.2).

---

We've pretty much committed to being a JSON store at this point, so if we added Symbols they'd have to be a pseudotype like times.  The benefit would be that JS and Ruby users could store and retrieve

[2016-04-28 02:22] danielcompton commented on #5725
I would say symbols would be treated like strings.

Dynamic languages that have symbols allow runtime definition:
Ruby has [Symbol](http://ruby-doc.org/core-2.2.0/Symbol.html)
Clojure has [keyword](http://clojure.org/reference/data_structures#Keywords)
Lisp has [symbol](https://www.gnu.org/software/emacs/manual/html_node/elisp/Symbols.html)
Erlang has [atom](http://erlang.org/doc/reference_manual/

[2016-04-28 02:22] danielmewes commented on #5601
A fix for this is in code review 3616, branch daniel_5601.

This avoids the stack overflow this this test data and for basic operations (such as storing the object into a table and reading it back). There might be remaining issues with other commands that we haven't found yet.

[2016-04-28 02:27] danielmewes commented on #5601
For future reference: I had to do some extra steps on the client-side in order to test this:
[code]

[2016-04-28 08:22] jrote1 commented on #5719
@danielmewes Thanks for the quick fix I am looking forward to next release as this is a big issue for me

[2016-04-28 09:57] thelinuxlich commented on #5725
I'd like to see a real use case for this

[2016-04-28 12:20] ganySri opened #5730 "Exception in thread "main" java.lang.UnsupportedClassVersionError: com/rethinkdb/RethinkDB : Unsupported major.minor version 52.0"
Getting this exception on trying to connect with JavaAPI
java version "1.7.0_79"
Java(TM) SE Runtime Environment (build 1.7.0_79-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.79-b02, mixed mode)

Will it not work with JAVA 7.

[2016-04-28 12:32] danielcompton commented on #5725
We have documents in a small number of well known states. We do different things with them based on the state. We could use a string to represent the state, and do, but it would be much more idiomatic in Clojure to use a keyword for this kind of data.

[2016-04-28 14:22] scottder opened #5731 "Feature request"
It would be good to know not just cluster-wide usage of HD space but also per-shar and per table usage.

[2016-04-28 14:28] cumminsd commented on #1639
It is unfortunate that so many DB creators don't recognize the need for this. We have been waiting for Mongo DB to implement this feature and they are finally in the process of getting it done. The only alternative to this is to use a large integer and assume a decimal. We are currently doing this with another DB and it is painful. Multiplying and dividing by a factor to store a value as an intege

[2016-04-28 15:36] bchavez commented on #5730
If I recall correctly, the minimum **Java** version is `Java 8 / 1.8`.

[2016-04-28 15:44] deontologician commented on #5730
Hey @ganySri, as @bchavez said, our minimum version is Java 8 right now. If you want to follow the Java 7 support issue, check out #5266

I'm going to close this, but feel free to ask more questions here (or in #5266)

[2016-04-28 15:44] #5730 closed

[2016-04-28 18:17] larkost commented on #4815
Looking over the code it seems we are using `ssl.SSLContext` for 2 things that we can't get from the normal `ssl.wrap_socket` method:
- disallowing `SSLv2` and `SSLv3`
- setting the `check_hostname` attribute to `True`

Both of these are valid security improvements, and certainly we should use them when available, but I wonder if we should make them requirements. Given that question I see three ro

[2016-04-28 18:19] danielmewes commented on #1639
@cumminsd Thanks for your comment. That's a valid argument.

It's hard to tell how many people dismiss RethinkDB because of missing support for arbitrary precision decimals, compared to any of the other missing features. As you point out, we probably don't hear from most people who would be interested in Rethink if it had a particular feature. Users who comment on Github are mostly users who are a

[2016-04-28 18:27] danielmewes commented on #4815
I don't think `check_hostname` is very important for us, since most users will use their own private certificate for verifying the server certificate, rather than using a certificate signed by a public CA.

Especially if the server certificate is self-signed, an attacker who gets access to the matching private key could sign their own certificates for arbitrary host names anyway.

I think we also

[2016-04-28 18:33] danielmewes commented on #5731
The per-table (and per-server) disk usage is currently available through the `r.db('rethinkdb').table('stats')` table. Displaying this information for example on the table and server pages in the web UI sounds like a good idea to me.
We'll probably also display some other statistics that we are not currently showing in the UI.

Per-shard disk usage can't be efficiently measured with the way Rethin

[2016-04-28 18:35] VeXocide commented on #4815
Since we disable `SSLv2`, `SSLv3`, `TLSv1`, and `TLSv1.1` on the server side, as well as enforcing `SSL_OP_CIPHER_SERVER_PREFERENCE`, there's no strict need to disallow this on the client side.

I'd like to keep the `check_hostname` and have it on by default, but allow the user to disable it if needed for the reasons @danielmewes mentioned.

[2016-04-28 18:46] danielmewes commented on #4730
I've removed the `testing` tag for now, since I've recently seen this again on a cluster. So this appears to be a real issue (it should still get a test, but more importantly we need to fix the issue).

[2016-04-28 18:46] larkost commented on #4815
@VeXocide: for clarity, this would not be something that the user would be disabling, except by their (OS's) choice of Python version. And it is not something we probably would be advertising (except maybe in documentation).

And again, for clarity, even if we are disallowing those options on the server, if they are options on the client then there is a chance for someone to man-in-the-middle if w

[2016-04-28 18:49] danielmewes commented on #5105
This is no longer a real option, since we're now using OpenSSL much more heavily.
We can still replace it by another (core API compatible?) library at some point, but that's a separate discussion.

[2016-04-28 18:49] #5105 closed

[2016-04-28 18:54] larkost commented on #4815
I should also mention that for those users who are interested in the more secure behavior on Python versions that don't support it natively they could import `backports.ssl` and use their monkey-patching to enable this on those versions.

[2016-04-28 18:55] sunjay commented on #325
Note that this is still referenced in the docs here: https://rethinkdb.com/docs/table-joins/

Given that this has been superseded by a new issue and given that the new issue is on the backlog that should probably be updated.

[2016-04-28 18:56] VeXocide commented on #4815
@larkost -- sorry for the confusion, I know a user can't currently disable `check_hostname`, I was arguing that it might be a nice feature to have. If so it should be on by default if the system supports it.

I'm fine with option 3 by the way.

[2016-04-28 18:58] danielmewes commented on #4815
@larkost I agree with your assessment. I think option 3 is the most reasonable compromise we can pick here.

There's a fourth option as well, that is a bit more conservative: We add a way for the user to disable `check_hostname`, and I agree with @VeXocide that this would be useful in general. Then if `SSLContext` doesn't exist and `check_hostname` is not explicitly disabled by the user, we fail a

[2016-04-28 19:00] larkost commented on #4815
I am half-way to implementing 3 right now. And I think the 4 is a step beyond that. Why don't I finish this, and then we do that under a separate bug. We would probably want to do this in the other drivers as well. @VeXocide, since you are the advocate, can you write it up?

[2016-04-28 19:03] danielmewes opened #5732 "Alternative to run(conn)"
Moved here from https://github.com/rethinkdb/docs/issues/1104 , suggested by @cefn

Forgetting run(conn) at the end of a query chain before passing back a promise is my most common error so far. Isn't it possible to use a function callback structure a bit like a promise to ensure queries are run correctly?

A function which returns anything which doesn't evaluate to a query can be routed to valida

[2016-04-28 19:18] danielmewes commented on #5732
I'm not sure if I fully understand your proposal to be honest.

Would
[code]
be just a different syntax for
[code]
?

[2016-04-28 19:29] VeXocide opened #5733 "Allow the user to specify `check_hostname` in the Python driver"
In #4815 I argued it'd be nice to allow users to specify whether the hostname should be checked via `check_hostname` when using SSL connections. If the Python version supports it we should default to `True`, and we should error if the user explicitly specified `True` but the Python version doesn't allow it.

[2016-04-28 19:30] VeXocide commented on #4815
I opened #5733, it'd be nice to have but that's all.

[2016-04-28 20:19] cefn commented on #5732
Associated is the fact that it's not hard for the function wrap to be remembered, as you would be expected to begin with it, and your query chain can then be written as long and complex as you like, but you don't have to remember to terminate it - it's automatic in the nature of the closure.

Essentially, yes it's the same as run(conn), however if this syntax were canonical for new learners...

*

[2016-04-28 20:36] bchociej commented on #5732
This sounds like a perfect candidate for a small, external wrapper library

[2016-04-28 21:01] cefn commented on #5732
I already use the database this way, (external wrapper), but the question is how people should be *encouraged* to use the library to have the least confusing, most error-free experience. If the standard way to use the API is always prone to a certain class of error, and it can be designed out, then it should be designed out.

[2016-04-28 21:31] #5601 closed

[2016-04-28 21:31] danielmewes commented on #5601
Fixed in next 9f7b631 and v2.3.x 491724a . Will ship with RethinkDB 2.3.2.

[2016-04-28 21:32] bchociej commented on #5732
In defense of the existing way: I really enjoy that the "query building" portion of the API can be used without a database connection; this is fantastic for unit testing

[2016-04-28 21:55] danielmewes commented on #5707
I'm not a huge fan of #878 because the expected behavior described there clashes with the one described in https://github.com/rethinkdb/rethinkdb/issues/2768 . So if we ended up overloading `map` for objects it would likely work correctly for ~half of the users, and would work in a really confusing way for the other half who expect `map` on a single selection to work like `do`.

[2016-04-28 21:57] danielmewes commented on #878
Just commented about this in https://github.com/rethinkdb/rethinkdb/issues/5707#issuecomment-215574698:

For the case of `map`, I think I like https://github.com/rethinkdb/rethinkdb/issues/5707 better.

[2016-04-28 22:44] mlucy commented on #5707
I think #2768 is probably a bad idea.  You don't want to make `map` act like `do`, because then you have two terms which are 99% the same, except that one treats arrays as a single datum and the other treats arrays as a sequence.  (Worse, this is a subtle distinction that isn't at all obvious from the names.)

It's also extremely unusual: no other language that I know of makes `map` turn into a fu

[2016-04-28 22:58] danielmewes commented on #5551
Fix in CR 3617

[2016-04-29 00:02] nighelles commented on #5729
This should be fixed in next.

[2016-04-29 00:02] #5729 closed

[2016-04-29 00:15] danielmewes commented on #5551
Fixed in v2.3.x bf24997 and next 5a9e2e4

[2016-04-29 00:15] #5551 closed

[2016-04-29 00:24] danielmewes commented on #5707
I agree that #2768 is probably a bad idea, but it shows that some users expect `map` to work on a single selection the same way it does on a stream.

I even think that this expectation is justified. If I see two queries `r.table("t").get("a").map(...)` and `r.table("t").getAll("a").map(...)`, I wouldn't expect the `map` in there to do different things.

I think overloads are great if their meaning

[2016-04-29 01:17] marshall007 commented on #5707
@danielmewes @mlucy I think #878 would make a lot of sense if we started down the path of complete `SEQUENCE <-> SINGLE_SELECTION` polymorphism. In doing so I think the `map` case would be more obvious since you would expect all terms that operate on sequences to behave a certain way for objects. Some notable examples:

[code]

I think `object.map(...)` should return an array and we should still i

[2016-04-29 01:34] larkost opened #5734 "issues connecting with TLS from Python on MacOS"
I am getting an error when trying to connect to a server while using TLS:
```SSL handshake failed: EOF occurred in violation of protocol (_ssl.c:590)```

On the server side I am getting:
```warn: Driver connection TLS handshake failed: 336027900 - error:140760FC:SSL routines:SSL23_GET_CLIENT_HELLO:unknown protocol```

This is coming up while working on #4815, so there could be something I am doing

[2016-04-29 01:35] larkost commented on #4815
I am having some troubles testing this but initial work is in `larkost/4815-python-ssl-fix`.

[2016-04-29 01:51] larkost commented on #5734
@danielmewes and I discovered that this is probably because we only allow `TLS1.2`, and the version of OpenSSL that is on MacOS (0.9.8zh) does not have support for that protocol (introduced in 1.0.1). This means that all of the languages on MacOS (e.g. Python and Ruby), and anything compiled against the built-in OpenSSL, will not work when connecting with TLS.

[2016-04-29 02:11] nighelles commented on #5614
This should be fixed for the python driver as well.

[2016-04-29 02:28] mlucy commented on #5707
That's an interesting idea; that's what Ruby and JQuery appear to be doing.

[2016-04-29 02:29] mlucy commented on #5707
That's fair.  On the other hand, I think it's inevitable in any language with overloading that people will sometimes misunderstand what the overloading does.  I might be biased because I use a language where `map` is defined on objects, but it honestly seems like the clearest possible interpretation of `object.map(func)` is mapping over the object, not calling `func(object)`.

[2016-04-29 02:31] nighelles commented on #5614
That should be all the drivers.

[2016-04-29 02:31] #5614 closed

[2016-04-29 04:03] bearxu83 opened #5735 "eqjoin.group.count is slow in Windows when running rethinkdb as PROXY"
Rethinkdb 2.3
Windows 10

Running these aggregation functions when the rethinkdb was running in Windows as proxy is much slower than connecting with the cluster which runs in Linux directly.

[2016-04-29 13:14] XayOn commented on #5100
Subscribing to this.

That's really needed right now. I wonder how that'll behave with python3.4's decorated-style coroutines

I'd avoid this kind of things, they're obscure and make bugs hard to debug.

[2016-04-29 15:04] neumino commented on #5732
@danielmewes -- the idea is that if you return a query inside a promise chain, it's automatically ran as most of the time you don't have any reasons for not running your query and returning it* It also let you run a query by doing `yield query` instead of `yield query.run()`

It's technically done by just adding `then = function() { return this.run(conn }`. Same for `error` and `catch`. The only t

[2016-04-29 16:51] marshall007 commented on #5732
Here's an alternate syntax and usage for this proposal:

[code]

[2016-04-29 17:10] bchociej commented on #5732
Keeping in mind that I still prefer the existing syntax, I think @cefn would prefer the `.using(...)` interface to call run automatically, such that this modification works:

[code]

[2016-04-29 17:14] saikat commented on #4150
RethinkDB 2.3 looks amazing (assume that's 'something' in April that you all were really excited about)!  Any thoughts on if this will be added on to the roadmap now that 2.3 is out?  Sorry to pester!

[2016-04-29 18:05] larkost commented on #5734
I think that the solution is that we are going to add a parameter to the server to allow for `TLS1.0` connections, which would enable connections from MacOS (and other systems with older OpenSSL libraries).

That will take care of making this possible, however I think we should also improve the error message that gets returned to the client to make this more understandable to users who run into it

[2016-04-29 19:00] danielmewes commented on #5734
A new `--tls-min-protocol` option together with improved server log messages is in code review 3618, branch daniel_5734.

To make connecting from OpenSSL 0.9.8 work, the following recommended options should be passed to the server:
[code]

[2016-04-29 19:09] danielmewes commented on #4150
@saikat We haven't fully fixed the set of features for 2.4 yet, but I think the primary candidates for that release are https://github.com/rethinkdb/rethinkdb/issues/3997 and https://github.com/rethinkdb/rethinkdb/issues/746 .

I think realistically we will get to this one (optimizer) for either 2.5 or 2.6.

[2016-04-29 19:14] #5734 closed

[2016-04-29 19:15] danielmewes commented on #5734
The new option is in v2.3.x adcedca and next 0932771.

[2016-04-29 19:18] cefn commented on #5732
Indeed, I think the closest the canonical syntax can get to

[code]

...the better it will be.

[2016-04-29 19:20] danielmewes commented on #5735
@bearxu83 Thanks for the report. To make it easier for us to reproduce and test this, would you mind providing a few additional details?
* What is the hardware on the Windows and Linux servers?
* What is the network connection between the Windows proxy and the Linux server?
* How does your data look? Can you share a typical example document from each involved table?
* What is the exact query you'r

[2016-04-29 19:21] danielmewes commented on #5735
Also maybe a stupid question, but have you run the same query a few times against each of the two machines to rule out caching effects?

[2016-04-29 19:28] danielmewes commented on #3063
I haven't heard reports like this lately. I'm going to close this because there's not much to go on since we can't reproduce the issue.

[2016-04-29 19:28] #3063 closed

[2016-04-29 19:28] cefn commented on #5732
@bchociej

Absolutely this capability should be there, but not surfaced by default (e.g. reference examples could demonstrate the simpler, less-error-prone form).

If there isn't an expectation to change the canonical tutorial form, then there isn't a huge benefit to iterating the API, as by the time you've figured out how much of a pain it is, you've either given up or built your own wrapper func

[2016-04-29 19:29] bearxu83 commented on #5735
Hi, Daniel
The Windows Machine is Core i5 4200U, 8G. The Linux Cluster is in a University Network. I will send you an email about the location of the db and the query. I think maybe it is a bug instead of some caching effect because the difference is very large.

[2016-04-29 19:32] cefn commented on #5732
As regards...

[code]

...I think it would be a mistake to require a database parameter every time, as it's another thing to forget and manage, not unlike the original problem.

Am I the only one for whom the database identifier is something I basically specify once for my whole application? Seems ideological to require it to be specified for every single query.

I can't currently see how the ```u

[2016-04-29 19:35] danielmewes commented on #3330
We're no longer using cJSON, except for very old secondary indexes. Closing as outdated.

[2016-04-29 19:35] #3330 closed

[2016-04-29 19:41] danielmewes commented on #2808
I think our error reporting on queries that are too large has gotten a lot better and is probably sufficient by now. Closing.

[2016-04-29 19:41] #2808 closed

[2016-04-29 20:06] #3726 closed

[2016-04-29 20:07] danielmewes commented on #3726
No longer applies. Traversal and draining now happen many times throughout the construction, sometimes even at the same time on different shards.

[2016-04-29 20:08] danielmewes commented on #1409
@larkost Do you know if this is still true?

[2016-04-29 20:16] danielmewes commented on #4117
Superseded https://github.com/rethinkdb/rethinkdb/issues/5212

[2016-04-29 20:16] #4117 closed

[2016-04-29 20:24] danielmewes commented on #3090
Closing this. We might still want to look into reducing memory usage, but I think there's nothing specific left to do for this issue.

[2016-04-29 20:24] #3090 closed

[2016-04-29 20:37] danielmewes commented on #3306
This is fixed in the JavaScript driver. I don't know about Python, Ruby and Java.
@larkost do we have tests for this for any of the other drivers?

[2016-04-29 20:56] danielmewes commented on #5735
Yeah it's probably not the caching. Just wanted to make sure you ran the query more than once against each server. Thanks for the details on the setup and query.
How fast is the network connection between your local (?) Windows machine and the Linux servers in the university network?

Can you check how much CPU the RethinkDB proxy on Windows is using while the query is running (e.g. using the task

[2016-04-29 21:27] bearxu83 commented on #5735
Good idea. I will do it after my final exam on next Monday. :)

[2016-04-29 21:39] larkost commented on #3306
Good news: we do have tests proving the behavior. (`test/rql_test/connections/cursor.rb` and `test/rql_test/connections/cursor.py`, specifically the `test_cursor_after_cursor_close` and `test_cursor_close_in_each` tests in each).
Bad news: the behavior they prove is the wrong behavior (continue to serve data out of cache).

[2016-04-29 21:44] danielmewes commented on #1955
This was fixed to the most part when we changed to incremental sindex construction in I think RethinkDB 2.0. (or was it 2.1?)

[2016-04-29 21:44] #1955 closed

[2016-04-29 21:48] danielmewes commented on #4253
This was resolved by https://github.com/rethinkdb/rethinkdb/issues/4936 in RethinkDB 2.3.0.

[2016-04-29 21:48] #4253 closed

[2016-04-29 22:02] nighelles commented on #5113
This should be fixed in next, implemented in nighelles/5113.

[2016-04-29 22:02] #5113 closed

[2016-04-29 22:09] danielmewes commented on #5113
@nighelles can you cherry-pick to v2.3.x as well please?

[2016-04-29 22:17] danielmewes commented on #3714
This shipped in 2.3.0 (see https://github.com/rethinkdb/rethinkdb/issues/5334).

[2016-04-29 22:17] #3714 closed

[2016-04-29 22:22] danielmewes commented on #4919
I think it's fair to consider this fixed.

[2016-04-29 22:22] #4919 closed

[2016-04-29 22:25] nighelles commented on #5113
Cherry-picked into v2.3.x in 59c99da

[2016-04-29 22:29] danielmewes commented on #2418
Superseded by https://github.com/rethinkdb/rethinkdb/issues/3990