[2016-02-02 15:31] thelinuxlich commented on #5342
if this prefix is used just to retrieve the document you can wrap your id in a UUIDv5:

r.uuid("B": + id)

And then you're back at good distribution

[2016-02-02 16:17] Pupix opened #5344 "[web-ui] "Add" and "Delete" buttons are inverted on tables and databases."
Hello! Today I've encountered a UX problem which almost made me lose an entire DB. The `add/delete` buttons are inverted between table and database, as shown below:

![rethink](https://cloud.githubusercontent.com/assets/4929965/12755319/386be8d4-c9cf-11e5-8d50-b70dd4aa768d.png)

This is a very counter intuitive layout.

If there are more DBs the `Delete selected tables` button will go out of view

[2016-02-02 16:32] AtnNn commented on #2363
@mbains thanks for reporting. Are you also using opensuse 13.1?

[2016-02-02 17:10] deontologician commented on #5343
Are you trying to get all documents in the index?

[2016-02-02 17:13] deontologician commented on #5344
Sorry you ran into this! Now that it's pointed out, I agree this is really dumb. Some of these buttons were added later, so that might be why it happened like this.

Should be a pretty quick fix

[2016-02-02 17:15] thelinuxlich commented on #5343
Just those that would fit a regex on the compound index raw string

[2016-02-02 18:20] danielmewes commented on #4746
@mbroadst 2.2.4 was primarily a bug fix release, so we didn't include this optimization there. This is simply for being conservative and minimizing the risk of any regressions in such releases.

The improved table creation performance will ship in RethinkDB 2.3.0.

[2016-02-02 18:38] danielmewes commented on #5340
Hi @LMnet, we don't usually recommend enabling `--direct-io`. The reason for this is that some file systems have had bugs in the O_DIRECT mode that this is based on in the past.

If direct I/O is not supported at all, RethinkDB will print a warning when you start it with `--direct-io`, and run with normal buffered I/O instead (or maybe it will exit, I don't remember). However it can't detect wheth

[2016-02-02 18:38] #5340 closed

[2016-02-02 18:56] marshall007 commented on #3753
@thelinuxlich what do you mean? Can you give an example where that's useful?

[2016-02-02 19:06] thelinuxlich commented on #3753
@marshall007 when you let the user save N fields inside a embedded object but you want to limit the max quantity of fields. An example from my code(limiiting to 30 fields):

[code]

[2016-02-02 19:42] danielmewes commented on #5343
@thelinuxlich Could you show an example?
I'm not sure if I understand what you mean by the raw string of the compound index.

[2016-02-02 19:44] danielmewes commented on #5344
Yeah. The `Delete ...` buttons are relatively safe because there is going to be a second confirmation step if you accidentally click them. But I agree that this isn't intuitive.

Also mentioning director of UX @mglukhovsky .

[2016-02-02 19:53] danielmewes commented on #5341
True, that sounds reasonable to me.

[2016-02-02 20:04] thelinuxlich commented on #5343
A compound index like [99,"Alisson",31], and you wanna write a regex to get the row based on a fragment of the index:
[code]

[2016-02-02 20:06] danielmewes opened #5345 "Async backend for Java driver"
To make the Java driver really useful for realtime applications, we need to add a way for handling changefeeds asynchronously.

A good first step is going to be making the Java connections thread-save, which @pires has started working on in https://github.com/rethinkdb/rethinkdb/pull/5292 .

However we should also integrate with some of the available frameworks for this type of thing that exist ap

[2016-02-02 20:08] danielmewes commented on #5345
(mentioning @deontologician, @hepin1989, @kofalt, @danielcompton who have commented on the netty issue before)

[2016-02-02 20:15] danielmewes commented on #5343
I see. It seems to me that the limiting part here is really that we don't allow access to the secondary index values of a table. This isn't a problem for performance, since they can be easily recomputed. But might be an issue for convenience in some cases.

The other missing piece is that we don't have a canonical conversion from an array to a string. However you could use `.toJsonString()`, or wr

[2016-02-02 20:19] danielmewes commented on #5342
Another alternative could be using a suffix instead of a prefix:
`86d6444e-c3e6-4131-9a35-dac2a1780af8:User`

That way you avoid an impact on the shard distribution.

As long as the ratios in how frequent the different prefixes are remains approximately the same over time, I think the issue isn't that big in the first place though. You should run `rebalance` once after inserting a representative s

[2016-02-02 20:47] danielmewes commented on #5342
Closing since this is not a bug or feature request. @LMnet let us know if you have more questions.

[2016-02-02 20:47] #5342 closed

[2016-02-02 20:56] bchavez commented on #5345
if `RxJava` is conceptually the same as `Rx.NET` then with the architectural changes @pires is making to line up with the .NET driver, `RxJava` should work pretty much out of the box with little to no changes.

##### `async` `Changefeeds` with .NET driver:
https://github.com/bchavez/RethinkDb.Driver/wiki/Extra-C%23-Driver-Features#reactive-extensions-rx-support

[2016-02-02 20:56] larkost opened #5346 "WebUI feedback for multiple table deletion could be cleaner"
Thought the WebUI I deleted a number of tables. The feedback box on that looks a bit messy because I have a number of tables. We should probably either convert this to more of a bullet list (for >n items maybe?), or at a minimum include an `and` before the last item.

![screen shot 2016-02-02 at 12 53 58 pm](https://cloud.githubusercontent.com/assets/7431361/12764034/6aac8ca4-c9ac-11e5-88bb-dca793

[2016-02-02 21:20] mglukhovsky commented on #5344
I believe these were changed in the web UI rewrite (correct, @deontologician?) -- we originally hid these under an "operations" button to avoid this kind of confusion.

Two different ways we could improve this:
  - make the header sticky, so as you scroll past, you still see the header with the global buttons
  - move "delete selected tables" to each database, and have it appear only once you star

[2016-02-02 22:09] larkost opened #5347 "WebUI occasionally losing connection"
While testing some things out I have had a WebUI open to a two-server cluster that I was using for testing. Despite the cluster being completely idle I have see the web page periodically (10 minutes or so?) complain that it has lost connection to the server. I am running Safari on MacOS 10.11.3, connecting to servers built from 344a492 in `dev` mode. I have just been typing, so there has been litt

[2016-02-02 22:10] deontologician commented on #5344
I thought there was a PR that added one of these buttons, but I can't find it so maybe I was thinking of something else. The biggest issue is that delete database is next to add table and add database is next to delete tables. So we could also switch it so that the table operations are in the database block, and the database operations are at the top. This would probably require a checkbox for the

[2016-02-02 22:54] danielmewes commented on #5182
I forgot some of the details since I've worked on this, but the bug fix (without additional verification code) is now up in review 3458.

[2016-02-02 23:08] #5182 closed

[2016-02-02 23:09] danielmewes commented on #5182
Fixed in 8c9b554 on v2.2.x and b6e2a20 on next.

[2016-02-02 23:39] mbains commented on #2363
@AtnNn I'm using 13.2

I'm new to this distro but it's becoming a pattern. Whenever I build from source, autotools on this distribution likes to link everything in lib64.

http://www.pathname.com/fhs/pub/fhs-2.3.html#LIBESSENTIALSHAREDLIBRARIESANDKERN

[2016-02-03 00:17] AtnNn commented on #2363
I wonder if there is a way to detect what the lib directory is, or if passing `--libdir=$prefix/lib` would fix the problem.

[2016-02-03 00:41] jlhawn commented on #3151
I am very interested in getting TLS working (or at least forking it and hacking together a build for my use case) and I would like some guidance from the maintainers on how to begin. I've started to familiarize myself with the code in `src/arch/io/network.hpp` and `src/arch/io/network.cc` and since openSSL is already a dependency (though I've seen other issues which talk about removing it) this lo

[2016-02-03 00:58] danielmewes commented on #3151
Hi @jlhawn, nobody has started working on this as far as I know. Help on this would be awesome!
Your proposal sounds great to me. We can look into a bootstrapping mechanism later.

Could you drop by on our Slack http://slack.rethinkdb.com and ping me there (my user is danielmewes)? I can connect you to our engineers to give you some pointers through the code and to help you with the implementation

[2016-02-03 01:20] nlevitt opened #5348 "segfault in thread pool (again)"
Looks like https://github.com/rethinkdb/rethinkdb/issues/4675

This happened on a machine in a new 3 node rethinkdb cluster, created today. I was loading data with rethinkdb-import, into a table with 3 shards x 2 replicas each. (This is the only table in the cluster other than system tables)

The rethinkdb process continued running and I had to `kill -9` it.

[code]

[2016-02-03 01:41] danielmewes commented on #5348
Thanks for reporting this.

A side question not directly related to the bug: Do you have the tool `addr2line` installed on your server? It's weird that it gets stuck after crashing and doesn't print a Backtrace. This used to be an issue if `addr2line` wasn't installed, though I thought we had fixed that in 2.2.4. Maybe the fix isn't working properly though, so I think installing `addr2line` might

[2016-02-03 01:56] nlevitt commented on #5348
`addr2line` is installed.

The import is running again, so far no more crashing. (Performance is disappointing at the moment, though)

No core file, sorry (because of ulimit setting I think)

[2016-02-03 02:26] kevincox commented on #3151
That proposal looks awesome, I hope you get the help you need!

[2016-02-03 04:40] LMnet commented on #5342
@thelinuxlich It will not work for my case. UUID v5 namespaces are hashed. But I need to get namespaces in original form from id.
@danielmewes suffix idea sounds good, I will try it, thanks.

[2016-02-03 04:46] bchavez opened #5349 "Protocol Discrepancies Between Linux and Windows"
Hi @AtnNn , first off: ***beautifu*l** work on the windows **alpha2** build. I'm finally able to stop shipping the C# unit tests over to **CircleCI** to have them run.

So, I gave `alpha2` a try and I noticed some protocol discrepancies between **Linux** servers and **Windows** servers running **RethinkDB**.

The C# driver [has the full battery of auto generated YAML tests](https://github.com/bcha

[2016-02-03 06:28] deontologician commented on #5345
Given that we're using RxJS for another project, and the interfaces are similar, I think it'll be easy to dive into RxJava first

[2016-02-03 08:17] AtnNn commented on #5349
Thanks for the detailed report, that helps a lot. I'll investigate and let you know what I find.

[2016-02-03 10:30] muka commented on #5338
Hi,
I've started packaging rethinkdb with the snappy provided tool snapcraft here

Currently I'm building on amd64 (arm would be the next step) but facing an issue like in #4437
``

[2016-02-03 10:37] joeblew99 commented on #5338
Am not expert here, but building on top of qemu will allow you to emulate the armv7 or arm8 (64bit ). It's slowish, but stable

[2016-02-03 10:41] muka commented on #5338
Thank you, me neither.. but it's in fact what I'm doing. Here I have put my findings https://github.com/muka/qemu-snappy-experiments

[2016-02-03 11:16] joeblew99 commented on #5338
Sweet. I will have a look

[2016-02-03 11:38] nickmishustin commented on #4433
Changefeed with gevent-socketio problem continue in python driver from `next`.
I have the same problem as that of @gvidon - `self.emit() ` doesn't work when `r.table(...).changes().run() `called.

[2016-02-03 12:02] renstrom commented on #4433
@nickmishustin @gvidon perhaps create a separate issue for that now that gevent support has been merged into `next`? Just to prevent this from becoming a kitchen sink for gevent related bugs/issues.

[2016-02-03 14:00] nickmishustin opened #5350 "Problems with gevent support in the python driver from next"
I have installed python driver from `next` according to [instructions](https://github.com/rethinkdb/rethinkdb/issues/4433#issuecomment-172833164) . I tried Changefeed with gevent-socketio and it didn't work - `self.emit()` doesn't work when `r.table(...).changes().run()` called.
How I can make it work?

[2016-02-03 18:14] deontologician opened #5351 "Trigram indexes"
The benefit of having an explicit trigram index vs. convenience functions to create generic multi-indexes is that you can build things like regex search on top if you know the underlying index has trigram invariants:

https://swtch.com/~rsc/regexp/regexp4.html

The linked article is about RE2 style regexes (i.e. no backtracking etc), and it would allow us to do things like `table('files').match('b

[2016-02-03 19:20] AtnNn opened #5352 "Fetching curl fails with 'no certificate subject alternative name matches'"
curl doesn't complain, but wget does:

[code]

openssl seems to agree:

[code]

[2016-02-03 19:21] danielmewes commented on #5351
Oh that's cool.
A trigram index itself could be created using our existing indexes with a custom index function right?
So the interesting part it seems it implementing `match` on such an index.

[2016-02-03 19:27] marshall007 commented on #5351
This is essentially a special case of #4226. Supporting a (limited) indexed `.match()` on top of that would be wonderful.

[2016-02-03 19:40] marshall007 commented on #5351
Also, would be nice to have some syntactic sugar allowing you to perform an indexed `.match()` across multiple indices in a single query. For example:

[code]

The main reason I think this is preferable over the `union` workaround is because it might allow for the possibility of an efficient [`minimum_should_match`](https://www.elastic.co/guide/en/elasticsearch/reference/2.2/query-dsl-multi-match-

[2016-02-03 19:46] nighelles opened #5353 "Rethread crash during huge network transfer"
error: Error in ./src/concurrency/coro_pool.hpp at line 57:
error: Assertion failed: [active_worker_count == 0]
error: Backtrace:
error: Wed Feb  3 11:42:14 2016

       1 [0x22c27cb]: rethinkdb_backtrace(void**, int) at rethinkdb_backtrace.cc:108
       2 [0x22be45b]: backtrace_t::backtrace_t() at backtrace.cc:210
       3 [0x22bef45]: lazy_backtrace_formatter_t::lazy_backtrace_formatter_t() at b

[2016-02-03 19:55] danielmewes commented on #5352
That sounds like `curl.haxx.se` is configured incorrectly, doesn't it?

[2016-02-03 19:55] nighelles commented on #4465
This is in next.

[2016-02-03 19:55] #4465 closed

[2016-02-03 19:59] danielmewes commented on #5352
Weirdly, if I look at the certificate for https://curl.haxx.se/ in Chrome or Firefox, the subject seems to be fine: "CN = curl.haxx.se"

[2016-02-03 20:05] AtnNn commented on #5352
@vexocide pointed out to me that it seems to work with gnutls but not openssl.

[code]

[2016-02-03 20:08] danielmewes commented on #5352
@bagder any ideas? It looks like `curl.haxx.se` is serving different certificates based on the client.

[2016-02-03 20:09] AtnNn commented on #5352
Full log: https://gist.github.com/AtnNn/c06af4e9becb49a19bb8

[2016-02-03 21:26] deontologician commented on #5351
@danielmewes yeah, I'm thinking this could be done using the same index machinery, only maybe with a flag that indicates it was constructed as a trigram and can be used for certain queries.

Also thanks for finding #4226 @marshall007 I had forgotten about that one. Technically I guess ngrams would be more general than a trigram index, but that issue seems narrowly focused on prefixes only

[2016-02-03 21:53] bagder commented on #5352
Lack of SNI in your tests perhaps?

[2016-02-03 21:53] bagder commented on #5352
curl works fine against curl.haxx.se using either GnuTLS or OpenSSL...

[2016-02-03 22:01] danielmewes commented on #5352
Thanks for chiming in @bagder. Hmm that suggests that the difference is caused by something other than the SSL library.
It reliably fails with `wget` for me, as well as with the `openssl` command line client (but works with curl as well as Firefox and Chrome, and even my phone's browser).

[2016-02-03 22:01] AtnNn commented on #5352
It looks like there was an SNI related bug that was fixed in wget 1.14. I was using wget 1.13.

https://bugs.launchpad.net/ubuntu/+source/wget/+bug/338242
http://savannah.gnu.org/bugs/?func=detailitem&item_id=26786

[2016-02-03 22:41] lostinplace commented on #4437
is there progress on this?

[2016-02-03 22:50] pires commented on #5291
Also, one should probably add
[code]

Windows users have complained about encoding.

[2016-02-04 00:35] StephenWeber commented on #3076
There's a PR in the MeetMe plugin's repo for RethinkDB support: https://github.com/MeetMe/newrelic-plugin-agent/pull/392

It's a year old and hasn't been merged, I'm not sure it's compatible with current releases of RethinkDB but perhaps someone could pull down that fork and try it out?

[2016-02-04 01:32] nighelles commented on #5280
A fix for this is in review 3461,
implemented in nighelles/5280.

[2016-02-04 01:45] AtnNn commented on #1100
Here's another alpha build that fixes the issue mentioned above and should work on Windows 7.

http://circus.atnnn.com/ipfs/QmbF14Tn4HLkRtRFgz64JiunEHE6DaGPaLf15Mrz8ugHzL/rethinkdb-windows-alpha3.zip

[2016-02-04 02:07] danielmewes commented on #5347
That's weird. I wonder if it's a server or driver / web-ui issue.

[2016-02-04 08:12] kwando commented on #5347
I've noticed this as well. Happens when the database is under heavy load, like running an import script.

[2016-02-04 08:41] letharion commented on #5120
@coffeemug I ended up here by also naively trying to import the client into a client facing application. I'd also be interested in seeing what project you are working on and how it can help. :)

[2016-02-04 18:26] thelinuxlich opened #5357 "Option for arrayLimit returning data even if it's over the limit"
It would be nice if we had a .run() optarg to let the query return as much documents as possible instead of throwing an error because of arrayLimit

[2016-02-04 18:38] danielmewes commented on #5357
I suspect that you can emulate this in most (if not all) cases by inserting `.limit(100000)` terms into your query at the right places (before the command that converts the data into an array). Though I can see that becoming a bit annoying if you're building ad-hoc queries from user requests.

One issue with truncating automatically is that things might no longer behave in the expected way.
For ex

[2016-02-04 18:41] thelinuxlich commented on #5357
Isn't this a temporary limitation because there are features that should be streamable and currently aren't?

[2016-02-04 19:37] dalanmiller opened #5358 "'openssl'/evp.h' not found - Mac OS X 10.11.3"
While building on OS X after running `./configure --allow-fetch --fetch npm --fetch node` which outputted:

[code]

Then `make -j 4`:

[code]

[2016-02-04 19:51] dalanmiller commented on #5358
Fixed this by adding `--fetch openssl` to my `./configure`. I think my system version of OpenSSL was too new since I usually have the most recent version thanks to `brew`.

[2016-02-04 20:01] VeXocide commented on #5358
Closing as a duplicate of #4963.

[2016-02-04 20:01] #5358 closed

[2016-02-04 20:38] nighelles commented on #4771
I think I figured this out while I was looking at raising the limit to 128.

[2016-02-04 22:08] mbains commented on #2363
@AtnNn
I pinged the opensuse IRC and they recommend that I look at /etc/ld.so.conf.

Here are the contents:

[code]

Stackoverflow thread: http://stackoverflow.com/questions/9922949/how-to-print-the-ldlinker-search-path

Performing one of the recommendations on my machine:

[code]

*Another solution*:  the rethinkdb scripts could add something to jemalloc's configure to set libdir to /lib explicit

[2016-02-04 22:25] nighelles commented on #4771
Python and Ruby were handing a broken pipe in a way that never printed the server error. I am seeing the proper error in javascript.

[2016-02-04 22:28] danielmewes opened #5359 "order_token_t has different serialization in debug and release mode"
This makes mixed debug/release mode clusters crash under certain operations.

For example I got a crash like this:
[code]

[2016-02-04 22:29] mlucy commented on #5334
This is in CR 3462 by @danielmewes (branch mlucy_5334).

[2016-02-04 23:43] AtnNn opened #5361 "On Windows, RDBBacktrace.LargeTable occasionally fails with "garbage bytes left on the extent""
[code]

[2016-02-04 23:45] dbolotin commented on #5128
+1

I think Jeckson is a better option here, as it is used as a core JSON module in two most popular reactive web frameworks in Java world: Vert.x and Play. So users of these frameworks will be able to use the same annotated classes to store in DB and send/receive over http/websockets.

Anyway, I also agree with @kclay, that some simple interchangeable abstraction here would be a nice option.

...

[2016-02-05 00:36] AtnNn commented on #5349
This looks like an error in parsing, storing or formatting floating point numbers, not a protocol error.

I was unable to reproduce. Against both the Windows and Linux version of RethinkDB, I get these results using the Python driver:

[code]

[2016-02-05 00:53] nighelles commented on #4529
This is in review 3463,
implemented in nighelles/4529.

[2016-02-05 00:53] nighelles commented on #4771
This is in review 3463,
implemented in nighelles/4529.

[2016-02-05 01:00] bchavez commented on #5349
Hi @AtnNn these traces were pulled from network packets from Wireshark before reaching the client for parsing.

If you examine the network-level packets, you *should* see the discrepancies at the network packet level. As the result passes through the application layer on the client side the official drivers maybe shield these effects.

I guess the main issue is:
* Do we possibly want linux & windo

[2016-02-05 01:07] danielmewes opened #5363 "table_fuzzer no longer works on `v2.2.x`"
It still worked in `v2.2.3`.

If you start it like this for example:
[code]

it runs, but never manages to kill any servers. It says "Killing x servers", but that operation never completes. It also is unable to shut down the servers at the end of the test (it gets stuck in the "Stopping fuzzing" phase).

The `table_fuzzer.py` script itself hasn't changed it seems, so I assume this is caused by a c

[2016-02-05 01:21] bchavez commented on #1523
**ReGrid**, a GridFS like implementation, is now implemented and available in the **C#** driver.

You can find the user documentation is here:
https://github.com/bchavez/RethinkDb.Driver/wiki/ReGrid-File-Storage

Available on [NuGet](https://www.nuget.org/packages/RethinkDb.Driver.ReGrid) starting today! :rocket:

[2016-02-05 01:23] AtnNn commented on #5349
I am also unable to reproduce the time related failures. With `rethinkdb-windows-alpha3`, I get:

[code]

It's possible that the failures you see happen because RethinkDB is behaving differently in your environment. A quick look at the source seems to indicate that RethinkDB uses `%m` to format the month, which the boost documentation tells me is a two-digit representation. More investigation is r

[2016-02-05 02:00] nighelles commented on #3736
This is in next.

[2016-02-05 02:00] #3736 closed

[2016-02-05 03:14] bchavez commented on #5349
Just updated to `alpha3` on the CI server, date/time unit tests are passing. Only failing test is the number one:

#### LINUX PASSING
[code]
#### WINDOWS FAILING
[code]
**__ __** added for emphasis.

Full battery of tests passing so far with windows version of RethinkDB server: https://ci.appveyor.com/project/bchavez/rethinkdb-driver/build/380/tests

[2016-02-05 03:38] bchavez commented on #5349
@AtnNn I was looking at the binary output for double-precision floating point... found this:

[code]

Might be a clue to what's happening with floating point in windows?

[2016-02-05 03:39] danielmewes commented on #3736
:clap: Yay, have been waiting for this term for a long time :)

[2016-02-05 14:20] thelinuxlich commented on #5343
I'm gonna close this because #5351 solves this issue

[2016-02-05 14:20] #5343 closed

[2016-02-05 14:47] nickmishustin commented on #5350
My problem it related to the incorrent gevent-soketio using.
Sorry to trouble.

[2016-02-05 15:24] thelinuxlich opened #5364 "Jobs table should include read_count"
I don't know if it's possible to include even a roughly approximate number, but this would be more useful than duration_sec to pinpoint unoptimized queries

[2016-02-05 19:17] danielmewes commented on #5350
@nickmishustin Is it working now?
If it's still not working: Are you getting any error message? Do you have some example code to reproduce the problem?

[2016-02-05 19:20] danielmewes commented on #2755
This used to be rare, but issues with servers stopping to reconnect have surfaced more frequently lately. It seems like some other changes might have made some existing bug more prominent.

We're looking into this now.

[2016-02-05 19:49] danielmewes commented on #2755
A handful of fixes and improvements to the connection handling logic are in code review 3464, branch daniel_no_stuck_connections

[2016-02-05 20:13] danielmewes commented on #5357
@thelinuxlich That is true for some terms, but not for others. An un-indexes `orderBy` can never be streaming for example as far as I can tell. It needs to wait for all inputs before it can determine which input is the smallest.
Would it help us here if it was temporary?

[2016-02-05 20:14] danielmewes commented on #5364
That would be neat. It should also have `write_count` obviously.

I'm not sure how hard this would be. @VeXocide might have a better idea.

[2016-02-05 20:28] thelinuxlich commented on #5357
You're right, but then .limit() before orderBy() would have the same effect, with the disadvantage of routing everything to one shard

[2016-02-05 20:46] VeXocide commented on #5364
It's not necessarily hard but quite a bit of work as the jobs need to be threaded through a lot of places.

[2016-02-05 20:56] danielmewes commented on #4614
Closing since we haven't have heard from @mdmdmdmd . @mdmdmdmd please let us know if this is still an issue.

[2016-02-05 20:56] #4614 closed

[2016-02-05 20:58] danielmewes commented on #4637
Sorry I forgot about this. Moved to https://github.com/rethinkdb/docs/issues/1009

[2016-02-05 20:58] #4637 closed

[2016-02-05 21:02] #4708 closed

[2016-02-05 21:03] danielmewes commented on #4706
@wereHamster @cggaurav Are you still seeing this?

[2016-02-05 21:04] danielmewes commented on #4684
Closing since we haven't heard back from @mscook for a while.

[2016-02-05 21:04] #4684 closed

[2016-02-05 21:06] danielmewes commented on #4499
Closing since we're still missing information on the data and cache size configuration.
@GordyD please let us know if you're still experiencing this issue.

[2016-02-05 21:06] #4499 closed

[2016-02-05 21:07] wereHamster commented on #4706
I don't run a cluster anymore, so I can't answer that.

On Fri, Feb 5, 2016 at 10:04 PM Daniel Mewes <notifications@github.com>
wrote:

[2016-02-05 21:09] danielmewes commented on #4722
@nodesocket Is this still an issue? Have you had a chance to run this with a different client? (as mentioned above, Data Explorer timings are not useful for benchmarking).

[2016-02-05 21:09] #4805 closed

[2016-02-05 21:11] danielmewes commented on #4805
Related: https://github.com/rethinkdb/rethinkdb/issues/1740

[2016-02-05 21:12] #4827 closed

[2016-02-05 21:13] danielmewes commented on #4827
I assume this wasn't a bug. @knownasilya let us know if there's still an issue.

[2016-02-05 21:13] danielmewes commented on #4822
Haven't heard back from @zeyangl in a few months and we can't reproduce. Closing.

[2016-02-05 21:13] #4822 closed

[2016-02-05 21:14] #4828 closed

[2016-02-05 21:14] knownasilya commented on #4827
No it wasn't thanks for following up.

[2016-02-05 21:15] #4849 closed

[2016-02-05 21:15] danielmewes commented on #3489
This was fixed a few months ago.

[2016-02-05 21:15] #3489 closed

[2016-02-05 21:18] danielmewes commented on #4706
@cggaurav We can't effectively debug this without the connectivity information from each server unfortunately. Have you had a chance to get those outputs when you ran into the issue?

[2016-02-05 21:19] danielmewes commented on #4998
Haven't heard back from @rajanshah. Closing.

[2016-02-05 21:19] #4998 closed

[2016-02-05 21:24] danielmewes commented on #4886
@stellanhaglund Are you still seeing this?

[2016-02-05 21:28] danielmewes commented on #4915
@v3ss0n Did this work with `r.binary`?
I'm closing the issue for now, but feel free to re-open if there's still an issue.

[2016-02-05 21:28] #4915 closed

[2016-02-05 21:31] danielmewes commented on #5069
@keshavagrawal89 Have you been able to resolve this?

[2016-02-05 21:34] danielmewes commented on #4962
Re-opening for further discussion. It seems like we sometimes wrap errors in the Python driver, though not in all cases.

[2016-02-05 21:35] danielmewes commented on #4962
It's possible that users expect different things in Python and Ruby, and that what we're currently doing in the respective drivers is fine.
But there's also a benefit in being consistent across our drivers.

[2016-02-05 21:37] danielmewes commented on #5148
Haven't heard from @tomhatzer for a few months. Closing since we can't reproduce.

@tomhatzer Have you had a chance to look into the questions I posted in November? Are you still seeing this?

[2016-02-05 21:37] #5148 closed

[2016-02-05 21:39] danielmewes commented on #5229
Oops I just noticed I had opened this on the wrong tracker. Moving to https://github.com/rethinkdb/docs/issues/1010

[2016-02-05 21:39] #5229 closed

[2016-02-05 21:40] danielmewes commented on #5277
@mdmdmdmd Any update on this? Could you send me the test output?

[2016-02-05 21:55] AtnNn commented on #5361
This seems to be caused by a race condition when truncating files. Fixed in the `atnnn/windows2` branch as 92c57e1.

[2016-02-05 21:55] #5361 closed

[2016-02-05 22:00] coffeemug commented on #14
@gedw99 -- just invited you to the project, sorry for the delay, this slipped through the cracks. /cc @mglukhovsky

[2016-02-05 22:01] #5194 closed

[2016-02-05 22:02] coffeemug commented on #3711
@ansarizafar -- just invited you. Sorry for the delay, there is more activity around the project than we expected, so this slipped through the cracks. /cc @mglukhovsky

[2016-02-05 22:02] nighelles commented on #5331
This is in next.

[2016-02-05 22:02] #5331 closed

[2016-02-05 22:03] AtnNn commented on #5164
I still haven't been able to reproduce. Please re-open if this happens again in the latest version.

[2016-02-05 22:03] #5164 closed

[2016-02-05 22:03] coffeemug commented on #5120
@letharion -- just invited you. Sorry for the delay, there is more activity around the project than we expected, so this slipped through the cracks. /cc @mglukhovsky

[2016-02-05 22:13] danielmewes opened #5365 "Various tests started timing out on v2.2.x"
A few of them:
[code]

These tests are still passing for me on `v2.2.3-1`, but no longer on `v2.2.x` (each time using the same server binary from `v2.2.x`).

It looks like they started timing out with https://github.com/rethinkdb/rethinkdb/commit/f1c91f58aa37293423310c283c650d81316875ee
Possibly related to https://github.com/rethinkdb/rethinkdb/issues/5363 ?

[2016-02-05 22:13] danielmewes commented on #5365
I might need to revert f1c91f5 temporarily until @larkost gets back.

[2016-02-05 22:35] danielmewes commented on #5365
... The `changefeeds.basic` one is probably a red herring. I think the other ones might be failing for the same reason as #5363 , since they rely on shutting down / killing servers as part of the testing process.

[2016-02-05 23:09] nighelles commented on #5175
This is in next.

[2016-02-05 23:09] #5175 closed

[2016-02-05 23:31] danielmewes commented on #5365
@larkost I've temporarily reverted the commit in v2.2.x with d261c03 . Please re-apply once we know what's going wrong with those tests.

[2016-02-05 23:31] danielmewes commented on #5363
Duplicate of https://github.com/rethinkdb/rethinkdb/issues/5365.

[2016-02-05 23:31] #5363 closed

[2016-02-05 23:56] danielmewes commented on #2755
The race conditions we're aware of are fixed in v2.2.x by 97d9cb4 , and in next by defa1fc.

[2016-02-05 23:56] #2755 closed

[2016-02-06 02:02] danielmewes commented on #5344
@mglukhovsky

Yes. The "Delete selected tables" button lists the tables in a modal and requires an additional confirmation click.
The "Delete database" button actually makes you enter the database name before you can continue.

Since the issue is about accidentally deleting the database instead of the selected tables, things should be very safe in practice because of the confirmation step that dat

[2016-02-06 02:03] danielmewes commented on #5347
Disconnecting under load might be a separate issue. Not sure.

[2016-02-06 02:23] danielmewes commented on #4437
I haven't looked into this since my last post here. The compilation issue on OS X is still present and we can't merge the patch yet.

I'll look into it now and see if there's an easy fix.

[2016-02-06 02:30] mlucy opened #5366 "`return_changes: 'always'` doesn't always return changes"
Some errors that are caught before issuing the inserts to the shards don't actually populate the `changes` array properly.  For example, `r.table('test').insert({id: 'a'*500}).run(return_changes: 'always')` doesn't properly return a `{new_val: nil, old_val: nil}` change the way `r.table('test').insert({id: r.minval}).run(return_changes: 'always')` does.  We should change the code to include trivia

[2016-02-06 02:41] danielmewes commented on #4437
Actually this is compiling fine on `next`, but not on `v2.2.x`. I suspect this might be because of independent changes that @AtnNn made to make RethinkDB compile on Windows.

I'll apply the patch to `next`, so it's going to be included in RethinkDB 2.3.0.

[2016-02-06 02:46] danielmewes commented on #4437
The patches are applied in branch `next` as of commit 84be09f.
Thanks @clandmeter !

[2016-02-06 02:46] #4437 closed

[2016-02-06 08:32] stellanhaglund commented on #4886
So sorry i havent been more active here.

I actually found it was something so stupid as that my router was
closing the connection after 10 minutes idle :/

Sorry for the trouble!

fredag 5 februari 2016 skrev Daniel Mewes <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>>:

[2016-02-06 09:16] jlhawn commented on #3151
Good news everyone! It seems like I've made some progress:

[code]

So far I've only got the query server accepting TLS connections. In the above snippet you can see that after the TLS handshake I wrote `hello` to the server to which it responded with: `ERROR: Received an unsupported protocol version. This port is for RethinkDB queries. Does your client driver version not match the server?`. I als

[2016-02-06 11:46] joeblew99 commented on #5338
Had a look.

First thing is that you want to be on Ubuntu 16.x, because the dev team at Ubuntu recently said this is the most stable with the most mature functionality both for snapcraft and Ubuntu core.

Their dev mailing list is the only way to communicate with them. No github issues etc :) its old school mailing lists.

snappy-devel@lists.ubuntu.com

I am away at the moment and don't have time

[2016-02-06 11:56] gedw99 commented on #14
Awesome thanks @coffeemug
I just got the invite and added myself

[2016-02-06 12:39] Jonnyfromnothing commented on #1100
@AtnNn Just tested the latest alpha on windows 10 seems to be working fine there too

[2016-02-06 15:01] rosendi commented on #5334
@mlucy Thank you! It's exactly what I was looking for.

[2016-02-06 16:00] STALKER2010 commented on #1100
@AtnNn Works ok, no more crashes on startup with Windows 10. Thanks, looking forward to the release version!

[2016-02-06 16:14] cggaurav commented on #4706
The outputs were the ones that I sent via email. I haven't faced this since
and positive this was because of initial network connectivity.

On 5 February 2016 at 22:18, Daniel Mewes <notifications@github.com> wrote:

[2016-02-06 17:34] ansarizafar commented on #3711
@coffeemug @mglukhovsky Thanks, I am really excited about this project.

[2016-02-06 19:29] AtnNn commented on #4824
I just saw this in next on newton, with an identical backtrace.

[2016-02-06 20:13] gjuchault opened #5367 "Performance impact of changefeed"
Hi,

I would like to know what would be the performance impact of listening for a changefeed on a whole database ? Or on one table. Does it slow (relatively) the server ?

Thanks

[2016-02-06 20:15] leolorenzoluis opened #5368 "Delete is throwing an error on large documents"
I'm trying to clean up a table that has big number of documents in it. The number of documents probably is ~5-7 million. Obviously, I'm pushing it too hard, but even if I try to limit it to 100,000 or filter it with index then delete those, it still chokes up. I also tried restarting RethinkDB Server and clean up cache.

    r.db("database").table("sampletable").delete()

    e: Query terminated b

[2016-02-06 21:17] tatsujin1 commented on #4008
Because I really wish some kind of TTL feature be implemented in RethinkDB, I thought I'd take a stab at an API proposal as well :)

Akin to another popular nosql db, my variant is index-based.

#### Shared/general expiration time
[code]
After 30 seconds, the document will be deleted (emitting the usual changefeed event).

#### Document-specific expiration time
[code]
After 60 seconds, the documen

[2016-02-06 22:18] thelinuxlich opened #5369 "Partial Updates"
For the many use cases where we could extract better performance by reducing joins and adding the data to nested fields/embedded arrays. this feature would make it very attractive and stand out between other noSQL solutions(I know ElasticSearch doesn't do this)

[2016-02-06 22:42] bgnorlov opened #5370 ""between" command with multi-index"
I have few records in table "projects" with multi-index "files"
[code]
I tried to select all records with "a" files using between command : r.db('test').table('project').between("a", "a", {index: 'files',leftBound: 'open', rightBound: 'open'}) but got empty array (I expect to get one file  {"files": ["a" ,"b" ,"c"],"user_id": 1,"id":  "938572db-51c4-46a7-b704-5102b0a111e0"} ). It's a bug or I miss

[2016-02-06 23:01] bgnorlov commented on #5370
I realised that I have been confused with "open", "closed" terminology so when I set to close all working properly. However, when I tried to chain between command ((table_slice.between(lowerKey, upperKey[, options]) → table_slice ) ) with another one - `
r.db('rocketslides').table('project').between("a", "a", {index: 'files',leftBound: 'closed', rightBound: 'closed'}).between(1, 1, {index: "user_i

[2016-02-07 00:38] mdmdmdmd commented on #5277
Daniel:

I have been tied up with other stuff lately, but I would certainly like
to help out.

Give me a day or so and I will try to run things again.

md

On 2/5/2016 3:40 PM, Daniel Mewes wrote:

[2016-02-07 02:59] danielmewes commented on #5368
Hi @leolorenzoluis, I think the query is timing out, which is something specific to the Data Explorer.

I recommend running the query with a different client (e.g. with the node.js REPL, or with Python), as the other official clients are not affected by this.

Related: https://github.com/rethinkdb/rethinkdb/issues/2316

The particular error message you're getting "Query terminated by an unknown ca

[2016-02-07 02:59] #5368 closed

[2016-02-07 03:00] danielmewes commented on #5368
The bug for the incorrect error message is https://github.com/rethinkdb/rethinkdb/issues/5113 .

I'm closing this since the timeout itself is expected behavior in the Data Explorer, and we already have an issue for the error message.

[2016-02-07 07:28] leolorenzoluis commented on #5368
@danielmewes I tried running other client, but not the official clients (Python, Node) and still failed. I haven't investigate further if it's because the library from [here](https://github.com/hamiltop/rethinkdb-elixir) or it's rethinkdb.

[2016-02-07 08:39] let4be commented on #3215
Same situation here, using rethinkdb with consul and it would be very nice to have --join-all command line/config option
Currently I have to make ugly bash script to make it work as required(iterating over dig results and providing lots of joins)

[2016-02-07 15:26] scabot opened #5371 "Get an IndexOutOfRange indication when accessing an array element using pointer"
Hello

I suggest adding an IndexOutOfRange indication to Pointer::Get (It may be usefull to get other error indications as well)
Here is how I modified my private version of Get:

[code]

[2016-02-07 15:29] sagivf commented on #5297
@danielmewes Any update on this? I don't see it on 2.3 or 2.4 unless I'm missing something?

[2016-02-07 15:42] #5371 closed

[2016-02-07 17:46] nickmishustin commented on #5350
@danielmewes It's working now. It was my mistake.

[2016-02-07 21:13] nh2 opened #5372 "Bit-flips and other problems with the RethinkDB 2.2.4 download"
I am in Switzerland.

When I download the two files

[code]

they arrive with different hashes:

[code]

According to `http://download.rethinkdb.com/apt/dists/trusty/main/binary-amd64/Packages`, `MD5sum: 5b26a00afc3872a04feb9bb36759766d` for this file, so the HTTPS version is correct.

I noticed this in an `apt-get dist-upgrade`, which said:

[code]

--

Inspecting the difference between them, it

[2016-02-07 22:25] danielmewes commented on #5372
I believe there is an issue with your internet connection. The read error is a strong indication of that.

With http, those errors have a higher chance of going unnoticed and end up in the file, since there is no additional error checking on the application protocol layer.

Alternatively, something or someone might be interfering with your connection intentionally.

Can you also post the DNS entry

[2016-02-07 22:25] #5372 closed

[2016-02-08 01:09] nh2 commented on #5372
[code]

Thanks for clarifying how the files are hosted. I suspect a hardware failure along the route between my machine and your server. I'll post here if I find the source of the problems.

[2016-02-08 06:01] dalanmiller commented on #5372
Hey @nh2 just to double check, I ran your test while connected to a VPN in Zurich but came up with the correct hash for both HTTP and HTTPS.
[code]

[2016-02-08 08:40] tatsujin1 commented on #746
Maybe not the best place, but I added another suggestion for API to #4008.

[2016-02-08 08:53] tatsujin1 commented on #5301
Maybe not applicable for your use case @quexer , but I'm curious; how does performance scale with `noreply=true` ?

[2016-02-08 09:05] tatsujin1 opened #5374 "Possibility for pluck() and changes() to specify different fields"
I have a use-case where there is a `modified` (time stamp) in all documents of a table. Each time I update a document I also update that `modified` field.

Thing is that when having a changefeed on this table I usually isn't particularly interested in *when* the `modified` field has changed, *but* I'd still like it to be included in the changefeed.

Of course, a simple work-around is to return the

[2016-02-08 11:01] cggaurav opened #5375 "Connection error while rethinkdb restore"
[code]
[code]

[2016-02-08 12:52] cggaurav commented on #5375
So for more information. I did the dump on ``` 2.2.0~0jessie (GCC 4.9.2)...``` but restore on ```rethinkdb 2.1.5```

[2016-02-08 12:56] cggaurav commented on #5375
Is restore backward compatible?

[2016-02-08 16:58] lolwhoami commented on #1395
How about promises with `update()` (and probably all other `writing` functions)?

[2016-02-08 17:25] ChrisCates commented on #1863
@hamiltop Elaborate on what a "Shoot the node in the head" solution is? Or what it generally pertains to?

[2016-02-08 18:04] deontologician commented on #1395
@lolwhoami this is a pretty old issue. Would you mind opening a new issue if you have a feature request?

[2016-02-08 18:35] nighelles commented on #5280
This is in next.

[2016-02-08 18:35] #5280 closed

[2016-02-08 18:54] danielmewes commented on #5375
@cggaurav

It looks like that is the problem. Secondary index definitions from future versions of RethinkDB are generally not backwards compatible.

I think we fixed the issue that the server crashes when getting such an index, but that fix isn't in the older 2.1.x releases yet (or I'm misremembering and we never actually fixed is. @Tryneus do you remember?).

In any case, if you need to import th

[2016-02-08 18:56] danielmewes commented on #5375
Oh actually we haven't fixed the crash yet. The issue for it is https://github.com/rethinkdb/rethinkdb/issues/5104 .
I'm going to close this as a duplicate.

[2016-02-08 18:56] #5375 closed

[2016-02-08 19:15] danielmewes commented on #5374
You could try this query to post-filter changes where the only difference is in the `modified` field:
[code]

[2016-02-08 19:28] danielmewes commented on #4008
Thanks for the writeup @tatsujin1 .
One thing where I'm not sure if I understand it correctly:

In the second case, "document-specific expiration", the `field` of the secondary index is assumed to contain a datetime value, and eviction is triggered when that value reaches `r.now()`, correct?

Now what does the field mean in the first case, "Shared/general expiration time"? You say you can set it t

[2016-02-08 19:35] danielmewes commented on #3151
:clap: That's great news @jlhawn !

[2016-02-08 19:45] hamiltop commented on #1863
"Shoot the node in the head" is an approach for when a distributed system declares a node dead but can't confirm that it indeed died. In order to ensure the assumption holds, it will proactively "shoot" that node, guaranteeing it will never return.

This is often done via network fencing or other means.

My example case is only a problem because Server A can come back online. If, when Server B is

[2016-02-08 19:48] danielmewes commented on #4886
No worries @stellanhaglund, happy to hear you found the issue.

[2016-02-08 19:48] #4886 closed

[2016-02-08 19:53] danielmewes commented on #4706
Thanks, I'm going to close this. If this happens again we can reopen.

[2016-02-08 19:53] #4706 closed

[2016-02-08 19:55] #5350 closed

[2016-02-08 20:03] danielmewes commented on #5370
@bgnorlov You can't mix multiple indexes on the same table. There are two options to accomplish filtering by two values at once:
1. Using an index for one criteria, and then use `filter` for the second one. `filter` is less efficient as it has to look at each document, but is more flexible. http://rethinkdb.com/api/javascript/filter/
2. Creating a compound index and using that with `between` or `g

[2016-02-08 20:03] #5370 closed

[2016-02-08 20:25] deontologician commented on #5163
I made the Connection constructor public in 559ef59, and there are larger Connection refactorings coming in #5292 that will make it potentially easier to customize the Connection

[2016-02-08 20:25] #5163 closed

[2016-02-08 20:26] deontologician commented on #5163
Also, thanks for the suggestion @bckfnn :)

[2016-02-08 20:57] cggaurav commented on #5375
Can you update the docs for restore before you close this issue.
On Feb 8, 2016 9:29 PM, "Daniel Mewes" <notifications@github.com> wrote:

[2016-02-08 20:58] karlrasche commented on #4707
I'll +1 this as well - mostly for performance/efficiency reasons. I'll stay out of the diff format side of it..

Going down the path of having fat documents for atomic update purposes, I quickly ran into the issue of needing document diffs. While diffing objects in the app can be a reasonable workaround for moderate sized documents, it's never going to be as fast as if we had knowledge of what par

[2016-02-08 21:06] ChrisCates commented on #1863
Thanks for the clarification @hamiltop!!!

[2016-02-08 21:25] AtnNn opened #5376 "Add implicit newline to `debugf`"
[code]

Currently produces:

[code]

Instead of

[code]

I often forget to add a newline and, because the strings are prefixed, `debugf`ing a string that has no newline is not very useful.

[2016-02-08 21:41] danielmewes commented on #5367
Hi @gjuchault The overhead of a changefeed is going to be very small. The exception is that if you have a high rate of write operations, it will generate a significant amount of additional network load because it needs to send out the change events to the client.

In the other extreme, if you don't do any writes, the performance impact of having the changefeed is basically zero.

[2016-02-08 21:41] #5367 closed

[2016-02-08 21:49] danielmewes commented on #5368
@leolorenzoluis Did you get the same error message with rethinkdb-elixir?
It looks like there's a `timeout` option to `run` in that driver, which defaults to 5,000 ms / 5 seconds if I'm reading it correctly:
https://github.com/hamiltop/rethinkdb-elixir/blob/master/lib/rethinkdb/connection.ex#L94

You can try overriding this.

[2016-02-08 21:56] mlucy commented on #5376
+1

[2016-02-08 22:08] danielmewes commented on #5376
:+1: !

We could make it ignore a trailing newline and add its own one to make the transition easier.

[2016-02-08 22:09] #4092 closed

[2016-02-08 22:09] danielmewes commented on #4092
Fixed by @Qinusty 's PR https://github.com/rethinkdb/rethinkdb/pull/5362

[2016-02-08 22:09] tatsujin1 commented on #5374
Uhm, now I feel a bit stupid. I thought `changes()` had to be last in a query...
Well then, that opens up new possibilities! Thanks!

[2016-02-08 22:11] tatsujin1 commented on #5374
Ok maybe not close it. I'll give you're suggestion a go first 😃

[2016-02-08 22:12] danielmewes commented on #5369
This is closely related to https://github.com/rethinkdb/rethinkdb/issues/2946 .

I think it's going to be quite a bit of work, so I'm not sure when we'll get to this. We'll see what we can do though.

[2016-02-08 22:18] danielmewes commented on #5297
@sagivf `slice` is already implemented, so it's going to ship with RethinkDB 2.3.0. https://github.com/rethinkdb/rethinkdb/issues/4227

I'm not sure when we'll ship the `trim` term. We first need to discuss and agree on the API, which is going to happen for one of the upcoming releases (we have a special "ReQL discussion period" at the beginning of each release cycle).

[2016-02-08 22:20] AtnNn opened #5377 "ClusteringRaft.Fuzzer failures on Windows"
These failures happen occasionally on windows:

[code]

[code]

[2016-02-08 22:22] tatsujin1 commented on #4008
Yes, in the shared variant it does indeed become kind of hidden functionality, it implies some kind of internal timer.
I think the explicit version is much better, "document-specific". In fact, now that you laid out the logic that plainly, the "shared/generic" variant seems kind of bad. :)

[2016-02-08 22:32] danielmewes commented on #5377
That's an interesting failure.

@VeXocide can you take a look at this and see if you can find anything?

[2016-02-08 22:52] VeXocide commented on #5377
In `raft_member_t<state_t>::check_invariants` it tries to acquire the Raft lock within ten seconds, and if it fails to do so it crashes with the above message. Thus if anything in the Raft path, which does both disk and network I/O, takes over ten seconds it shows this crash. Having never seen this on either Linux or OS X I'm tempted to say something in the Windows port blocks for too long.

[2016-02-08 23:04] danielmewes commented on #5374
@tatsujin1 It's pretty non-obvious to notice, since it's usually not necessary to put things behind the `changes()` and putting them in front of it often provides better performance since the filtering can happen earlier. But for special cases like this it can be useful :-)

[2016-02-08 23:17] AtnNn commented on #5377
If I bump the timeout, I get either the unhandled exception error, or this one:

[code]

[2016-02-08 23:53] nodesocket commented on #2520
:+1: for capped tables.

We'd like to say `size: 500MB`, and have RethinkDB automatically prune it.

[2016-02-08 23:56] mlucy commented on #5179
Fixed by https://github.com/rethinkdb/rethinkdb/pull/5373 .

[2016-02-08 23:56] #5179 closed

[2016-02-09 00:35] gamename opened #5378 "Add option for simplified output of restore utility"
Slack conversation on the RethinkDB channel:

[code]

[2016-02-09 00:35] gamename commented on #5378
![pasted image at 2016_02_08 05_46 pm](https://cloud.githubusercontent.com/assets/42153/12904140/b99bbae8-ce92-11e5-83aa-aa8adfbce9b0.png)

[2016-02-09 00:37] gamename commented on #5378
![pasted image at 2016_02_08 05_46 pm](https://cloud.githubusercontent.com/assets/42153/12904149/d0ccc9b4-ce92-11e5-8516-7f22b2f06672.png)

[2016-02-09 00:37] gamename commented on #5378
The script which uses the restore util is a simple bash script:

[code]

[2016-02-09 01:50] ianwalter commented on #5131
I have this problem too, except in Go. I can write my own batching code, but it's a shame because the proposal above or something like it would be so much cleaner.

[2016-02-09 03:41] danielmewes commented on #5131
Bumping this to 2.3-polish.

@Tryneus this would also help with Fusion right?

@ianwalter Note that our solution to this is very likely going to be a client-side API extension. It will need to be implemented in the Go driver separately.

[2016-02-09 04:29] Tryneus commented on #5131
@danielmewes - yes, this would help, but it's not necessary.  I can (and will, unless this is done soon) just access the underlying variables directly, but it'll be fragile since the interface is not well-defined.

[2016-02-09 04:40] wannado commented on #1100
:100:

[2016-02-09 07:23] sagivf commented on #5297
@danielmewes Thanks, I got confused between 2.3.0 and 2.2.3, that's why I thought something was missing... Sorry about that.

Is there any target date for 2.3? What's the best place to follow - Github Millstones?

[2016-02-09 07:38] tatsujin1 commented on #5374
Awesome, work just I wanted it to :)

It took a few seconds to understand the filter-branch interaction, though...

Thanks again!

[2016-02-09 07:38] #5374 closed

[2016-02-09 14:55] bmrpatel commented on #1100
:+1:

[2016-02-09 15:00] outsmartin commented on #2040
Are there any news on this topic?

[2016-02-09 18:29] lolwhoami opened #5379 "JS Promises inconsistence"
I'm able to use .then() and .error() when I want to get data, but when I want to write/update anything I still have to write it in callbacks style. That's strange.

[2016-02-09 18:51] chrisvariety commented on #5379
Both [connect](http://rethinkdb.com/api/javascript/connect/) and [run](http://rethinkdb.com/api/javascript/run/) return promises. What problems are you running into using promises when running writes/updates?

[2016-02-09 19:21] danielmewes commented on #5280
It's worth noting that @nighelles 's patch also makes ordered secondary index reads significantly more CPU efficient by optimizing the comparison operation.

It can save close to 50% CPU time in some cases.

[2016-02-09 19:57] pires opened #5380 "Java driver connection/cursor handling simplification"
As per @bchavez comments:

I agree and this would be good to have.

[2016-02-09 20:10] danielmewes commented on #5297
@sagivf Yeah, following the 2.3 Github milestone should give you an overview of what's left to do for 2.3.
The release is planned for March.

[2016-02-09 20:21] danielmewes commented on #2040
@outsmartin Unfortunately not yet. I'm hoping that we can get the in-memory version done for RethinkDB 2.4, but the schedule isn't quite fixed yet.

[2016-02-09 20:26] danielmewes commented on #5083
We added the `table.wait()` to the import/restore scripts, but not to `index-rebuild`. I think we should do it in `index-rebuild` as well.

[2016-02-09 20:31] danielmewes commented on #4884
@mlucy There is a `get_all_cfeed.rb` test, and we've added a bunch of other changefeed tests in the meantime. Do you think we can close this or did you have anything particular in mind that's still missing?

[2016-02-09 20:34] lolwhoami commented on #5379
My bad.
Now I tried this again with working code and it works fine.

Yesterday I was seeing something like

Sorry.

[2016-02-09 20:34] #5379 closed

[2016-02-09 20:35] danielmewes commented on #4392
This change https://github.com/rethinkdb/rethinkdb/issues/5267 makes emergency repair easier to discover at least. We should still try to implement a graphical interface for it.

[2016-02-09 21:09] chrisvariety commented on #5379
Glad you figured it out! You will definitely see `then is not a function` if you try to run any query without the `.run()`

[2016-02-09 21:30] mlucy commented on #4884
This is non-specific enough we should probably close it.

[2016-02-09 21:30] #4884 closed

[2016-02-09 22:45] mlucy commented on #5334
@rosendi -- glad to help!

This is in next, it should be released in RethinkDB 2.3.

[2016-02-09 22:45] #5334 closed

[2016-02-09 22:47] bketelsen commented on #5289
Amazing write up.  Kudos to your team and Kyle for the persistence -- and wisdom to run it through Jepson in the first place.  It's really made me consider the platform.

[2016-02-09 22:51] r-marques commented on #5280
that's really awesome, thanks

[2016-02-09 22:53] danielmewes commented on #5280
@nighelles could you cherry-pick this change into `v2.2.x` as well please?
Should be as easy as checking out `v2.2.x` and doing `git cherry-pick 72bd1ec4553fd1f949a5de56193b9411c4f5df2a`

[2016-02-09 22:55] danielmewes commented on #5289
The Jepsen post about this is out: https://aphyr.com/posts/330-jepsen-rethinkdb-2-2-3-reconfiguration

[2016-02-09 23:11] nighelles commented on #5280
Ok, this is in v2.2.x

[2016-02-10 01:08] jlhawn commented on #3151
I've spent the past day or so figuring out how to add command line options for TLS (haven't looked into config file stuff yet) and I've come up with the following (this is what it prints out when you run `rethinkdb --help`):

[code]

It's divided into 3 sections - one each for the Admin Web Interface, client driver connections, and intra-cluster connections. Each has a flag `--{web|driver|cluster}

[2016-02-10 01:16] danielmewes commented on #5378
So basically an option to disable the progress bar?

That should be pretty easy, and sounds useful for scripting purposes.

[2016-02-10 01:17] danielmewes commented on #5378
I'm going to put this into `backlog` for now, since it's not a top priority. But we'll keep it in mind (alternatively pull requests are welcome if anyone wants to pick this up!).

[2016-02-10 01:24] danielmewes commented on #3151
@jlhawn this is amazing!

About the command line arguments:
Those look good to me.

We currently have options `--driver-port`, `--cluster-port` and `--http-port`, rather than `--web-port`.
However I actually prefer the `web` prefix over the `http` prefix, since `http` makes it sound as if we had an HTTP-based query API.

I actually think we should deprecate the `--http-port` option and rename it t

[2016-02-10 01:27] danielmewes commented on #3151
Just a thought: Could there be a use case for binding the TLS listeners to separate ports in addition to the unencrypted ones? Probably this isn't too useful as long as the `--bind` parameters apply to all of them right?

One thing to consider is what happens if a non-TLS-enabled client, browser or cluster node connects to a TLS listener. We should at least test this. One thing we could probably d

[2016-02-10 01:33] jlhawn commented on #3151
I quickly tried joining a new node (without `--cluster-tls`) to another node (which was using `--cluster-tls`) and the new node exited immediately with a segmentation fault :disappointed:

[code]

However, the existing node stayed up and just reported in the output that the TLS handshake failed.

[2016-02-10 01:35] danielmewes commented on #3151
@jlhawn Interesting. The segmentation fault is not good. We'll look into that.

[2016-02-10 01:43] danielmewes commented on #4255
I think we actually *only* have the 24 hour timeout for servers that we got with `-j`.

Once we have successfully connected to a given server, we use a different but similar code path (the `auto_reconnector_t` rather than the `initial_joiner_t`) to reconnect to that server at its last known address. In contrast to `initial_joiner_t`, `auto_reconnector_t` never stops trying to reconnect as far as I

[2016-02-10 01:57] AtnNn opened #5382 "On Windows, `--bind all` doesn't seem to work"
When running RethinkDB with `--bind all` it lists `192.168.0.173`, my local IP, but connecting remotely doesn't work.

A workaround is to pass `--bind 192.168.0.173`.

[2016-02-10 02:39] Wargog commented on #5382
I'll try and confirm, I've been trying to get this to work on my machine as well

[2016-02-10 02:45] danielmewes commented on #5375
@cggaurav Of course! Just opened https://github.com/rethinkdb/docs/issues/1014

[2016-02-10 02:45] Wargog commented on #5382
Does the same thing on my development box too, binding directly to my private IP worked

[2016-02-10 02:54] AtnNn commented on #5352
There is a possible work-around in `atnnn/curlfix` which uses curl instead of wget by default.

[2016-02-10 03:16] deontologician opened #5383 "Guarantee failed [old_offset]"
This may be a configuration thing, I'll try to reproduce it on a normal binary. But the configuration I was using was `--static=all --fetch=all` compiled on newton, running on my Arch machine.

I created a table, added some documents and a secondary index on the `datetime` field, and then created an `orderBy.limit` changefeed in one browser window, and did some inserts into the second browser wind

[2016-02-10 03:19] deontologician commented on #5383
Oh, another detail is that I was using `includeInitial: true`

I also noticed I didn't need to pass `includeOffset: true`, I was getting the offsets no matter what. Is that intended?

[2016-02-10 03:22] mlucy opened #5384 "Don't always include offsets for orderby limit changefeeds"

[2016-02-10 03:25] mlucy commented on #5384
This particular bug appears to only affect the initial values, everything else seems to be sending or not sending offsets correctly at first glance (which would explain why we didn't catch it from running the old tests).

[2016-02-10 03:26] mlucy commented on #5383
The latter is definitely not intended; I opened https://github.com/rethinkdb/rethinkdb/issues/5384 for it.

The crash is due to a bad guarantee that's only correct when offsets are set to true.  Assigning to myself to fix the guarantee.  (If you set `includeOffsets` to `true`, the guarantee should always be correct I think, so you should be able to keep testing.)

[2016-02-10 03:27] mlucy commented on #5384
Actually, it looks like there are one or two other places with the same problem aside from initial values.

[2016-02-10 03:27] deontologician commented on #5383
oh, well that's convenient!

[2016-02-10 03:32] mlucy commented on #5383
@deontologician -- do you have a simple case that reproduces the crash that I could use as a test?

[2016-02-10 03:40] danielmewes commented on #4797
I did a quick performance comparison on ext4 between `ftruncate` and `posix_fallocate`. I used a rotational disk, and performed 5000 point inserts with hard durability on a fresh table in series.

With `ftruncate`, I'm getting an average of 47 inserts/s. With `posix_fallocate`, I'm getting an average of 51 inserts/s.

That's not a big difference, but it seems to be consistent.

I haven't implement

[2016-02-10 03:49] deontologician commented on #5383
I don't have a script, but this is reasonably reliable (but obviously not a minimal example):

[code]

[2016-02-10 03:51] danielmewes commented on #5383
Ah so nice to have our own in-house real-application testing now :)

[2016-02-10 06:29] nojvek opened #5385 "Data Explorer editing"
I've been using the dataexplorer but I find the gui is lacking a bit compared to the gui tools in mongo or mysql. I am a front end developer and can contribute to this part of codebase. Not sure what is the best way to help out.

[2016-02-10 07:46] deontologician commented on #5385
We have a few different issues related to this. Try checking out the label [webui](https://github.com/rethinkdb/rethinkdb/issues?q=is%3Aopen+is%3Aissue+label%3Acp%3Aweb-ui)  there might be some interesting feature requests.

[2016-02-10 12:51] cggaurav commented on #5219
I can confirm as well though I *think* we have symmetric network connections.
![](http://d.pr/i/WXyE+)
![](http://d.pr/i/Z9Mr+)

[2016-02-10 15:39] mglukhovsky commented on #5385
@nojvek: do you have a specific feature request in mind?

[2016-02-10 17:19] luisrudge commented on #1100
I love you all! :tada:

[2016-02-10 17:25] danielmewes commented on #5219
@cggaurav We have seen some issues with the reconnection logic lately (tracked in issue https://github.com/rethinkdb/rethinkdb/issues/2755 ). Maybe that's the cause for this (and possibly for some of the other issues you have reported previously as well?).
We have a patch that we will ship very soon in a new point release (RethinkDB 2.2.5).

Would you be willing to test a pre-release of 2.2.5 with

[2016-02-10 17:28] danielmewes commented on #1100
We have just released an official developer preview of RethinkDB for Windows: http://rethinkdb.com/blog/rethinkdb-windows-preview/

This build is fully functional, but not recommended for production use yet.
It will also run more slowly since it's compiled with additional debugging code for better testing.

2.3.0 is going to be the first release with a full Windows build available at launch.

[2016-02-10 17:30] herby commented on #1100
Nice. ;-)

Daniel Mewes wrote:

[2016-02-10 18:52] danielmewes commented on #5309
For some reason this always passes for me on gantz. Will have to try on the-shadow. Or maybe with different compile settings...

[2016-02-10 18:52] howdoicomputer commented on #1100
Wooooah, niiiiiice. I plan on testing this out later tonight for my side project. Will we see a Chocolatey package?

[2016-02-10 18:59] danielmewes commented on #1100
Not sure yet. Maybe later once we have the stable release. It looks pretty neat though.

[2016-02-10 19:02] larkost commented on #5234
This has been checked into `next` with bdf85489

[2016-02-10 19:09] jamescostian commented on #1100
Congrats! This is awesome!

[2016-02-10 19:11] danielmewes commented on #5301
I did some CPU profiling and implemented a minor optimization in 31dac8e6d7ef46935f2696d2522b803e184b1673 (review 3469).
While this saves some CPU for insert workloads (up to 10%), it probably won't have a *huge* impact on overall insert performance.

This issue needs more research.

[2016-02-10 19:18] kkoci commented on #3614
Awesome, worked for me, thanks!

[2016-02-10 20:53] bchavez opened #5386 "Windows Preview 0 Crashes During Full Battery of Unit Tests"
Hello,

I [just updated the server download testing URL](https://github.com/bchavez/RethinkDb.Driver/commit/68082874c4e74ec7f1052900fa6520e62bbb71b0) to use the official `preview 0` windows build from:

http://rethinkdb.com/docs/install/windows/

I tested this on local dev box and CI server. Each time, about half-way though the C# driver testing process, `rethinkdb.exe` crashes:

https://ci.appvey

[2016-02-10 21:08] AtnNn commented on #5386
@bchavez thanks for the report. Could you pinpoint more exactly what query causes the crash?

I'm going to decode the backtrace and investigate.

[2016-02-10 21:10] bchavez commented on #5386
Sure no problem @AtnNn , give me a few minutes to see if this is a reproduce this event on the same query.

[2016-02-10 21:16] bchavez commented on #5386
Okay, so it looks like I can get it to fail on this unit test in `Default`:

[code]
Let me know if you can reproduce.

[2016-02-10 21:22] danielmewes commented on #5301
The small optimization is merged into v2.2.x 1b8a602 and next 5c9b732

[2016-02-10 21:32] AtnNn commented on #5386
Thanks @bchavez, I am able to reproduce.

[2016-02-10 21:36] danielmewes commented on #5352
Merged @AtnNn 's work-around into `v2.2.x` and `next` (b0d112e6f639cbd904a555e00a090e418a8cf984, 12265e9c8670562722f59f199c45c3f84ec69f3e).

[2016-02-10 21:36] #5352 closed

[2016-02-10 23:49] thelinuxlich opened #5387 "Top-level date/time ReQL terms"
So we can do easy date/time manipulation, they should return seconds:

[code]

[2016-02-10 23:50] srh commented on #3931
You shouldn't release an official C# driver with lowercase function names (they look *really* janky in a C# dev's eyes) or one that doesn't use `IDisposable` in the reasonable places -- it should follow [Microsoft's C# Coding Conventions](https://msdn.microsoft.com/en-us/library/ff926074.aspx).

[2016-02-10 23:54] eduardonunesp commented on #5387
+1

[2016-02-11 00:16] coffenbacher commented on #1032
Is r.absent or r.unindexed still under consideration? This would be really useful in some situations.

[2016-02-11 00:25] danielmewes commented on #1032
@coffenbacher Yes, though right now you can just return `null` which has the same effect.

[2016-02-11 00:25] mlucy commented on #5383
There's a fix for this in CR 3471 by @danielmewes .

[2016-02-11 00:25] mlucy commented on #5384
I roleld this into the fix for #5383.

[2016-02-11 00:27] simonratner opened #5388 "Windows server uptime is wrong"
![rethink-alpha4-uptime](https://cloud.githubusercontent.com/assets/667283/12966420/fd53af08-d012-11e5-8a39-3a7b99602827.PNG)

Actual system boot time:
[code]

Windows version:
[code]

[2016-02-11 00:31] coffenbacher commented on #1032
Does it? We're basically trying to run .getAll(null,index='secondary') to select records that do not have a value set for the secondary index. (This is equivalent to one of the scenarios @mlucy mentioned in an early comment).

Is there a workaround for that?

[2016-02-11 00:32] simonratner commented on #5388
Windows version according to rethinkdb.exe:
[code]

[2016-02-11 00:35] AtnNn commented on #5388
Thanks for the report, I was able to reproduce the wrong uptime.

It looks like we're also not detecting the windows version correctly.

[2016-02-11 00:36] bchavez commented on #5388
This discussion in `BugTrap` might help in determining the correct `win_ver` in **C**:

https://github.com/bchavez/BugTrap/issues/5

[2016-02-11 00:45] danielmewes commented on #1032
@coffenbacher At the moment `null` values don't get indexed (and this issue is about changing that in the future).
There are multiple work-arounds. One is to map a missing value to something other than `null`, that is not otherwise used in the indexed field(s). For example to `false`:
[code]

Then you can query by `.getAll(false, {index: "secondary"})`.

[2016-02-11 02:22] snobear opened #5389 "ReqlQueryLogicError Error in time logic - Windows"
Hi,
I just fired up the Windows dev-preview-0 today and hitting this error when inserting a Date:

[code]

I do _not_ hit this issue when I point to a Rethink instance 2.2.4 on Ubuntu (I followed [the exact steps here](https://www.rethinkdb.com/docs/paas/#deploying-on-aws) to fire up an instance on AWS ).

On the Windows side, I'm running Windows 10 and with rethink running locally.

**To reproduc

[2016-02-11 16:06] andokai commented on #1100
Kudos!

[2016-02-11 18:09] xingmu opened #5390 "java client->Response.isFeed(),notes.stream () is Empty,allMatch return true."
use Stream.anyMatch()?

[2016-02-11 18:35] alexgorbatchev commented on #3711
@coffeemug could you please post an update? :coffee:

[2016-02-11 19:24] AtnNn commented on #5389
Thanks for the report. The month is that timestamp is `02`, which is obviously correct.

[2016-02-11 19:59] deontologician commented on #5390
Hi @xingmu, do you think this is this a logic error in the driver? Or are you suggesting a refactoring?

[2016-02-11 20:13] deontologician commented on #5390
OK, nevermind, we found the bug. Thanks for reporting it!

[2016-02-11 21:02] danielmewes opened #5392 "Provide statically linked generic Linux binary"
For users who don't run one of our supported distributions and who also don't want to compile from source it would be useful if we could provide a statically linked `rethinkdb` binary.

I think right now our CentOS 6 binaries come pretty close to that, but we should package one explicitly.

[2016-02-11 21:10] encryptio commented on #4797
`filefrag` is a useful program to see the actual extents allocated for a given file (and `filefrag` itself isn't filesystem-specific.)

[2016-02-11 21:15] danielmewes commented on #4797
Oh cool. I'll try that later.

On Thu, Feb 11, 2016 at 1:10 PM, Chris Kastorff <notifications@github.com>
wrote:

[2016-02-11 21:16] #5390 closed

[2016-02-11 22:05] coffenbacher commented on #1032
Thanks @danielmewes, that solution worked perfectly for us.

[2016-02-12 00:29] AtnNn commented on #5386
Extprocs were sometimes performing IO on the wrong thread. Fixed in 880a61b.

[2016-02-12 00:29] #5386 closed

[2016-02-12 00:30] bchavez commented on #5386
Is there a build I can test?

[2016-02-12 00:46] AtnNn commented on #5386
Here you go: http://circus.atnnn.com/ipfs/QmQaZiJNyAkWshdD3xRBmLYjvgoDpzm8QNYAStpo6SifDo/rethinkdb-windows-alpha-5.zip

[2016-02-12 01:02] bchavez commented on #5386
Awesome! Thank you so much @AtnNn , kicked off the test battery on `alpha5`: https://ci.appveyor.com/project/bchavez/rethinkdb-driver/build/386

I'll report back in about an hour after my night hike is done.

[2016-02-12 01:10] thelinuxlich commented on #2520
For inspiration, retention policies:

https://docs.influxdata.com/influxdb/v0.10/guides/downsampling_and_retention/

[2016-02-12 01:12] thelinuxlich commented on #2519
For inspiration: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-percentile-aggregation.html

[2016-02-12 01:12] danielmewes opened #5393 "Consider using MayIntersect in geo traversal"
S2 has a function `MayIntersect` which we might be able to use instead of the exact (but more expensive) `Intersects` test for the geospatial index traversal:
[code]

Using `MayIntersect` might be faster or slower overall, depending on the data. If it returns false positives too often, we will traverse larger portions of the btree unnecessarily.

[2016-02-12 01:17] AtnNn commented on #5386
Thanks for running your tests again. Looking at the results it seems that this crash did not happen, but the issues reported in #5349 and #5389 did. I'm currently tracing the code one line at a time to figure those out.

[2016-02-12 01:20] danielmewes commented on #5393
Hmm actually we're already using something more efficient than `Intersects`, since we pre-compute a grid cell covering of the query geometry and use that during the tree traversal (except for post-filtering).

[2016-02-12 01:20] #5393 closed

[2016-02-12 01:40] thelinuxlich opened #5394 "Avoid unavailability during rebalance()"
Until hash sharding is implemented, people that need incremental IDs probably need to monitor table approximate counts and periodically execute rebalance(), losing availability for seconds.

[2016-02-12 01:55] danielmewes commented on #5394
This could be addressed by https://github.com/rethinkdb/rethinkdb/issues/4331

[2016-02-12 01:58] bchavez commented on #5386
Hi @AtnNn , right-o, looks like the date/time issue is showing up again. Perhaps it's a `print` issue in `r.js`?

[code]
We get back `Aug` instead of `08` when using `r.js(...)`.

[2016-02-12 02:00] bchavez commented on #5386
If you need Remote Desktop access on the CI server with build tools, let me know. You can ping me in IRC or slack.

[2016-02-12 02:24] thelinuxlich commented on #1118
For inspiration: https://docs.influxdata.com/influxdb/v0.10/query_language/continuous_queries/

[2016-02-12 02:40] coffeemug commented on #3931
Duly noted! Also, hi @srh!

[2016-02-12 04:15] #4722 closed

[2016-02-12 08:54] tatsujin1 commented on #5387
I'd argue that since `r.now() + 100` returns a timestamp these should do as well.

[2016-02-12 09:33] thelinuxlich commented on #5387
Yeah, i explained it badly, only the helpers should return seconds

[2016-02-12 09:52] skoni commented on #14
We are using couch/pouch for online/offline sync. I would love to try RethinkDB in our case.

[2016-02-12 10:53] Prinzhorn opened #5395 "r.error() doesn't always result in an error in the node.js driver"
I've just started working with RethinkDB but it seems like I found a bug right away. Or I'm doing something really edge-casey. Or wrong? Or both.

node v5.1.0
driver 2.2.1
rethinkdb 2.2.4~0trusty (GCC 4.8.2)

Here's the code to reproduce together with an explanation. I'm basically trying to implemented optimistic locking using `r.branch`. I know it's not atomic and thus there's no guarantee, but t

[2016-02-12 11:11] quentez commented on #3931
Any update on this? Both drivers have their issues, and I wouldn't want to invest too much time building on one if the other is about to be declared "official" :sweat_smile: !

[2016-02-12 14:37] Prinzhorn commented on #5395
I now think this is intended behavior, because multiple documents could be affected, some with errors others successful. It still confuses me though, because in one case `r.error` results in an error in the other it only kind of does. But I guess it's a philosophical question if the error parameter should be filled if some documents where successful and others weren't. Can someone point to discuss

[2016-02-12 14:49] tatsujin1 commented on #5387
Oh I see. But then I have a follow-up question, hire many seconds is a month? 😃

[2016-02-12 16:18] nickmishustin opened #5396 "Gevent and rethinkdb"
I wrote about this problem earlier and decided that all right, but I have it again.
I have gevent and rethinkdb in django project. I try use changefeed in code bellow but It not works.
[code]

There are no any actions or error message. If i add `gevent.sleep(0)` in for body It works, but application hangs after page reload.

I tried use monkey_patch, Timeouts from gevent, native python thread and

[2016-02-12 16:31] bittrance opened #5397 "Intermittent NullPointerException in Java driver 2.2-beta-2 when reading from result stream"
[code]

Driver is 2.2-beta-2.

I'm running the same query over and over, and it fails sometimes. Anectdotally, it seems to be failing more frequently when the result set is large, say 4 kb.

[code]

[2016-02-12 16:41] bchavez commented on #5397
Sounds like #5355

[2016-02-12 16:50] deontologician commented on #3931
@quentez: we arent going to declare an official driver soon, so feel free to pick whichever you like. But we would likely use the bchavez driver since it's similar to the java driver and is easier to maintain. The mfenniak driver will likely continue to be the more idiomatic driver for reasons discussed in bchavez/RethinkDb.Driver#18

[2016-02-12 17:01] bittrance commented on #5397
Ah, there it is. The Github search engine failed me. I will try a build from master branch and verify in a day or two.

[2016-02-12 17:01] bittrance commented on #5397
Ah, there it is. The Github search engine failed me. I will try a build from master branch and verify in a day or two.

[2016-02-12 17:02] bittrance commented on #5397
Ah, there it is. The Github search engine failed me. I will try a build from master branch and verify in a day or two.

[2016-02-12 17:19] bchavez commented on #3931
Hey there, capitalization seems to be a big sticking point so I'll take a second swing at proper capitalization for the **ReQL AST**. I have a few other ideas to try... Also, do you have any other concerns about the bchavez driver? If so, please feel free to log them in the repo and I'll take a look at them.

[2016-02-12 18:57] nighelles commented on #5325
In review 3474, branch nighelles/5325.

[2016-02-12 19:27] danielmewes commented on #5397
@bittrance Since #5255 isn't merged yet, you'll have to build from git://github.com/vomjom/rethinkdb.git branch java_driver_fix to test it.

[2016-02-12 19:27] #5397 closed

[2016-02-12 19:50] encryptio commented on #5387
Or even, how many seconds in a day? Daylight savings time changes make that a surprisingly difficult question when you want to do arithmetic on times. Adding a "day" to a timestamp and having the time-of-day change would be what adding 86400 seconds would do across daylight savings time changes, which could be completely incorrect behavior in some use cases, and exporting constants like this makes

[2016-02-12 20:04] thelinuxlich commented on #5387
I think this is similar to .sample() current state, we shouldn't worry too much about purity, it's not like RethinkDB should bundle Moment.js to get daylight savings right, that's userland.

[2016-02-12 20:11] danielmewes commented on #2520
Something like a size-triggered expiration might be feasible in combination with https://github.com/rethinkdb/rethinkdb/issues/746 .

[2016-02-12 20:22] danielmewes commented on #5396
Hi @nickmishustin, we fixed the second bug yesterday in `next` with https://github.com/rethinkdb/rethinkdb/commit/dd28b112016190053e39bb773869af5f792c4551 . You might want to try the latest commit.

I'm not familiar with gevent myself. @Tryneus could you take a look at @nickmishustin example above please?
If gevent works similar to Tornado, you might have to write something like this instead of th

[2016-02-12 20:29] internalfx commented on #1523
@coffeemug I believe the Node.js [ReGrid](https://github.com/internalfx/regrid) driver is now ready for wider use and testing.

[2016-02-12 20:29] AtnNn commented on #3992
I just ran into this again. Could we change `non_atomic: true` to `atomic: false` and then have `atomic: 'document_update'` which would have the current behaviour and `atomic: 'document_query'`which would fail for all queries that touch anything other than the document id?

[2016-02-12 20:33] tatsujin1 commented on #5387
Yeah, even a minute is uncertain if you take leap seconds into account, but I didn't want to step in that pile of poo...

[2016-02-12 20:40] coffeemug commented on #1523
Awesome work!

We should get this into the docs, somehow /cc @chipotle

[2016-02-12 21:10] danielmewes commented on #1118
Interesting. I need to take a look at them.
On first sight, InfluxDB's continuous queries seem more specialized, but would be a very interesting use case.

[2016-02-12 21:14] danielmewes commented on #14
I'd like to note that the project we're working on is not primarily targeting offline syncing.
It's a functionality that would fit in nicely though, so we might be able to add it eventually.

[2016-02-12 21:14] AtnNn commented on #5389
This bug seems to caused by the order of static initialisation. In the alpha4 build, this line initialises `month_day_format` incorrectly:

[code]

[2016-02-12 21:18] danielmewes commented on #5395
@Prinzhorn This is indeed intended behavior, but I can see that it can be confusing / non-obvious.

The fundamental reason for write operations to return an error document rather than throwing the error directly is that they can generally be applied to multiple documents at once (e.g. if you did `r.table().update()` that would update all documents in the table). If the update of one document fails

[2016-02-12 21:18] #5395 closed

[2016-02-12 21:23] danielmewes commented on #5395
I opened an issue on our documentation issue tracker to make this behavior clearer in the API docs: https://github.com/rethinkdb/docs/issues/1018

[2016-02-13 01:03] Tryneus commented on #5396
@nickmishustin - I do not know the details of your `spawn` method, or how you're using gevent in your application, so it's hard for me to tell what's causing the problem.  If it helps, here is a small script that works fine for me for the same use case:

[code]

You shouldn't need to monkey-patch anything (although it shouldn't break anything, either), as the rethinkdb driver will use `gevent.sock

[2016-02-13 02:26] srh commented on #3931
Capitalization is naturally silly and intrinsically unimportant but it's basically a marketing thing, personally it sets off my C# dev spidey-sense.

[2016-02-13 03:33] danielmewes commented on #4777
This is implemented in branch ckastorff_4777_getintersecting_changefeed and now in code review 3476.

This also introduces a change to the behavior of `getIntersecting` and `getNearest` with respect to multi indexes.
Previously, geospatial queries would never emit duplicate results. Now they do emit duplicates if the same document intersects with the queried range multiple times under different in

[2016-02-13 03:35] danielmewes commented on #4777
(I should note that @encryptio did the difficult parts of this. I only implemented some last pieces).

[2016-02-13 03:35] danielmewes commented on #3351
I went ahead and changed this as part of https://github.com/rethinkdb/rethinkdb/issues/4777
This was necessary to make `getIntersecting` changefeeds work in a consistent way.

[2016-02-13 03:35] danielmewes commented on #3351
The change is in code review 3476.

[2016-02-13 06:16] bchavez commented on #3931
@srh No worries. Your :beetle: spidey-sense can rest at ease. The [bchavez/RethinkDb.Driver](https://github.com/bchavez/RethinkDb.Driver) now follows proper C#/.NET naming conventions for the **ReQL AST** and all public APIs (`v2.2.5-beta-3` or later). It's a bit of whiplash for those upgrading to `v2.2.5-beta-3` but I'd rather do it now than later. :+1:

Also, fixed a bug in the ReGrid file stora

[2016-02-13 07:25] Prinzhorn commented on #5395
@danielmewes thank you very much

[2016-02-13 19:46] HighOnDrive commented on #5031
+1 on support for Observables. With RethinkDB handling Mongo like transformations and aggregations plus Firebase like push notifications and also Observables compatible with RxJS the worlds problems will have been greatly reduced. It's a joy to discover RethinkDB :100:

[2016-02-13 20:07] deontologician commented on #5031
I've gotten some good experience with observables recently, and I'm a huge fan now. I'll likely hold off putting them into the main driver until RxJS 5 is out of beta though. It has some awesome performance improvements, and it uses the naming conventions that will likely be standardized in the future

[2016-02-13 20:23] deontologician commented on #5031
Although, if anyone wants to build an rxjs-based library that wraps the driver (or that wraps rethinkdb-dash) it would be pretty sweet and you'd probably get all the benefits you were looking for from the official driver supporting them.

[2016-02-14 02:48] quexer commented on #5301
@tatsujin1 I'll try this next time

[2016-02-14 08:42] simonratner opened #5398 "Windows server crash while running reqlite test suite"
Steps:

1. Checkout neumino/reqlite@05de26bd8d21c74f031ce0693ff98ea690e04f16

2. Run `rethinkdb.exe` on port 28015:

        $ rethinkdb.exe

3. Run `reqlite` on port 28016:

        $ npm install
        $ ./bin/reqlite --port-offset=1

4. Run subset of the included test suite:

        $ ./node_modules/.bin/mocha -t 20000 test/selecting-data.js

Result:
[code]

[2016-02-14 08:44] simonratner commented on #5398
Ah, looks like this may be the same as #5386?

[2016-02-14 08:48] simonratner commented on #5398
Indeed, works on `alpha-5`.
As you were.

[2016-02-14 08:48] #5398 closed

[2016-02-14 10:56] contra commented on #3997
Is there any schedule for upcoming releases? When is 2.5 due?

This is the last thing before changefeeds become a viable thing to use - super eager.

[2016-02-14 16:04] thelinuxlich commented on #4777
Does this enables compound geo indexes?

[2016-02-14 18:07] jamescostian opened #5399 "Restoring on Windows isn't very fun"
I downloaded the [preview](https://download.rethinkdb.com/windows/rethinkdb-dev-preview-0.zip), started up a server (`.\rethinkdb`) and in a separate CMD, ran `pip install rethinkdb` followed by `.\rethinkdb restore file.tar.gz` and this is what I got:
[code]

I also tried using the relative path instead of just the filename (i.e. `.\file.tar.gz` instead of `file.tar.gz`) and even the full path, b

[2016-02-14 18:15] jamescostian commented on #5399
P.S. for anyone else who's looking for a way to move old tables to Windows, you can just stop RethinkDB on the old server, copy the `rethinkdb_data` directory over to Windows, and run `.\rethinkdb` on Windows.

[2016-02-15 08:53] Prinzhorn commented on #3440
I'd love to see this as an option. For first time users it's currently confusing and it's also cumbersome. Inserting or updating a single document is a very common use case. The fact that an error might not actually result in an error makes this confusing for starters. I currently have to do something along the lines of this (node.js driver example)

[code]

which doesn't look nice at all and I ha

[2016-02-15 11:25] rsantosdev commented on #5389
Same happens to me

[2016-02-15 15:31] kaminskypavel commented on #5389
+1 same here

- [x] Win 10
- [x] rethinkdb 2.2.4-windows-alpha-4 (debug) (MSC 190023506)

[2016-02-15 15:37] kaminskypavel commented on #5389
Also why not posting older build for [Win](https://download.rethinkdb.com/windows/) as with https://download.rethinkdb.com/osx/?

[2016-02-15 16:47] nickmishustin commented on #5396
@danielmewes, thanks `dd28b11` fixed error above.
@Tryneus, thanks, it works!

[2016-02-15 18:56] hobbit125 commented on #5389
+1 same here.  Win 10, 2.2.4-windows-alpha-4

[2016-02-15 19:35] danielmewes commented on #3992
@AtnNn I like that proposal.
We do need to figure out what `document_query` means exactly though (does it only work for `filter`, or also for predicates such as `between`, `getAll` or `getIntersecting`?).

We also need to be somewhat careful in how we name and describe this, since a `document_query` query isn't actually atomic at all.
If RethinkDB crashes in the middle of a multi-document update f

[2016-02-15 19:53] danielmewes commented on #3997
@contra 2.5 is roughly 9 months away, though the schedule is not fixed and can still change significantly.

[2016-02-15 19:54] danielmewes commented on #4777
@thelinuxlich No, that will need almost completely separate changes.

[2016-02-15 20:05] danielmewes commented on #5399
Thanks for the writeup @jamescostian, and sorry for the bumpy experience.

We haven't ported the backup/restore scripts for the Windows developer preview yet.

I'm not quite sure what caused the `Cannot perform write`. That's not something that I'd expect to behave differently on Windows. We'll need to look into that.

[2016-02-15 20:05] danielmewes commented on #5399
I think the solution is for us to remove the dependency on `tar` and instead start using the Python `tarfile` module. This might also help us with https://github.com/rethinkdb/rethinkdb/issues/3755 .
Pinging @Tryneus for comments.

[2016-02-15 20:24] danielmewes commented on #5396
Closing since it's now working.
Reminded me that we need to document the gevent integration though: https://github.com/rethinkdb/docs/issues/1019

[2016-02-15 20:24] #5396 closed

[2016-02-15 21:03] danielmewes commented on #5389
@kaminskypavel You can find previous alpha builds in https://github.com/rethinkdb/rethinkdb/issues/1100#issuecomment-179568382 and upwards. Since the developer preview was our first official Windows release, there are no previous releases on `download.rethinkdb.com`. Once we release more versions, the old ones will remain on the download servers just as for the other systems.

[2016-02-15 21:25] vrde opened #5402 "Some python driver versions don't work properly on Ubuntu 14.04 (throws a VersionConflict)"
I noticed this behavior installing our package [BigchainDB](https://github.com/bigchaindb/bigchaindb) an AWS instance with Ubuntu 14.04. Our package installs a couple of shell scripts, and they both fail to run because of a `VersionConflict` exception. If you need, our [`setup.py` is available in our repo](https://github.com/bigchaindb/bigchaindb/blob/develop/setup.py) as well as the issue https:/

[2016-02-15 21:39] danielmewes commented on #5402
Thanks for the (greatly written) issue report.

At some point Pypi started to automatically translate our versions to the `.postX` format. We should probably just adapt that version format for `rethinkdb.version` as well, so both versions become consistent again.

I'll push a new release of the latest Python driver with the changed version format later, and post here once it's up.

[2016-02-15 21:55] danielmewes commented on #5402
Just published 2.2.0.post4 https://pypi.python.org/pypi/rethinkdb/2.2.0.post4 .
@vrde Can you check if that one works correctly?

[2016-02-15 22:22] vrde commented on #5402
@danielmewes thanks for the prompt reply and fix, it works perfectly.

[2016-02-15 22:22] #5402 closed

[2016-02-15 22:36] nighelles commented on #5056
Ok, trying to write down expected behavior somewhere:
Syntax:
`
cursor.each(function(row), function(err)) // callback-style
cursor.each(function(row, done), function(err)) // callback-style w/ async handler
cursor.each(function(row)).catch(function(err)) // promise-style from #4784
`
Getting to the end of the stream passes null to the error callback, or resolves to null in the promise case.
`done`

[2016-02-15 23:39] kaminskypavel commented on #5389
thanks for the info, @danielmewes.
as a workaround I suggest the  2.2.4 docker image of rethink, works flawlessly.

[2016-02-16 00:43] marshall007 commented on #5056
@nighelles yep, that looks right. The only clarifications being:

1. With the promise-style, if a promise is returned from the callback it is awaited before iteration continues (just like if you're using `done` in the callback-style). This is how `eachAsync` works from #4784.
2. Decide on what to resolve in `cursor.each(...).then(...)`. Will we accumulate the results or just resolve with the resul

[2016-02-16 00:47] marshall007 commented on #5056
Likewise with point (1) if the `done` callback is called with an error (i.e. `done(err, null)`) or if using the promise-style and the inner promise is rejected, these errors are propagated out to the user-specified error handler and iteration is aborted.

[2016-02-16 01:48] nighelles commented on #5090
This is in next.

[2016-02-16 01:48] #5090 closed

[2016-02-16 02:23] danielmewes commented on #3440
Maybe a nicer option would be to make our error types more structured. Rather than an error being just an error type and a text message, we could have them have additional properties.

Let's say we add a new error type `ReqlWriteError` to our error hierarchy (http://rethinkdb.com/docs/error-types/). Then we could make the instances of `ReqlWriteError` have a field `writeResult` or something simila

[2016-02-16 03:04] webmasterkai opened #5403 "Bug? 2nd compound index containing date doesn't sort"
I have a table with two compound indexes. Each index ends with a date field. The first index will sort correctly. The 2nd index does not.

Steps to reproduce:

[code]

Maybe I'm not thinking of something obvious?
[code]
Thanks!

[edit] The first index can be *any* kind of index.

[2016-02-16 03:11] danielmewes commented on #3158
Good news: Server-side TLS integration is coming with RethinkDB 2.3 thanks to this pull request https://github.com/rethinkdb/rethinkdb/pull/5381 by @jlhawn

[2016-02-16 03:36] Tryneus commented on #5403
There appears to be a typo in that code that could explain the problem, `r.now('date')` should be `r.row('date')`.  Super easy to overlook.

[2016-02-16 03:48] webmasterkai commented on #5403
OMG. I love you @Tryneus! Can't thank you enough! Thank you, thank you, thank you. It works as expected if I spell things correctly. Imagine that!

[2016-02-16 03:48] #5403 closed

[2016-02-16 03:52] webmasterkai commented on #5403
I've noticed other functions throw an error if they get too many arguments. Should `r.now()` throw if it gets an argument?

[2016-02-16 04:21] Tryneus commented on #5403
It should, but doesn't, but that is probably due to how it's handled on the server - it isn't put into the term tree with the rest of the query, but it is instead rewritten to a literal value before we run the query.

It's entirely possible that `r.now` used to check the arity and I screwed it up when I rewrote that code a few months back.  Either way, it should be a simple fix.

Thanks for report

[2016-02-16 04:58] HighOnDrive commented on #3680
"We'll definitely consider adding such a feature at some point", looking forward to it then :+1:

[2016-02-16 06:18] marshall007 commented on #5387
Related to #4187. These would play nicely together.

[2016-02-16 06:31] VeXocide commented on #5387
I vehemently disagree that we shouldn't worry about purity, quite the contrary, we should such that you don't have to. If treating a day as 86400 seconds is sufficient for you storing that number in a constant `day` and simply using `r.now().sub(day)` is just about as much effort as using `r.now().sub(r.day())`. However, someone expecting us to do the right, but tricky, thing would be sorely mista

[2016-02-16 06:34] VeXocide commented on #5387
For the record, the Boost.DateTime library that we use also limits duration constants to an hour, thus this would be near impossible to get right indeed.

[2016-02-16 13:36] kwando commented on #5387
I do not like this proposal. Like @VeXocide said, it is trivial to use application level constants to achieve the same result.

[2016-02-16 14:14] trungtin commented on #5370
@danielmewes Could you help with my case:
Simplify, I have a Post with multiple Tags (limits at 3) and Scores. And user can query multiple tags at a time. If I use multi index, then I can use `get_all` to query, let say 10 posts with a list of user tags. Then how can I query those with highest Scores. If I use 3 separate compound index like this:
[code]
 then use `between` and `orderBy` and I can

[2016-02-16 17:14] marshall007 opened #5404 "Data Explorer: add "Load next batch" link to top of results"
Now that you can tweak the max number of results per page, the `Load the next batch →` link can end up quite far down the page. I would suggest having links to load the next batch at both the top and bottom of the page and/or making the `more available` text in the fixed header that scrolls with you clickable. Something like this:

<img width="572" alt="screen shot 2016-02-16 at 11 11 17 am" src="

[2016-02-16 17:27] chrisvariety commented on #5387
I agree, if this isn't done _right_ (e.g. with a C-level equivalent of moment.js), there's no point in doing this at all.

[2016-02-16 18:30] nighelles commented on #5041
This is in next.

[2016-02-16 18:30] #5041 closed

[2016-02-16 18:33] thelinuxlich commented on #5387
People don't bring this on the Rails community for helpers like 1.days(), but ok, let's stick with what is strictly right

[2016-02-16 18:52] chrisvariety commented on #5387
@thelinuxlich as far as I can tell, rails does this correctly without naive constants. https://github.com/rails/rails/blob/91db479ed4a03ca7e8a10e5c976782a1537130e0/activesupport/lib/active_support/core_ext/time/calculations.rb#L78-L138

[2016-02-16 19:01] karlgrz commented on #5041
Fantastic news, thank you!

[2016-02-16 19:06] danielmewes opened #5405 "Check that `r.now` does proper arity checking"
This came up in https://github.com/rethinkdb/rethinkdb/issues/5403

[2016-02-16 19:07] danielmewes commented on #5403
I opened https://github.com/rethinkdb/rethinkdb/issues/5405 to look into the missing arity check for `r.now`.

[2016-02-16 20:03] luiscarli commented on #3711
This project may be relevant for this discussion: https://github.com/mikemintz/rethinkdb-websocket-server
Together with: https://github.com/mikemintz/rethinkdb-websocket-client

It allows for doing the queries directly on the front-end side, and incrementally adding query validation as the project progress.

[2016-02-16 20:13] larkost commented on #4974
The first two tests have been merged with c6f81544. I am updating the original bug to mark off what is done.

[2016-02-16 21:41] danielmewes commented on #5404
That sounds reasonable.

(@mglukhov, @deontologician )

[2016-02-16 21:49] danielmewes commented on #5387
I think having these terms return seconds is probably not a good idea, but that doesn't mean that it has to be impossible to do arithmetic with them.

Theoretically we could add a `duration` type that's represented in terms of months, days, hours, minutes and/or seconds. We could then support adding a duration to a datetime in a way that uses the correct length of the month, day or hour.
The seman

[2016-02-16 23:31] danielmewes commented on #5370
@trungtin I don't think there's any efficient way to fetch multiple tags with an index and at the same time do the ordering for the results with the highest score with an index.
If the result set is not too large, you could simply do an un-indexed `orderBy` after the `getAll`.

In the next release of RethinkDB (2.3.0), you could use the new ordered `union` to merge the ordered results for each tag

[2016-02-16 23:31] nighelles commented on #5056
Is done supposed to be called with arguments?

[2016-02-17 00:00] nighelles commented on #5235
Forgot to mention this was in review 3470,
implemented in nighelles/5235.

[2016-02-17 00:00] nighelles commented on #5235
This is in next.

[2016-02-17 00:00] #5235 closed

[2016-02-17 00:21] marshall007 commented on #5056
@nighelles yea, I think it should take be a standard Node-style callback `(err, data)`. If `err != null` we're going to abort iteration and propagate the error to the `onFinished` callback. Analogous to what happens if you throw or return a rejected promise from `eachAsync` today. It's the mechanism to allow you to bail out early.

What we do (if anything) with the second argument `data` is an ope

[2016-02-17 01:22] VeXocide opened #5406 "Proposal: new client protocol"
Adding user accounts per #4519 will require us to change the client protocol to what's proposed below. The authentication aspect is based on https://tools.ietf.org/html/rfc5802#section-5.

- `C` → `S`: the magic version `V0_5` whose value has yet to be determined in a bike shed, I propose `0xd27951cc`.
- `C` → `S`: a JSON object terminated by a null byte. This JSON object MAY contain a member `"au

[2016-02-17 03:44] mick-h commented on #5348
We're getting this on version 2.2.2 as well.
[code]

3 times now, on a fairly lightly loaded production server, with at most ~250,000 documents.

I did notice that rethinkdb was using 5.85GB of memory according to `top`.  We have the cache-size set to 2048MB, so I'm a bit curious as to whether that's a normal amount of memory for a server configured with that cache-size to use?  Memory usage for t

[2016-02-17 10:20] sagivf opened #5407 "Proposal: insite\log on `r.http` operations"
I really like `r.http` and use it a lot. But the one thing that i’m missing is  < insight / metrics / debugging > on what is happening behind the scenes.
Some sort of log file where rethink would push out everything regarding http requests would be great.
meaning - failures, successes, timing and so on… Perhaps you could even see it realtime in the dashboard. Would be happy to help were I can.

[2016-02-17 16:51] larkost commented on #5407
I think that this should probably be counted as a subset of #4628 (choosing a C++ logging library), as we would probably not want to create a separate log file for just these messages. However, if we used a logging library that allowed for tags, then you could filter those to a specific file.

[2016-02-17 17:23] DeepAnchor commented on #3997
@danielmewes thanks for the update; this is a killer feature and would provide great flexibility for relationship modelling.

[2016-02-17 18:40] nighelles commented on #4771
Fix for this is in next.

[2016-02-17 18:40] #4771 closed

[2016-02-17 18:40] nighelles commented on #4529
This is in next.

[2016-02-17 18:40] #4529 closed

[2016-02-17 19:27] danielmewes opened #5408 "`Guarantee failed: [cache_entry->ref_count == 0]` on shutdown"
Had this happen on `next` in release mode after running the Java tests against the server when I tried to shut the server down

[code]

[2016-02-17 19:44] GordyD opened #5410 "Error in src/rdb_protocol/changefeed.cc"
This morning we noticed that one of our RethinkDB servers crashed, unfortunately it was our main-db process. We run a 4 node cluster.

After checking rethinkdb process (`service rethinkdb status`), disk, memory then checking logs and seeing the error message I just need to restart the service to bring the server back up (`service rethinkdb restart`).

Please find the details of the crash below. I

[2016-02-17 19:45] danielmewes commented on #5348
Thanks for the report @mick-h .

The memory usage depends on a number of factors, only one of them being the cache size. For example large overall data sets use additional memory. The same is true if you have a lot of tables, or if you run particular memory-heavy queries (more details: https://rethinkdb.com/docs/memory-usage/). Could one of those factors explain the high memory consumption in your

[2016-02-17 19:46] danielmewes commented on #5348
...actually running out of memory could trigger this if one of the libraries we're using doesn't check the result of memory allocations properly. So that's a possibility.
(our own code would print a different error message if an allocation fails)

[2016-02-17 19:50] mglukhovsky commented on #5410
@GordyD, thanks for the report, we'll investigate shortly.

@mlucy: does this look like a changefeed bug?

[2016-02-17 19:54] danielmewes commented on #5410
@GordyD Thanks for the great bug report.

This looks like https://github.com/rethinkdb/rethinkdb/issues/5238 , which was fixed in RethinkDB 2.2.3.

I recommend upgrading to RethinkDB 2.2.4. It doesn't require any migration.

[2016-02-17 19:54] #5410 closed

[2016-02-17 19:55] danielmewes commented on #5410
For reference, here is the backtrace from the log file above with newlines:
[code]

[2016-02-17 20:20] mikemintz commented on #162
Would it be possible to publish a new RethinkDB JavaScript driver release on npm? The latest published is 2.2.1, but I think the pull request https://github.com/rethinkdb/rethinkdb/pull/5067 that fixes the `__proto__` issue in IE10 was only merged into 2.2.2 and later.

[2016-02-17 20:31] AtnNn commented on #5389
I think cb007e1 fixes this. Could you test this new build?

http://circus.atnnn.com/ipfs/QmZkxXdHE9sRhNQ91Fh418wN927GdJ2QBVnQeZLDV3LX5j/rethinkdb-windows-alpha-6.zip

[2016-02-17 20:41] opsb commented on #3997
Have to agree with @DeepAnchor, this feature would allow foreign keys for relationships. Currently you can only use foreign keys if you don't need changefeeds.

[2016-02-17 21:05] danielmewes commented on #162
@mikemintz It's currently only scheduled to be part of 2.2.3. But we can backport it.

[2016-02-17 21:09] mikemintz commented on #162
Thanks, no need to spend extra time backporting it. I just want to make sure there's a plan to update the driver on npm sometime so I can confirm it works.

[2016-02-17 21:10] mlucy commented on #5406
This looks good to me.  The only thing that comes to mind is that maybe the client should also send a version in the second step so that we don't have to bump the magic number every time we want to make a backwards-incompatible change.  (I think the magic number should only change if the wire format changes, not if e.g. the fields in the JSON objects change.)

[2016-02-17 21:16] danielmewes commented on #162
I'll apply it to `v2.2.x` so we can ship it with RethinkDB 2.2.5.

[2016-02-17 21:37] nighelles commented on #5104
This was in review 3475,
implemented in nighelles/sindex, and is now in next.

[2016-02-17 21:37] #5104 closed

[2016-02-17 21:48] danielmewes opened #5411 "Improve `getIntersecting` performance"
I've already started working on this, so this is just for book-keeping.

We can do a lot better in benchmarks like this one https://github.com/joshdurbin/places

[2016-02-17 22:10] #5166 closed

[2016-02-17 22:11] wmertens opened #5412 "Cannot build rethinkdb 2.2.4 on Darwin: v8 libtool error"
I am trying to build rethinkdb from source with http://nixos.org/nix/ on OS X El Capitan. Nix creates a sandbox environment for the build, making available only the specified inputs.

The problem I have is that v8 doesn't build, `libtool` errors out on the use of `-static`:

[code]

The build is basically just running the standard configure and make process, with some minor patching. [The build de

[2016-02-17 22:25] nighelles opened #5413 "Check that all the promises are caught correctly in cursor.mocha"

[2016-02-17 23:01] danielmewes commented on #5411
The improvement is in internal code review 3481, and implemented in branch daniel_geo_performance.

[2016-02-17 23:27] danielmewes opened #5414 "queries_per_sec and queries_total stats count CONTINUEs"
I think they should only count individual queries, not cursor CONTINUE or STOP requests.

[2016-02-18 00:04] nighelles opened #5415 "Testing will hang until you call done if you use the done argument"
As in cursor.mocha

[2016-02-18 00:15] larkost opened #5418 "add command to client drivers to get bug-submitting information"
Since a good number of bugs involve specific versions of our clients and server it we generally want people to report those things, along with others, we should make it as easy to do as possible. We already have a bug in this general direction (#41), but that is focused on reporting from the server side, and does not really connect to the github method of reporting (but does not strictly exclude i

[2016-02-18 00:27] GordyD commented on #5410
Ok, thanks for looking into this and apologies for not investigating similar issues prior to posting bug report! Will upgrade RethinkDB asap

[2016-02-18 00:34] danielmewes commented on #5406
Oh right. We were talking about the client version the other day and didn't know what it should be, but indeed it should send something akin to the different magic numbers that we currently have.
Maybe just "{protocol_version: <integer>}", where the integer would be 1 for now, and could be incremented in the future if we ever change the handshake again?

One more remark: "and MAY contain a member

[2016-02-18 00:42] AtnNn commented on #5230
Simply replacing `--no-registry` with `--registry http://disabled-registry` seems to work with the latest version of npm on windows.

[2016-02-18 00:47] danielmewes commented on #5412
Do you know which version of `libtool` Nix is linking into the sandbox?

I think the V8 build system assumes the XCode version, not the GNU one.

Wonder if there's a patch for the Nix v8 packages or if there's a different reason for why they don't encounter the issue.

Using an existing V8 is tricky because we also use the ICU header files from V8.

[2016-02-18 00:58] mlucy commented on #5383
This is in next.

[2016-02-18 00:58] #5383 closed

[2016-02-18 02:12] VeXocide commented on #5406
I'm in favour of requiring the member `"error"` in failure cases, it simplifies the protocol marginally and an error message makes it easier to debug what's failing.

Instead of the version I'd like to propose an optional member `"capabilities"` in the first message from the client to the server containing an array of strings with capabilities that the client supports. We may need to do this serve

[2016-02-18 03:15] danielmewes commented on #5407
This seems somewhat separate from #4628 to me, though #4628 would make supporting this easier.
From a functionality point of view, this is very closely related to https://github.com/rethinkdb/rethinkdb/issues/544 . In fact https://github.com/rethinkdb/rethinkdb/issues/544 would make it fairly easy to grep for queries with `r.http` in them and to distinguish between failed and succeeding queries.

[2016-02-18 06:39] nexflo commented on #1592
This one seems very interesting..but very stalled as well :(

[2016-02-18 07:13] wmertens commented on #5412
Indeed, the libtool comes from gcc. I'll try using the XCode one.

As for the icu header files, if regular icu is not visible during build but v8 is, that should be the ones that are picked, right? Any way to check what is being used, something to grep in the resulting binaries perhaps?

[2016-02-18 10:40] sagivf commented on #5407
The most important thing for me is to see which http requests failed (what url).
I like the idea of having it in a table, that makes it easiest to access and query.

[2016-02-18 10:44] ironhee opened #5419 "offsetsOf returns wrong offset when orderBy is not applied."
[code]

Like this situation.

[code]

When `orderBy` applied, Problem is removed.
Is this intended?

[2016-02-18 12:05] vasu4440 opened #5420 "Are Triggers available in RethinDB"
Hi ,

Is there trigger concept in rethink. like record insert or update. If yes could you please give sample

thanks

[2016-02-18 12:15] dalgard commented on #4280
+1 for FRP

[2016-02-18 13:09] muka commented on #5338
Thanks,
I've tried again on 16.04, see my above repository for updates.
The build still fails on armhf, with a weird error :)

[code]

[2016-02-18 16:36] sceee opened #5421 "Small parameter error on "Install RethinkDB on Windows" website"
Thank you so much for providing the Windows Developer Preview.

I just wanted to point out that there is an error on the website
http://rethinkdb.com/docs/install/windows/

The command
`rethinkdb.exe -n jarvis --j cluster.example.com`
uses two "minus" chars before the cluster wheras the command would be correct the following way:
`rethinkdb.exe -n jarvis --j cluster.example.com`

[2016-02-18 17:06] danielmewes commented on #5419
‎This is expected. Without an `orderBy` the order of `r.table` is not guaranteed and depends on timing, sharding and other factors. If you add an `orderBy({index: "id"})`, that will be pretty efficient and enforce a deterministic ordering. 

[2016-02-18 17:09] ironhee commented on #5419
Ok I understand. Thank you for detailed answer :D

[2016-02-18 17:09] #5419 closed

[2016-02-18 17:16] danielmewes commented on #5421
Thanks for the report @sceee. I've copied this to our separat issue tracker for documentation: https://github.com/rethinkdb/docs/issues/1025

[2016-02-18 17:16] #5421 closed

[2016-02-18 17:21] danielmewes commented on #5420
Triggers a not currently available (see https://github.com/rethinkdb/rethinkdb/issues/336 ). You can implement client-side triggers by using changefeeds though.

[2016-02-18 17:21] #5420 closed

[2016-02-18 17:28] larkost commented on #5412
`v8`'s way of including ICU is a bit complex, and they actually use a modified version that has the ICU table expanded. My understanding is that this later bit it to allow `v8` to use virtual memory much more efficiently if you have a lot of instances going (which is common). A couple of us here (I am only the most recent) have done battle with this setup a few times, and there are a lot of hoops

[2016-02-18 18:07] larkost commented on #5415
I am going to close this, as this is just how `mocha` works. If you take the `done` argument, then you have to use it.

[2016-02-18 18:07] #5415 closed

[2016-02-18 18:10] larkost commented on #5413
Just clarifying this: while @nighelles and I were working on a new test he was creating within `cursor.mocha` I got worried that other existing tests were not `return`ing the promises that they were using, and so failures within those test could well go unmarked. This bug is to audit that to make sure we are doing the right thing.

[2016-02-18 19:29] felixis-1 opened #5422 "Write acknowledgement: "all" as a possible option for consistency guarantee"
Hello, is it possible to add an "all" option to the write acknowledgement setting to allow for even greater consistency guarantees. Also, can an option like EACH_QUORUM and LOCAL_QUORUM be added like we have in Cassandra?

[2016-02-18 20:07] mlucy commented on #5406
I think a protocol version would be better than capabilities.

Capabilities make sense when you have an extremely complicated ecosystem with multiple providers that have wildly different feature sets (e.g. C++ compilers).  They also make sense when it's reasonable for a client to only support a subset of functionality.  Neither of those are really true here.

In this case I think they'd add extra

[2016-02-18 20:24] mlucy commented on #5406
@VeXocide and I talked about this a little bit offline, and he mentioned another thing, which is that it's probably a good idea to have the server report what protocol versions it supports *before* the client requests a particular protocol version, because that allows you to write clients that can connect to older versions of the server.

We decided that it's probably a good idea to require the cl

[2016-02-18 20:31] mlucy commented on #5406
So the current proposal is:

#### C -> S
`0xd27951cc`
#### C <- S
[code]
#### C -> S
[code]
#### C <- S
[code]
or
[code]
#### C -> S
[code]
#### C <- S
[code]
or
[code]
#### C -> S
Queries and stuff.

[2016-02-18 21:43] danielmewes commented on #5406
Could we merge this message:
[code]
into this one:
[code]

To reduce the latency for connection setup a bit? The client would have to send the authentication data before it has heard from the server about the supported protocol versions, but my impression is that that wouldn't be an issue.
The exception I can think of is if we later want to add additional authentication protocols and the client ne

[2016-02-18 21:52] VeXocide commented on #5406
We'll definitely want to add additional authentication protocols like x.509 later. Another upside of this setup is that monitoring tools can simply send the magic version and have the server report that it's still good.

[2016-02-18 21:56] nighelles commented on #3651
Did this get fixed? I'm not seeing the issue.

[2016-02-18 21:57] mlucy commented on #5406
Merging the messages seems bad.  You want the server to say what protocols it speaks *before* the client starts talking to it, I think.

One way we could change the protocol to allow lower latency is we could say that if the client asks for a protocol the server doesn't support, the server responds with an error but keeps listening for another protocol request.  (So instead of erring out it goes b

[2016-02-18 22:26] thelinuxlich opened #5423 "Inverted getAll()"
Suppose I want to get all documents which doesn't match a blacklist in a fast way:

[code]
or
[code]

[2016-02-18 22:30] deontologician commented on #5406
Why can't the client send this stuff together?
[code]
It seems like an unnecessary round trip. If the server doesn't support the protocol version or authentication method it can just error as its first response.

[2016-02-18 22:34] VeXocide commented on #5406
@deontologician -- we want to have the client select the highest protocol version that both the client and server support, allowing a client to talk to an older server.

[2016-02-18 22:35] deontologician commented on #5406
Ah, ok I missed that clients would support more than one protocol. Sorry

[2016-02-18 22:40] nighelles commented on #5408
Crash seems to be caused by include_states.yaml, crashes using the python driver as well.

[2016-02-18 22:47] VeXocide commented on #5423
This depends on the number of users compared to those blacklisted. If it's a relatively small number that are blacklisted you'll effectively do a table scan and simply using a filter is your best option, don't overthink this. If the majority is blacklisted that isn't the case anymore, and I'm not quite sure how you'd best handle that, setting a flag on the user and indexing that would likely be th

[2016-02-18 22:55] danielmewes commented on #5406
@mlucy I think allowing for the extra roundtrip in case the protocol isn't supported by the server might be better. It makes the protocol slightly more complex, but removes a round trip. I've seen lots of benchmarks and simple applications where a new connection is opened for each request, so I think connection setup latency does matter.

In practice, most users are going to run servers that match

[2016-02-18 23:15] mlucy commented on #5406
OK, that's a simple patch.

After talking with Daniel I also think we should have error codes alongside the error messages, since historically not having them in RethinkDB has kinda sucked.

[2016-02-18 23:26] nighelles commented on #3651
This seems fixed.

[2016-02-18 23:26] #3651 closed

[2016-02-18 23:32] Tryneus commented on #5399
Fix is up in review 3486.  Changing the scripts to use `tarfile` rather than shelling out to `tar`.

[2016-02-18 23:34] mlucy commented on #5406
Here's the updated proposal:

## 1. C -> S
`0xd27951cc`
Client proceeds to step 3 to reduce latency.

## 2. C <- S
Server receives magic number from step 1.
#### Failure:
[code]
Server closes connection.
#### Success:
[code]
Server proceeds to step 4.

## 3. C -> S
Client sends this immediately without waiting for a message.
[code]
Client proceeds to step 5.

## 4. C <- S
Server receives message f

[2016-02-18 23:35] Tryneus commented on #5405
Fix is up in review 3484.

[2016-02-18 23:36] Tryneus commented on #5316
Fix is up in review #3487.

[2016-02-19 00:30] danielmewes commented on #5423
There's actually a way for doing this, though it's a bit cumbersome:
[code]

I haven't tried it yet. But I hope you get the idea. Basically you construct a bunch of open ranges *around* the blacklist IDs and combine them into in a union.

[2016-02-19 00:35] danielmewes commented on #5423
...Actually I think this doesn't quite work, because you can't put the `r.table.between` into an `r.args` since it's a stream. You could cast those to an array if the result is expected to be small, but that's not ideal.

There's probably a slightly different way of getting the same query that works better. Or you could do a part of the query construction logic on the client.

[2016-02-19 01:29] VeXocide commented on #5423
I had this thought as well but it doesn't scale well as you mention, and in that situation it's a premature optimization in my opinion.

[2016-02-19 01:52] encryptio commented on #5406
Handshake seems decent to me.

Did we want to leave this for handshake only changes, or do we want to bring in #5150 (different normal data framing) too?

[2016-02-19 02:19] danielmewes commented on #5406
We'll leave that for later. But the new handshake will at least make it easier to add the different framing later and allow clients to communicate which one they want to use. 

[2016-02-19 02:31] Tryneus commented on #5316
The fix has been approved and merged to `next` in commit a7efce3, and cherry-picked into `v2.2.x` in commit 202354f.  Will be in release 2.2.5.  Thanks for reporting this, @mbroadst!

[2016-02-19 03:26] mlucy opened #5424 "Make RethinkDB error when compiling with Clang 3.2"
There's a bug where brace initialization of structs with reference counted pointers sometimes causes the destructors of those reference counted pointers to not be called.  (Or at least that appears to be the behavior, and the same behavior doesn't happen in either GCC or newer version of clang.)

@AtnNn, do we have a standard way of refusing to compile with a particular version of a compiler?

[2016-02-19 03:33] AtnNn commented on #5424
@mlucy: the configure script can test for a lower bound on the version. we currently set `min_clang_version=0` here https://github.com/rethinkdb/rethinkdb/blob/next/configure#L14

[2016-02-19 05:01] jlhawn commented on #3151
@danielmewes Looks like that segmentation fault is actually an error from my added code. I forgot that in C/C++ struct fields are not automatically initialized with zero. I have been spoiled by this feature of Golang. I have some logic that is basically this:

[code]

My assumption was that if TLS is not configured then `tls_ctx` will be `NULL`. However, by default the value of `tls_ctx` is just a

[2016-02-19 10:49] Dev1an commented on #3711
Meteor development group (MDG) is doing some interesting work concerning this topic: https://github.com/apollostack/apollo
They make a javascript stack for realtime data subscriptions using GraphQL. Would it be a possibility to work together with them and implement a [Data driver](https://github.com/apollostack/apollo/blob/master/design/high-level-reactivity.md#data-drivers) so that we can do real

[2016-02-19 12:23] Prinzhorn commented on #3440
@danielmewes I like the idea. Errors are not the common case and shouldn't be treated as such. The 0.01% (or whatever) of requests which result in an error shouldn't be treated as data the way they currently are. Errors are and will always be exceptional cases and shouldn't be treated like normal responses.

A related question: how does the current response help the user? If 5 of 10 documents resu

[2016-02-19 13:31] wmira opened #5425 "r.uuid(somestring)"
Is it  guaranteed that passing an argument will generate the same value every time if we pass the same string?

[2016-02-19 14:39] kwando commented on #5425
I think so, otherwise I'm in trouble.

[2016-02-19 15:27] thelinuxlich commented on #5425
Yes it is

[2016-02-19 15:36] VeXocide commented on #5425
Indeed, it will generate the same UUID given the same input.

I'll close this issue since it's not a bug, but please feel free to ask more questions here.

[2016-02-19 15:36] #5425 closed

[2016-02-19 16:00] mattkrick commented on #3711
@mglukhovsky can i get an invite?

[2016-02-19 16:02] mglukhovsky commented on #3711
@mattkrick -- sent you an email last night with details (and you should be invited to the project.)

[2016-02-19 16:04] snobear commented on #5389
Yes, that appears to have fixed it for me!  (alpha 6, Windows 10)

[2016-02-19 16:27] niieani commented on #3711
@mglukhovsky Would love an invite too. I've been developing my own optimistically-updating client-side querying lib with @mikemintz's `rethinkdb-websocket-client` and it's been great so far - I'd love to see what the officially supported, like-minded GraphQL with RethinkDB has to offer.

[2016-02-19 17:01] mattkrick commented on #3711
@mglukhovsky still getting a 404 on the horizon repo

[2016-02-19 17:07] mglukhovsky commented on #3711
@mattkrick: check your email for a GitHub invite. You can view and accept invitations here: https://github.com/rethinkdb

[2016-02-19 17:08] mglukhovsky commented on #3711
@niieani: could you send me an email at mike@rethinkdb.com? Happy to get you set up.

[2016-02-19 18:58] nighelles commented on #5056
This is in review 3482. Implemented in nighelles/5056.

[2016-02-19 19:06] nighelles commented on #5408
#5424 Should resolve this.

[2016-02-19 19:07] luiscarli commented on #3711
@mglukhovsky can i get an invite also? Thanks!

[2016-02-19 19:11] mike-marcacci commented on #5211
Hi there, I'm also experiencing this behavior when upgrading from 2.2.3+1 to 2.2.4 on ubuntu 14.04. There's nothing in the logs on the effected server and the actual `apt-get install` command refuses to respond to `ctrl+c`:

[code]

I eventually killed the rethinkdb process with `kill -9` but that spun the whole cluster into a really surprising state where 4 of the 5 replicas in a couple shards we

[2016-02-19 19:13] danielmewes commented on #5424
We should do this for 2.3, not for 2.2.x I think. We also need to do https://github.com/rethinkdb/rethinkdb/issues/2230 first, because the version of Clang on OS X 10.7 is also affected (though I think it uses a different version numbering scheme?).

[2016-02-19 19:22] danielmewes commented on #2230
The easiest and least controversial option seems to be defining the following environment variables in the buildbot script:
[code]

Any substantial objections to this @larkost @AtnNn ?

Otherwise I'm going to go ahead and add an alternative buildbot configuration to build on gantz with these flags in the environment.

[2016-02-19 19:51] danielmewes commented on #3440
@Prinzhorn The one thing I can think of is that an application might want to "roll back" changes as soon as some of them succeeded. But I think that's a rather rare / special scenario.

I think it's still important to communicate that the operation hasn't failed completely, but only partially. Otherwise someone might assume that it's save to re-run the write until it (fully) succeeds without any s

[2016-02-19 20:17] untra commented on #3769
I hate to necropost, but I was told to suggest my statistics feature here. :smile:
A convenient statistics feature to have would be something like an arithmetic mode.

`r.expr([1,2,2,2,3,3]).mode()`

`mode()` would be invoked similar to how `avg()` is currently invoked, and have additional options for dealing with funky, bi-modal datasets. At the moment, If I want to take an arithmetic mode of a d

[2016-02-19 20:25] danielmewes commented on #5423
Well it scales about as well as a filter I think, except for the case where you use a secondary index and the blacklisted IDs have lots of matches in which case it scales better.

But I agree that unless the latter is the case, a `filter` is probably the way to go because it's simple.
@thelinuxlich Does that work for you?

[2016-02-19 20:55] danielmewes commented on #5300
This is working again in Chrome 50.0.2652.0 dev.

I'll open a new issue to update our `Buffer` implementation when it's updated in `node.js`.

[2016-02-19 20:55] #5300 closed

[2016-02-19 20:58] danielmewes opened #5426 "Update `Buffer` implementation"
We're pulling in the `Buffer` implementation from node.js into our web UI somewhere, and the version we're currently using doesn't work very well with the latest ES revisions.

Once this has been addressed in node.js, we should update the implementation we use: https://github.com/nodejs/node/issues/4701

See https://github.com/rethinkdb/rethinkdb/issues/5300 for some more background on the issue.

[2016-02-19 21:08] mike-marcacci opened #5427 "Replicas enter "backfilling" state unnecessarily"
I first described this in #5211, where I killed a rethinkdb process with `kill -9` after letting it hang on SIGTERM for a few minutes. While I wouldn't have been surprised if that node had to be backfilled to be trusted, what happened was a bit unexpected (and probably unnecessary):

On our larger table, shard 2 retained all 5 of its replicas in "green" state. However, shards 1 and 3 had 4 of thei

[2016-02-19 21:24] danielmewes opened #5428 "Figure out `jobs` table behavior in presence of proxy nodes"
Proxies never show up in the jobs table, since they don't have a server name (or maybe for other reasons as well).

This is an issue for queries that are run through a proxy. Those will be invisible in the `jobs` table.
In clusters that use proxies, this will usually be pretty much all queries.

The second point in https://github.com/rethinkdb/rethinkdb/issues/3647 would fix this for the most part

[2016-02-19 21:24] mike-marcacci opened #5429 "When backfilling, prioritize immediate availability"
This is a bit related to #2732 and comes from my experience with #5427, but probably deserves its own issue. Per #5427, my cluster ended up in a state where 4 of 5 replicas went into a "backfilling" state, which threw the table into "outdated reads" mode.

When debugging, I noticed all 4 replicas were backfilling from the same source server `j7q2y3g1_rethinkdb_usage_service_iad_dyq` with equal pri

[2016-02-19 21:38] mlucy commented on #3440
@Prinzhorn --

I don't necessarily disagree with you, but I think you're underestimating the number of write queries that produce errors.  Some people use databases like RethinkDB with an implicit schema, and for them write errors are rare and almost always indicate a serious problem.  But other people store extremely unstructured data and seem perfectly comfortable issuing write queries and havin

[2016-02-19 21:41] danielmewes commented on #5429
We already prioritize backfills that are important for availability over those that don't. However I believe our current schema is symmetric, so it will not arbitrarily pick a subset of otherwise equal replicas in order to backfill them more quickly than others. I'm fuzzy on the details though.
I know that our current system also prefers smaller backfills, so I would assume that that would in prac

[2016-02-19 21:46] danielmewes commented on #5429
The problem might be that our current throttling is based on a maximum number of concurrent backfills per source. It always picks up to that number of replicas for backfilling.
If there are more replicas that want to backfill, it will pick the ones that it thinks will finish more quickly and that are critical for availability (for example non-voting replicas will not be picked at first). However i

[2016-02-19 21:55] marshall007 commented on #5056
@nighelles I was able to simplify this a bit by taking advantage of the handy utility functions built into `bluebird`: https://github.com/rethinkdb/rethinkdb/compare/nighelles/5056...marshall007:5056_refactor

Continuing to support the `return false` behavior from the callback feels dirty and too subtle now that we have the other mechanisms for terminating iteration early. I don't think we should

[2016-02-19 22:09] nighelles commented on #5056
I think @danielmewes and I discussed putting the new functionality into eachAsync to avoid breaking existing functionality.

[2016-02-19 22:26] larkost opened #5430 "make cursor.toString produce something nice in JavaScript driver"
Currently `toString` on a cursor object in JavaScript produces `[object Cursor]`, which is not much use to most. Our Ruby and (more recently) Python drivers produce the first bunch of results, which might be a better model.

[2016-02-19 22:58] danielmewes opened #5431 "Add back a way to configure custom shard boundaries"
During 2.1 planning, we decided not to allow custom shard boundaries.

One difficulty with them is that we can't generally render shard boundaries in a nice way, i.e. we can't go from shard boundary to a datum.

However the other direction is easy, and is useful for some people.

I think we should consider adding back an option for specifying shard boundaries explicitly in terms of datums, even if

[2016-02-19 23:07] mlucy commented on #5431
Why can't we have a rule that shard boundaries are always datums?

[2016-02-19 23:14] danielmewes commented on #3151
@jlhawn Ah I see. Sorry I haven't gotten around to taking a deeper look at your code yet. I'll hopefully be able to do that soon.

(I originally posted this in https://github.com/rethinkdb/rethinkdb/pull/5381#issuecomment-186426069 because I got confused about the different threads)

[2016-02-19 23:16] danielmewes commented on #5338
@muka Could it be running out of memory during compilation? Otherwise that looks like it might be an actual GCC bug.

[2016-02-19 23:23] danielmewes commented on #5431
@mlucy Hmm we probably could. That would make things easier.

I don't remember exactly how the shard ranges work (in terms of whether they are open or closed etc.), but I don't see any fundamental reason for why the split points couldn't be proper datums. We would probably need to implement a function to convert a primary btree key back into a datum if we don't want to break abstractions too much,

[2016-02-19 23:24] marshall007 commented on #5430
I'm not sure if this would be possible in JS since `toString()` is expected to be synchronous.

[2016-02-19 23:27] danielmewes commented on #5430
@marshall007 The thing we do in the other drivers is to only print the first few objects from the local buffer. If there is no result yet, we won't print anything. We would do the same thing in JavaScript.

It's basically just for interactive use, though the asynchronous nature of node indeed makes it less useful.

[2016-02-19 23:43] mlucy commented on #5205
This is in next and 2.2.x.

[2016-02-19 23:43] #5205 closed

[2016-02-20 00:26] larkost opened #5432 "empty data buffer on JavaScript cursor when it is closed"
If you call `close` on a Python or Ruby `cursor` object, and then try to read from it again you will get an error. However, on JavaScript it will continue to give you data out of the buffer until it is empty (and then error). We should probably do what we do on the Python one, and empty out the buffer immediately.

Note, this is related to #5056.

[2016-02-20 00:32] mike-marcacci commented on #5429
Hey @danielmewes! Thanks for the super quick response - yes, I realize that building a strategy that works best in all failure scenarios is a bit of unicorn hunt. I just wanted to document this use case as one situation where the decider could better optimize the backfill process. It's not much of a proposal, just something to reference in the future :)

[2016-02-20 01:13] jlhawn commented on #3151
Since this issue is titled **Simplify setup of encrypted RethinkDB clusters**, it's probably a good idea to cross-post [this gist that I put together](https://gist.github.com/jlhawn/43f84f86579012470dc9) which is now probably *the simplest* guide to setting up an encrypted RethinkDB cluster. It uses an experimental build of my pull request. @kevincox, you should try it out!

[2016-02-20 01:18] jlhawn commented on #3158
Cross-posting this for more exposure: I made a [guide to setting up a RethinkDB cluster with native TLS](https://gist.github.com/jlhawn/43f84f86579012470dc9) which uses an experimental build from that aforementioned pull request.

[2016-02-20 01:42] #5411 closed

[2016-02-20 01:43] thelinuxlich commented on #5423
Yes, it can do the job

[2016-02-20 01:43] #5423 closed

[2016-02-20 01:45] danielmewes commented on #5411
Fixed in v2.2.x ca002ee and next 67fb015.

The optimization I ended up with only improves performance when points are stored in the index (rather than polygons or lines), but that's the most common case.

There's another optimization that can be done in the future which will have less of an impact, but works for all stored geometries (though it will now do very little for points, since the optimiz

[2016-02-20 01:59] jlhawn commented on #4519
I want to mention that this is somewhat related to #3151. If TLS client authentication is used, it would be really cool if the user could be identified by the client certificate as an alternative to using a secret auth key.

[2016-02-20 06:32] muka commented on #5338
This may be the case, will check! Thanks

[2016-02-20 08:24] AtnNn commented on #5424
I think it would be better to test for this behaviour instead of for a specific compiler version. @mlucy Can you write a small self-contained test case?

[2016-02-20 11:07] joeblew99 commented on #5338
no idea on this one as your further down the rabbit hole than me.

[2016-02-20 13:11] MedAnd commented on #3217
:+1: for Discovery or ability to register with a Naming service... my particular scenario is deployment to auto provisioned Azure environments which are dynamically scaled to (x) number of nodes.

[2016-02-20 18:56] felixis-1 opened #5433 "Named changefeeds and the ability to load balance amongst connected clients"
Can the change feeds implementation be enhanced to have something like named change feeds. Basically there would be a way to have something like `.publishTo('foo')` after calling `.changes()`.

Now, this change feed can be subscribed as `r.subscribeTo('foo')`. This would be a top level call just like `r.http`.

There will be also be a `.changefeedList()` just like `.tableList()`.

The `.publishTo(

[2016-02-20 19:48] felixis-1 commented on #5433
I don't know how but I missed #3184 entirely.

[2016-02-20 19:48] #5433 closed

[2016-02-21 17:27] laminko commented on #5348
i have the same error, too.

`Recursively removing directory /home/lmk/Programs/rethinkdb/build/release/rethinkdb_data/tmp
Initializing directory /home/lmk/Programs/rethinkdb/build/release/rethinkdb_data
Running rethinkdb 2.2.1-505-g0af5b1-dirty (GCC 4.9.3)...
Running on Linux 4.4.0-sabayon x86_64
Loading data from directory /home/lmk/Programs/rethinkdb/build/release/rethinkdb_data
Version: rethin

[2016-02-22 10:17] cggaurav opened #5434 "Waiting for Quorum and Waiting for Primary. Unresolved state on 2.2.4."
![](http://d.pr/i/qs83+)

[2016-02-22 10:33] keshavagrawal89 commented on #5069
@danielmewes Yes. You can close this bug. I called close at places where I was sure of data being read and the issue never came up. Sorry to respond so late.

[2016-02-22 10:33] #5069 closed

[2016-02-22 11:09] MedAnd commented on #5382
:+1:

I've documented similar findings on the google user group: https://groups.google.com/forum/#!topic/rethinkdb/89iX-qn7gbQ

[2016-02-22 16:40] hariDasu commented on #4429
+1 , what is the status on this?

[2016-02-22 19:32] danielmewes commented on #5348
@laminko Even though it's a segmentation fault as well, that looks like a different issue, and one that I believe only exists in `next` and not in any actual release.
I've seen this before, and I believe that its appearance depends on compilation order somehow. I'm going to open a separate issue for this.

[2016-02-22 19:34] danielmewes opened #5435 "RethinkDB on `next` sometimes segfaults"
Depending on the compilation environment, you sometimes seem to get binaries on `next` that crash every single time on startup.
@laminko reported this in https://github.com/rethinkdb/rethinkdb/issues/5348#issuecomment-186863025 , and @nighelles and myself have also seen this before.

[code]

[2016-02-22 19:57] danielmewes commented on #4519
Using client certs for user authentication is an interesting thought.
I think we'll leave that to version 2 though, to keep things a bit simpler in the first release.

[2016-02-22 19:58] VeXocide commented on #4519
X.509 is definitely on the list, but not for the first release as @danielmewes mentioned.

[2016-02-22 20:04] nighelles commented on #5056
@marshall007
Can you issue a pull request for this change against my branch?

[2016-02-22 20:44] danielmewes commented on #5435
I believe this was caused by the TLS_get functions being changed to returning a reference instead of a value, which I think is not safe. Need to look a bit more into what's happening exactly here.

[2016-02-22 21:38] danielmewes commented on #5422
We could certainly add this.
It doesn't actually give you any additional consistency guarantees over majority though.

The only difference is when using an emergency repair. I'm not sure whether that would still invalidate some consistency guarantees even when `write_acks="all"` is used or not.

[2016-02-22 21:40] danielmewes commented on #5422
I'm not sure how EACH_QUORUM and LOCAL_QUORUM behave, so I'll need to look that up.

Note that in general Cassandra behaves very differently from RethinkDB, as it's an eventually consistent database.

That's why the consistency guarantees in RethinkDB don't improve further if you use "all" acknowledgements, while in Cassandra they might.

[2016-02-22 21:55] danielmewes commented on #5434
Quite possibly a duplicate of https://github.com/rethinkdb/rethinkdb/issues/2755 .

[2016-02-22 21:56] danielmewes commented on #5316
We've reverted the change in `v2.2.x` because it turned out that waiting for `ready_for_writes` is not enough if `wait` is used after a `reconfigure` or `rebalance`.
We're going to change the documentation for 2.2, and revisit this for 2.3.

[2016-02-22 22:16] mbroadst commented on #5316
@danielmewes would you mind clarifying what you mean by "`ready_for_writes` is not enough" ? I believe we do exactly this in some cases

[2016-02-22 22:45] danielmewes commented on #5316
@mbroadst `ready_for_writes` doesn't wait until the configuration has actually finished applying.
If all you want is run a query and you handle query failures in terms of calling `wait` again and then retrying the query `ready_for_writes` is sufficient.

However since the configuration has not necessarily been fully applied when `wait(wait_for="ready_for_writes")` returns, the table might subseque

[2016-02-22 23:10] marshall007 commented on #5056
@nighelles PR up at #5436.

[2016-02-22 23:43] nighelles commented on #5325
This is in next.

[2016-02-22 23:45] #5325 closed

[2016-02-23 00:22] danielmewes commented on #4429
@hariDasu There isn't any news on this yet. We're super busy with some other exciting projects at the moment. But it's still on the list.

[2016-02-23 01:03] nighelles commented on #5424
I added a clang_test.cc file in nighelles/5424.

[2016-02-23 01:14] danielmewes commented on #5424
@AtnNn Can you integrate that into the configure script? https://github.com/rethinkdb/rethinkdb/blob/29980dbefefc059cf0b1b81acd12837f235eb6f1/test/clang_test.cc

[2016-02-23 01:37] danielmewes commented on #5435
Fix in review 3490 by @VeXocide

[2016-02-23 02:02] Tryneus commented on #5405
The fix has been approved and merged to `next` in commit c016269, and cherry-picked into `v2.2.x` in commit b99e213.  Will be in release 2.2.5.

[2016-02-23 02:02] #5405 closed

[2016-02-23 02:02] #5435 closed

[2016-02-23 02:05] Tryneus commented on #5399
The change to use `tarfile` over `tar` has been approved and merged to `next` in commit 558be1b.  This isn't tested for Windows at the moment, so there may be other issues.

[2016-02-23 13:06] tatsujin1 opened #5438 "Error in src/rdb_protocol/datum.cc at line 1470: Unreachable code"
v2.2.3 on debian 8.2

After it was automatically restarted (by systemd) it seems to work fine.

If the crash was caused by some specific data in the db I unfortunately have no way to find what that could've been.

[code]

edit: grammar

[2016-02-23 15:45] gyim opened #5439 "No error on changefeed after server restart in Java driver"
I set up a changefeed for a table and restarted RethinkDB. After restarting the database the application did not receive any notifications about the changes, and no exceptions were thrown.

How to reproduce the issue:

- Start the latest official RethinkDB docker image (2.2.4, image ID `eeff71def8c6`)
- Create the table `test_table` in database `test`
- Start the code below
- Make any changes in t

[2016-02-23 16:41] deontologician commented on #5439
Hi @gyim , this is unfortunately the expected behavior at the moment. Changefeed data structures aren't persisted to disk currently, so there's no ability to restart them after the database goes down. We have an issue for restarting feeds after a client crash (#3471) but this doesn't currently track surviving a database restart. (@danielmewes I don't think we have an issue for surviving db restart

[2016-02-23 16:47] danielmewes commented on #5439
‎There should be an exception though when the connection gets closed. We need to look into that. 

[2016-02-23 16:48] deontologician commented on #5439
Ah, good call, I overlooked that part.

[2016-02-23 16:51] deontologician commented on #5439
I bet it's related to #5417

[2016-02-23 16:52] bchavez commented on #5439
Here's the relevant part in .NET: https://github.com/bchavez/RethinkDb.Driver/blob/master/Source/RethinkDb.Driver/Net/SocketWrapper.cs#L201

[2016-02-23 20:01] VeXocide commented on #5406
I guess it's time to bike shed about the `V0_5` constant, Protobuf uses a signed integer thus it complains with `Integer out of range.` on my proposed constant.

[2016-02-23 20:03] VeXocide commented on #5406
We're going with `0x34c2bdc3`.

[2016-02-23 20:04] deontologician commented on #5406
No way, 0x34c2bdd5 is way better.

[2016-02-23 20:07] mglukhovsky commented on #5406
@deontologician: taking bike-shedding to a whole new level. :bike:

[2016-02-23 20:11] danielmewes commented on #5406
Continue this sequence:

0x3f61ba36, 0x723081e1, 0x5f75e83e, 0x400c2d20, ...

And the answer:
Step 1: Converting the numbers to decimal http://www.wolframalpha.com/input/?i=0x3f61ba36,+0x723081e1,+0x5f75e83e,+0x400c2d20+to+decimal
Step 2: Continuing the sequence http://www.wolframalpha.com/input/?i=1063369270,+1915781601,+1601562686,+1074539505,+...

"no form found in terms of holonomic sequences"

[2016-02-23 20:13] deontologician commented on #5406
https://oeis.org/search?q=1063369270%2C+1915781601%2C+1601562686%2C+1074539505&language=english&go=Search

[2016-02-23 20:16] danielmewes commented on #5406
Sounds like a plan.

[2016-02-23 20:46] danielmewes commented on #5438
Thanks for the report @tatsujin1 . I've not seen this crash before.
Did it leave behind a core file by any chance?

[2016-02-23 22:08] Prinzhorn commented on #3440
@mlucy

thanks for the explanation

I agree, but now I also understand that things aren't as easy as they seem.

It's definitely important to have a new error type so people under the second model are able to distinguish using sth. like `instanceof` (in case of the node driver). While people under the first model can just treat every error as a equally bad thing.

[2016-02-23 22:13] chrisfosterelli commented on #3997
@opsb Are you sure? You can achieve basically the same thing by listening for changes on both tables in the relationship, it's just not as clean or efficient.

[2016-02-23 22:24] tatsujin1 commented on #5438
Oh, didn't think to check for that. I'll look for it tomorrow.

[2016-02-23 22:40] VeXocide opened #5440 "Add tests for client protocol version `V0_1` through `V0_4`"
As the title says, we should add tests for client protocol version `V0_1` through `V0_4`, with and without an auth key set.

[2016-02-23 23:55] nighelles commented on #5056
This is in next, was in review 3482.

Thanks @marshall007

[2016-02-23 23:55] #5056 closed

[2016-02-24 07:41] tatsujin1 commented on #5438
Unfortunately no core file was to be found :-(

The syslog also contained this (apart from the above stacktrace):
[code]
Not very helpful either, I guess...

Is there anything I can do to make the next crash (if any) more informative?

[2016-02-24 12:29] tatsujin1 commented on #5438
Just noticed that it happened again this morning.

[2016-02-24 18:03] opsb commented on #3997
@chrisfosterelli maybe I've missed something (hope so :) ). Let's say you have
[code]

You can get a feed of the user's tasks with:
[code]

But how do you the same for the converse, the changes to the user related to a particular task? (including when the foreign key changes)

[2016-02-24 18:11] mbroadst commented on #2873
@danielmewes we have a case where we would like to remove a rethinkdb node from a cluster, disregarding the data loss (so different than the above case) but without the requirement to shut down all other nodes in the cluster in the process. Is this as easy as clearing out those entries from the `server_config` table? What other mechanisms are in place to maintain the "memory" of the node we are tr

[2016-02-24 19:09] larkost opened #5441 "audit usage of `wait` in tests"
I have already seen a few tests (e.g.: `test/regression/issue_852.py` and `test/regression/issue_676.py`) that use `r.db('name').wait().run(conn)`. This is probably the wrong thing to do, and might in some circumstance not wait for what we assume it should. At a minimum it should use the `wait_for='all_replicas_ready'` flag. We should audit all uses of `wait()` in the testing codebase to make sure

[2016-02-24 19:11] VeXocide commented on #5440
Note to self, `vexocide/5440` is branched off of `vexocide/4519`.

[2016-02-24 19:21] VeXocide commented on #5406
Note to self, `vexocide/5406` is branched off of `vexocide/4519`.

[2016-02-24 20:27] danielmewes commented on #5438
It might be helpful to enable core files. You can usually do this by editing /etc/security/limits.conf, and adding a line like this:
[code]

(though I haven't tried this particular configuration, so I'm not sure whether it gets applied correctly to rethinkdb when started through a init script or not)

The fact that the same crash happened again might hint at faulty data in one of your tables.
I su

[2016-02-24 21:07] danielmewes commented on #2873
@mbroadst If you plan not to restart that server, there's no need to shut down the other nodes. They will occasionally try reconnecting, but it won't have any other effects.

However if you're going to set up a new RethinkDB server on the same host and you don't want it to join the same cluster, I believe there's no way around restarting all servers at the moment from the RethinkDB point of view.

[2016-02-24 21:16] mbroadst commented on #2873
@danielmewes yeah we are trying to do the latter, so I think we'll have to come up with a clever way to temporarily block incoming reconnect attempts.

Interestingly enough, in our experimentation we see that there is no need to manually delete from `server_config`: the entries disappear. This leads me to believe that the information used for reconnects  is probably kept in the internal raft struc

[2016-02-24 21:34] unclepaul84 commented on #1100
Is installing as windows service supported?

[2016-02-24 21:56] danielmewes commented on #2873
@mbroadst The reconnect information isn't even kept in Raft, but locally in a temporary data structure on each server. That's why restarting the servers gets rid of it.
Now that you mention it, I'm actually not sure if you have to restart all servers at the same time. I don't think they communicate the information if they aren't actually able to connect to the server, though I could be wrong. It m

[2016-02-24 22:02] danielmewes commented on #1100
@unclepaul84 Not yet, but we're working on it.

[2016-02-24 22:34] usergit commented on #3711
may I get an invite? also it would be awesome if you guys post a guideline or a sample app that shows how to handle authorizations. thanks

[2016-02-24 22:39] danielmewes commented on #3997
@opsb

That's indeed the tricky part. You basically need a "backindex", a secondary index on the `user_id` field in the `tasks` table. Then whenever a document in the `user` table changes, you perform a `r.table('tasks').getAll(userId, {index: "user_id"})` query to fetch all the associated documents in the tasks table. That way you can generate the old and new task values when a user changes.

It

[2016-02-24 23:01] tatsujin1 commented on #5438
Ah, so that's where that core setting is nowadays! `ulimit` doesn't seem to exist anymore(?)... Well, anyway, I'll add that tomorrow.

Oh I see, that's probably a simple way to find which table the problem is in, if there is any. But the result of that test is basically boolean, right? I'll probably do a variant of that, that returns one document at a time to the client, using a for-loop over all

[2016-02-24 23:10] danielmewes commented on #5438
Right. I was hoping that once we know the table, you could maybe provide the data to us so we can analyze the issue further on our end.

It should not. In general there's nothing you can send to the server that *should* cause this, so it's either a server bug (likely) or some form of file system and/or memory corruption (less likely, though it depends a bit on the storage virtualization layer). Yo

[2016-02-24 23:11] danielmewes commented on #5438
Note that the backtrace doesn't necessarily indicate that the query triggering the crash was a write. `write_response_internal` is used for writing the protocol response for all types of queries, both reads and writes, and even changefeeds.

[2016-02-24 23:18] tatsujin1 commented on #5438
Ah yes, true.. Hm, so it could be, as you say, anything...
The virtualization is vmware.

[2016-02-24 23:21] tatsujin1 commented on #5438
Ok. That's probably not a problem.

[2016-02-24 23:37] nighelles commented on #5311
This is in review 3492, implemented in nighelles/5311.

[2016-02-24 23:40] nighelles commented on #2577
@danielmewes I think this is closed by #5056?

[2016-02-25 00:07] nighelles commented on #5311
This is in next.

[2016-02-25 00:07] #5311 closed

[2016-02-25 00:15] larkost opened #5443 "cpplint erros in 4f8aa7d"
`./scripts/check_style.sh` (and the associated test) are siting the following problems:
[code]

Since @nighelles is the last one to touch those I am assigning him.

[2016-02-25 00:47] danielmewes commented on #2577
@nighelles Yep.

[2016-02-25 00:47] #2577 closed

[2016-02-25 00:58] VeXocide opened #5444 "Incorrect pid and uid in shutdown message"
If I send a `SIGINT` through ctrl-C it states `Server got SIGINT from pid 0, uid 0; shutting down...`, note that the pid and uid are both zero which is incorrect.

[2016-02-25 04:03] lucidfrontier45 opened #5445 "tornado example gives `Error: Stream is closed` when connect to remote server."
Hi all.

I followed the tornado rethinkdb example described in https://rethinkdb.com/blog/async-drivers/ .
It works OK so far as connecting to local rethinkdb.

When I changed to connect to remote rethinkdb, the following error occurred.

[code]

Am I missing something? My whole code is as follows.

[code]

Thank you.

[2016-02-25 04:10] azabujuban opened #5446 "Java enum classes are not converted into strings"
I have a POJO with an enum field inside and that field is set to `null` by `toReqlAst`.

Looking in the driver code at  `Util#toReqlAst` there are checks for some types (`Map`, `Number`, `String`) and if the field is not of any of these types `toMap` is performed. But it doesn’t work for enum classes.

I’m thinking of adding a check for enum classes and if a field is an enum class call it’s `name(

[2016-02-25 06:32] azabujuban commented on #5446
I have made the changes in #5447

[2016-02-25 07:43] r-marques commented on #5311
@nighelles Is the number of shards only hardcoded in the ui?

[2016-02-25 07:48] tatsujin1 commented on #5438
I've now tried the map-to-json thingy, but nothing happened. Actually, the query was quite quick, 60k documents in ~1 second. Does the `count()` optimize away the `map()` somehow?

Anyway, I've applied the core size limit to the running processes, so I hope we'll get a core next time around. It does seem to happen at least daily.

[2016-02-25 09:44] niallobrien commented on #3711
@mglukhovsky @coffeemug Can I get an invite please? Thanks in advance.

[2016-02-25 10:06] Dev1an commented on #3711
@mglukhovsky  @coffeemug Can I get an invite?

[2016-02-25 11:26] tatsujin1 commented on #5438
Even though I set the core size limit (using `prlimit`) it won't create a core file :(

[2016-02-25 12:06] pires commented on #5439
`ConnectionInstance` is gone in the latest version, `2.2-beta-5`.

[2016-02-25 12:11] pires commented on #5439
@bchavez yes it does, but in a different manner.

https://github.com/rethinkdb/rethinkdb/blob/next/drivers/java/src/main/java/com/rethinkdb/net/SocketWrapper.java#L129
https://github.com/rethinkdb/rethinkdb/blob/next/drivers/java/src/main/java/com/rethinkdb/net/Connection.java#L155

I believe having the _awaiter_ facility in `SocketWrapper` is misleading. `SocketWrapper` in Java is responsible for

[2016-02-25 12:50] goors commented on #5343
@thelinuxlich were you able to solve this? regex on secondary indexes? if yes can you please share (point me to right docs)?

[2016-02-25 14:15] tatsujin1 commented on #5438
One detail we've noticed from the last two days of crashes is that it is mysteriously repetitive.
[code]
We have no explanation of why this might be, yet.
Despite having plentiful of graphs over e.g. network & cpu loads, we can see no correlation, yet.

[2016-02-25 15:10] thelinuxlich commented on #5343
There is no workaround, if .match() without index doesn't give you a good performance, wait for #5351

[2016-02-25 15:24] mbroadst commented on #2873
@danielmewes can you point me towards that internal structure in the code? We're going to try a temporary workaround for disabling cluster port activity on the server, but I'm trying to figure out how long it would take to get the other clustered nodes to "forget" about the one we are trying to unjoin

[2016-02-25 15:49] timmaxw commented on #2873
@mbroadst The logic for trying to reconnect to disconnected servers lives in the `auto_reconnector_t` type at https://github.com/rethinkdb/rethinkdb/blob/next/src/clustering/administration/servers/auto_reconnect.hpp

[2016-02-25 16:01] bchavez commented on #5439
@pires, there's a subtle bug in the code when processing exceptions this way.

https://github.com/rethinkdb/rethinkdb/blob/next/drivers/java/src/main/java/com/rethinkdb/net/Connection.java#L139

After the pump is finished processing a response cleanly, suppose the connection drops outside of the `try{}catch{}` statement. The pump isn't around to catch it. `!isOpen` is `true`. The `while(true)` loo

[2016-02-25 16:10] pires commented on #5439
@bchavez you are right. Opening an issue

I'd like to add that the only way to recover from a disconnection is to reconnect, and this the driver doesn't do - and AFAIK never did by design.

[2016-02-25 16:10] pires opened #5448 "Java disconnection leaks awaiting query requestors"
As per @bchavez comments on #5439:

[2016-02-25 16:49] deontologician commented on #5311
@r-marques It's hardcoded in the database logic as well

[2016-02-25 16:49] anatol opened #5450 "2.2.5 compilation fails `error: 'isinf' was not declared in this scope`"
Trying to compile 2.2.5 on Arch Linux with gcc 5.3 I get following compile error

[code]

[2016-02-25 18:19] nbostrom commented on #3711
I would really like one too! This would be perfect for my next project!

[2016-02-25 18:40] nighelles commented on #4985
This is in review 3495, implemented in nighelles/4985

[2016-02-25 18:43] nighelles commented on #4985
This is in next.

[2016-02-25 18:43] #4985 closed

[2016-02-25 19:23] rocketraman commented on #5345
You really should consider exposing a reactive-streams interface for client code. If you do this, the driver will be compatible with all sorts of java async libraries your users might be using, *including* RxJava but also man others like Akka, Quasar, Vert.X and others (see http://www.reactive-streams.org/announce-1.0.0). In addition, it has a nice TCK to verify your implementation against the spe

[2016-02-25 19:23] nighelles commented on #5443
This is in next, fixed by nighelles/lint_fixes.

[2016-02-25 19:23] #5443 closed

[2016-02-25 19:42] larkost opened #5451 "src/time.cc causing build errors on MacOS"
The current `next` (18e299cf) is failing to build on MacOS (both locally on my machine, and on `gantz`). Specifically is is failing with:
[code]
The last one to touch that file was @AtnNn, but since it does not not actually contain `__thread`, I suspect that this is actually from @danielmewes's more recent change in `src/thread_local.hpp` in 4b6b814.

[2016-02-25 20:13] larkost commented on #5451
Yep, `git bisect` points the finger at 4b6b814. Assigning to @danielmewes.

[2016-02-25 21:07] danielmewes commented on #5445
Hi @lucidfrontier45 . That's weird. Can you connect successfully in synchronous mode?
E.g.
[code]

[2016-02-25 21:30] lucidfrontier45 commented on #5445
@danielmewes

yes, synchronous mode is no problem.

[2016-02-25 22:30] thelinuxlich commented on #4707
+1 Excited to see this feature!

[2016-02-25 23:08] dazito commented on #5345
I completly agree with @rocketraman

[2016-02-25 23:09] shantp commented on #5120
@coffeemug can I be invited?

[2016-02-25 23:55] lucidfrontier45 commented on #5445
Async Connection to a proxy mode server in localhost is also OK.

client -> local rethinkdb : OK
client -> remote rethinkdb : NG
client -> local rethinkdb proxy -> remote rethinkdb : OK

My environment is as follows

local PC : ubuntu 15.10
remote server: centos 7.2
rethinkdb: 2.2.4~0jessie via docker
python driver: 2.2.0.post4

Note that remote server is in the same LAN as the local PC.

[2016-02-25 23:59] danielmewes commented on #5451
Fixed in daniel_3496, in CR 3496

[2016-02-26 00:41] danielcompton commented on #5345
From a Clojure perspective, we could use RxJava or ReactiveStreams, combined with https://github.com/ztellman/manifold for translation into Clojure land.

[2016-02-26 01:23] danielmewes opened #5452 "RPCConnectivityTest.CheckHeaders unit test fails"
I think I broke the test with https://github.com/rethinkdb/rethinkdb/commit/310a9c5232d60912a5cf2c12227857733e0307c5

[2016-02-26 01:45] danielmewes commented on #2873
There's also an `initial_joiner_t`, but that's only used for the first connection to a given node passed in through `--join`, and not for subsequent reconnect attempts. So `auto_reconnector_t` is the relevant one here.

[2016-02-26 01:49] #5451 closed

[2016-02-26 01:54] danielmewes commented on #5450
Thanks for reporting this @anatol .
Does the same happen on `v2.2.4` if you compile with the same version of GCC?

This issue might already be addressed in `next` by https://github.com/rethinkdb/rethinkdb/issues/4437#issuecomment-118491138 . We could look into backporting parts of that patch to `v2.2.x`. Unfortunately the patch as a whole broke compilation on OS X on `v2.2.x` the last time I tried

[2016-02-26 01:59] danielmewes commented on #5445
Thanks for trying that.

@Tryneus do you have any ideas? Anything @lucidfrontier45 could try to help us debug this?

[2016-02-26 02:21] danielmewes commented on #5452
Fix in review 3499

[2016-02-26 02:35] danielmewes commented on #5452
Fixed by 604df7c in next.

[2016-02-26 02:35] #5452 closed

[2016-02-26 02:48] lucidfrontier45 commented on #5445
I also tried node.js version. It works fine with remote server.
The problem looks only related to Python.

[code]

[2016-02-26 02:57] danielmewes commented on #5438
That sounds like the stored data is ok then.

So it's probably some query that triggers this. I wish we had a query log to debug things like this, but unfortunately we don't have that yet. :-(

I realize that this might be a lot of work, so we can think of some other options for debugging this if it's too difficult: Is it easily possible in your application to add some form of query log on the app

[2016-02-26 03:09] lucidfrontier45 commented on #5445
I found the cause.

My remote server's hostname is registered in `/etc/hosts` by IPv6 address.
If I try IPv4 address, the connection succeeds.
So the problem is that Python driver's async connection is **not** IPv6 capable.

Python's sync connection and JS driver are IPv6 capable.

[2016-02-26 03:32] VeXocide commented on #5445
I just had a quick peek at the related code and hopefully just spotted the problem, compare https://github.com/rethinkdb/rethinkdb/blob/next/drivers/python/rethinkdb/net.py#L277 and https://github.com/rethinkdb/rethinkdb/blob/next/drivers/python/rethinkdb/tornado_net/net_tornado.py#L87.

Note that in the synchronous driver we use `socket.create_connection(...)` whilst in the Tornado driver we use

[2016-02-26 07:54] tatsujin1 commented on #5438
Good idea. Turns out it was quite simple (after all, it's python! :)... I simply monkey-patched the `_start()` method on the `Connection` class to do the logging.
But man, that is a _lot_ of queries!  :)

Let's see if it crashes at ~9:40 today also, maybe we'll get some useful information...

[2016-02-26 09:47] Tryneus commented on #5445
Fix is up in review 3500.  This addresses `gevent`, `asyncio`, `tornado`, and to some degree `twisted`.

[2016-02-26 10:04] tatsujin1 commented on #5438
Indeed it crashed as expected, promptly at 09:37... almost like clockwork.
I now have a bunch of logs from the various processes that did queries. All but one, which is a read-only nodejs server, which I - for now - assume is not responsible.

There are no obvious queries that stand out; nothing that also happen about every other second...
I think we'll wait for the 14:30 crash and compare the log

[2016-02-26 14:31] tatsujin1 commented on #5438
Of course it crashed again ~14:30, you could almost set a watch by these crashes...
The query logs contains the same similar standard queries; mostly `get()`, `get_all()`, slightly fewer `update()`, `delete()` and the occasional `insert()`...

I also did a `top -b -d 1` before (and during) the crash; cpu load was regular ups & downs throughout. The 1-minute average system load climed during the la

[2016-02-26 19:31] danielmewes commented on #5438
Very odd so far. Thanks for sharing all the info.

I don't have any great explanations yet. I'll take a look at some code later and see if I can come up with any path that could lead to this. Unfortunately the surface area of code that feeds data into the place where it crashes (according to the backtrace) is rather huge.

[2016-02-26 19:32] nathanboktae commented on #2839
I've been playing around with rethinkdb for an hour and ran into this 2 year old issue. `rethinkdbdash` just works.... :unamused:

[2016-02-26 19:33] anatol commented on #5450
Tried to compile 2.2.4 and it also fails with the same error. It looks like the change comes from GCC or libc++.

I applied commit dbc7e8b66e1b5bb8f2e83c08f62462c9e37f4b16 and it indeed fixed the isinf compile error. But there is another one left:

[code]

[2016-02-26 19:41] danielmewes commented on #5450
Thanks for trying.

That one is interesting. From the `strerror_t` man page:
[code]

I wonder if something is setting one of those feature macros. Or maybe the default changed for newer versions of GCC or libc?

[2016-02-26 19:49] danielmewes commented on #5450
Hmm I was looking at the version in `next` earlier which changed, but in v2.2.5 we actually check for `_GNU_SOURCE` in this function: https://github.com/rethinkdb/rethinkdb/blob/v2.2.5/src/errors.cc#L90

However the patch from the Alpinelinux thread disables the check (I'm not sure why). So it looks like that needs to be enabled again.

[2016-02-26 19:55] danielmewes commented on #5450
Oh actually the final patch that got merged into `next` in the end uses a different check than the one that you applied: https://github.com/rethinkdb/rethinkdb/commit/84be09f314c4cbf88b4ac8fe9dbff1d36f0f5781#diff-ab0a05a25e9981dbfc11f3e4719e68b2L91

Can you try using the patch from that commit instead of the earlier version of the patch and see if it compiles then?

[2016-02-26 19:58] tatsujin1 commented on #5438
It will be interesting to see if/how the times of the crashes will differ during the weekend.

[2016-02-26 19:59] danielmewes commented on #2839
@deontologician can you tell how much work it would be to fix this?
I don't really understand what's going on here.

[2016-02-26 20:16] anatol commented on #5450
Using 84be09f fixes my compilation error. Binary starts and seems work fine. Thanks.

[2016-02-26 20:37] larkost opened #5453 "JavaScript `run` command returns a promise if conn is null/undefined even with a function"
The JavaScript driver is returning a promise if the supplied connection is `null` or `undefined`, even when a callback function is defined. For example:
[code]
Without the `.catch` in the example above Node.js will send an `Unhandled rejection` notice to stderr, but the problem otherwise goes unhandled.

[2016-02-26 20:37] larkost commented on #5453
Note that upcoming new tests catch this.

[2016-02-26 21:46] deontologician commented on #2839
The issue is that the `Array.apply(func, values)` takes the entries in the array and turns them into arguments to func. This all goes onto the stack and there's a relatively small stack limit to avoid accidental infinite recursion. Fortunately, what the function itself is doing is just taking all of its arguments and converting them back into an array, so there's no real reason to do this spread o

[2016-02-26 21:51] danielmewes commented on #2839
Ok, thanks for the explanation @deontologician .

@nathanboktae Do you have a work-around for this or is this blocking you?

[2016-02-26 21:56] danielmewes commented on #5450
@anatol Is applying the patch a workable solution for you for the moment? This patch is already in `next` for 2.3.0, but we haven't been successful in applying it to `v2.2.x` without breaking compilation on other platforms (namely on Mac).
If it's important, we could look more into backporting it to `v2.2.x`. Otherwise it will become unnecessary later when we ship 2.3.

[2016-02-26 22:00] nathanboktae commented on #2839
Blocked if I was still using this package, but now I'm streaming results with `rethinkdbdash`

[code]

It just works and it's fast. Thanks @neumino !

[2016-02-26 22:05] deontologician commented on #2839
The pipes in rethinkdbdash are really nice. We are still planning on making it the official driver

[2016-02-26 23:04] anatol commented on #5450
Applying the patch works for me.

[2016-02-26 23:42] Tryneus commented on #5445
The fix has been approved and merged to `next` in commit 47a4815, and cherry-picked into `v2.2.x` in commit 1496801.

Thanks, @lucidfrontier45 for reporting this, and everyone for helping debug it.

[2016-02-26 23:42] #5445 closed

[2016-02-27 00:03] danielmewes commented on #5445
I'll prepare a new Python driver release. Should be out by Monday.

[2016-02-27 00:04] lucidfrontier45 commented on #5445
cool. thank you all.

[2016-02-27 01:08] larkost opened #5454 "JavaScript `eachAsync` does not return a rejection for wrong number of arguments"
The following code does not work as expected at the moment:
[code]
This should go to the promise `.catch` block. But because the code in [`util.coffee`](https://github.com/rethinkdb/rethinkdb/blob/next/drivers/javascript/util.coffee#L19-L26) that does these checks is not aware of promises it throws an error rather than returning `Promise.reject(new err.ReqlDriverCompileError('blah'))`

[2016-02-27 01:19] danielmewes commented on #5445
The new driver is now available through Pypi. The new driver version is rethinkdb-2.2.0.post5

[2016-02-27 01:20] marshall007 commented on #5454
@larkost as it is, your example is basically equivalent to:

[code]

Since you're in a `.then()` callback when the exception is thrown, I would expect this to already work as you've described it should. Are you certain it's not?

[2016-02-27 01:24] deontologician commented on #5454
From what I gathered from @coffeemug, "syntax" errors like this are intended to be actual exceptions instead of promise rejections. `.catch` should get both though, so I'm not exactly sure why it's not going to the handler.

[2016-02-27 01:29] danielmewes commented on #5454
Can `.catch` actually catch exceptions? That would surprise me. Isn't it just a function call on the promise?
If `eachAsync` indeed throws an exception directly, I would expect the behavior that @larkost describes, i.e. ending up in the "actual" `catch` with `console.log('Rather I get here');`

[2016-02-27 01:34] deontologician commented on #5454
According to the docs, it's supposed to catch exceptions thrown inside a `then` block coming before it:
http://bluebirdjs.com/docs/api/catch.html

It can catch them because the `.eachAsync()` call is wrapped in a closure, but it wouldn't be able to catch problems with arguments to `.table()` etc, since those aren't part of the promise chain.

[2016-02-28 10:30] jodagm opened #5455 "crash: error: Error in src/rdb_protocol/datum.cc at line 1475"
Hi,

We started getting these crashes after upgrading to 2.2.5. This happens when we are running our automated tests against local rethinkdb:

[code]

this is what our app shows:
[code]

This has not happened on our production server and it could be something related to our tests. we do start and stop changefeeds and delete tables as part of each test, but we did not experience this crash before.

[2016-02-29 06:52] ntquyen opened #5456 "Constantly got error "Rejected a connection from server X since one is open already.""
I've just upgraded my rethinkdb cluster v2.2.5 with 3 instances. There are 16 tables, ~17Gb data and this error show up continuously while all 3 instances are already connected:

[code]

And there's heartbeat timeout error in the console logs:

[code]

I'm using docker 1.7.1 in CoreOS v773.0.0 to run my rethinkdb cluster.

[code]

[2016-02-29 07:29] tatsujin1 commented on #5455
Seems to be the same as my problem, however a newer version: #5438.
"Glad" I'm not the only one, because we have so far _no idea_ why this is happening.

[2016-02-29 08:59] tatsujin1 commented on #5438
In recent discoveries has found that it is related to changefeed. This morning (ahead of the "morning crash"), we disabled a web view (nodejs, which uses changefeeds to push updates to clients). No crash!

[2016-02-29 11:22] kapilt commented on #1396
use-case -> i have lots of data, and compressing saves me x disk space so i can store 10x more. for me mostly its around any high volume data storing high value archival data in volume with most of the query set against recent data (ie no full scans, either tail cursors or indexed queries).

concrete case -> one i'm looking at is cloudtrail data (aws audit log), which are json events dumped with h

[2016-02-29 14:13] tatsujin1 commented on #5455
It seems that this is very easy to reproduce with version 2.2.5.
I've made a small test that guarantees a crash.
However, in my case (#5438, version 2.2.3) I've yet to reproduce :-(

[2016-02-29 15:08] tatsujin1 commented on #5438
With version 2.2.5 it's very easy to reproduce using these scripts:
**test-modify-5438.py:**
[code]
Start that and leave running.

Then start the following using nodejs:
**test-5438.js:**
[code]
Almost the instant the nodejs script is started the rethinkdb server crashes. Both the `getAll()` and `filter()` parts of the query are required.

However, so far I've only seen the crash happen with v2.2.

[2016-02-29 16:14] tatsujin1 commented on #5455
Success! I've now reproduced the crash with v2.2.3 as well.
Hopefully it's the same bug that crashes both versions (the stack trace is almost identical), but anyway here are the variants that crashes v2.2.3:
**test-modify-5438.py:**
[code]
It seems that it has to do with the `update()` part. Commenting out the value1/2/3 fields from the update averts the crash.

And the nodejs script:
**test-5438.

[2016-02-29 16:15] tatsujin1 commented on #5438
Success! I've now reproduced the crash with v2.2.3 as well.
Hopefully it's the same bug that crashes both versions (the stack trace is almost identical), but anyway here are the variants that crashes v2.2.3:
**test-modify-5438.py:**
[code]
It seems that it has to do with the `update()` part. Commenting out the value1/2/3 fields from the update averts the crash.

And the nodejs script:
**test-5438.

[2016-02-29 16:16] vinaysshenoy opened #5457 "JAVA: Queries work when debugging, but NOT while running"
I'm using [Spark Java](http://sparkjava.com/) to build my web app. There's a very weird problem I'm facing when trying to query my data.

My database is running locally(Mac OS X). I'm using rethinkdb version `2.2.5` and JAVA driver version `2.2-beta-5`.

I have a table called **categories** and I'm making the call to fetch the categories as follows -
[code]

When I **DEBUG** the app, it works fine

[2016-02-29 17:50] nighelles commented on #4936
This is in review 3504,
Implemented in nighelles/4936

[2016-02-29 18:05] bchavez commented on #5457
Out of curiosity, are you using dependency injection on `conn`? What is `conn`'s lifetime / scope on every HTTP request? `Singleton`, `Per request`, or `Transient`? In other words is a new `conn` being created on every HTTP request?

Lastly, what happens if you `Thread.sleep()` for `1 second` just after calling `.connect()` and just before running the query `run` method? Any difference? IE:

[code

[2016-02-29 20:18] danielmewes commented on #5456
@ntquyen Thanks for the report.
A few questions:
- Which version were you running before?
- Apart from printing the warning over and over, does the database work properly?
- Does the issue go away if you restart the servers?

[2016-02-29 20:25] danielmewes commented on #5455
Thanks for the bug report @jodagm . That information is very helpful. I'm closing this as a duplicate of #5438, since they appear to be the same. Please follow the other issue for updates.

[2016-02-29 20:25] #5455 closed

[2016-02-29 20:27] danielmewes commented on #5438
Thanks so much for working on a test case and sharing it with us @tatsujin1 . That is *extremely* helpful.

The one thing we changed about changefeeds in 2.2.5 is https://github.com/rethinkdb/rethinkdb/issues/5205 , so I suspect that this is related. Though we'll still need to understand why it sometimes also happened with 2.2.3. Maybe the cause is the same, but the change in 2.2.5 makes it easier

[2016-02-29 21:02] larkost commented on #5454
I think I see the problem: we are not inside a `.then()` block when we error. I simplified slightly on the `mocha` code we have for testing. The `r.db('foo').table('bar').run()` part is inside a `beforeEach` block, and the cursor gets put into a variable. Then we start our chain on that, so essentially we are doing:

[code]
I suspect that larger setups are going to wind up using frameworks that ma

[2016-02-29 22:13] tatsujin1 commented on #5438
Yes, seems so. The crash in 2.2.3 usually takes a few seconds after the nodejs script is started to crash, while 2.2.5 crashes almost instantly.

[2016-02-29 22:39] danielmewes commented on #5450
Ok, I'm going to close this then since it should already be addressed in `next`, which is going to be the basis of RethinkDB 2.3.

[2016-02-29 22:39] #5450 closed

[2016-02-29 22:40] danielmewes opened #5458 "New handshake: Async Python backends"
@VeXocide is implementing the new driver handshake from #5406 for the synchronous Python driver.
Once that is done, we need to make it work with the various async backends.

[2016-02-29 22:44] danielmewes opened #5459 "New handshake: JavaScript implementation"
Once we have the reference implementation in Python and the server code, we need to implement https://github.com/rethinkdb/rethinkdb/issues/5406 for the JS driver.

[2016-02-29 22:44] danielmewes opened #5460 "New handshake: Ruby implementation"
Once we have the reference implementation in Python and the server code, we need to implement https://github.com/rethinkdb/rethinkdb/issues/5406 for the Ruby driver.

[2016-02-29 22:44] danielmewes opened #5461 "New handshake: Java implementation"
Once we have the reference implementation in Python and the server code, we need to implement https://github.com/rethinkdb/rethinkdb/issues/5406 for the Java driver.

[2016-02-29 22:45] danielmewes opened #5462 "Write tests that user permissions are correctly enforced"

[2016-02-29 22:49] danielmewes opened #5463 "Implement permissions on system tables"
Discussed this with @VeXocide and this is what we came up with:

* Read permissions on system tables will be assigned through the usual mechanism (i.e. the "rethinkdb" database is treated like any other database)
* Nobody can write to a system table, except for the `admin` user who can write to all system tables
* One exception from the rule: Users can update their own document in the `users` tabl

[2016-02-29 22:56] danielmewes opened #5464 "Update import, export, restore, dump, index-rebuild scripts to work with user accounts"
While it can be useful to e.g. import data as a normal user (or export data with a read-only user), I suggest that we only allow logging in as the `admin` user at first to keep things as simple as possible.

That would mean that these scripts will need to accept a `password` argument of some sort, or ask for it interactively (probably both should be possible).
Passing in passwords as command line

[2016-02-29 22:57] danielmewes commented on #5464
We could add a `--user <user name>`  option to allow logging in as another user, but it opens up a bunch of questions about what to do if the user doesn't have permissions for some tables etc. So I think it's easier to stick with `admin` at first.

[2016-02-29 23:25] danielmewes opened #5465 "Check how open changefeeds react to permission changes"
I imagine that they currently recheck the permissions whenever a new batch is requested. So if you open a changefeed on let's say table `t`, then someone removes your read permissions on `t`, you'll still get the next batch of changes from the changefeed, but it will be closed afterwards. I haven't tried this and could be wrong about this.

In any case we need to test this.

[2016-02-29 23:25] danielmewes commented on #5464
We can also remove the `--auth` option then.

[2016-02-29 23:52] #5448 closed

[2016-03-01 00:18] mlucy commented on #5438
Thanks for the great test cases @tatsujin1 !

I have a fix for this in branch `mlucy_5483`, CR 3508 by @danielmewes .

[2016-03-01 00:56] danielmewes opened #5466 "Some removed top level terms still occur in Python driver code"
https://github.com/rethinkdb/rethinkdb/issues/4382 removed `r.wait`, `r.rebalance` and `r.reconfigure`.

The Python driver still defines `WaitTL`, `ReconfigureTL` and `RebalanceTL` types though (they are no longer used however).

E.g. https://github.com/rethinkdb/rethinkdb/blob/next/drivers/python/rethinkdb/ast.py#L1486

[2016-03-01 01:09] ntquyen commented on #5456
@danielmewes Thanks for answering. My answer to your questions:

- Before I'm running version 2.2.3
- The data still working properly while that error appeared
- I haven't tried restart the node yet

By the way, I stop getting that error a few hours after I posted the issue.

[2016-03-01 01:10] danielmewes opened #5467 "Separate `--bind` options for different ports?"
With user authentication and TLS encryption going to become available in RethinkDB 2.3, it can often be useful to expose the ReQL client/driver port to a different set of interfaces than the cluster port and/or the web UI port.

I propose:
* `--bind-http`
* `--bind-cluster`
* `--bind-driver`
* Keep `--bind` for simplicity, but disallow its use as soon as any of the other arguments is used (to avoi

[2016-03-01 01:18] danielmewes commented on #5456
Ok we will investigate. It might be that some server(s) somehow got confused about which other servers they were already connected to. Right now this doesn't seem critical, but we should keep an eye on it.

[2016-03-01 02:03] Tryneus commented on #5467
I think the least surprising behavior would be for `--bind` options to specify the default behavior, while `--bind-*` options override that behavior for that port.

Example:
[code]
 - The cluster port is bound only on the loopback and `192.168.0.1` interfaces
 - The http and driver ports are bound on all available interfaces

That said, I do not feel too strongly about this.

[2016-03-01 02:22] danielmewes commented on #5467
That would be reasonable too, maybe a bit better even. :)

[2016-03-01 03:16] vinaysshenoy commented on #5457
The problem is fixed now.

I had written a very barebones connection pool using a `Semaphore`. The connection `acquire` and `release` methods were unsynchronised. After I synchronised them, the connections seem to work properly.

[code]

[2016-03-01 03:58] danielmewes commented on #5457
Ah, thanks for the update @vinaysshenoy

[2016-03-01 03:58] #5457 closed

[2016-03-01 04:25] bchavez commented on #5457
Hm. Interesting. A bit of mystery :8ball: to me how synchronizing `acquire` and `release` would resolve your original stack-trace that topped out at `sendQuery`. I had some suspicion after reviewing some connection pump logic but without further validation, `this.Yield("if it ain't broke, don't fix it")`. :smiley_cat:

[2016-03-01 05:02] vinaysshenoy commented on #5457
@bchavez Yup. One last question, off the top of your head, would you see any problem with the connection pool I've written. I don't close any connections once I'm done using them, just return them to the pool. Basically,
[code]

[2016-03-01 05:27] n3integration opened #5468 "Java Cursor as `Closeable`"
Thank you for the recently released Java driver! A feature that may make a nice addition to the driver would be if the `com.rethinkdb.net.Cursor` instance could implement the `Closeable` interface. This would make it easier to use through Java's [try-with-resources](https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html) idiom.

[2016-03-01 06:00] bchavez commented on #5457
@vinaysshenoy , per your request, here are some of my thoughts:

* The connection pool seems to be creating multiple connections to the same server. I'm not sure how useful this is. Connections themselves *should* be thread-safe. So, landing multiple queries on a single connection, in any order, from different threads should work just fine. The driver has internal locking to multiplex/serialize re

[2016-03-01 06:39] vinaysshenoy commented on #5457
@bchavez Thanks for the input.

Actually, the RethinkDb driver [documentation](https://www.rethinkdb.com/docs/install-drivers/java/) (At the very end of the page) states that the connections are not thread-safe and recommends users to open a connection per thread or use a connection pool, so I wrote a pool like so.

Point 2 makes a lot of sense. As of now, I'm the only person working on the projec

[2016-03-01 06:45] bchavez commented on #5457
@vinaysshenoy , https://github.com/rethinkdb/rethinkdb/pull/5292

[2016-03-01 06:49] mglukhovsky commented on #5120
@shantp: just sent you an email and invite.

[2016-03-01 07:06] vinaysshenoy commented on #5457
This changes everything! Thanks!
On 1 Mar 2016 12:16 p.m., "Brian Chavez" <notifications@github.com> wrote:

[2016-03-01 07:22] mglukhovsky commented on #3711
@luiscarli, @niallobrien, @Dev1an, @nbostrom, sent you an email + invite.

@usergit, could you send me an email at mike@rethinkdb.com?

[2016-03-01 12:22] domenkozar commented on #5450
I think this is due to newer glibc 2.23, right?

[2016-03-01 15:55] deontologician commented on #5468
Should simply involve adding the interface to the class since we already have a `void close()` method (I'm pretty sure).

[2016-03-01 18:38] tatsujin1 commented on #5438
Great news!   Any idea when this will be included in a release?

[2016-03-01 18:45] larkost opened #5469 "support eachAsync for `r.expr([1,2,3])` in JavaScript"
`eachAsync` is not currently supported for the return of  `r.expr([1,2,3]).run(conn)`. This should probably be done in order to make all of our forms similar.

[2016-03-01 18:54] fredp46 commented on #3711
@mglukhovsky @coffeemug I'd love an invite too.

[2016-03-01 19:04] apucacao commented on #3711
@mglukhovsky I would really like an invite too. Thanks!

[2016-03-01 19:06] jbroadway commented on #3711
@mglukhovsky @coffeemug I would love one too! (lurking on this thread for some time in anticipation :)

[2016-03-01 19:35] i-s-o-g-r-a-m opened #5470 "Python library: backports.ssl_match_hostname still missing"
Hi,

The issue described here

    https://github.com/rethinkdb/rethinkdb/issues/4683

is still happening:

[code]

One can install backports manually, but I'm guessing this can be fixed.

Thank you!

[2016-03-01 19:37] danielmewes commented on #5450
I'm not sure, either that, or the newer compiler, or the newer libstdc++ .

[2016-03-01 19:50] tonyxiao commented on #3711
I'm confused, what is the invite to? slack team or rethinkdb's beta support for graphql?

[2016-03-01 19:56] danielmewes commented on #5457
Just a small addition: Opening multiple connections to the same server can still sometimes give slightly better performance, as the server can better utilize multiple cores for parsing requests from the different connections.

[2016-03-01 19:58] danielmewes commented on #5468
:+1:

[2016-03-01 20:01] danielmewes commented on #5438
@tatsujin1 This will be in RethinkDB 2.2.6, but it might take us two weeks or so to get out. Since you're running into this frequently, I can send you a pre-release package based on 2.2.5 with the patch applied. Could you drop me a quick email to daniel@rethinkdb.com ?

@jodagm could you send me a short email as well please? You're running Ubuntu Wily right?

[2016-03-01 20:33] danielmewes commented on #5470
Thanks for reporting this @i-s-o-g-r-a-m .

This is pretty weird. I just checked https://pypi.python.org/packages/source/r/rethinkdb/rethinkdb-2.2.0.post5.tar.gz#md5=b7df81b6f8cdcb72e469cda32530ae0f and it does contain the `backports/ssl_match_hostname` subfolder.

Pinging @larkost .

[2016-03-01 21:11] deontologician commented on #5468
PR up for this in #5471

[2016-03-01 21:28] alexgorbatchev commented on #3711
Please invite me as well, thank you!

On Tue, Mar 1, 2016, 11:51 AM tonyxiao <notifications@github.com> wrote:

[2016-03-01 22:17] danielmewes opened #5472 "r.now() in secondary index functions"
@marshall007 noticed that you can currently create a secondary index function with `r.now` in it:
[code]

I assume that the `r.now()` is turned into a constant at the time where the index is created?

It seems to me like this should be forbidden, as it's more confusing than useful.

Pinging @Tryneus and @mlucy .

[2016-03-01 22:48] nighelles commented on #4936
This is in next.

[2016-03-01 22:48] #4936 closed

[2016-03-01 22:53] coffeemug commented on #3711
All -- quick update.

The project is moving along and we settled on the name `horizon`. Our target ship date for Horizon beta is April 15th. We're very excited about this project because it will make building advanced, modern apps dramatically easier.

The first version will not have GraphQL support, but Horizon was designed with GraphQL in mind, so we should be able to follow up with a GraphQL ad

[2016-03-01 23:09] coffeemug commented on #3711
@tonyxiao -- the invite is to the Horizon project (currently and temporarily a private GitHub project) and the community on Slack.

/cc @mglukhovsky -- could you please invite the folks above?

[2016-03-01 23:31] larkost opened #5473 "complete the JavaScript cursor tests for `r.expr`"
The tests for `r.expr` in `cursor.mocha` are incomplete, at least as compared to those for `r.table` and `r.range`. These should be filled in to be as comparable as possible. I don't want to hold up other tests for writing these, so this is reminder for myself to get back to them.

[2016-03-01 23:39] danielmewes opened #5474 "Make `eachAsync` not abort if callback returns `false`"

[2016-03-01 23:41] nighelles commented on #5466
In next, OTS by @danielmewes

[2016-03-01 23:41] #5466 closed

[2016-03-02 00:21] thelinuxlich commented on #3711
@coffeemug Is this project compatible with any databinding framework? I hope to use it with Vue.js

[2016-03-02 00:37] larkost commented on #4987
This has been merged into `next` with 7fb331fe.

[2016-03-02 00:37] #4987 closed

[2016-03-02 00:51] danielmewes commented on #5469
I just had a look at the code and `ArrayResult` inherits from `IterableResult` which is what `eachAsync` is defined on.
I wonder why it's not working.

[2016-03-02 01:06] nighelles commented on #5474
This is in next, OTS by @danielmewes

[2016-03-02 01:06] #5474 closed

[2016-03-02 01:16] coffeemug commented on #3711
Horizon is agnostic to databinding frameworks -- you should be able to use a framework of choice fairly easily.

[2016-03-02 01:21] danielmewes commented on #5473
Yeah I think https://github.com/rethinkdb/rethinkdb/issues/5003 for example is a lot more important than this.

It actually looks like the driver is sharing a lot of code between a "real" cursor and an array result, so covering both isn't that immediately critical (despite indications that some things do *not* behave correctly for `r.expr([...])` https://github.com/rethinkdb/rethinkdb/issues/5469,

[2016-03-02 05:27] vinaysshenoy commented on #5457
@danielmewes Understood. Thanks for the info.

[2016-03-02 06:39] mglukhovsky commented on #3711
For those of you looking to get a Horizon invite, you can also find me (@mglukhov) on the #horizon channel on our [community Slack](slack.rethinkdb.com), along with the rest of the team.

[2016-03-02 09:44] simonratner opened #5475 "Feature suggestion: dry run option for write queries"
I find myself wanting to check the effect of a write query before executing it, especially when experimenting or debugging in the data explorer. It would be great to have the ability to execute a write query that doesn't update any documents, but returns the same result as it would otherwise.

I imagine this to be an option to each of the write commands, not unlike `reconfigure()`:
[code]

[2016-03-02 09:58] sanchopanca opened #5476 "Web ui - an inline comment in the data explorer causes JavaScript error"
## How to reproduce:

In the data explorer run the following:
[code]
## Output:

## Desired output:

List of the tables

Maybe it is a regression. I've found issue #1060 with similar error, but it was fixed in 2013.

[2016-03-02 17:21] no-more commented on #1862
Hello,

I was looking exactly for this feature, I absolutely need to enforce the data localization per region (America, Europe...). This is a top requirement for my project, I've tried to ask for this here (https://groups.google.com/forum/#!topic/rethinkdb/HknP-wkX-Nc) before seeing this issue.

Of course this might not be very easy to implement, but I really thing it's a top feature for more and

[2016-03-02 18:18] dalanmiller opened #5477 "rethinkdb --version should either be more easily parseable or have an extra flag to just return the version number"
Right now attempting to parse the output of `rethinkdb --version` is a little unwieldy as I'm only interested in consistently retrieving the version number.

[code]

[2016-03-02 19:57] marshall007 commented on #5477
Instead of a new flag, the short flag (i.e. `-v` or `-V` for backwards compatibility) could give you the raw version number.

[2016-03-02 20:16] danielmewes commented on #5477
I'm not sure if it's a good idea to have the short and long versions of the flag behave differently.

At the same time, adding an extra flag `--short` just for short version numbers seems like overkill to me.

How about a new flag `--short-version`?

We also need to think about whether that should include the `-2` in a version such as `2.2.1-2` or not.

[2016-03-02 20:21] danielmewes commented on #1862
@no-more for your particular use case, the somewhat simpler https://github.com/rethinkdb/rethinkdb/issues/5431 would be sufficient I think. You would just need to make sure that your application code generates primary keys with a region prefix (e.g. `r.expr("America-").add(r.uuid())`).

[2016-03-02 20:24] danielmewes commented on #5475
Thanks for posting the suggestion @simonratner . That sounds reasonable and useful.

I think it's not as high priority as some of the other things we are currently working on, but worth keeping in mind.

[2016-03-02 20:26] danielmewes commented on #5476
Thanks for the issue report @sanchopanca .

Which version of RethinkDB is this with, and which browser are you using?

Your example is actually working fine for me with 2.2.5 and Firefox 44.0.2, but it could behave differently in other browsers.

[2016-03-02 20:38] sanchopanca commented on #5476
Sorry, @danielmewes I was going to include this information but unfortunately forgot.

[code]
I use Chrome Version 48.0.2564.116 (64-bit) and Firefox 44.0.2. The issue is reproducible in both.

[2016-03-02 21:15] danielmewes commented on #5476
Thanks for the info.

I think I found the difference:
It works if there is a new line after the comment. If doesn't work if the comment is the last line in the Data Explorer. Sounds like a small bug in how we parse these.

[2016-03-02 23:25] longraider007 commented on #3997
Hi,

I am trying to create a query where I only get the data that has been changed to the new value along the column 'id' of that record. It is possible to return another column in the query? I want also to get the column 'last_Name' of that changed record.

Below is what I have now:

r.table('clients').changes().map(function(row) {
  return row('old_val').keys().setUnion(row('new_val').keys()).co

[2016-03-02 23:38] danielmewes commented on #3997
@longraider007 This doesn't seem related to joins across multiple tables, is it?
I recommend asking on our Google group for general query questions: https://groups.google.com/forum/#!forum/rethinkdb

(I also don't fully understand what you want the result and behavior of the query to be to be honest. Maybe you can include an example output of what you're trying to get?)