[2022-03-15 06:40] Shraddha-gami-source commented on #6948
@Khalilbz We are not using {durability: 'hard'} in our code base as of now. Might worked in your case but not solution for us.

[2022-03-15 10:02] Khalilbz commented on #6948
@Shraddha-gami-source Yeah, it's very particular, that's why I attached the idea behind it at the end, so it may help, I wish you find a solution for your problem.

[2022-03-17 05:00] srh commented on #6975
It looks like AlmaLinux and CentOS 7 will be able to have packages.  I _presume_ RockyLinux will too, I haven't gotten to that yet.

We need to change the RPM build script to dynamically link libcurl and openssl.

Actually, I'll make a ticket for that -- we should even make a 2.3.8 RPM release with dynamically linked libcurl/openssl.

[2022-03-18 10:54] srh commented on #6993
I initially avoided updating the protobuf version, when updating other package versions, because we had previously made patches for Visual Studio.  If it doesn't support aarch64 though, I guess the protobuf version should be updated, and the Visual Studio patches can be redeveloped later if they're still necessary.

[2022-03-20 03:41] srh commented on #6993
I have updated the protobuf version in #7032 simply for the ARM support.

Despite that, I think it would be okay for all packages to dynamically link libprotobuf, as they will be with libcurl and openssl.

[2022-03-20 10:27] zadcha opened #7033 "compile failed / debian amd64 bullseye (v11)"
src/pprint/js_pprint.cc: In member function ‘void pprint::js_pretty_printer_t::to_js_datum(const ql::datum_t&)’:
src/pprint/js_pprint.cc:183:23: error: ‘trunc’ was not declared in this scope; did you mean ‘truncate’?
  183 |             push_text(trunc(d.as_num()) == d.as_num()
      |                       ^~~~~
      |                       truncate
src/pprint/js_pprint.cc:184:47: error: ‘lrint’

[2022-03-22 07:35] srh commented on #7033
@zadcha What branch, what commit, what platform?

[2022-03-22 08:47] zadcha commented on #7033
it's on a intel (i5/i7) x86 64 bits with debian 11 (bullseye), fresh install
but i must confess i'm a new on the branch's concept, i was thinking naively
that following the README.md would do the stuff after gh repo clone
rethinkdb/rethinkdb, ./configure, make, etc.

what is the last branch/commit where rethinkdb is working ?

thx

On Tue, Mar 22, 2022 at 8:36 AM Sam Hughes ***@***.***> wrote:

[2022-03-22 09:04] zadcha commented on #7033
git branch --show-current
next

On Tue, Mar 22, 2022 at 9:46 AM Stella Rium ***@***.***>
wrote:

[2022-03-22 12:59] srh commented on #7033
Okay, please use branch v2.4.x.

[2022-03-23 14:12] srh commented on #6989
Admin UI generation is tested and working on Bullseye.

(This is in the srh/old_admin branch; see #6979.)

Closing.

[2022-03-23 14:12] #6989 closed

[2022-03-29 20:32] zool2001 commented on #6850
Just to add if it helps anyone in the future, I ran into the exact same error point sain801028 notes above, and WAS using Clang++ (11.0.1) on a RazPi 4+ with Debian (11) bullseye.  I realized the issue was my system was set up for Python 3 (3.9.2).  I installed Python 2.7, replace /usr/bin/python --> python3 with /usr/bin/python --> python2 - fixed same issue.

[2022-03-29 23:47] srh commented on #6850
On v2.4.x, with the changes made for the upcoming release v2.4.2, you should now be able to use Python 3, with your choice of g++ or clang++, on Bullseye.  But Python 2 should also work.

[2022-03-30 13:20] srh commented on #6975
RockyLinux 8 works, CentOS 7 works, and Xenial and Trusty now work thanks to the changes made for CentOS 7.

[2022-04-02 05:18] srh opened #7036 "Assertion fails on restart when compiled with later Clang versions"
To reproduce:
1. Compile RethinkDB with Clang 12, Clang 13, or Clang 14, targeting x86-64 (on Linux).
2. Launch RethinkDB (on a fresh data directory).
3. Run the query `r.tableCreate('foo')` to create a table.
4. Shut down RethinkDB and start it again.

You get this crash.

This crash also occurs if you create the db and add the table with a GCC-compiled RethinkDB, but then start up a Clang-compil

[2022-04-02 15:22] srh commented on #7036
Fixed.  Closing.

[2022-04-02 15:22] #7036 closed

[2022-04-03 17:11] mirateOfficial opened #7038 "Rust Library Not Documented"
Using reql 0.10.4 with Rust trying to figure out to set a primary index on a table and more importantly how to use secondary indices when querying. It's telling me order_by for example only takes a string as an input but the notation on the RethinkDB website is order_by(index: r.desc("column")). I tried using r.args() but I can not get this to work, can someone please post a usable example for an

[2022-04-04 18:12] srh commented on #7038
You can see an example using order_by at https://github.com/rethinkdb/rethinkdb-rs/blob/main/reql/tests/order_by.rs

The code implementing it is at https://github.com/rethinkdb/rethinkdb-rs/blob/824bd97137bc5367d700bbb1318fa2064673af10/reql/src/cmd.rs#L473

Closing as this is not a help channel.

[2022-04-04 18:12] #7038 closed

[2022-04-11 15:12] Tips-Tricks-Solutions opened #7039 "How can I use it in a platform like replit?"
I tried cloning this repo but not working

[2022-04-11 20:22] srh commented on #7039
I'm not familiar with Replit.  Is support for RethinkDB in Replit something we could specifically support somehow?

Generally, to build RethinkDB, you'd do something like

[code]

And then `./build/release/rethinkdb` has a binary.

I separated out the `make fetch` step (which `make` would do) just to distinguish the part that connects to the network and downloads dependencies.

Another possibility

[2022-04-15 07:05] srh opened #7041 "Mac M1 heap corruption observed in unit tests"
Running `./build/debug_clang/rethinkdb-unittest` (with all unit tests), I got this, the first time I ran it on a Mac ARM.  I compiled with `./configure --fetch all PYTHON=/usr/bin/python3` (which shouldn't be relevant) in the srh/mac_arm branch (which will be merged to v2.4.x imminently.
[code]

That wasn't reproducible.  But after a few runs failed to reproduce the issue, I tried running all unit

[2022-04-15 07:27] srh opened #7042 "DiskConflictTest.WriteWriteConflict unit test failing with crash or assertion failure"
Getting this on x86-64 Linux.

On MacOS, the process seems to hang or busy-wait with the kernel CPU being used.  (Maybe the test is running but taking a long time.)

Post-2.4.1 we have some small-scale refactoring of thread local variables in the thread pool and that affects `get_num_threads`.  I think this failure is specific to unit test code, causing the function to be called on the unit test t

[2022-04-15 07:54] srh commented on #6932
We have ARM builds working but not .dmg file building working.  This .dmg issue is partly ARM specific but it might also affect x86 dmg building.  (Some new versions of some of its dependencies, python3, etc, might be a factor.)

[2022-04-15 21:50] srh commented on #7042
Fixed by #7043.  We make the unit tests run inside a thread pool.

[2022-04-15 21:50] #7042 closed

[2022-04-15 21:51] srh opened #7044 "PageTest.Control assertion failure"
[code]

[2022-04-15 21:56] srh commented on #7044
This doesn't occur if we run the test individually.  But it does happen consistently if we run

`./build/debug/rethinkdb-unittest --gtest_filter=BtreeMetadata.MetadataTest:PageTest.Control`

or if we try to run all the unit tests.

[2022-04-16 01:46] srh commented on #7044
I git bisected, and the first bad commit is bf8bde99cf74fa5bc0ea928e4e22a51811dc9459.

[2022-04-16 05:20] srh commented on #7044
The cause of the crash is that this static variable gets initialized with whatever the first value of n_threads is used.  It works fine in RethinkDB as a process, where we start the thread pool exactly once, and also only use one value of n_threads.  But it's not fine when running unit tests, under which the value of n_threads can be different.

This popped up as a result of the recent changes to

[2022-04-16 05:53] srh commented on #7044
Fixed by #7045.  As mentioned, it only affected unit tests.

[2022-04-16 05:53] #7044 closed

[2022-04-16 05:54] srh commented on #7041
Fixed by #7045.  This issue only affected unit tests.

[2022-04-16 05:54] #7041 closed

[2022-04-16 14:04] HeikoMueller opened #7046 "r.js vulnerability"
I start making use of r.js() in RethinkDB 2.4.1 recently and I am wondering if this function is more or less vulnerable to malicious user code inputs compared with the regular eval() function ? Does anyone know if r.js() can be considered to be safely sandboxed?

[2022-04-17 00:32] srh commented on #7046
@HeikoMueller You would surely not want to run untrusted user-supplied JavaScript with r.js.  In RethinkDB 2.4.1, it uses an old V8 version.  Specifically, V8 3.30.33.16.  In 2.4.2 it will use QuickJS, which may or may not be fit for running malicious code, but as it's not shipped in a web browser, it can be presumed not to be.

[2022-04-17 00:33] srh commented on #7046
Also, even if it were not able to escape the sandbox, you'd probably be vulnerable to a denial of service attack.

[2022-04-17 02:01] srh opened #7048 "Revisit #6192 "fix environment syntax""
PR #6192 was closed because we're changing the main branch of this repo to v2.4.x.

Revisit it after v2.4.2 is released (or whenever).

There are definitely some changes in the diff that we do *not* want (such as UtilsTest.TimeLocal no longer testing ::local).

[2022-04-17 02:14] srh commented on #6986
Never got contacted.

[2022-04-17 02:14] #6986 closed

[2022-04-17 03:28] #7046 closed

[2022-04-17 03:29] srh commented on #7033
Closing.  v2.4.x is now the default branch of this repo.

[2022-04-17 03:29] #7033 closed

[2022-04-17 03:32] srh commented on #6975
Moved "Mac ARM build" to mandatory.  ARM macbooks are the only good macbooks now.  It now compiles and runs (and generally works).  DMG building is the only thing that needs updating.

[2022-04-17 05:47] srh commented on #7039
Closing this as a question, but if there's some path to changing this to support Replit somehow, please reopen and comment.

[2022-04-17 05:47] #7039 closed

[2022-04-17 06:19] JamieSlome commented on #6986
Sorry @srh. This must have slipped past me. Let me circle back around and get the details of the report over to you.

[2022-04-17 08:33] srh commented on #6986
Okay, thanks.

[2022-04-17 09:47] HeikoMueller commented on #7046
@srh Thanks for clarification!

[2022-04-17 10:21] HeikoMueller commented on #7046
@src Sorry for confusion, but wouldn't that apply also to functions such as r.expr(), r.ge() and basically to all other r functions in the API?

"r.js('Math.floor(3.4)')" and "r.expr(Math.floor(3.4))" both return 3, so I assume either of these use the same V8 engine. Also, if I run queries such as "r.expr(3).ge(Math.floor(3.4))", it includes a Javascript snippet.

So, does this mean that the gener

[2022-04-17 14:25] srh commented on #7046
`r.expr(Math.floor(3.4))` constructs the query `r.expr(3)`.  `r.expr(3).ge(Math.floor(3.4))` constructs the query `r.expr(3).ge(3)`.  The `Math.floor(3.4)` expression is evaluated client-side the way the client-side programming language normally works.

[2022-04-17 14:32] HeikoMueller commented on #7046
Ah okay, cool. Makes sense, thanks!

[2022-04-18 00:10] srh commented on #6975
Moved "Mac ARM build" back out.  It requires updates to stuff in packaging/osx, and the result is we're getting an empty dmg.  Maybe somebody who wants a Mac M1 dmg could make a PR.  Right now RethinkDB builds on Mac M1.

[2022-04-18 07:30] srh commented on #6337
With these PR's we now can compile on Alpine or Musl pretty easily:

https://github.com/rethinkdb/rethinkdb/pull/7051
https://github.com/rethinkdb/rethinkdb/pull/7052

Use `./configure [other flags] CXXFLAGS=-DRDB_NO_BACKTRACE` .  E.g. `./configure --allow-fetch CXXFLAGS=-DRDB_NO_BACKTRACE`.

My recommended choice is defined here: https://github.com/srh/rethinkdb-package-builder/tree/master/alpine

[2022-04-19 15:30] JamieSlome commented on #6986
@srh - sorry for the delay in my response, you can find both reports here:

https://huntr.dev/bounties/31a4f802-edbf-4bf8-92ff-2d83ff40c29f/
https://huntr.dev/bounties/82b2d0da-0082-42e1-a43b-fa9f8ca22311/

They are currently private and are only accessible to maintainers with repository write permissions. Let me know if you have any questions and I will be happy to support 👍

[2022-04-19 23:11] srh commented on #6986
The first report:

Description
The version of the following Javascript libraries used are outdated and contains multiple vulnerabilities.

Proof of Concept
Vulnerable Files.

1. https://github.com/rethinkdb/rethinkdb/blob/next/admin/static/js/handlebars.runtime-1.0.0.js
2. https://github.com/rethinkdb/rethinkdb/blob/next/admin/static/js/jquery-1.7.2.min.js
3. https://github.com/rethinkdb/rethinkdb

[2022-04-19 23:12] srh commented on #6986
The second report:

NULL Pointer Dereference in [rethinkdb/rethinkdb](https://www.github.com/rethinkdb/rethinkdb)

 Unverified Reported on Jan 27th 2022
Description
The rethinkdb platform makes allocations using malloc() that aren't validated, meaning that - in instances where malloc() returns a null pointer; the null pointer will be dereferenced, typically causing a crash or other undefined behav

[2022-04-19 23:16] srh commented on #6986
The first report doesn't actually report a specific vulnerability.  Let's say you have the admin UI running.  What is the potential attack vector here?  Hypothetical, data stored in the database, when rendered in the data explorer or table viewer, could hijack the DOM.  Can it actually do that?  Can an end-user supplied string stored in the DB cause arbitrary code execution in the browser?

[2022-04-19 23:23] srh commented on #6986
The second report doesn't report a security vulnerability either.  If the code were in RethinkDB, you could just file a bug report, because there isn't a security issue.  We'd want the code to call `rmalloc` instead and explicitly invoke `crash_oom` if malloc fails.  If that code were actually in RethinkDB's codebase, and malloc returned null, in this case that would be from an out of memory condi

[2022-04-20 10:28] JamieSlome commented on #6986
Thanks for your feedback @srh. Feel free to mark both reports as `not applicable`.

[2022-04-24 09:26] srh commented on #6979
Just settled on https://github.com/rethinkdb/rethinkdb/tree/old_admin .

[2022-04-24 09:26] #6979 closed

[2022-04-24 10:06] srh commented on #6975
Currently thinking about tagging the tip of v2.4.x v2.4.2.

[2022-04-24 23:19] srh commented on #6975
It's tagged; if there's a problem we'll have to do v2.4.3.  Kicking off builds now.

[2022-04-26 02:05] #6975 closed

[2022-04-26 02:17] atassis commented on #6975
When new docker image gonna be supplied?

[2022-04-26 04:33] srh commented on #6975
Maybe tomorrow?  Keep pinging me so I don't forget about it.  I'd do it right now, but it's 9:32 PM here, and thus I'm likely to mess something up than earlier in the day.  I've never dealt with the rethinkdb-dockerfiles repo before.

[2022-04-26 04:35] srh commented on #6975
Or maybe somebody could make a PR :-)

https://github.com/rethinkdb/rethinkdb-dockerfiles

[2022-04-26 09:09] atassis commented on #6975
Not hurrying at all lol, that's fine, take your time:)
Will look at dockerfile repo later.
Thanks for your work @srh!

[2022-04-26 20:15] jmwielandt opened #7055 "[Documentation] [Install] [Ubuntu 22.04] Command apt-get is deprecated and has warnings about that."
After a few tries, I manage to install RethinkDB in Ubuntu 22.04 LTS (wsl2 on windows 10).

This are the new commands:

[code]

This was strongly based on [redis' documentation](https://redis.io/docs/getting-started/installation/install-redis-on-linux/#install-on-ubuntu).
Please, update your [install documentation](https://rethinkdb.com/docs/install/ubuntu/) to this.

Greetings~

[2022-04-26 23:09] srh commented on #7055
Thank you for the report.  When I run the current install instructions, I get deprecation warnings around `apt-key` and trusted.gpg but not for using `apt-get`.

My understanding is, `apt-get` is not deprecated and `apt` is not available on some super minimal installs such as minimal docker images.  So I will update the documentation to add your instructions, only using `apt-get`.

[2022-04-26 23:19] jmwielandt commented on #7055
My bad, it was apt-key, not apt-get ^^u
I edited the title.

[2022-04-30 10:02] Xwilarg opened #7056 "Cannot perform read: primary replica for shard ["", +inf) not available"
Hey,

I have a server on Debian 10 where I installed the latest dotnet version this way: https://docs.microsoft.com/en-gb/dotnet/core/install/linux-debian#debian-10-

But after doing that, all my programs using rethinkdb now throw the following exception:
[code]
(I'm doing the requests using a C# library call RethinkDb.Driver)

Here are the systemctl logs:
[code]

And here at the logs at /var/lib/

[2022-04-30 11:03] Xwilarg commented on #7056
Well somehow I did nothing and 1 hour later it works again

[2022-04-30 11:03] #7056 closed

[2022-04-30 22:40] srh commented on #6814
I have heard that RethinkDB 2.4.2 runs fine on WSL 2.  That might be a good solution for Windows users going forward.

[2022-05-03 06:57] #4647 closed

[2022-05-03 08:15] gabor-boros commented on #6975
@atassis the dockerfiles were updated yesterday (https://github.com/rethinkdb/rethinkdb-dockerfiles/pull/59) though docker hub not yet. I'm going to open a PR on their end soon. Though you can do too, if you would not like to wait. If I'm right it is about ~2 lines of change

[2022-05-03 09:05] gabor-boros commented on #6967
I would love to have helm charts, though I have no capacity for that.

[2022-05-03 09:12] gabor-boros commented on #6950
@srh @kuchaguangjie @yaneony I don't think it is a rethinkdb issue. Let me know if I should reopen.

[2022-05-03 09:12] #6950 closed

[2022-05-03 09:15] gabor-boros commented on #6940
The link is trying to redirect to `<HOST>/docs/data-types/#sorting-order` which is obviously not available.

[2022-05-03 09:17] gabor-boros commented on #6939
This should be https://webchat.freenode.net/#rethinkdb or irc://webchat.freenode.net/#rethinkdb, but not irc://chat.freenode.net/#rethinkdb for sure

[2022-05-03 09:26] gabor-boros commented on #6858
Closing this issue, as I can see, there is a fix already. Let me know if I should reopen

[2022-05-03 09:26] #6858 closed

[2022-05-03 09:27] #6854 closed

[2022-05-03 09:29] gabor-boros commented on #6828
Yes it is fixed.

<img width="1003" alt="Screenshot 2022-05-03 at 11 29 17" src="https://user-images.githubusercontent.com/19173947/166431557-6d9c8a07-fc19-41bc-955c-4a1aec87ec60.png">

[2022-05-03 09:29] #6828 closed

[2022-05-03 11:09] gabor-boros commented on #6729
Since the code is not updated in the past 3 years for failify and the domain is not available anymore either, it seems that time solved the question about the state of this issues. Closing.

[2022-05-03 11:09] #6729 closed

[2022-05-03 11:19] gabor-boros commented on #6684
Closing due to inactivity, let me know if I should reopen

[2022-05-03 11:19] #6684 closed

[2022-05-03 11:22] gabor-boros commented on #6651
Closed as it is already answered

[2022-05-03 11:22] #6651 closed

[2022-05-03 11:22] #6646 closed

[2022-05-03 11:23] #6643 closed

[2022-05-03 11:27] gabor-boros commented on #6641
Based on my understanding, `coerceTo` is not working on `date` as of now.

[2022-05-03 11:33] gabor-boros commented on #6606
Closing as the microsoft issue couldn't reproduce it either.

[2022-05-03 11:33] #6606 closed

[2022-05-03 11:34] #6620 closed

[2022-05-03 12:41] #6601 closed

[2022-05-03 12:42] gabor-boros commented on #6599
The info is already removed as not relevant anymore

[2022-05-03 12:42] #6599 closed

[2022-05-03 12:44] gabor-boros commented on #6595
@srh since 2.5 will be created from 2.4 (if I understand correctly) upon a breaking change, this issue is not valid anymore as the `next` branch became the snapshot of that work done there and "abandoned", right?

[2022-05-03 12:45] #6579 closed

[2022-05-03 12:46] gabor-boros commented on #6579
http://donate.rethinkdb.com/

[2022-05-03 12:47] gabor-boros commented on #6558
Closing this, especially that the rethinkdb/docs is deployed now upon any change

[2022-05-03 12:47] #6558 closed

[2022-05-03 12:58] gabor-boros commented on #6541
1. Closing due to inactivity
2. Many users built RethinkDB on RPI
3. 2.4.2 was released recently

[2022-05-03 12:58] #6541 closed

[2022-05-03 13:16] gabor-boros commented on #6504
@Extarys could you please elaborate on this?

[2022-05-03 13:18] gabor-boros commented on #6522
Closed in favor of #6476

[2022-05-03 13:18] #6522 closed

[2022-05-03 16:02] gabor-boros commented on #6376
Related to https://github.com/rethinkdb/rethinkdb/pull/7057 which ensures the stack trace is not printed anymore. Actually, every instance should have its own data dir and not a shared one (as it is written in the docker-compose.yml. Closing this as it is a "user error" (sorry, I have no better idea how to name this)

[2022-05-03 16:22] gabor-boros commented on #6315
@srh v8 is dropped in favor of quickjs, should we close this?

[2022-05-03 16:47] gabor-boros commented on #6095
@srh the PR linked above (#6461) resolves the issue, isn't it? Also, all [jobs](https://github.com/rethinkdb/rethinkdb/runs/6274467498?check_suite_focus=true) passed on the latest build, including unit tests.

[2022-05-04 04:14] #1647 closed

[2022-05-04 04:14] gabor-boros commented on #1647
This is not an issue anymore

[2022-05-05 11:56] srh commented on #6095
Yeah.  I'll close.

[2022-05-05 11:56] #6095 closed

[2022-05-05 18:19] gabor-boros commented on #5703
MacPorts has no RethinkDB package anymore. Closing.

[2022-05-05 18:19] #5703 closed

[2022-05-05 18:20] gabor-boros commented on #5680
LTS is over for wheezy. Closing.

[2022-05-05 18:22] gabor-boros commented on #5636
It is possible to build on RPI 3, so closing this. The instructions are the same for RPI 2 assuming the OS is matching.

[2022-05-05 18:22] #5636 closed

[2022-05-05 22:09] #6315 closed

[2022-05-06 03:34] besworks opened #7061 "It should be possible to set `--initial-password` from a file"
The dump, restore, etc commands support reading the password from a file but there is no equivalent option when setting up a new server. Setting the initial password in plain text on the command line is insecure as it shows up when running `ps`.

This is the block of code responsible for getting the password string from the `--initial-password` option :

https://github.com/rethinkdb/rethinkdb/blob

[2022-05-06 08:35] srh commented on #7061
It might put the password in .bash_history too.

You can use `--config-file myconfig` with the file `myconfig` having the content `initial-password=hunter2`.

I'm going to close this.  A PR which updates the help output for `--initial-password` to suggest using `--config-file` would be accepted.

[2022-05-06 08:35] #7061 closed

[2022-05-06 08:43] srh commented on #6858
See the commands and configure line in https://github.com/srh/rethinkdb-package-builder/tree/master/archlinux .

[2022-05-06 08:51] srh commented on #6939
I've now updated old_admin branch to remove the Groups and Freenode links. ece0e7cbecbb57c539cc8557163581b5f7686836

Closing.

[2022-05-06 08:51] #6939 closed

[2022-05-06 08:54] srh commented on #6606
It has been reported to me that RethinkDB works on WSL 2.

[2022-05-06 09:14] srh commented on #6595
Right.  We'll have to avoid this issue if/when cherry-picking from next.  Closing.

[2022-05-06 09:14] #6595 closed

[2022-05-06 11:39] luvarqpp commented on #2751
I am modeling "folder/file" like tree structure and storing things with reference to parent seems "natural". See https://stackoverflow.com/questions/23422209/rethinkdb-hierarchical-data for similar (and also old question".

Would be it easy to model tree structure using "fullPath" attribute? Or does have RethinkDB gained something better than fold during last time?

[2022-05-06 13:05] besworks commented on #7061
Thanks for the tip, that suits my purposes just fine. I didn't realize that you could do that because there is no mention of an `initial-password` option in the [config file doc](https://github.com/rethinkdb/docs/blob/master/5-deployment/config-file.md).

[2022-05-06 20:35] gabor-boros opened #7062 "Drivers as sub modules"
### Description

Back at a time, the drivers were extracted from the db (this) repo to allow separate development of them.

Although it helped to cleanup lot of things, follow best practices per driver, better separation, etc., it makes some things harder during DB build and polyglot testing.

Let's take the golden middle way, and bring back the drivers as git submodules. That allows the flexibili

[2022-05-07 13:15] gabor-boros commented on #6384
@srh reopening as the referenced commit is not available on the current 2.4.x branch (which is the main branch now).

[2022-05-07 16:25] eloquence opened #7063 "Publish 2.4.2 on GitHub"
Congrats on getting a new point release out - I know it's been a struggle to keep this project going. I'm noticing that 2.4.2 is announced on https://rethinkdb.com/blog/2.4.2-release but there's no corresponding release object in https://github.com/rethinkdb/rethinkdb/releases  - is that intentional? If not perhaps someone with the adequate permissions can publish it on GitHub as well.

[2022-05-07 19:21] gabor-boros commented on #7063
Hey @eloquence,

It wasn't intentional, I believe. I'll take care of it.

[2022-05-07 19:30] gabor-boros commented on #7063
For the sake of completeness: https://github.com/rethinkdb/rethinkdb/releases/tag/v2.4.2

cc: @eloquence

[2022-05-07 19:31] #7063 closed

[2022-05-07 22:24] gabor-boros commented on #7048
@srh I'm closing this issue. Actually, https://github.com/rethinkdb/rethinkdb/pull/7059 resolves the testing issues.

[2022-05-07 22:25] #7048 closed

[2022-05-07 22:45] gabor-boros commented on #5910
Closing this issue, because

- The next branch is no longer maintained -- the default branch has been changed
- WSL2 runs RethinkDB properly -- as far as we know
- The issue is outdated

[2022-05-07 22:45] #5910 closed

[2022-05-08 10:29] gabor-boros commented on #5112
@srh  I'm closing this as QuickJS replaced V8

[2022-05-08 10:29] #5112 closed

[2022-05-08 10:36] gabor-boros opened #7067 "Revisit ALL issues and PRs merged/closed for 2.5.0"
### Description

Due to the branch reorganizations (`next` became `next-abandoned`, `2.4.x` became default branch for a while, then it became the snapshot of the 2.4.x release) we **may miss some commits** that were merged into `next` but **not cherry-picked** to main (which will became 2.5.0 at cutoff).

Revisit all issues and PRs that are merged or closed and ensure the commits/changes are avail

[2022-05-08 11:32] gabor-boros opened #7068 "Fix Admin Ui release notes link"
The release notes link on the admin ui points to nowhere. Let's fix in 2.4.3.

[2022-05-08 12:45] gabor-boros commented on #6252
Closing as it was already answered and the docs clearly state that `.forEach` should receive a write function.

[2022-05-08 12:45] #6252 closed

[2022-05-08 12:47] gabor-boros commented on #6249
Moving to the docs repo as this is the expected behaviour, but it should be documented.

[2022-05-08 12:48] gabor-boros commented on #6427
Arm is already supported. Closing.

[2022-05-08 12:48] #6427 closed

[2022-05-08 12:57] gabor-boros commented on #6537
@shuoyenl If I understand correctly, the port is mapped on the host OS and dynamically assigned. As I get from the latest comment, something probably calls the port meant for clustering as a "health check". IF that's the case, then sure, it can easily happen that you see the warnings because of that.

Since the clustering port meant for clustering only and not for serve health check requests or dr

[2022-05-08 12:57] #6537 closed

[2022-05-08 12:59] gabor-boros commented on #6602
I guess the correct state based on https://github.com/rethinkdb/rethinkdb/issues/6602#issuecomment-362695275 is closed, not "reopened". Closing.

[2022-05-08 12:59] #6602 closed

[2022-05-08 13:08] gabor-boros commented on #6634
The scope of this issue could grow day by day, hence doesn't make sense to keep track of it. Especially that the issues were already triaged. Closing.

[2022-05-08 13:08] #6634 closed

[2022-05-08 15:10] gabor-boros opened #7069 "Proposal: Remove .dmg packaging format"
## Description

Let's remove the *.dmg packaging and installer. Most users on macOS uses `brew` for installing packages to mac which is somewhat a "defacto" way of installing tools on macOS. Also, the .dmg packaging is broken for M1 if I remember correctly.

We already have brew bottles that can be installed on mac: https://formulae.brew.sh/formula/rethinkdb#default (and that's 2.4.2 already). If

[2022-05-08 17:20] #7068 closed

[2022-05-12 13:34] kun-lu20 opened #7071 "Request official s390x binary and docker image"
Hi,

Since RethinkDB v2.4.2 uses QuickJS to run instead of an old version of V8, we now can use pretty much the same process to build RethinkDB binary on s390x as on x86_64 arch. I've built the binary and run Unit tests and Integration tests on s390x Ubuntu 20.04, the test results are the same as on x86_64. We would greatly appreciate it if community can provide official s390x binary and docker im

[2022-05-12 21:31] #6871 closed

[2022-05-12 21:58] gabor-boros commented on #7071
@kun-lu20 I think if we would have access to s390x machines (and RethinkDB builds on it), there is no obstacle to have s390x releases. All we need is Docker, Ruby and access to the VM. Though before making any commitments, I'd be curious about @srh's thoughts too.

Ps: Sam, we could extend your packaging repo with s390x target if that's something you are up for. -- I can open a PR after having acc

[2022-05-12 22:09] kun-lu20 commented on #7071
@gabor-boros That's great. Please let me know the VM requirements when you're available, such as the number of VMs, vCPU/vMEM/Storage/OS. Thanks!

[2022-05-13 05:48] gabor-boros commented on #7071
@kun-lu20 I think a single VM with 4GB RAM, 2CPUs and a *nix OS that can run Docker containers will satisfy the requirements. Obviously, more CPUs will allow more parallel executions, though it doesn't really matter if the build takes 10h or 2h.

At the moment we are building packages for the following distros using Docker, though I assume some of these won't be available for s390x:

- bullseye
-

[2022-05-13 13:53] kun-lu20 commented on #7071
@gabor-boros Thanks for the detailed info! For now s390x supports Ubuntu and Debian distributions in the above list.

I'll request a `4 vCPUs/4GB vMEM/100GB Storage/Ubuntu focal` s390x VM and get back to you as soon as possible.

[2022-05-13 15:00] kun-lu20 commented on #7071
@gabor-boros I've sent you the latest Ts & Cs community can review and sign via email. Please take a look when you have some time. Thanks!

[2022-05-13 15:50] gabor-boros commented on #7071
@kun-lu20 I just signed and send it back to you. Please note that I'm signing it as an individual, not as a representative of any communities or companies -- as I have no authorization to do otherwise.

[2022-05-14 19:30] srh commented on #7071
Just beware that the Linux VM I used for building packages used about 250 GB when all the packages were generated; you'd need to remove docker images part of the way through the building process to fit within 100 GB.

[2022-05-14 22:23] gabor-boros commented on #7071
Nice warning! I was facing the same last time I built for arm. I'll cleanup the images between runs

[2022-05-18 19:22] gabor-boros commented on #7071
I just wanted to follow-up on this: I was able to successfully build packages for

- bullseye
- jammy
 - impish

 The following packages has no s390x-based docker image, so I cannot build for them:

- almalinux
- rockylinux
- centos7

The builds are still in progress, so I'll keep updating this comment as packages are building.

cc: @srh , @kun-lu20

[2022-05-19 06:01] gabor-boros commented on #7071
@kun-lu20 @srh here we go. The packages are built for the distros mentioned above, and I just uploaded them to the download server.

<img width="1263" alt="Screenshot 2022-05-19 at 7 54 51" src="https://user-images.githubusercontent.com/19173947/169220293-5cadce55-4918-4314-9545-1487c8a58e89.png">

Closing this issue 🎉  Thank you for the s390x server to build on, @kun-lu20!

[2022-05-19 06:01] #7071 closed

[2022-05-19 14:18] kun-lu20 commented on #7071
@gabor-boros You're welcome! Thanks for your speedy work on this!

[2022-05-27 06:18] v3ss0n commented on #6747
appwrite , supabase  - none of them compare to RethinkDB . This project only stalled because the company died . Their engineers are great people.
@srh  , @gabor-boros  and a few other community is trying to revive it. Please support all you can.

[2022-05-27 06:20] gabor-boros commented on #6747
I think the best support right now is helping to maintain the drivers and the DB 😇

[2022-05-28 06:20] #1279 closed

[2022-05-28 16:41] gabor-boros commented on #1147
@srh Reading through the thread about, the title could be "ReQL proposal: `unsplit` command" since it is more about implementing that rather than extending coercions, right?

[2022-06-01 20:29] celogeek opened #7072 "2.4.2 Admin UI says upgrade available even when on the latest version"
This is the same issue as here https://github.com/rethinkdb/rethinkdb/issues/6910
I'm trying to understand how to generate again the asset with the right version but no success so far.

[2022-06-01 22:06] srh commented on #7072
You can generate it by checking out https://github.com/rethinkdb/rethinkdb/tree/old_admin and following the instructions in the readme.

*However*, the PVERSION parameter seems to be ignored.  There is a bug in `make generate` or some script that it calls.  It might be possible to work around this by setting the git tag you want on the current commit, and generating then.

[2022-06-02 01:17] KalybosPro opened #7073 "Expose my local rethinkdb to internet"
Hi, please can't you help me to do this? I built an app with flutter and I used rethinkdb for back-end. Now I want to expose my local rethinkdb database to internet so that everyone can access to it using my app. I need your help, please.

[2022-06-02 11:36] celogeek commented on #7072
Well, the issue is on the release, even on the debian package you also have the issue.
When we open the old admin ui, then we have a pop up indicating a fresher version is available despite the fact that we are using it.
may be the process to embed or release should include the generation of the asset with the right version.

[2022-06-02 11:36] celogeek commented on #7072
I will take a look, but I really doubt I should do this extract step in the build of the server only.

[2022-06-02 12:18] gabor-boros commented on #7073
In addition to what @McSneaky wrote, please read these:

- https://rethinkdb.com/docs/mobile-connections/
- https://rethinkdb.com/docs/security/

Also, exposing your local machine's DB is risky from multiple perspectives. For example, although I'm not aware any vulnarabilities, you are risking that someone can access your computer through the DB.

Here is what I would do:

1. create a server on Di

[2022-06-02 14:19] KalybosPro commented on #7073
Okay thank you. I'm just a beginner for rethinkdb that's why. Of course, I would like to pay for a DigitalOcean droplet, but I don't have money now.

[2022-06-04 14:56] celogeek commented on #7072
I try to build the admin UI, but it loop forever.
I think the node6 (which is very outdated), can't build on my setup.
I know I have to apply 2 patches before to make it works
[code]

and

[code]

This is because my gcc is too recent for this node version.
Did you build this ui on an old machines ?

[2022-06-05 03:28] #7073 closed

[2022-06-13 02:48] srh commented on #7072
Branch https://github.com/rethinkdb/rethinkdb/tree/old_admin doesn't have a file mk/support/pkg/v8.sh.  So you are not generating the admin UI on the latest commit in that branch.

[2022-06-13 12:05] vincent-ogury commented on #7072
I've got those patch on the previous version of rethink.
I've try to build the old admin with the last patch, and failed.
I'm on arch linux with everything up to date (gcc, clang ...).
It seems node 6 failed to build without patches there.

[2022-06-13 12:07] celogeek commented on #7072
I've got those patch on the previous version of rethink.
I've try to build the old admin with the last patch, and failed.
I'm on arch linux with everything up to date (gcc, clang ...).
It seems node 6 failed to build without patches there.

[2022-06-16 18:17] MarianoRD opened #7077 "AdminUI upgrade available eventhough using last version"
## Server Info
Debian 11
5.10.0-15-amd64

## RethinkDB info

### Test 1
[code]

### Test 2
[code]
### AdminUI messsage

![Screenshot 2022-06-16 at 13-10-21 RethinkDB Administration Console](https://user-images.githubusercontent.com/10457534/174138415-ea091dbb-da61-4066-83ca-667ea636ceea.png)

## Expected result

The AdminUI shows the correct version and doesn't shows the message to upgrade since i

[2022-06-19 19:33] zamazan4ik opened #7078 "Document supported hardware architectures"
Hi!

I have checked the documentation but did not find any word about supported architectures - only about supported operating systems.

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is requir

[2022-06-20 02:34] srh commented on #7078
That information is located on https://rethinkdb.com/docs/install/ under "other architectures."

That's pretty incomplete, as you can see.  It could describe "unsupported" architectures that are known-working, and actually have some degree of specificity about what combinations have release packages or are known-working.  For example, 32-bit x86 might still work (but is not recommended).  People s

[2022-06-20 02:37] srh commented on #7072
From #6910 :

[2022-06-20 02:39] srh commented on #7077
Thank you for the report.  Marking as due of #7072.  I'm pinning that issue.

[2022-06-20 02:39] #7077 closed

[2022-06-20 02:40] srh commented on #7072
I've retitled this and have pinned this issue.

[2022-06-20 02:41] srh commented on #7069
I have no opinion on this matter.

[2022-06-21 14:07] chrisvariety commented on #7069
`.dmg` works great on M1, a lot of folks have moved away from brew, see e.g. https://wickedchicken.github.io/post/macos-nix-setup/

[2022-06-21 21:40] gabor-boros commented on #7069
@chrisvariety Say no more, you convinced me.

[2022-06-21 21:40] #7069 closed

[2022-06-28 02:08] Leeasina opened #7079 "There is a XSS(reflected) vulnerability that can eval dangerous functions"
When the user is using DataExplorer
poc:
r.js(alert(1))
<img width="341" alt="image" src="https://user-images.githubusercontent.com/55623055/176075433-c2912749-2571-4357-8682-069a54a4dd27.png">
done:)

[2022-06-30 01:15] srh commented on #7079
It also has admin privileges to the db, which would be a bigger deal if you're blindly copy/pasting queries.

[2022-06-30 01:15] #7079 closed

[2022-07-21 09:13] zw963 opened #7080 "Crystal driver is working."
I just test crystal driver is working, after a quick try, the API almost same as ruby version, except, it not support `#repl` on `r.connect`.

https://github.com/kingsleyh/crystal-rethinkdb

Thank you.

[2022-07-21 22:07] srh commented on #7080
Agreed; thank you for bringing this to our attention.

[2022-08-04 22:57] zamazan4ik opened #7081 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the database. Could you please describe somewhere in the documentation:

- How to upgrade the database to the newer version (hopefully with no downtime)
- How to downgrade the database to the older version (hopefully with no downtime)
- Maybe some compatibility policies and not

[2022-08-06 01:49] srh commented on #7081
This page doesn't really explain it, does it: https://rethinkdb.com/docs/migration/

I don't think the instructions on rebuilding outdated indexes are clear at all, either.

To upgrade RethinkDB, you'll generally want to shut down the cluster, update the rethinkdb binaries, and then start up the cluster again.

An index only needs to be rebuilt if a ReQL command that it uses has its behavior chang

[2022-08-06 08:23] zamazan4ik commented on #7081
@srh provided page has no answers for the following questions:

- Could I perform RethindDB upgrade withoout downtime or not?
- Is the downgrade process supported? If yes, could I perform downgrade without downtime?

Would be great, if the page above will for these questions too.

[2022-08-06 16:42] srh commented on #7081
@zamazan4ik Thanks for the feedback.

- Generally, there can be downtime -- you'll need to shut down the cluster, upgrade the binaries, and launch a new cluster.  (Or you can have your own second cluster + switchover system on top of rethinkdb.) This is because some new RethinkDB versions have cluster protocol incompatibilities and the servers will not join as part of the same cluster.  And some m

[2022-08-08 20:16] srh commented on #7008
The #7074 and #7075 changes have merged Windows support to the branch v2.4.x-windows.

I am currently working on adjusting the c-smile QuickJSpp code so that it is more acceptable, by:

1. omitting all new features in QuickJSpp, such as JSX support and storage support
2. reviewing existing c-smile changes and fixing the problems.  For example, quickJSpp has this broken change (which would incorrec

[2022-08-11 01:02] #6969 closed

[2022-08-11 23:49] srh opened #7085 "Find new address for Boost 1.60.0 download"
sourceforge.net is down too often.

[2022-08-13 17:35] gabor-boros commented on #7085
How about using GitHub instead?

[2022-08-13 19:07] srh commented on #7085
That's the idea.

[2022-08-15 03:52] ibpme opened #7086 "Failed to determine absolute path for Metadata (Docker - Linux on Windows)"
Running RethinkDB inside a Docker container running on Windows will give the following error when we try customize the database initialization with the following command before building from image.
While running it with Docker on Linux provides no Error.

[code]
-  Image `rethinkdb:2.4.2`
- `Running on Linux 4.19.128-microsoft-standard x86_64`

### Error in Docker
[code]
### Recreating error
####

[2022-08-15 21:36] jviotti commented on #6677
Closing stale issues

[2022-08-15 21:36] #6677 closed

[2022-08-23 19:57] bencz opened #7087 "How to build in debug mode ?"
How to build the rethinkdb in debug mode ?

[2022-08-24 05:34] gabor-boros commented on #7087
Add DEBUG=1 to the make arguments, like: make -j8 DEBUG=1

[2022-08-24 05:35] #7087 closed

[2022-08-31 15:45] srh commented on #7085
I'm closing, because the failure to access the second time was due to a local firewall.

[2022-08-31 15:45] #7085 closed

[2022-09-06 12:52] dpineiden opened #7089 "Error running on production, log"
Hi, i wan't to report this error:

[code]

Never happen before.

What could be?

[2022-09-06 17:34] srh commented on #7089
Reformatted backtrace, replacing \n's:

[code]

[2022-09-06 17:50] srh commented on #7089
@dpineiden Either there is a bug in RethinkDB that caused an incorrectly updated block, or there is was memory corruption or disk corruption.  This error hasn't been reported before, but it is plausible that it's a RethinkDB bug.

[2022-09-06 17:55] dpineiden commented on #7089
Thanks!
Well, so I report this, here :S

[2022-09-06 20:21] srh commented on #7089
Yeah, I don't have much info for you beyond that.  Since 65500 is in binary, 1111111111011100, and it's a 16-bit value (either the `frontmost` field on the leaf node or the field's value after some addition of small values to it), it is plausible that some rarely executed corner of leaf node splitting or merging logic causes the `frontmost` field to be miscomputed and underflow.  Maybe the math co

[2022-09-07 03:08] dpineiden commented on #7089
Wow, this is so advanced. The rethinkdb in this server is compiled because is a centos 7 and old computer, maybe is usefull for you that i upload the compiled version... so tell me

[2022-09-08 05:26] Pro-Coder04 commented on #6940
Hello
I'm interested in solving this issue
Could someone assign it to me

[2022-09-08 06:54] gabor-boros commented on #6940
@Pro-Coder04 Done. By the way, feel free to work on anything regardless of the assignee status (just leave a comment on the issue) 😇

[2022-09-12 19:42] srh commented on #6956
Closing as fixed.  See #6957 (or #7010).

[2022-09-12 19:42] #6956 closed

[2022-09-12 20:55] srh commented on #6990
I'm going to close this.  Cleaning up open issues on the front page...

I have merged #7090 to simplify the style document.  The only actual explicit formatting rule that remains is to always use braces and put spaces around control structure blocks.  The other rules weren't general rules but were overly specific carve-outs.  Unmentioned is four-space indentation or how to put spaces around commas

[2022-09-12 20:55] #6990 closed

[2022-09-12 20:57] srh commented on #6814
I just noticed this -- windows support has been implemented in v2.4.x.  Amazing how #7083 got merged (by me) but still there are no binaries uploaded (by me).

[2022-09-13 07:10] Pro-Coder04 commented on #6940
Since the link is redirecting to a location which doesn't exist we are getting Access denied.
We can maybe create a folder at that location.
Can someone suggest me how to do that?
and where will I find the html source code for web UI?

[2022-09-13 07:55] srh commented on #6940
@Pro-Coder04 The admin UI is defined at https://github.com/rethinkdb/rethinkdb/tree/old_admin

[2022-10-06 10:42] srh commented on #6937
Sigh... I didn't want to send anybody on a goose chase without checking if the new jQuery version would work properly.

JQuery is now upgraded in `v2.4.x` and in `old_admin` branches, and that version will be in 2.4.3 or any later release, if they get released.

[2022-10-06 11:01] saranyasridharan commented on #6937
@srh Can I pull this repo and create a custom image till that time its released?

[2022-10-06 11:27] srh commented on #6937
@saranyasridharan I think I don't understand your question -- I mean, it is open source software -- so you can create whatever custom images you want unless there is a technical limitation.

[2022-10-06 12:32] srh commented on #6937
@saranyasridharan Looking at https://github.com/dockerfile/rethinkdb/blob/master/Dockerfile it's pulling from the apt repository.

You could build a .deb and make a Dockerfile based off that one which installs from the .deb package.  Generally you can build one targeting the latest Ubuntu release with `make -j8 build-deb UBUNTU_RELEASE=jammy` -- see http://samuelhughes.com/rethinkdb/build_instruct

[2022-10-07 10:07] saranyasridharan commented on #6937
@srh Thanks. those links have helped 👍

[2022-10-11 08:13] zadcha commented on #7033
ok, compile successfully with the v2.4.x branch  (gh repo clone
rethinkdb/rethinkdb -- -b v2.4.x)
shouldn't you put the v2.4.x for the default branch instead of next ?

On Tue, Mar 22, 2022 at 10:03 AM Stella Rium ***@***.***>
wrote:

[2022-10-11 08:31] KalybosPro commented on #7073
Okay it must be the database. Because the app needs to load data from the database and display them on user interface. Okay thank for your help. So for the host, I should use my router IP address. Right?Sent from my Galaxy
-------- Original message --------From: McSneaky ***@***.***> Date: 02/06/2022  01:41  (GMT+00:00) To: rethinkdb/rethinkdb ***@***.***> Cc: KalybosPro ***@***.***>, Author ***@*

[2022-10-24 07:43] camdiep2 opened #7096 "Can you tell me about code of your horizontal scroll bar in table view ?"
Hello,

I really love your horizontal scroll in table view, when height of table is long than height of my monitor , the horizontal scroll bar is displayed at the bottom of my monitor. really good solution to view data. Can you tell me which code, components you use to archive this ? Thank you.

![scroll-bar](https://user-images.githubusercontent.com/80382054/197472445-12ed52fc-041d-4cfa-90fa-a5be

[2022-10-24 15:05] srh commented on #7096
Specifically rethinkdb-old-admin has that code, and I presume now the new admin client in rethinkdb-admin.  However, the "official" admin UI is built out of the old_admin branch.  The code probably involve `class TableView` here or some related CSS:

https://github.com/rethinkdb/rethinkdb/blob/old_admin/admin/static/coffee/dataexplorer.coffee#L3240

It looks like there is some explicit logic relat

[2022-10-27 14:46] risharde commented on #6290
Will this one be properly fixed? I experienced this today and thankfully I found this thread.

[2022-10-28 21:34] #7096 closed

[2022-11-03 05:39] srh opened #7101 "RethinkDB 2.4.3 release list - v2.4.3 is tagged, most packages uploaded, website needs update"
The current checklist for releasing RethinkDB 2.4.3 has just one dev item (a PR is up), and then some builds to verify still compile, before cutting a version and releasing:

Code:
- [x] Update release notes

Builds:
- [x] Linux amd64 builds
- [x] Linux ARM builds
- [x] Windows amd64 build
- [x] MacOS amd64 build
- [x] Docker files
- [x] Homebrew

Website:
- [x] Update the website

[2022-11-10 11:10] jschleus opened #7102 "Codespell report for "RethinkDB" (on fossies.org)"
The FOSS server [fossies.org](https://fossies.org) - supporting now also the [RethinkDB](https://fossies.org/linux/rethinkdb) project - offers among others a feature named "[Source code misspelling reports](https://fossies.org/features.html#codespell)". Such reports are normally only generated on request, but as Fossies administrator I have just created such a [codespell](https://github.com/codesp

[2022-11-11 00:03] #1473 closed

[2022-11-14 18:08] srh commented on #7102
Thank you for the report.  I've fixed in #7103 most typos except for those in the comments and a few in tests' yaml files which I didn't bother to look at.