[2015-08-07 01:19] danielmewes commented on #4572
Created a follow-up issue https://github.com/rethinkdb/rethinkdb/issues/4641 . Closing this one.

[2015-08-07 01:19] #4572 closed

[2015-08-07 01:22] mlucy commented on #4559
Er, I mean @Tryneus .

[2015-08-07 01:23] Tryneus commented on #4559
I can probably do the Python driver.

[2015-08-07 02:06] danielcompton commented on #4641
What is the solution for 3rd party drivers? Do we also need to enable keepalive?

[2015-08-07 02:10] danielmewes commented on #4641
Yes, I believe in Go you can use setsockopt similar to the Python change.

[2015-08-07 02:58] deontologician commented on #4559
No problem

[2015-08-07 03:22] VeXocide commented on #4559
I did the initial Python changes, and would be happy to pick that up as well.

[2015-08-07 08:40] kikohs commented on #4036
@danielmewes I have switched to another project right now, but you're right I could store the part of the data as JSON string as I only need to load data from the DB.
However the cost of insertion might be bigger?
How does the python driver works, it is serializing all the data as JSON anyways?

[2015-08-07 09:35] let4be opened #4642 "Calling filter/map after changes causes connection to timeout"
I'd like to filter and map changes to a more simplified structures to reduce network loading and increase efficiency

but as soon as I chain `.filter()` / `.map()` after `.changes()` my connection starts to timeout(10 second as I specified during creating a connection)

Sorry if this is duplicate, but I found only this:
https://github.com/rethinkdb/rethinkdb/issues/2485

I also saw this one for th

[2015-08-07 09:52] let4be commented on #4642
I can't reproduce the same inside data explorer but on the other hand it has no timeout setting or it's hidden somewhere

`r.table('batches').changes().filter(r.row.hasFields('new_val'))`

the following works perfectly fine in data explorer but timeouts in gorethink if connection timeout is specified...

[2015-08-07 12:17] haf opened #4643 "Starting RethinkDB causes _unsecured_ outbound port 80 connection"
Giving a :hankey:  here. Blocking the outbound connection gives: `warn: Problem when checking for new versions of RethinkDB: HTTP request to update.rethinkdb.com failed.`

I don't want to have my server-software talk unencrypted over the internet. Please.

To give a  :rose:  though: you only listen on localhost by default!

[2015-08-07 15:29] ajschlosser commented on #2269
@danielmewes I have also run into this issue while using ```map``` to calculate data analytics before returning the results of a somewhat large query. In brief, I am grouping certain data by U.S. state; however, if one particular state does not have data for a particular range, I get the ```RqlRuntimeError``` for dividing by zero. Is there a more graceful way to handle this than conditional statem

[2015-08-07 18:04] larkost commented on #4643
This is just the server checking in with ours for two reasons:
1. Checking to see if there is a newer version
2. Giving us some rough usage numbers so we can prioritize development (so order-of-magnitude on number of servers and tables, etc..)

To disable this you can supply the `--no-update-check` flag and no such connection will be made.

On the assumption that this solves your worry I am going

[2015-08-07 18:10] danielmewes commented on #4036
@kikohs yes, the Python driver serializes the data as JSON, but the data isn't stored as JSON on disk. It's converted into a different format that makes it more efficient to access individual fields on the server. The downside for very large documents is though that it has to be converted back to JSON whenever the document is read, which incurs additional overhead.

[2015-08-07 18:11] danielmewes commented on #4036
I just tested the export with the data on a hard disk using the RethinkDB 2.1 beta and it actually didn't take much longer than from SSDs (4h 29 min vs. 4h 20 min). These numbers will probably vary considerably between different servers and configurations though.

[2015-08-07 18:28] VeXocide commented on #4559
Just discussed this with @danielmewes, I'll take care of the Python changes

[2015-08-07 18:40] mglukhovsky commented on #4643
@danielmewes: do we have a timeline for adding HTTPS?

[2015-08-07 18:50] coffeemug commented on #2269
@ajschlosser -- unfortunately `default` doesn't work for the divide by zero error, so the best way to handle it is with conditionals. The error handling here is definitely an oversight on our part; we'll try to fix this as soon as we can.

[2015-08-07 18:50] danielmewes commented on #4643
@haf In addition to the `--no-update-check`, I also recommend turning off update checks in the web UI if you're using it. You can get to that option by clicking on the small gear icon at the top. That setting is stored in a cookie, so you'll need to turn it off in each browser you're using and for each RethinkDB server URL you're accessing (if there are multiple).
Long term we will make the web UI

[2015-08-07 18:51] danielmewes commented on #4643
@mglukhovsky Let's do that soon after 2.1. It's about time.

[2015-08-07 18:56] ajschlosser commented on #2269
@coffeemug Thanks for the speedy response. I'll stick to conditionals for now, then. Looking forward to future updates!

[2015-08-07 19:05] danielmewes commented on #4641
@danielcompton Ahm not sure why I mentioned Go to you. I must have confused you with @dancannon when I wrote that email. I'm not sure how it works in Clojure.

[2015-08-07 19:06] danielmewes commented on #4642
Hi @let4be. The timeout behavior seems to be specific to the Go driver. Our official drivers don't have any timeout like that, except for the first handshake during connection setup.

I suspect that the solution for this is simply to disable the timeout.

@dancannon do you have any additional insights on this?

[2015-08-07 19:08] danielmewes commented on #4557
We should also mention that we now recommend turning on TCP keepalive for the client connections (https://github.com/rethinkdb/rethinkdb/issues/4572).

[2015-08-07 19:30] dancannon commented on #4642
Hi, currently the driver has a global timeout setting which is used for both connecting and queries. I think that having timeouts on queries makes sense but clearly it needs to be possible to ignore this for changefeeds. I will look into adding this soon.

For now I think @danielmewes is correct in saying that removing the timeout for now is the best solution.

[2015-08-07 19:50] coffeemug commented on #2269
Moving to subsequent, I think we should either add a `catch` term, or extend `default` to work on more error cases.

[2015-08-07 20:16] deontologician commented on #4559
What branch are the ruby changes on?

[2015-08-07 20:27] deontologician commented on #4559
Sorry, you mentioned the branch above, nevermind!

[2015-08-07 20:41] Tryneus commented on #4611
Fix for the crash in review 3129 - this situation will return an error instead.

[2015-08-07 21:11] haf commented on #4643
@larkost Well, the ticket is about me wanting HTTPS. I recognise your need for telemetry.

[2015-08-07 21:13] danielmewes commented on #4572
Actually http://www.tldp.org/HOWTO/html_single/TCP-Keepalive-HOWTO/ says that the unit of `/proc/sys/net/ipv4/tcp_keepalive_time` is seconds and not milliseconds. This would explain why they picked a default of 7200, which is 2 hours.
However it doesn't explain why I'm actually getting the timeout after 11-12 minutes.

[2015-08-07 21:32] danielmewes commented on #4643
@haf ah, we will switch the update check over once we have done https://github.com/rethinkdb/www/issues/104 . Thanks for the reminder!
Also related to https://github.com/rethinkdb/rethinkdb/issues/3988

[2015-08-07 21:50] #4642 closed

[2015-08-07 21:59] danielmewes commented on #4643
Re-opening until we have switched this over to HTTPS.

[2015-08-07 22:56] deontologician commented on #4559
OK, changes are up on josh/4559 I merged in next since @mlucy 's branch didn't have the fix for #4631 in it. I made a couple of assumptions in places where things weren't completely clear:

- I added the ReqlClientError as a direct subclass of ReqlError as @danielmewes suggested
- The js driver had a superclass called "RqlServerError" that isn't in the new hierarchy, I made it an alias for ReqlRun

[2015-08-07 23:18] larkost opened #4645 "test the pretty-printers"
When testing error we are avoiding testing the format of the pretty-printed portion of the error. In general this is the right approach, as it would make maintaining the tests a lot harder, but we should be explicitly testing the output to make sure we don't fail there.

The first part of this is going to be to figure out the classes of errors that we want to test.

[2015-08-08 00:02] larkost opened #4646 "JavaScript expected arguments errors should be RqlCompileErrors"
As exemplified in the `polyglot/arity` test the JavaScript driver is reporting a number of errors as `RqlDriverError`s when the other drivers report them as `RqlCompileError`s. The reasons for the current state are internal to how the drivers work, and so not ones that would matter for customers. I would rather we have consistency on this.

Probably every `RqlDriverError` line in `polyglot/arity`

[2015-08-08 00:18] p-e-s-t-s opened #4647 "Crash when starting service related to log directory set in conf"
I went from running rethinkdb on the command line to starting it as a service. I used the default conf except for changing the data and log locations. This crash happened after trying to (re)start the service.

The problem ended up being the log config change. I commented it back out to let rethinkdb use its default and then it started up just fine.

Probably an issue with permissions but @mglukho

[2015-08-08 00:32] danielmewes commented on #4647
Thanks for opening an issue @p-e-s-t-s .
This should be a `fail_due_to_user_error`, not a `guarantee`. That will avoid the ugly backtrace.

[2015-08-08 00:37] p-e-s-t-s commented on #4647
Thanks!

Just realized my output above shows I had the log set to /var/lib/rethinkdb - user error but still a crash.

[2015-08-08 00:58] Tryneus commented on #4611
The fix has been approved and merged to `next` in commit a437aed, and cherry-picked into v2.1.x and v2.0.x in commits 589bc21 and 3845ec4, respectively.

[2015-08-08 00:58] #4611 closed

[2015-08-08 01:49] danielmewes commented on #3664
This is noted in the 2.1.0 release note draft.

[2015-08-08 01:49] #3664 closed

[2015-08-08 02:00] danielmewes commented on #4617
Actually never mind. This can't happen in 2.1 anymore.
Putting this into `backlog`. We should change the code eventually when we have #3934, in case we want to support mixed-version clusters in the future.

[2015-08-08 02:10] neumino opened #4649 "[v2.1.x] failed to find expected metadata key"
Just built from source and ran it on a old data directory (not sure which version, probably 2.0.x). I got this stacktrace:

[code]

Configure output
[code]

It looks like I can't upload a tar.gz on GitHub -_- but if you need the data directory I can probably send it, it's about 200kB.

[2015-08-08 02:14] neumino commented on #4649
I forgot to write that it works fine if I removed the old data directory.

[2015-08-08 02:14] danielmewes commented on #4649
Are you sure the data directory wasn't from an older version of next/2.1.x?

[2015-08-08 02:16] neumino commented on #4649
Just digged a bit in the log. I was on commit 44b042c so that was probably an old 2.1.x version

[2015-08-08 02:20] Tryneus commented on #4649
Yeah, the 2.1-beta is not compatible with the current `v2.1.x` because we added a new key to the metadata for the heartbeat timeout.

[2015-08-08 02:21] Tryneus commented on #4649
Also, we now version the btree superblock using the magic number, so even if you got past that, it would crash when loading the tables (thinking that it's a `2.0.x` superblock that should have been migrated).

[2015-08-08 02:23] danielmewes commented on #4649
Actually that commit seems to already have the heartbeat semilattice, which makes this specific type of failure a bit odd. Or maybe the data directory was an even older one? Could that be?

[2015-08-08 04:30] neumino commented on #4649
It's not impossible but unlikely.

[2015-08-08 05:36] neumino commented on #4559
In https://github.com/rethinkdb/rethinkdb/issues/4544#issuecomment-123514164, some errors (like ReqlAvailabilityError) don't exist in the ql2.proto file.
Are the drivers supposed to parse the error for those types?

[2015-08-08 06:08] deontologician commented on #4559
Reql availability doesn't show up by itself, its just a superclass for the two op errors, in case you want to catch either one

[2015-08-08 09:15] haneefmubarak commented on #866
For those who currently want to just truncate a value (ie: round to zero), this currently works well (for me, so far, YMMV):

[code]

For instance, if you play with the data from http://www.rethinkdb.com/docs/reql-data-exploration/ and you want to get the average number of votes for all of the movies as an integer:

[code]

[2015-08-08 16:27] v3ss0n commented on #4572
ACKs are blocking? May be a wireshark capture will reveal.

[2015-08-08 16:35] neumino commented on #4559
Oh, thanks that make sense :)

[2015-08-08 19:43] eav commented on #746
+1

[2015-08-09 00:33] neumino commented on #4068
In 2.0.4 this doesn't work anymore (and in `next` too - for `update` or `replace`). One use case beside the one already mentioned is https://github.com/neumino/thinky/issues/288:
[code]

[2015-08-09 00:53] danielmewes commented on #4068
@neumino Can you make sure that you're setting `returnChanges: "always"`? With that option it seems to work as expected on 2.0.4.
[code]

[2015-08-09 01:13] neumino commented on #4068
Arg I missed that change. Thanks @danielmewes, it works like a charm now :)

[2015-08-09 21:23] ha1331 opened #4650 "slow inserts on OS X 10.10.4"
Running this script on my MacBook Pro 15" mid 2015 (nodejs) :
**************************************************************************
var r = require("rethinkdbdash")();

var iters = 90000, i = 0;
var insert = function(){
    if (i < iters){
        r.db('test')
                .table('test')
                .insert({name: "", size: i})
                .run()
            .then(function(){

[2015-08-10 13:32] avimar commented on #1190
Just to throw in an example: I'm using lodash-fp in my node.js projects for the auto-currying to make the code cleaner than using lodash.

[2015-08-10 15:56] ha1331 commented on #4650
Updated to OSX 10.11 beta El Capitan or something, results didn't change. Also not a nodejs issue, I initially came up with this thing when I was pushing my Golang skills to the extreme and figured out how to do inserts. Results are identical.

[2015-08-10 17:59] VeXocide opened #4651 "Hostname and port in `ReqlAuthError` and `ReqlTimeoutError` messages"
In the Python driver I'm providing the hostname and port in the `ReqlAuthError` and `ReqlTimeoutError` messages, we should make sure we do so in the other drivers as well.

[2015-08-10 17:59] deontologician commented on #4651
Making work for me eh?

[2015-08-10 18:04] VeXocide commented on #4651
Making RethinkDB indistinguishable from magic!

[2015-08-10 18:04] danielmewes commented on #4651
I wonder if we should include that information in all errors.

[2015-08-10 18:09] deontologician commented on #4646
Since I'm in the code now and we're changing the errors etc, @danielmewes any opposition to making this change for 2.1?

[2015-08-10 18:12] danielmewes commented on #4646
It's not necessary, but if it's a quick fix and you make sure that all tests are updated go for it. We will freeze 2.1 once the Python driver error changes are in today though.

[2015-08-10 18:18] deontologician commented on #4651
@VeXocide what is the exact format for these errors?

[2015-08-10 18:24] VeXocide commented on #4651
@deontologician -- I'm currently formatting the message as `"Could not connect to %s:%d, incorrect authentication key."` and `"Could not connect to %s:%d, operation timed out."`, though this is up for discussion I guess.

[2015-08-10 19:18] deontologician commented on #4646
OK, I did this the easy way and it's not quite as simple as I'd expected. In order to unify the error specification in the polyglot tests, we'd also have to change how many arguments are reported by the error message. Right now there are numerous that say "expected 0 but found 1", whereas the other drivers say "expected 1 but found 2". I think that's a large enough change not to try to slip it in

[2015-08-10 19:20] deontologician commented on #4646
@larkost if you pick this up later and are interested, the little bit I did is on josh/4646

[2015-08-10 21:28] murphyrandle commented on #3076
Is this on anyone's radar currently?

[2015-08-10 21:43] danielmewes commented on #4646
Seems like there are also a few cases like this in the Ruby driver: https://github.com/rethinkdb/rethinkdb/pull/4652/files#r3668721

[2015-08-10 21:48] danielmewes commented on #3076
@murphyrandle None of us is currently working on this.

[2015-08-10 21:53] murphyrandle commented on #3076
K, thanks @danielmewes

[2015-08-10 22:02] natew commented on #1118
Any word on the progress of this?

[2015-08-10 22:08] danielmewes commented on #1118
@natew This is definitely coming, but we don't have a specific release for it yet.

[2015-08-10 22:09] VeXocide commented on #4559
Merged the Python changes into `next` via commit 10f15ddddb475560991d5fdc1a6b5d8b13d289bb.

[2015-08-10 22:11] coffeemug commented on #1118
I think we'll be able to get this into 2.3 (although as @danielmewes mentioned, there is no ETA yet). Tentatively, I'd expect this 2-4 months from now.

[2015-08-10 22:13] danielmewes commented on #4455
The AWS update is still ongoing, but I'm going to close this.

[2015-08-10 22:13] #4455 closed

[2015-08-10 22:15] larkost opened #4653 "don't translate language-specific lines in YAML tests"
When we "build" the YAML tests (polyglot) we translate a number of things (such as dicts) to the target language when we can to save the need of typing the same test multiple times where not necessary. Currently we translate all lines, including language-specific lines (e.g.: `js`, `py`, `rb`). Instead I want to translate only `cd` and `ot` lines.

This is going to probably cause a number of probl

[2015-08-10 22:30] danielmewes opened #4654 "Crash in ClusteringQuery.ReadWrite unit test on Mac"
Happens 100% of the time for me. I'm looking into it.

[code]

[2015-08-10 22:32] larkost commented on #3476
This is causing failures on `interface.detect_netsplit` (just to make searching for this easier).

[2015-08-10 22:48] #4654 closed

[2015-08-10 22:50] danielmewes opened #4655 "Failures in ClusteringContractCoordinator unit tests on OS X"
[code]

[2015-08-10 22:53] danielcompton opened #4656 "More descriptive error message for "Indexed order_by can only be performed on a TABLE or TABLE_SLICE""
I was running

[code]

and got the error:

[code]

This was a confusing error to me, as I thought I was operating on a TABLE. After doing some search I understand the issue with secondary indexing and why this doesn't work. I think it would be helpful for users if the error message explained what type the indexed `order_by` was trying to operate on if it wasn't a TABLE, and maybe link to more docs

[2015-08-10 23:04] mlucy commented on #4656
Thanks for opening an issue.  I think you're right that we can probably make the error message clearer.

[2015-08-10 23:20] #4655 closed

[2015-08-10 23:23] #4559 closed

[2015-08-10 23:23] deontologician commented on #4559
ok, should be good to go now

[2015-08-11 00:44] larkost opened #4657 "testing error messages fixes"
I found that there were some issues with the endings on error messages with them sometime ending in `.` and sometime ending in `:`. This turned out to be a lot to work out, but not so many changes in the test infrastructure. The one exception is that the ruby test "driver" needed a bit of modification as it was missing mis-matches on error messages.

This is already done, and this is mostly for tr

[2015-08-11 01:39] danielmewes opened #4658 "`Guarantee failed: [!p1.first.overlaps(p2.first)] `"
Saw this crash on `gantz` in the
`bonus_tests.reconfigure-under-load-3` test:

[code]

[2015-08-11 02:14] #4658 closed

[2015-08-11 03:21] yvann commented on #4437
Any news about the merge :) ?

[2015-08-11 06:26] #3881 closed

[2015-08-11 06:26] danielmewes commented on #3881
@Tryneus merged this in a series of commits.
@Tryneus could you please add code review numbers here later?

[2015-08-11 06:27] danielmewes commented on #1000
The magic is being packed up right now.

[2015-08-11 06:27] #1000 closed

[2015-08-11 06:42] danielcompton commented on #3579
When this feature is added, will it dissolve the differences between 'point' changefeeds and other changefeeds?

[2015-08-11 06:42] v3ss0n commented on #1000
This bag of magic shouldn't be closed! keep it open!!

[2015-08-11 06:57] danielmewes opened #4659 "Discontinue lucid packages"
2.1 should be the last release to ship with Ubuntu lucid (10.04) packages.

[2015-08-11 07:01] danielmewes commented on #1000
@v3ss0n don't worry, this is just for transfer. It's easy to unpack again once we've distributed the packages.

[2015-08-11 07:06] mlucy commented on #3579
@danielcompton -- yes, the interface should be the same.

[2015-08-11 07:18] danielmewes opened #4660 "The durability slider in the web UI doesn't work"
If I create a table on 2.1.0 through the web UI and set durability to "soft", the table is still created with hard durability.

[2015-08-11 08:32] danielmewes opened #4661 "Check if we still need libncurses as a dependency"
`dpkg-deb` message while building 2.1.0 on lucid:
[code]

[2015-08-11 09:26] danielmewes opened #4662 "OS X installer release notes URL is wrong for 2.1.0"
It links to https://github.com/rethinkdb/rethinkdb/releases/tag/v2.1.0 , but the right URL is https://github.com/rethinkdb/rethinkdb/releases/tag/v2.1.0-1 (note the -1)

[2015-08-11 17:18] bigblind commented on #3156
+1 for this as well. I'd also love to see this for insertions and other operations. The server in my case only deals with times in UTC, so I'd like that to be the default so that I could just pass in python datetime objects without caring about the timezone.

[2015-08-11 18:05] danielmewes commented on #4557
Just sent @mlucy's notes over the mailing list. Closing this.

[2015-08-11 18:05] #4557 closed

[2015-08-11 18:06] danielmewes commented on #4649
Closing since this was probably caused by opening a beta DB file. Let's re-open if it ever happens again.

[2015-08-11 18:06] #4649 closed

[2015-08-11 18:23] danielmewes commented on #4437
Sorry this didn't make it into 2.1.0. @AtnNn what's the status of this?
We might be able to get it into a point release.

[2015-08-11 18:27] danielmewes commented on #4531
@mlucy were you able to find out anything about why this might happen?

[2015-08-11 18:35] AtnNn commented on #4437
@danielmewes There is an alpine linux package. The downstream patch looks good to me, and could be merged if it doesn't break the build on other platforms, which I never got around to do. You might also want a CLA.

http://git.alpinelinux.org/cgit/aports/plain/testing/rethinkdb/musl-fixes.patch

[2015-08-11 18:50] Tryneus commented on #3881
The related commits in `next` and their reviews are below.  These were also cherry-picked into `v2.1.x`, but `next` was merged into `v2.1.x` anyway, so it doesn't matter.

e750a98 (review 3122): Initial migration commit
e8c475a (review 3133): Fixing unittests following that
66ff2c8 (review 3139): Automatically handle incoherent versions without an explicit command-line flag
a381f54 (review 3139):

[2015-08-11 19:30] balasuar opened #4663 "rethinkdb 2.0.4 memory usage increases over time"
When running RethinkDB on our EC2 instance, memory use increases over time. This occurs on every machine. Our usage is very simple, we store a number of JSON documents that are used to generate content pages which are served via HTML.

We utilize both browser and NGINX caching, so the actual hits to the underly rethinkdb on a per request basis are (in theory) minimal.

Here is an image that shows

[2015-08-11 19:33] danielmewes opened #4664 "Outdated secondary index warning doesn't disappear until restarted"
In 2.1.0, an outdated index issue doesn't disappear even after the index has been overwritten through `rethinkdb index-rebuild`. Only after restarting the server the issue disappears.

[2015-08-11 19:34] danielmewes opened #4665 "--migrate-inconsistent-data option still appears in --help output"
This option doesn't do anything, but we still print it in 2.1.0.

[2015-08-11 19:47] Tryneus commented on #4665
Fix is up in review 3142.

[2015-08-11 19:48] digitalextremist opened #4666 "Celluloid::IO Support"
As asked on Twitter: https://twitter.com/_de/status/631172559300485120

Was there any energy put into a `Celluloid::IO` based driver?

If not, what about collaborating on such a driver? There is `celluloid-redis` for example:
- https://github.com/celluloid/celluloid-redis

This adds "evented" IO to that highly-popular database. That's much more powerful than just adding `async` capabilities to the

[2015-08-11 20:00] danielmewes commented on #4663
Thanks for the issue report @balasuar . This looks pretty bad. We will look into this.

@balasuar Was the status print from shortly after a restart? If you get a chance, could you do another status table dump when the memory consumption is high?

[2015-08-11 20:03] danielmewes commented on #4663
I assume the memory usage plot is for a single server?

Do you know how it's measured? Does it show virtual or actually paged-in memory (sometimes called RES)? Is this only of the `rethinkdb` process or for the whole system?

[2015-08-11 20:09] larkost commented on #4657
This has been merged into `next` with b14c9d6 and `v2.1.x` with ca70848.

[2015-08-11 20:09] #4657 closed

[2015-08-11 20:13] balasuar commented on #4663
@danielmewes The status dump is from after a restart. I will add a status dump after memory gets high enough again.

The memory usage plot is for a single server, and for only the rethinkdb process(es).

According to @newrelic docs it looks like it paged-in memory (similar to `free`). https://docs.newrelic.com/docs/servers/new-relic-servers-linux/troubleshooting/incorrect-memory-usage-metrics-indi

[2015-08-11 20:15] nayan9 commented on #4562
@danielmewes - your suspicion is correct so we are closing this as a networking issue.  Thanks for your support.

[2015-08-11 20:15] #4562 closed

[2015-08-11 20:15] danielmewes commented on #4562
Thanks for the update @nayan9 ! Please let us know if you run into any other issues.

[2015-08-11 20:23] larkost opened #4667 "Incorrect error for `db.table()`"
The Python and Ruby drivers are reporting a `ReqlQueryLogicError` error for `r.db('test').table().run(conn)` rather than the more expected `RqlCompileError`. Other, similar, problems return the expected error (e.g.: `r.db('test').table('test').insert()`).

This can be seen in `./test/rql_test/test-runner polyglot/arity`

JavaScript is reporting a `ReqlDriverError` which will be the subject of anot

[2015-08-11 20:26] danielmewes commented on #4663
Thanks for the information @balasuar . I don't quite understand what New Relic is measuring from the page you linked to. It's talking about "physical memory" first, but then also says "It uses the reported virtual set size for a process and multiplies that by that process's number of active instances.". So I'm not sure if the reported value is physical memory or virtual memory.

Just to make sure,

[2015-08-11 21:43] balasuar commented on #4663
@danielmewes I'll attach output from `top` as soon as I can. FWIW, I have checked top myself during high memory situations, and it shows the amount of free memory consistent with what newrelic reports.

[2015-08-11 21:51] danielmewes opened #4668 "Migration generates timestamps that are too high for inactive tables"
The timestamp is set to `9223372036854775808`.
The effect this has is that if you add a new replica to a table after migration, that replica will never come up because its timestamp is always going to be higher than any other timestamp.

There might be a second problem here that inactive tables do not synchronize their states correctly.

Once this is fixed, we're going to ship a 2.1.1 point releas

[2015-08-11 22:47] larkost opened #4669 "Drivers overusing ReqlDriverError"
After our recent reorganizing of the error classes we have some places where the drivers are over-using `ReqlDriverError`. The primary abuser is the JavaScript driver, but Python and Ruby also have some instances.

I think that all of these should be `ReqlCompileError`s. The older reasoning was that these were driver-generated errors, rather than passed along from the server. That is not really an

[2015-08-11 22:54] mlucy commented on #4667
I think that this is intended (if slightly confusing) behavior.  From the server's perspective, `r.db('test').table()` is indistinguishable from `r.table(r.db('test'))`.  It produces a logic error because it thinks you tried to write `r.table('test')` or something but accidentally provided a database instead of a string.

[2015-08-11 23:13] Tryneus opened #4670 "Crash in `contract_executor_t::update_blocking` - This code path is not supposed to use coro_t::wait()"
Full backtrace:

[code]

[2015-08-11 23:14] deontologician commented on #4669
Does this overlap with #4646 or supercede it?

[2015-08-11 23:34] larkost commented on #4667
I don't think that this should make it to the server, since we always need a table. And I suspect that it is not reaching there as the error message is `Expected 2 arguments but found 1.`, and I am not finding the constant part of that string in `src/`

[2015-08-11 23:51] mlucy commented on #4667
Ah, probably differs by driver.  Here's the error I see in Ruby:
[code]

[2015-08-12 00:29] larkost commented on #4669
Some cleanup work that I stumbled upon while writing this just got merged into `next` with 8195d68 and `v2.1.x` with 4f52441. From CR 3144.

[2015-08-12 00:49] Tryneus commented on #4665
Fix has been approved and merged into `next` in commit a0b3e02, and cherry-picked into `v2.1.x` in commit 8c702d2.  Will be in release 2.1.1.

[2015-08-12 00:49] #4665 closed

[2015-08-12 00:51] Tryneus commented on #4668
Workaround for the invalid timestamp is up in review 3146.  We still need to handle the case of an inactive replica having a higher timestamp than all active replicas in the cluster.  Also, we should create an issue to remove the workaround (and rewrite all invalid timestamps in the metadata) in v2.2.x.

[2015-08-12 00:51] Tryneus commented on #4670
Fix is up in review 3145.

[2015-08-12 00:52] Tryneus commented on #4664
Looking into this.

[2015-08-12 01:04] deontologician commented on #4660
review is up in CR 3147 by @danielmewes

[2015-08-12 01:09] #4660 closed

[2015-08-12 01:10] danielmewes opened #4671 "Add '-Wconversion' to compile flags"
This would have helped in avoiding https://github.com/rethinkdb/rethinkdb/issues/4668

(@vexocide)

[2015-08-12 01:45] Tryneus commented on #4670
The fix has been approved and merged into `next` in commit 56e95d0, and cherry-picked into `v2.1.x` in commit f9fc31e.  Will be in release 2.1.1.

[2015-08-12 01:45] #4670 closed

[2015-08-12 02:18] Tryneus commented on #4668
The workaround for the invalid timestamp has been approved and merged into `next` in commit 1b1efa9, and cherry-picked into `v2.1.x` in commit bd785e8.  Will be in release 2.1.1.

[2015-08-12 04:06] mlucy commented on #4531
Sorry for dropping this, slipped off my plate during the 2.1 release.

I definitely see a slowdown when I open a bunch of changefeeds, but that's to be expected because it's drastically increasing network traffic.  I can't seem to reproduce the performance difference between unions of changefeeds and just the changefeeds themselves.

@huttj -- sorry to punt this back to you, but do you think it wo

[2015-08-12 06:07] contra commented on #3711
@geddski Got any pointers on where somebody implementing an adapter should start?

[2015-08-12 06:20] danielmewes commented on #4668
A second work-around to handle the case of an inactive server having a higher timestamp is now in `next` 678f8801f565f06d3e3a9947b052f6d465564705 and in `v2.1.x` df27878967e70a4c30ff040ef63c7deddf68f949. The code review for this was 3148.

This solution is temporary as well, but a cleaner solution is considerably more work and needs additional though. We will probably replace that code by a differ

[2015-08-12 06:20] #4668 closed

[2015-08-12 07:04] freiksenet opened #4673 "Errors when creating many tables fast"
Hello!

In our testing code we create a database, several tables (about 6), insert data and create some indexes. With javascript client version < 2, it worked fine, but after upgrading to version 2, we are having weird errors. They were solved by waiting ~2 seconds after creating tables and inserting data. It seems that the tables are no longer ready on the tableCreate promise resolve. I also get

[2015-08-12 07:07] danielmewes commented on #4673
Hi Mikhail, thanks for the report. Quick question: which version of the RethinkDB server are you using?

[2015-08-12 07:20] freiksenet commented on #4673
2.0.4

[2015-08-12 08:28] ntquyen opened #4674 "There's no log about raft leader election when starting without `--deamon`"
When I start a a rethinkdb node (v2.1) in ubuntu 14.04 . I can see the log about raft leader election. But when start it without `--deamon`, I don't see that log anymore. The same in Mac OS X. I wonder if this is a bug or not.

Another question, is there any way to know the leader node by queries?

[2015-08-12 12:57] qusiax opened #4675 "Segmentation Fault in thread pool"
2015-08-12T03:19:53.765451462 1.656409s info: Table 9824314b-4015-499a-a53e-e7ad0610bdcb: Starting a new Raft election for term 1.
    2015-08-12T03:19:53.771887232 1.662845s info: Table 9824314b-4015-499a-a53e-e7ad0610bdcb: This server is Raft leader for term 1. Latest log index is 0.
    2015-08-12T03:19:53.858543007 1.749501s info: Table f90a5f7f-922c-4224-944d-21b6eb4995b7: Starting a new Raft

[2015-08-12 13:29] andrerpena commented on #3711
Facebook has just released Relay: https://github.com/facebook/relay

[2015-08-12 15:10] danielmewes commented on #4675
Thank you for the bug report @qusiax and sorry you ran into this.

A few additional questions:
* Did this happen with 2.1.0 or with the beta release?
* Which operating system are you using?
* How did you install ReethinkDB (e.g. from package vs. compiled from source)?
* What is the exact `group` query you were running?
* Is the crashed server part of a cluster? If yes, of how many machines? Were t

[2015-08-12 15:19] geddski commented on #3711
@contra I'm looking into the same question currently.

[2015-08-12 18:14] Timer opened #4676 "Javascript driver error after upgrading"
[code]

[2015-08-12 18:22] Timer commented on #4676
Server(s) are RethinkDB 2.1.0-1, driver version
[code]

[2015-08-12 18:26] danielmewes commented on #4676
Thanks for the report @Timer .

I recommend downgrading to the 2.0 driver until we've figured this out.
[code]

@deontologician any ideas?

[2015-08-12 18:38] Timer commented on #4676
I've already started using the new table functionality and floor functions, I think I'll try to ride it out.

[2015-08-12 18:39] danielmewes commented on #4676
@Timer Oh so this doesn't happen all the time? Does it always happen for a specific query?

Is there a way you could get the result of that query by using some other client? I wonder if the server is sending the driver illegal JSON or something like that.

[2015-08-12 18:54] Timer commented on #4676
@danielmewes Not sure really, it's on my production servers so I'm trying to debug it...

[2015-08-12 19:13] Timer commented on #4676
The response looks something like ...
[code]

[2015-08-12 19:14] deontologician commented on #4676
looks like this is happening in JSON.parse, which would only occur if the client receives malformed input

Ok, just saw @Timer 's response comment. That appears like the receiving buffer isn't being cleared out between responses, or the responseLength isn't being set correctly

[2015-08-12 19:23] deontologician commented on #4676
Looking at the affected lines, it seems like this could happen if the server sends a responseLength that's too long, or the responseLength bytes are being corrupted in some way (which is really unlikely).

[2015-08-12 19:26] deontologician commented on #4676
@Timer can you modify the affected line to do a console.log of the responseLength variable in the _data function in net.js ?

[2015-08-12 19:45] deontologician commented on #4676
ping @mlucy in case he might have any ideas

[2015-08-12 20:16] Timer commented on #4676
Sorry I'm away right now, I can mess with it tonight @deontologician.

[2015-08-12 21:44] marshall007 commented on #4675
@danielmewes I just ran into the same while trying to drop a database through the web UI. This was shortly after I killed a `rethinkdb restore` I was in the middle of, but I'm not sure that had anything to do with the crash:

[code]

I'm running v2.1.0 installed via homebrew on OSX 10.10.3. The machine was not part of a cluster and none of the tables were sharded/replicated.

[2015-08-12 21:48] or-else commented on #3407
I think this issue should be mentioned in http://www.rethinkdb.com/limitations/
It's quite common to try to store 64 bit integers in databases in 2015. The fact that RethinkDB does not support 64-bit integers above a certain size seems like a significant limitation of the system worth mentioning.

[2015-08-12 21:49] RubenKelevra commented on #4643
Great! Don't forget to add certificate-pinning.

[2015-08-12 21:55] RubenKelevra commented on #4608
I'm very new to rethinkDB but I would like to set a minimum replication for my cluster. So all new tables have the minimum-level on creation.

Else it would be great to create defaults per database / per cluster for sharding and tables.

[2015-08-12 21:57] or-else commented on #3835
It would be nice to describe that RethinkDB does not support 64-bit integers above certain size at http://www.rethinkdb.com/limitations/. This is quite an unexpected limitation. Mentioning it explicitly would save a lot of debugging time.

[2015-08-12 22:22] RubenKelevra opened #4677 "Degraded-State of Tables should result in a warning, not an error"
My Setup:

3 Servers, in a Cluster in 3 Datacenters creating a Cluster over fastd/batman-adv (for encryption and mesh-links) and creating one test-table in a test-database with replication:3 and sharding:3.

Now I switched one server off, and looked at the admin-panel, now I got the following informations:

* Issue 1 - okay, one server is offline
* Tables 0/1 ready - this looks strange

Below the

[2015-08-12 23:47] danielmewes commented on #4675
@marshall007 trying to reproduce this at the moment. Do you remember if you did anything else before the `rethinkdb restore`? Or did you basically start a fresh server with an empty data directory, ran half of the restore, and then dropped the DB?

[2015-08-13 00:26] mlucy opened #4678 "Changefeed Crashing Bugs"
This was reported by SageMath on the mailing list.

The first bug is a failed sanity check:
[code]

The second is a crash:
[code]

[2015-08-13 00:28] danielmewes opened #4679 "Changefeed failed sanity checks and server crashes in 2.1"
This was reported on the mailing list: https://groups.google.com/forum/#!topic/rethinkdb/A4lb8ViV7DY

Here's the typical sort of error i was getting (tens of thousands of times per hour) when using changefeeds.  The part that says "(server is buggy)" is buggy is what makes me think that there is a bug in RethinkDB:

[code]

I was running 3 nodes with 3 shards and replication factor of 3 for each t

[2015-08-13 00:31] williamstein commented on #4679
Hi -- if it helps, I was using node.js (with rethinkdbdash) as a client.
I'm also using a very minimal Ubuntu 15.04 install and the rethinkdb 2.1 official ubuntu packages.

[2015-08-13 00:32] mlucy commented on #4679
Closing as a duplicate of #4678 since it has a lower number.

[2015-08-13 00:32] #4679 closed

[2015-08-13 00:33] marshall007 commented on #4675
@danielmewes I haven't walked through it all again to try and reproduce yet, but here's what I did:

Started with a v2.0 data directory which loaded up and told me I needed to recreate the secondary indices. I instead just dropped each database one at a time (without issue). Then started `rethinkdb restore` from a v1.15.0 backup (just contained one database) and killed it early:

[code]

When I at

[2015-08-13 00:56] rattrayalex commented on #3711
As basically "a random member of the React community", I'm seeing a lot of shops switching (actively, soon, or planned) from Angular/whatever to React. I myself recently did a big switch from Angular to React and the results are just great. Going straight to Relay as well at the same time would be a massive win, the problem is that there aren't any GraphQL implementations out yet.

RethinkDB seems

[2015-08-13 01:35] danielcompton opened #4680 "New arity for indexDrop to drop all indexes on a table"
When running unit tests, it is much faster to truncate a table and drop its indexes than to drop the whole table and recreate it between each test. It would be handy to have another arity for INDEX_DROP which didn't require an index name. This arity would drop all of the indexes on a table, and would be roughly analogous to calling `delete` without any arguments.

[code]

I know I can call `indexL

[2015-08-13 01:43] ha1331 commented on #2692
My idea would be:

functionThatDoesStuffIfConditionIsMetAndReturnsEveryDocumentExceptIfModeIsDelete(<condition>, <action>[,{mode: 'update'|'replace'|'delete'), or:

fTDSICIMAREDEIMID()

If this has some actual merit, you might want to figure out better name for this. How would fTDSICIMAREDEIMID() work?

Lets say you have a document that looks something like this:

{id: 1,
    topic: "sample docume

[2015-08-13 01:49] deontologician commented on #4680
Using forEach would at least remove the query round-trips:

[code]

[2015-08-13 02:14] Dumbear commented on #746
+1

[2015-08-13 02:53] mlucy opened #4681 "em.rb test occasionally failing in 2.1.x"
It seems at first glance to be a timing issue.

[2015-08-13 02:55] nodesocket opened #4682 "Outdated indexes notice persistence, even after running rethinkdb index-rebuild"
Just updated to `2.1.0-1` and was prompted with:

![screen shot 2015-08-12 at 7 53 37 pm](https://cloud.githubusercontent.com/assets/523312/9241707/d540fd52-412b-11e5-973a-03dbaf3153ea.png)

So after doing `pip install rethinkdb` and running `rethinkdb index-rebuild` on one of the servers it still shows this error, even after hours.

Anything I am missing?

[2015-08-13 03:04] danielmewes commented on #4682
Hi @nodesocket , thanks for the report. Can you try restarting the server?
This is probably a duplicate of https://github.com/rethinkdb/rethinkdb/issues/4664 .

[2015-08-13 03:08] danielmewes commented on #4674
Hi @ntquyen , it's expected that you don't see these messages because the leader election notifications are printed at the "info" logging priority.
We don't print those messages to the terminal. However they should still show up in the `r.db('rethinkdb').table('logs')` table and should be written to the log file. Is that the case?

[2015-08-13 03:10] danielmewes commented on #4674
About your second question: We don't currently expose which node is the Raft leader through ReQL. Would that information be useful for you?

[2015-08-13 03:13] coffeemug commented on #3711
Cofounder @ Rethink here. Firstly, a disclaimer: I haven't programmed in React beyond doing a very simple toy project, so there's a possibility I'm going to say something stupid.

From a technical perspective I think there are a few ways of doing this:

1. An `r.graphql` command. GraphQL does seem to depend on the schema to evaluate queries, but I don't think it's a problem. The command could just

[2015-08-13 03:15] nodesocket commented on #4682
Upgrading to `2.1.1` and doing a restart fixed this. Wow, you must have released another version today, since I did the update to `2.1.0-1` this morning.

[2015-08-13 03:16] Tryneus commented on #4664
Fix is up in review 3149.

[2015-08-13 03:20] danielmewes commented on #4682
Glad that resolved it. Closing as a duplicate.

[2015-08-13 03:20] #4682 closed

[2015-08-13 03:41] mscook opened #4683 "backports.ssl_match_hostname missing"
Consider adding backports.ssl_match_hostname missing to requirements.txt:

Current situation after pip install rethinkdb:

[code]

Install it:

[code]

Works:

[code]

[2015-08-13 03:49] mscook opened #4684 "Please consider more (or less) verbose message when driver connects to intercluster port"
I'm connecting to 2.1.0 running in a container (hence the port)

[code]

I would probably prefer not to broadcast that it's a RethinkDB cluster... Thoughts?

[2015-08-13 04:08] marshall007 commented on #4680
Note that this is how both `indexStatus` and `indexWait` already work but they always return an array. I think it would make sense for `indexDrop` to behave the same.

[2015-08-13 04:17] pilwon commented on #3711
@coffeemug It's great that you see this as a tremendous growth opportunity as well! :+1:

For user's perspective, `Option 2` is no doubt the most compelling option, however I feel `Option 1` is (almost) as good as `Option 2`. You just need to show React developers how easy and fun it is to play with `r.graphql` in the data explorer. Building a backend is not a major burden if you also provide a rd

[2015-08-13 04:21] pilwon commented on #3711
On their [blog post](http://facebook.github.io/react/blog/2015/08/11/relay-technical-preview.html):

The Relay team is already working on the spec to add real-time updates functionality. This clearly seems like an opportunity for RethinkDB as there aren't many databases out there that can even dream of supporting it natively... :feelsgood:

[2015-08-13 04:30] neumino opened #4685 "[2.1.x]error: Assertion failed: [ptr_]"
Just ran `thinky` test 3 times in a row, and got this crash.

[code]

[code]

I'm on branch 2.1.x and commit 026591a02e0c35ab12696704b110bc3ebe837ae5

[2015-08-13 04:31] neumino commented on #4685
Not sure if it's relevant, but the web ui tells me that I have about 200 tables and 250 indexes.

[2015-08-13 04:32] rattrayalex commented on #3711
Sounds good to me @coffeemug and +1 to @pilwon 's comments. Have a great time rafting!! You guys deserve it!

[2015-08-13 04:33] mlucy commented on #4678
@danielmewes and I put together a fix for the second bug.  We still don't know what's going on with the first one.

[2015-08-13 04:44] mlucy commented on #4678
(CR 3150 by @danielmewes .)

[2015-08-13 04:45] danielmewes commented on #4685
Thanks @neumino !
Looking at the code this looks like a debug-only problem. We check whether the pointer is null, but only after calling `get()` on a `scoped_ptr_t`. In debug mode the call to `get()` triggers the assertion. In release mode it will work as expected and return null, which is then handled further up the call chain.

[2015-08-13 04:50] danielmewes commented on #4685
That being said I think there's another bug close to this that could cause a seg fault (maybe even #4675?). Looking into that now.

[2015-08-13 04:53] williamstein commented on #4678
I just dumped all my data using rethinkdb's dump, then restored into 2.0.4 *without* using indexes (since I guess the dump format is otherwise not compatible), then recreated my indexes (which is easy for me, since I define them all in code).    I'm now running that combination live in production and it seems to be working very, very well.

Something I didn't mention above is that many of my Node.

[2015-08-13 04:54] VeXocide commented on #4685
I'm afraid this is my bad, the fix should be as simple as
[code]

It shouldn't explain the segfault though I explicitly check for the `nullptr` in `is_gc_active`
[code]

[2015-08-13 04:57] danielmewes commented on #4685
Yes a segfault could happen as far as I can tell because in `~real_multistore_ptr_t` we destruct the serializer first, before we drain `drainer`.

`real_table_persistence_interface_t::is_gc_active()` appears to assume that the drainer lock is enough to make sure that the serializer pointer it got from `get_serializer()` remains valid.

Not directly related, just noticed it when looking at the code

[2015-08-13 04:59] VeXocide commented on #4685
Yep, `is_gc_active()` is only called through `rethinkdb.jobs`.

[2015-08-13 07:02] contra commented on #3711
Option 1 or Option 3 are best IMO 🌴

[2015-08-13 08:51] andokai commented on #1100
+1 node

[2015-08-13 13:05] freiksenet commented on #4673
It's broken completely even with the pause on 2.1.

[2015-08-13 14:39] williamstein commented on #4678
I switched to 2.0.4 as mentioned above, and was just rudely awaken when my 2.0.4 one-node server (with SSD, 32GB RAM, 8 cores) crashed with:

[code]

Here:

[code]

Trying to restart again resulted in

[code]

Then I tried again (no reboot), and it's now been running fine for 20 minutes.

Rethinkdb itself is not using a lot of CPU (this server is dedicated to running rethinkdb):

[code]

Any thoug

[2015-08-13 15:09] williamstein commented on #4678
Still working fine an hour later.  Due to the new semester,  we have really heavy load suddenly, and the web server  are all at <5% and the database at least than 50% of a core (variable of course).  The only change is RethinkDB 2.0.4  versus 2.1.   With 2.1 it was "everything at 100% of possible".   This makes me extremely happy, since I was worried about whether RethinkDB could fundamentally han

[2015-08-13 15:35] Morgul commented on #4529
Just to hop in here; I've only just run into this issue myself. The lack of error message is, I think the worst problem here, unlike @llambda, I have never gotten an error message back. Here's my test case:

[code]

As long as `test.pdf`is larger than ~50mb, then I get the following printed out to the console:

[code]

It would be nice if what was wrong was a little more clear.

(Obviously, I'm al

[2015-08-13 21:24] frankleng opened #4686 "Index joined tables"
Need the ability to create an index after eqJoin()
Ex. we have one table that acts as a collection of geotagged addresses. one table as documents.
We would like to do a geo search on the joined table, and only get documents in which the geo search holds true.

[2015-08-14 00:14] mlucy commented on #4678
@williamstein -- we can definitely put together a version of 2.0 with the same patch.  We can probably get it to you tomorrow.

It's surprising that 2.0 and 2.1 are behaving so differently on your workload.  I wonder if it's an unrelated regression.

Sorry again that your first experience putting us into production was so rocky.  Hopefully we can get these things sorted out pretty soon.

[2015-08-14 00:29] Timer commented on #4676
I couldn't get this to reproduce now. But perhaps that's because adding the debugging slowed everything down to a crawl for some reason.

[2015-08-14 01:15] andrerpena commented on #3711
@coffeemug and others, I'd like to say that the attitude I'm seeing here in this thread is one of the reasons why I'm building my product on top of RethinkDB even though it's not a market leader and even though it does not have support for Windows yet. You guys really care for innovation and promptly adopting new technologies that look promising, for the sake of progress. This is what technology i

[2015-08-14 01:21] ntquyen commented on #4674
I did see the log in the `table('logs')`. Thank you!
I'm OK for the second question! Thanks!

[2015-08-14 01:21] #4674 closed

[2015-08-14 01:42] deontologician commented on #4676
Doh! I might need to write a fuzzer or something and see if I can expose a race condition. Could you share some sample code of the kinds of queries you're running?

[2015-08-14 01:50] andrerpena opened #4687 "Do you think RethinkDB is a good fit for a CRM?"
First, I love RethinkDB, and these are my compelling reasons:

 - Easy to scale... I mean.. I don't know if it can get any easier.
 - Beautiful query language, to the point that an ORM becomes useless.
 - Server joins.
 - Change feeds.

I'm looking for an answer, even if it's a biased one, just as a confirmation, so I feel like I'm not investing in the wrong tool for my problem. Regardless of the

[2015-08-14 02:35] adamjcooper commented on #1100
+1 node and C#

[2015-08-14 05:01] balasuar commented on #4663
Currently at 1.3GB of Memory.

Here is what is being reported by `top.`
[code]

[2015-08-14 05:33] geddski commented on #3711
I like the no backend options even though they would be harder to implement. Fits with the Relay mentality of focusing on building your app, not writing services.

I think any effort here is awesome. Just one more reason to love the RethinkDB team. Just don't get acquired by FB ;)

[2015-08-14 05:58] williamstein commented on #4678
Thanks.   RethinkDB 2.0.4 is working *extremely* well regarding efficiency and solving my problems.  I'm running it live in production right now at https://cloud.sagemath.com, and I'm very happy with how it is working.  Once I get load simulated, I'll push hard to get 2.1 (or whatever) tested and we'll get to the bottom of things.  You guys are great!

[2015-08-14 06:09] danielmewes commented on #4663
Thanks for the top output @balasuar. That's quite helpful.
The interesting thing is that the memory usage is spread over multiple rethinkdb processes. Usually RethinkDB uses only one process (plus a second one which should use almost no memory though). There is one exception to this, in that we fork additional processes when executing `r.js` or `r.http` terms.

I assume you're running only one ins

[2015-08-14 14:11] v3ss0n commented on #4678
from reading this , i am going to stay with 2.0.4 for now.

[2015-08-14 14:18] lekojson commented on #1100
+1 node

[2015-08-14 15:03] nviennot commented on #4666
All we need is to use a celluloid compatible blocking primitive like `Celluloid::Condition` when waiting for results. This would be easy to do if the blocking logic was abstracted away (see  https://github.com/rethinkdb/rethinkdb/issues/4630#issuecomment-128055788 for more info).

[2015-08-14 16:28] ha1331 commented on #4687
Here are couple of issues that you might be interested in following:

https://github.com/rethinkdb/rethinkdb/issues/4598
https://github.com/rethinkdb/rethinkdb/issues/3367

[2015-08-14 17:53] JohnyDays opened #4688 "[2.0.4] Limiting the dataset increases query time"
I came across a curious case in which limiting the data-set (albeit limited to an amount larger than the dataset) actually increased my query time. Is this expected behaviour?
[code]
Removing the first limit query reduces my time( 300ms vs 5.75s ). Am I going about this the wrong way?

[2015-08-14 19:12] balasuar commented on #4663
@danielmewes Correct, we only start with one instance of Rethink. It's managed by supervisor.

The output of `ps` shows that supervisor started one instance of rethink, which spawned another. That second instance spawned three more.

[code]

[2015-08-14 19:21] balasuar commented on #4663
@danielmewes

We are using r.js for two queries.

[2015-08-14 21:45] jcw opened #4689 "Connect to MQTT?"
For applications where more and more of the code is moving into the browser (SPA's, React, etc), and given that they can connect via http and websockets, would it be an idea to have RethinkDB talk to an MQTT pub-sub broker such as Mosquitto?

The scenario being: `server = rethinkdb + mqtt + static-assets-http-server`, with browsers connecting through a websocket to MQTT to deal with real-time feed

[2015-08-14 22:25] danielmewes opened #4690 "Keep durability and acks over `reconfigure`"
This applies primarily to v2.0.x.

I'm not sure how we handle the acks setting in 2.1 over a `reconfigure`.

[2015-08-14 22:32] danielmewes commented on #2230
From recent experience (in particular https://github.com/rethinkdb/rethinkdb/issues/4619), I think it's almost strictly preferable to use as similar a configuration for every build as possible. This is particularly true on OS X, where many people are installing through Homebrew and not using the .dmg.

So I think it's a good idea to not make this be passed in through the environment, but to have t

[2015-08-14 22:46] danielmewes commented on #4437
I see. I'll try this out on our build system to see if it builds on all supported platforms.

@yvann have you signed http://www.rethinkdb.com/community/cla/ ? For legal reasons, we require this CLA before we can merge patches into the main code base.

[2015-08-14 22:49] danielmewes commented on #4667
Even though it would make the error clearer in this particular case, I think we should be careful about adding more knowledge about the number of allowed arguments to the drivers than absolutely necessary. It increases the maintenance burden whenever we change the signature of a term, and makes it harder for users running older drivers to make access new server features.

[2015-08-14 22:50] danielmewes commented on #4667
In the case of `r.table` the likelihood of the term changing is probably really small. So I would be ok with making an exception for this. It's probably not worth adding special code to the Ruby driver if this isn't already possible though. @mlucy Is it easy to specify the expected number of arguments in the Ruby driver?

[2015-08-14 22:52] danielmewes commented on #4669
https://github.com/rethinkdb/rethinkdb/issues/4646 seems to cover the first checkbox of this.

[2015-08-14 22:58] danielmewes commented on #4669
:+1:

I agree for all of these (i.e. think that they should be `ReqlCompileErrors`), with the the following exceptions:
* "Maximum expression depth exceeded" / "Nesting depth limit exceeded" which are clearly caused by a driver limitation and not by a ReQL limitations or a compilation problem. We should probably consider making these `ReqlResourceLimitError`s instead.
* "Calling '>=' on result of

[2015-08-14 23:06] danielmewes commented on #3407
@or-else Thanks, I agree. Just opened https://github.com/rethinkdb/docs/issues/859 on our docs issue tracker.

[2015-08-14 23:10] larkost opened #4691 "`table.wait()` not always waiting for `table.config().update()`"
In working on a test I found that there appears to be a race condition between a `table.config().update()` and a `table.wait()` immediacy following it on the same connection. This is happening regardless of what `wait_for` mode I am using, but a 1 second `time.sleep()` does fix it. @VeXocide thought that the `all_replicas_ready` option should fix this, but it does not in my case.

This bug is to m

[2015-08-14 23:19] mike-marcacci commented on #1773
This is related to https://github.com/rethinkdb/rethinkdb/issues/1805

[2015-08-14 23:35] larkost opened #4692 "Allow for synchronous table config changes"
Currently all of our methods to change the config on a table (e.g.: sharding or partitioning) are implemented in an asynchronous manner. When the command returns a new plan has been made, but the execution of that plan has not yet (necessarily) begun. In theory using `table.wait()` is a way around it (but not currently: #4691), but it would be better if we had a fully synchronous way for people to

[2015-08-14 23:59] VeXocide commented on #4685
In CR 3153 by @danielmewes.

[2015-08-15 00:50] coffeemug commented on #4690
I don't think we should worry about it. I'd check for regression in 2.1 branch, but I don't think it's worth fixing in 2.0.

[2015-08-15 00:54] VeXocide commented on #4690
It's fixed in 2.1.0, we were considering backporting it.

[2015-08-15 01:17] RubenKelevra opened #4693 "Query Stats for Munin-Plugin"
Hey there,

I'm thinking of a plugin to query the stats of a rethinkdb-cluster via Munin-plugin. What is the easiest method of getting the stats of the dashboard?

Best regards

Ruben

[2015-08-15 01:21] deontologician commented on #4693
The best way is to use the rethinkdb stats table. Check out `r.db('rethinkdb').table('stats')`, which is documented [here](http://www.rethinkdb.com/docs/system-stats/)

[2015-08-15 01:22] deontologician commented on #4693
I'm closing this since it isn't a bug, but feel free to ask more questions here

[2015-08-15 01:22] #4693 closed

[2015-08-15 01:54] danielmewes commented on #4677
Thanks for the feedback @RubenKelevra.
That sounds reasonable. So "# tables ready" would count tables that are ready for all queries, "# tables with issues" would stay the same as it's now, and the color next to "Table" would be red only if a table isn't ready, and orange if all tables are ready (according to the new definition), but at least one table has an issue.

[2015-08-15 01:56] danielmewes commented on #4683
Thanks for opening an issue about this @mscook .

@AtnNn or @larkost could one of you pick this please?

[2015-08-15 01:59] danielmewes commented on #4684
Can you explain a bit more why you think that's bad? What message would you like to see instead?

[2015-08-15 02:03] danielmewes commented on #4675
Couldn't reproduce this yet, but still trying.

@qusiax which operating system were you using? How did you install RethinkDB? This information would be really helpful for us, so we can track down which kind of environment might trigger the error.

[2015-08-15 02:06] danielmewes commented on #4663
Awesome, that information is very useful.
This gives us a strong indication that the memory leak is in our `r.js()` implementation.
Would you be able to share the two `r.js` queries you mentioned?

[2015-08-15 02:07] danielmewes commented on #4680
Marking as a ReQL proposal. We'll discuss this for one of the upcoming releases.

[2015-08-15 02:08] danielmewes commented on #4529
@Morgul Which version of RethinkDB was this with?

[2015-08-15 02:11] balasuar commented on #4663
Yes. I am afk at the moment, however in my initial comment I have a link to a gist that has all our js code.

-Alan
➡⬇↘👊🏾

[2015-08-15 02:13] danielmewes commented on #4686
I'm not sure if I fully understand your proposal.
Do you want to perform post filtering on the results of a join, and use an index for the filtering step?

In some cases it might be possible to use an index for the filtering by inverting the join order, e.g.
[code]
instead of
[code]

[2015-08-15 02:13] danielmewes commented on #4663
Ah, I forgot about that, thanks! Will see if I can reproduce this.

[2015-08-15 02:22] danielmewes commented on #4666
We haven't put any energy into one yet. Thanks for bringing it onto our radar.
@nviennot's suggestion might be the best way to abstract our driver for different backend, though I don't understand the details of this very well. @mlucy probably has a better idea of this.

If you want to develop your own driver port, we're happy to help if you run into any questions or issues.

[2015-08-15 02:26] danielmewes commented on #4687
Hi @andrerpena, that sounds like a really cool project.
From what I can tell, RethinkDB would be a great fit for this, apart from the two restrictions that you already mentioned (transactions, foreign keys). I can't think of anything that would stop this from working really well.

[2015-08-15 02:29] mlucy commented on #4678
@williamstein -- I just sent you an email with a patched version of 2.0.

[2015-08-15 02:32] danielmewes commented on #4688
@JohnyDays that is definitely plausible (though the slowdown factor is a bit larger than I would expect, so there might be more to it).
The reason is that if you put a `limit(...)` term into a query, RethinkDB has to route all data through a single CPU core and single server (in case you're on a cluster). This is necessary because it cannot enforce the precise limit on the number of results otherw

[2015-08-15 02:34] marshall007 opened #4694 "Server acknowledging index creation, but it doesn't really happen"
When I try to create multiple indices in parallel the server acknowledges the creation of each one, but only one is actually created. Here's a simple script to reproduce (I'm on v2.1.1):

[code]

[code]

[2015-08-15 02:35] mlucy commented on #4678
The fixes for the `active` guarantee are in 2.0.x and 2.1.x.  They should go out in the next point release.

[2015-08-15 02:38] mlucy commented on #4688
That's probably the explanation.  This is an unusual case because the `limit` is so large.  There's no absolute requirement that we do all the processing on one node in the `limit` case.  We do it right now because people usually use `limit` to get only a few values, so doing it in a distributed way would usually result in doing more work (because we'd have to throw some away), but we could plausi

[2015-08-15 02:42] danielmewes commented on #4691
That's interesting (as in weird).

[2015-08-15 02:43] danielmewes commented on #1773
Actually this will just become a special case of https://github.com/rethinkdb/rethinkdb/issues/4519 . You will be able to simply remove write permissions from the accounts.

[2015-08-15 02:43] #1773 closed

[2015-08-15 02:45] danielmewes commented on #4688
Oh, maybe we could switch over between both behaviors depending on the limit size?

[2015-08-15 02:50] mlucy commented on #4667
@danielmewes -- it's not that hard, but it isn't done for any other terms (except maybe one or two that are weird enough they're just done totally custom).

I think @larkost was saying that the error was different in one of the other drivers though, in a way that was more confusing.  (Unless I misunderstood.)

[2015-08-15 02:53] mlucy commented on #4692
It feels sort of wrong to me to re-use durability settings here.  It feels different enough that I think it would be more confusing than helpful.

[2015-08-15 03:07] danielmewes commented on #4694
Thanks for the report and test code @marshall007 . I can reproduce this, and I think this is because we apply the index change to the configuration non-atomically.

[2015-08-15 03:15] danielmewes commented on #4694
@VeXocide This is actually slightly tricky, and I'd like to hear your input on it.

If you look at `real_reql_cluster_interface_t::sindex_change_internal()`, you can see that we get the table config, then apply the change, and then set the new config.

The other place where this might become a problem is when writing to the `table_config` document (let's say you use an `update` query to update one

[2015-08-15 03:20] danielmewes commented on #4694
(actually we could probably use the `multi_table_manager_timestamp_t` for that?)

[2015-08-15 03:25] mlucy opened #4695 "`init_pkey.rb` failing in `next` and `v2.1.x`"

[2015-08-15 03:26] danielmewes commented on #4695
@larkost have you seen this one?

[2015-08-15 05:10] mlucy opened #4696 "Make `and` and `or` work with 0 arguments."
Now that we have `r.args` it's extremely annoying that they don't with with no arguments.  (Also, other languages like Common Lisp with arbitrary-arity `and` and `or` operators have 0-argument version.)

There's another issue for this somewhere but I couldn't find it searching.

[2015-08-15 05:12] mlucy commented on #4696
Bumping this to 2.2 not because it's particularly important but because I have a fix for #4132 that also changes this, so it would be nice to squeeze it into the discussion period.

[2015-08-15 05:24] danielmewes commented on #4663
I was able to reproduce the problem by running one of your `r.js` queries repeatedly.

The JS worker processes initially used about 40-50 MB of RAM, but use more and more over time (I got them to ~270 MB each within half an hour, and there are 8 of them).

The next step is to figure out what they are using that memory for, and why it's growing.

In the worst case, we could probably restart the JS

[2015-08-15 05:50] digitalextremist commented on #4666
Right on, thanks to you both.

There is interest in trying `RethinkDB` around some of the people I know, and I intend to try it also. When I do, I will expect to write a driver port at `celluloid-rethinkdb` unless one is already done.

[2015-08-15 06:24] kureikain opened #4697 "Adding a `count()` on an `eqJoin` stream makes it very slow"
Assume I have this schema:

[code]

This query run very fast and return `STREAM` what explains why it is fast, I think

[code]

Then out of curiousity, I tried to add  a `count` on it to count how many result I have:

[code]

And it never finish on my machine Macbook Pro 2014, core i5 16GB RAM.

[code]

Is this some kind of bug or I'm doing it wrong?

Eventually, I think it has better way to do th

[2015-08-15 07:17] danielmewes commented on #4663
This indeed turned out to be a memory leak in the JS worker code. We missed to explicitly free some V8 values.
Now each worker process stays at ~25 MB

A fix is in branch daniel_4663, and is in code review 3154 by @Tryneus.

[2015-08-15 07:19] danielmewes commented on #3776
Closing as duplicate of #4663.

[2015-08-15 07:19] #3776 closed

[2015-08-15 09:06] nviennot commented on #4666
@danielmewes The high level idea is:

1) The regular `run()` method would be a wrapper for `async_run().wait()`. (it's easy to make something async synchronous, but the opposite is not true). This way the driver does not carry both an async and sync implementations.

2) To implement the asynchronous part, have backend-defined callbacks. They can call whatever is appropriate. (e.g. on_stream_val()

[2015-08-15 12:35] JohnyDays commented on #4688
The explanation makes perfect sense! I ended up switching over to a between (indexed by the timestamp) instead of that limit, which did not have the same performance hit.
Also, I attempted to run the query( the one from my first post) on a server with about 3 million entries, and I ran OOM, is that also expected? I would assume the query would only load the necessary amount to satisfy the 100 per

[2015-08-15 12:53] digitalextremist commented on #4666
@danielmewes having read your comment on the other issue you linked, I see the change you would like to make, and completely agree with your proposal. I deal with asynchronous operations all the time maintaining `Celluloid`, and your handling of that mode is appropriate to the domain.

I would need to try some things however, to see if a `Condition` is the best way, or if it is not instead better

[2015-08-15 13:30] RubenKelevra commented on #4693
Thank you! :)

[2015-08-15 13:54] RubenKelevra commented on #4693
How do I get the Hostname for a Server? Like in the Server-Tab in Details?

[2015-08-15 14:34] qusiax commented on #4675
Sorry for the delay:

- happened on the 2.1 release
- Operating System: ubuntu 14.04
- installed by package (apt-get)
- the server is not part of a cluster. just a single instance with web interface disabled
- i can't give the exact group query since i was exploring the data in a cli. however, i think it was a group on a key running over a stream (after a filter or something), so no index. not sur

[2015-08-15 14:45] deontologician commented on #4693
That would be in `rethinkdb.server_config`

[2015-08-15 14:47] VeXocide commented on #4693
A complete overview of the system tables is available at http://www.rethinkdb.com/docs/system-tables/

[2015-08-15 18:20] neumino opened #4698 "indexWait throws after indexCreate"
The issue was reported here:
https://github.com/neumino/thinky/issues/319#issuecomment-131356572

I rewrote the script with the rethinkdb driver just to be sure that it was not a thinky/rethinkdbdash issue. The script will show that most of the queries will fail because `indexWait` complains that the index created by `indexCreate` is missing.

[code]

Could we have `indexCreate` wait a little befo

[2015-08-15 18:23] neumino commented on #4698
Also the weird things is I'm actually missing indexes in this case.

Even if `indexWait` fails, I would expect the index to be created. Typically `r.tableCreate('foo').do(function() { return r.error('foo') })` does create the table even though the query returns an error.

[2015-08-15 18:27] neumino commented on #4698
Sorry, I digged a little more, apparently the problem is with `indexCreate` and not `indexWait`. If I fire my queries every second, things work fine.

Maybe it's the same as #4673

[2015-08-15 18:58] RubenKelevra commented on #4693
Thanks :)

[2015-08-15 19:25] jeffquach opened #4699 "'rethinkdb index-rebuild' does not work properly on Ubuntu"
After updating to 2.1.1, this message appears in the web UI:

    This cluster contains outdated indexes that were created with a previous version of RethinKDB that                contained some bugs.  Use rethinkdb index-rebuild to apply the latest bug fixes and improvements.See      the troubleshooting pagefor more details.

And when I run `rethinkdb index-rebuild` on the command line this pops

[2015-08-15 19:32] VeXocide commented on #4693
@RubenKelevra -- once #3934, which proposes a `conn.server_id()`, is implemented it should be significantly easier to find which server you're connected to.

[2015-08-15 19:57] deontologician commented on #4693
Whoops, was thinking status and wrote config. Glad you got it working

[2015-08-15 20:41] RubenKelevra commented on #4693
@VeXocide well, thanks. :)

[2015-08-15 21:28] mlucy commented on #4678
William mentioned to me in an email that he's using RethinkDB Dash which opens a lot of connections for his workload.  We should double-check that there isn't a regression in 2.1 when lots of connections are open at once.

[2015-08-15 21:31] mlucy commented on #4189
This was fixed by @fantasticsid in PR #4644 (reviewed by me).

[2015-08-15 21:31] #4189 closed

[2015-08-15 21:42] williamstein commented on #4678
On Saturday, August 15, 2015, Michael Lucy <notifications@github.com> wrote:

Here a lot is on the order of thousands.  Eg 400 simultaneous users with
maybe 7 change feeds each would mean 2800 simultaneous open connections.
I will of course be looking into not using rethinkdb dash to see what
difference that makes.

Thanks - william

--
Sent from my massive iPhone 6 plus.

[2015-08-16 01:39] williamstein commented on #4678
Problem solved.

TL;DR;   The load problem wasn't the fault of RethinkDB at all and there's no performance regression.  (So @v3ss0n don't let my experience dissuade you...)  However, there is a recent change in semantics (probably a bug fix) that leads to a major problem in my application (which I've fixed).

The number of connections mentioned above was another problem, but not the core issue.

[2015-08-16 06:13] v3ss0n commented on #4678
@williamstein  and rethinkdb , thanks a lot! thats awesome  , and its nice to learn the way you using changefeeds as kill feeds , i was a fan of SageMath , back in previous projects too. Nice to see it migrating to Rethinkdb!

[2015-08-16 06:18] thelinuxlich commented on #117
A good pkey autogen scheme: https://github.com/ericelliott/cuid

[2015-08-16 10:25] RubenKelevra commented on #4677
Sounds good :+1:

[2015-08-16 10:34] RubenKelevra commented on #4693
So, I was thinking of the following plugins:

rethinkdb_cluster_status
rethinkdb_memory_usage
rethinkdb_cache_usage_per_x (don't know if this should be table or database)
rethinkdb_node_status
rethinkdb_dbsize_ondisk
rethinkdb_node_io

[2015-08-16 16:50] techdragon commented on #559
I'm currently trying to Integrate RethinkDB with Django, and I just ran into a logical condition where I need to check for multiple conditions in a python try except block. Connection Refused, Database Already Exists, Database Name Invalid, and a catch all Other Error. The current error hierarchy is enough, but it could be a lot better.

[2015-08-16 21:19] RubenKelevra commented on #218
+10

[2015-08-16 21:52] RubenKelevra commented on #4519
Currently we use fastd and batman-adv for database-interconnections. It would be nice if it's possible to do it over clear-net in future. :)

[2015-08-16 22:36] RubenKelevra commented on #2781
Well the Btrfs-team does recommend always using the latest kernel, for latest bug-fixes. So @philips did you tried Linux 4.1 on this machine? 3.15 is over 1 year old.

[2015-08-16 23:39] frankleng commented on #4686
@danielmewes right. but what if you do a .zip().group()
There is no way to use an index in group()

[2015-08-16 23:42] frankleng commented on #4598
+1

[2015-08-17 02:36] williamstein commented on #4678
Bad news.  I actually tried to switch to 2.1 in production, using the binary that you sent me in email, and with the "killfeed" related issue above fixed.  It was a disaster.  Again, 99% cpu load on all machines.  Also, I saw "SANITY CHECK FAILED" stuff like this in my log:

[code]

I'm not sure what to do at this point.  Rethink 2.0.4 works very well.  2.1 seems seriously broken.  Maybe I should

[2015-08-17 04:49] Timer commented on #4699
`rethinkdb index-rebuild` simply uses `execvp` to execute a python script which rebuilds the indices.
This script is shipped with the python driver, as seen [here](https://github.com/rethinkdb/rethinkdb/blob/next/drivers/python/rethinkdb/_index_rebuild.py). Thus why you need the python driver installed. It is simply more efficient to write administration tools using drivers instead of directly in

[2015-08-17 05:23] philips commented on #2781
This was filed a year ago, thus the old Kernel. We ended up moving off of
RethinkDB so we never tested this again.

On Sun, Aug 16, 2015 at 3:36 PM @RubenKelevra <notifications@github.com>
wrote:

[2015-08-17 05:42] yvann commented on #4437
@danielmewes The PR is not mine :)

[2015-08-17 06:02] dpetrovics commented on #4683
+1

[2015-08-17 06:20] neumino commented on #4698
It's actually a duplicate of #4694

[2015-08-17 06:20] #4698 closed

[2015-08-17 06:43] freiksenet commented on #4673
Ok, so this is embarassing. We were `await*` (`Promise.all`) not on an Object, but on Immutable.Map. Mea culpa. We converted it to object and it all works now.

[2015-08-17 06:43] #4673 closed

[2015-08-17 09:23] RubenKelevra commented on #2781
Sad to hear this, but I still expect this issue in the not-production-stable btrfs-codebase, not rethinkdb.

[2015-08-17 09:42] JohnyDays commented on #4688
Had an idea, wouldn't it be better to have an options object for limit with {loose}. Would be a more explicit way to activate the distributed behaviour, instead of the implicit magic switching at an arbitrary amount

[2015-08-17 11:06] fckt opened #4700 "Transducers support"
Is there any plans to use transducers in order to generate queries? Transducers are awesome, it separates query (manipulation) from the source of data (array, eventstreams ect.). It could be considered as a way to reuse your queries in different contexts. So if I'm developing service which will allow user to filter over things, at some point I must decide, either I want to filter data on client (f

[2015-08-17 11:31] silver83 opened #4701 "reproducible crash on update(), large(ish) dataset"
Seems like { returnChanges: 'always' } is making it crash faster....
Ran on a smaller dataset and passed without issue.
Ran again with { returnChange: false } and it just took much longer but it crashed after a 3 minutes or so...

Seems like its growing from 400MB before the query, to ~5GB.

Also noticed that when it doesn't crash, but rather just times out in the data explorer, the memory footpri

[2015-08-17 12:54] nkev commented on #2647
To keep it simple, how about just storing the files where they are most at home, in the OS file system but storing meta-data for them in a RethinkDB system table so that from ReQL it feels like they are inside the database?

For replication, a separate file watcher micro-process launched by RethinkDB on start-up could perhaps copy new/modified files across to peer servers (maybe with compression,

[2015-08-17 13:33] v3ss0n commented on #4678
I believe the team will fix it in upcoming point release. It won't take till 2.2 probably . This is a high priority bug .

[2015-08-17 15:17] Morgul commented on #4529
@danielmewes this was with `2.1.0+1~0vivid` (as reported on the page for the server)

[2015-08-17 15:55] indiedotkim opened #4702 "Syntax error in Python driver"
Hi!

I just installed RethinkDB on a Google Cloud instance (Debian, jessie), and got this message:

[code]

I only use the Python driver for `rethinkdb import`, which seems to work, but this might affect other folks.

Kim

[2015-08-17 17:03] 1lann commented on #4701
Seemed to have been fixed in 2.0.4: #4430

[2015-08-17 17:18] rattrayalex commented on #3711
Possibly relevant, the RisingStack claims to be working on this with their Graffiti project ( https://github.com/RisingStack/graffiti ) with an adapter in the works for the Thinky rethinkdb orm.

[2015-08-17 17:34] deontologician commented on #4693
@RubenKelevra anything else I could think of is probably in the webui somewhere :P

[2015-08-17 17:51] larkost commented on #4702
This is very likely `pip` running `compile` on all of the files (very good thing), but we do have one file that is only really valid for Python3.4 (and above) since it uses `asyncio`. We do the right things at runtime so that this is not generally a problem outside of the `compile` phase. But we should attempt to somehow avoid this warning during install.

[2015-08-17 18:00] RubenKelevra commented on #4693
Well sure, but with munin you can monitor the whole system-status along with rethinkdb. Else munin can push me or send me a mail if something goes wrong. :)

[2015-08-17 18:01] danielmewes commented on #4673
Thanks for the update, glad it's working now @freiksenet .

[2015-08-17 18:06] danielmewes commented on #4697
I think the discrepancy in performance comes from the fact that if you don't attach the `count()`, only the first few results of the `eq_join` will be computed until your client requests more. For computing the `count()`, the whole result must be generated before the query can return something.

I can see from the HTTP query timeout error, that you're running these queries in the Data Explorer. If

[2015-08-17 18:09] danielmewes commented on #4696
What are the results of these terms when called with zero arguments?

[2015-08-17 18:23] danielmewes commented on #4678
Arr this is embarrassing. We have implemented an extension of changefeeds that allows them to return initial values before starting to stream changes. As part of the change, we also enabled that behavior by default for `getAll`, which is the changed behavior that you've observed in those queries.

However this feature was not supposed to ship with 2.1, because it is largely untested (and as it tur

[2015-08-17 18:29] danielmewes opened #4705 "include_initial_vals bug"
We accidentally shipped `include_initial_vals` in 2.1, and @williamstein ran into this issue with `getAll` changefeeds (I think):
[code]

See https://github.com/rethinkdb/rethinkdb/issues/4678#issuecomment-131660711 for more details.

We will disable `include_initial_vals` in 2.1.2, but we still have to fix the issue before 2.2.0 obviously.

[2015-08-17 18:33] danielmewes commented on #4678
`include_initial_vals` is disabled again as of a0a210c73436108493ae92cae4fba930e381c232 in the branch `v2.1.x`. This will be included in RethinkDB 2.1.2.

[2015-08-17 18:34] coffeemug commented on #4690
Cool. I'm ok with closing this issue and advising users to migrate to 2.1.

[2015-08-17 18:38] danielmewes commented on #4690
Fair enough.

[2015-08-17 18:38] #4690 closed

[2015-08-17 18:46] danielmewes commented on #559
@techdragon I agree, the new error hierarchy in RethinkDB 2.1 is a first step towards making it more granular. There's a lot more to do.

[2015-08-17 18:51] danielmewes commented on #4699
It's like @Timer explained.
This issue is also relevant: https://github.com/rethinkdb/rethinkdb/issues/2080

[2015-08-17 18:51] #4699 closed

[2015-08-17 18:52] danielmewes commented on #4701
Yeah this looks like a duplicate of https://github.com/rethinkdb/rethinkdb/issues/4430 like @1lann says.

@silver83 can you install RethinkDB 2.0.4? It should fix the problem.

[2015-08-17 18:52] #4701 closed

[2015-08-17 20:18] #4663 closed

[2015-08-17 21:20] larkost commented on #4691
It looks like this was only a case of a missing `.run(conn)`. So... my bad.

[2015-08-17 21:20] #4691 closed

[2015-08-17 21:33] williamstein commented on #4678
Thanks.  I will test soon with that option to disable initial vals in production with 2.1.x, now that I'm good at switching back and forth.  (I settled on switching by setting up a separate 2.1.x machine, then rsyncing the live data from 2.0.4 repeatedly, then shutting down the 2.0.4 server, then doing a final rsync, then starting the 2.1.x server on that data, then finally rebuild indexes manuall

[2015-08-17 22:28] larkost commented on #4352
`change_primary.py` has been changed in `next` with 46ee97f0 after CR 3155. The test had not been accurately reporting when the workloads failed, but that has not turned up any new actual failures.

[2015-08-17 22:37] AtnNn commented on #4683
`ssl_match_hostname` was added by @larkost:

https://github.com/rethinkdb/rethinkdb/tree/next/drivers/python/rethinkdb/backports/ssl_match_hostname

I'm not sure what is going on here, Maybe there is a name conflict. Maybe the files aren't being packaged correctly.

[2015-08-17 23:00] danielmewes commented on #4662
This is no longer a problem with the 2.1.1 release, but we should still fix the installer for the future.

[2015-08-18 00:08] danielmewes commented on #2647
@nkev my feeling is that building a completely decoupled system for file synchronization might add more edge cases that it solves, but I haven't thought it through completely yet. We'll keep that option in mind. I guess it would allow us to take some shortcuts.

[2015-08-18 01:46] kureikain commented on #4697
Thanks for your explanation @danielmewes Gonna close this out.

[2015-08-18 01:46] #4697 closed

[2015-08-18 02:01] VeXocide commented on #4694
This is next, after talking with @danielmewes we're positive that we've found a solution.

He mentioned above that changing the secondary indexes consists of fetching the committed `table_config_and_shards_t`, applying the change, and subsequently setting the new config by calling `contract_coordinator_t::change_config` which in turn proposes it to raft. It may take some time for this proposed raf

[2015-08-18 04:37] mlucy commented on #4696
In SBCL (and this makes sense to me intuitively):
[code]

The reason this makes sense intuitively to me is that variadic `and` works if you define `(and a b) <=> (and a b true)` and `or` works if you define `(or a b) <=> (or a b false)`.

[2015-08-18 06:02] ide commented on #3711
I'd like to echo the sentiment that RethinkDB could be a really good fit for Relay in particular because of your support for realtime queries.

@coffeemug - my inclination is that Option 3 (library) leading towards Option 1 (engine support) is a good path forward. There are many GraphQL queries that don't map to ReQL in an obvious way (ex: "get me this person's posts... that I'm allowed to see" --

[2015-08-18 06:08] danielmewes commented on #4272
Just saw this again when killing a server in a three-node cluster.

[2015-08-18 06:30] wereHamster opened #4706 "Waiting for quorum even though all servers are up"
I have a table with two replicas, both servers are up. But the primary is stuck in `waiting_for_quorum` and the secondary in `waiting_for_primary`. I tried restarting all servers to no avail.

RethinkDB v2.1.1

[2015-08-18 06:34] williamstein commented on #4678
I'm using Javascript (with rethinkdbdash, but I think that shouldn't matter for building the query).   When I use the includeInitialVals option, I get

    Uncaught exception: ReqlDriverError: Unrecognized option `includeInitialVals` in `changes` after:
    ...
    Available options are squash <bool>

That option isn't documented here, so I don't know if there is a typo: http://rethinkdb.com/api/j

[2015-08-18 06:49] danielmewes commented on #4706
@wereHamster can you post the output of `r.table(...).config()` and `r.table(...).status()`?

Could you also email me the output of `r.db('rethinkdb').table('_debug_status')` (daniel@rethinkdb.com)?

After you're retrieved the output of these commands, these steps might help recover from the situation:
1. Shut down the secondary
2. On the primary, run `r.table(...).reconfigure({emergency_repair: '

[2015-08-18 09:42] coffeemug opened #4707 "Add a `diff` flag to changefeeds"
One of our users mentioned that they can't easily use changefeeds because their use case has the following properties:

- Each document is fairly large and can't be easily broken up into smaller documents
- The changes to happen to each document are typically very small

They asked for a `diff: true | false` flag to `changes()`. If set to true, instead of sending `new_val` and `old_val`, we'd send

[2015-08-18 11:17] sebastianneubauer commented on #4683
+1 same problem for me with newest version 2.1.0. Worked with 2.0.0-2. BTW, where can one lookup the git revision corresponding to the package version on pypi? In git head, the version still claims it is 1.16.0-2...

[2015-08-18 11:45] sebastianneubauer commented on #4119
this commit breaks version 2.1.0. see #4683

backports folder does not end up in package!!

Consider adding tests for correct installation and packaging, e.g. with tox...

Why not just adding 'backports.ssl_match_hostname' to requirements? It's on pypi...

[2015-08-18 11:54] RubenKelevra opened #4708 "Need tester for my php-rql package for arch"
Hi!

I just created a package for arch-linux for the php driver. Since I'm not using it currently and php is not a language which I'm able to write I need somebody which is willing to test the package. :)

https://aur.archlinux.org/packages/php-rql/

Best regards

Ruben

[2015-08-18 13:09] JohnyDays opened #4709 "Filtering by secondary index between another index"
# Scenario:
- I have an event table, which is a log of events.
- This table has an index userId (string)
- This table has an index timestamp (date)
- I want to get all events for the user 4 from the last 2 days

# My expected solution:
[code]
or
[code]

Neither work, is there an alternative way to do this? Am I missing something obvious?

[2015-08-18 14:46] indiedotkim commented on #4702
@larkost Thanks for the explanation!

[2015-08-18 16:07] philips commented on #2781
@RubenKelevra If you wish to close the issue you may, for whatever reason I cannot close it myself.

[2015-08-18 17:37] vyerukon opened #4710 "Nodes crash problems in version 2.1.1"
We have a cluster with 9 nodes across 3 sites and we recently upgraded rethinkdb software to 2.1.1 to overcome the fail-over problem.

Host information:
uname -a = Linux XXXX 2.6.32-504.1.3.el6.x86_64 #1 SMP Tue Nov 11 07:57:22 PST 2014 x86_64 x86_64 x86_64 GNU/Linux
Sharding configuration: 3 shards vs 7 replicas

After upgrade we are now facing the server crash problems in the below mentioned sce

[2015-08-18 17:57] danielmewes commented on #4710
Sorry you're running into this @vyerukon. We'll look into it and release a fix asap.

[2015-08-18 18:04] larkost opened #4712 "Add license files to deployed drivers"
Currently we have a `COPYRIGHT` file in the `drivers` directory that specifies the license, and the Ruby `gemspec` file does list the license type (`Apache-2`). We should include the license text with all of the driver deployments (i.e.: PyPi, Gem, and Node) and make sure that it is in the metadata for all of the upload methods.

And while we are doing that, also fill in any more metadata that is

[2015-08-18 18:07] vyerukon commented on #4710
Yes, every time we test the product with different scenarios we see other secondary nodes crashing and the nodes weren't the same all the time they keep on changing.

[2015-08-18 18:12] coffeemug commented on #3711
@ide -- cool, thanks for the feedback. Do you have an example of how to do security with GraphQL you could point me to? I couldn't find anything online (other than a vague "do it yourself").

Wouldn't the developer have to analyze every GraphQL query themselves to do security? That sounds like a huge burden, and it feels strange that security provisions aren't in the spec. I feel like I'm missing

[2015-08-18 18:20] danielmewes commented on #4678
That indeed looks like a rethinkdbdash limitation, in that it appears to use a white-list of flags. Since we didn't intent to ship this flag, it's not on the white list.

@neumino What's the easiest way to get an extra optarg through rethinkdbdash? Could it be passed to `run` maybe?

[2015-08-18 18:22] danielmewes commented on #4683
@sebastianneubauer you should check the branch `v2.1.x`. `next` has the same driver, but the version isn't updated in there.
Can you try installing installing the module manually? `pip install backports.ssl_match_hostname`

[2015-08-18 18:26] larkost commented on #4702
A bit of research this morning and the looks like it id going to be really annoying to solve. Unless some questions I asked of others comes back with a better solution it looks like our avenues are:
1. Live with the warning. I have to confirm that all of the other files are getting compiled fine, but we are probably good.
2. Submit 2 versions of the driver to PyPi for every release, one that is ma

[2015-08-18 18:28] compedit commented on #3711
This *might* be helpful, it's from an [interview with some of the relay team members](https://devchat.tv/js-jabber/152-jsj-graphql-and-relay-with-nick-schrock-and-joe-savona-)

[2015-08-18 18:29] williamstein commented on #4678
Thanks for checking.  I can modify the source code of rethinkdbdash as well.  (But I won't be able to work on this until later.)   I've also been working on writing a monkey patch of the run method of the official javascript rethinkdb driver which gives it the same semantics as the rethinkdbdash run command, so that I can flip a switch and test with either rethinkdbdash or the official driver with

[2015-08-18 18:31] danielmewes commented on #4708
That's really cool! Unfortunately I'm not running arch Linux, so I can't test it.

A small thing I noticed: The version of `pb4php` that's included in the source is not actually complete, and it has been patched specifically for php-rql. I actually recommend taking the whole `pb4php` directory out of the package / source path. It is not needed for using the driver, only for generating the `pb4php_

[2015-08-18 18:50] danielmewes commented on #4688
The `group(...).ungroup(...)` is what causes all documents to be loaded into memory.

We're planning to make a *indexed* `group({index: ...}).ungroup()` operations avoid this overhead, but this isn't in yet (see https://github.com/rethinkdb/rethinkdb/issues/2719 for that).

[2015-08-18 18:53] larkost commented on #4683
It looks like the `backports` folder is not being included when we wrap things up for `pip` deploy. I will see what I can do to fix this.

[2015-08-18 19:06] thelinuxlich opened #4714 "r.literal() inside .default()"
Gives me this error:

[code]

[2015-08-18 19:09] indiedotkim commented on #4702
@larkost My two cents: Having two versions is probably the best solution. I have never met anyone who actually uses Python 3.4, yet. The vast majority of folks appears to use 2.7 at the moment. Those who do use Python 3.4 (like myself) are usually aware of compatibility issues and would not be surprised if there is a separate "rethinkdb3.4" driver.

[2015-08-18 19:10] thelinuxlich commented on #4714
Hmm I guess it's a duplicate of #4428

[2015-08-18 19:10] #4714 closed

[2015-08-18 19:11] danielmewes commented on #3711
Thanks @compedit.
So that covers authentication, though it doesn't really cover authorization, i.e. assigning which users have access to which parts of the data. It seems to me that there's no standard for this yet as far as GraphQL is concerned?

[2015-08-18 19:15] deontologician commented on #4702
I'd vote for 2. I am pretty sure pip will select the right version for you, so it'll only be annoying for us

[2015-08-18 19:19] deontologician commented on #4696
Just one minor data point, we default to `true` with 0-arg `.contains`, which could be seen as an `or`-ish operation

[2015-08-18 19:22] deontologician commented on #4696
also, I personally think 0-arg `or` returning null is yucky, but I don't have a strong opinion

[2015-08-18 19:30] RubenKelevra commented on #4708
Thanks for the hint, very important detail. It's done.

[2015-08-18 19:33] deontologician opened #4715 "Should `contains` and `merge` really support 0 arguments?"
They do currently, but there isn't a good reason beyond a general one about r.args (I would argue that if you use r.args, you probably don't want it to silently succeed on an empty array, so this isn't really a good argument)

In light of #4696 , it's probably a good time to discuss this.

If I find other surprising 0-arg terms I'll edit this and add them

[2015-08-18 19:49] thelinuxlich commented on #663
I would like this behavior, but first #4428 should be fixed

[2015-08-18 20:01] ide commented on #3711
@coffeemug I'm not aware of an example project that demonstrates security and privacy but hopefully I can shed some more light on how it's done with GraphQL.

The authorization is implicit and not part of GraphQL. When a client (e.g. browser, mobile device) sends a GraphQL query to the server, it also sends its auth cookie so that the server knows who's making the request. Nothing new here. It's y

[2015-08-18 20:07] danielmewes commented on #4686
@frankleng could you post the full query you're trying to optimize?
Would filtering before the `eqJoin` work for you? What is the grouping for?

[2015-08-18 20:08] danielmewes commented on #4700
@AlexeyFrolov do you have some links to introductory reads on the topic? I'm not too familiar with the transducer concept.

[2015-08-18 20:11] danielmewes commented on #4707
Related to https://github.com/rethinkdb/rethinkdb/issues/3575 . I'm going to close the other issue in favor of this one, since this one is a bit more concise.

Also copying @AtnNn's comment from the other issue to here:

[2015-08-18 20:11] danielmewes commented on #3575
Closing as a duplicate of the newer https://github.com/rethinkdb/rethinkdb/issues/4707, which is slightly more precise.

[2015-08-18 20:11] #3575 closed

[2015-08-18 20:24] larkost opened #4716 "rework `scripts/spin_up_cluster`"
We have a `scripts/spin_up_cluster`, but it seems to pre-date `test/common/driver.py` and so does not have any of the incites that that would allow. Given the trouble that @Tryneus has been having finding available local ports to work on I think that reworking it to be useful would be a good investment of time.

[2015-08-18 20:37] marshall007 commented on #4709
What you're trying to do is possible but the solution isn't that obvious [from the docs](http://rethinkdb.com/docs/secondary-indexes/javascript/#compound-indexes). You just need to create a compound secondary index on `[ residentId, timestamp ]` and use that index in your `.between()`. Here's your example rewritten this way:

[code]

[2015-08-18 20:42] mike-marcacci opened #4717 ""outdated indexes" warning persists after rebuilding indexes"
Hi there!

Just updated to version 2.1.1 from 2.0.4, updated the python driver via pip, and ran `rethinkdb index-rebuild`.

![image](https://cloud.githubusercontent.com/assets/690517/9341893/8929c6d4-45ad-11e5-97ee-267f3a117b0d.png)

Strangely, though, I continue to get the outdated index warning from the web UI:

![image](https://cloud.githubusercontent.com/assets/690517/9341885/6eeaec1c-45ad-11e

[2015-08-18 20:42] danielmewes commented on #4141
Our new listing is finally up :-) https://aws.amazon.com/marketplace/pp/B013R60Q8Y
It's currently at 2.0.4. Will update to 2.1.2 once we have that out.

[2015-08-18 20:42] #4141 closed

[2015-08-18 20:44] danielmewes commented on #4717
Hi @mike-marcacci, yep, this is just an incorrect warning. Sorry for the confusion.
We're already working on a fix for this, see https://github.com/rethinkdb/rethinkdb/issues/4664

The work-around is to restart your servers. After the restart, the warning should disappear.

[2015-08-18 20:44] #4717 closed

[2015-08-18 20:45] danielmewes commented on #4709
Another relevant issue is https://github.com/rethinkdb/rethinkdb/issues/809 , but that's a more long-term extension and it will probably never be as efficient as using a compound index.

[2015-08-18 20:45] #4709 closed

[2015-08-18 20:54] mike-marcacci commented on #4717
Ah awesome – didn't see that other issue (sorry). Thanks for the quick reply!

[2015-08-18 21:00] danielmewes commented on #4437
Sorry, I meant @clandmeter :-)

[2015-08-18 21:25] larkost commented on #4683
I have what looks like a fix (I don't know how to completely simulate `pip` locally) in branch `larkost/4683-backports.ssl_match_hostname` (CR 3164). It turns out that binary distributions (bdist and bdist_egg) do not include any sub-folders unless they are in the `package_data` and `package_dir` entries in `setup.py`. Whereas sdist does not require this for inclusion.

[2015-08-18 21:35] danielmewes commented on #4702
If we can make sure `pip` can pick the right package automatically, option 2 would be a good solution I think.

I don't particularly like the idea of having a separate `rethinkdb3.4` driver that one has to explicitly select. At the moment few people might be using Python 3.4, but it wouldn't work well in the long term.

[2015-08-18 21:37] larkost opened #4718 "test python driver using egg"
Our testing system currently uses a "built" version of the Python driver, but we are using the raw source of that that build rather than the .egg file that we actually ship to end-users. This means we did not pickup issue #4683 and so we should get closer to the end-user situation as is reasonably possible.

Since we already have `test/common/utils.py:import_python_driver` a good part of this is e

[2015-08-18 21:56] larkost commented on #4119
This is all covered in #4683, including a fix that is in code review at the moment.

[2015-08-18 22:56] larkost commented on #4662
This has been fixed in `next` with 46ef6512 and `v2.1.x` in 9a9d9938

[2015-08-18 22:56] #4662 closed

[2015-08-18 22:59] larkost commented on #4352
`kill_acces_point.py` is up for review in CR 3160 from branch `larkost/4352-audit-kill_access_point`

[2015-08-18 23:10] danielmewes commented on #4689
I haven't looked into Mosquitto yet, so I'm not sure about the details of this.
Which role exactly would Mosquitto play in this scenario? Would its main purpose be to provide an access point to the browser? You also mention having it handle real-time feeds. Is that for efficiency / simplicity or is there something you think it does better than RethinkDB changefeeds?

We're working on some ideas to

[2015-08-18 23:14] Tryneus commented on #4710
Fix is up in review 3166.

[2015-08-18 23:30] danielmewes opened #4719 "Overhaul handling of inactive tables with higher timestamps"
In https://github.com/rethinkdb/rethinkdb/issues/4668, we fixed the problem of an inactive table in the `multi_table_manager_t` having a higher timestamp than the highest active table entry for that table in the cluster by ignoring timestamps when an inactive table is told to become active.

This has a few problems, so we should consider replacing that logic by a better solution.
Here's one sugges

[2015-08-18 23:34] danielmewes opened #4720 "emergency_repair="force" option"
We've had some situations where enough servers were up, but the configuration didn't propagate properly and thus the cluster got stuck.

Our current `emergency_repair` options only work if servers are actually disconnected. We should strongly consider adding some sort of `emergency_repair="force"` mode. I'm not sure if this could actually be an option to `reconfigure`, and we have to think about h

[2015-08-18 23:45] Tryneus commented on #4710
The fix has been approved and merged into `next` in commit 87ec495 and cherry-picked into `v2.1.x` in commit 95e18e1.  Will be in release 2.1.2.

Thanks for reporting this, @vyerukon, we should be doing the release soon to get this out there.

[2015-08-18 23:45] #4710 closed

[2015-08-18 23:45] JohnyDays commented on #4709
Awesome! I carefully read the docs, but I completely misunderstood the purpose of compound indexes. This solves the issue in a very elegant way. Do you think my use case is a common one? I might throw up a docs PR illustrating it on my free time if that's the case.

[2015-08-18 23:53] JohnyDays commented on #4688
I'll try to avoid ungroup here then, not sure how I would without multiple queries, given that I need to iterate through each group, and verify that its corresponding element is not active in another table, although that might be the way forward. Thanks.

[2015-08-18 23:53] danielmewes commented on #4709
@JohnyDays a docs PR would be welcome! Is there a particular place in the docs where you think this should be explained?

[2015-08-19 00:15] JohnyDays commented on #4709
Probably as an example of a use for compound indexes? That is if you believe it is a common use case, filtering by one field and ordering by another,

[2015-08-19 00:16] jcw commented on #4689
Moving things closer to the browser. I'm not sure my comments were that coherent, in hindsight. For an [IoT](https://en.wikipedia.org/wiki/Internet_of_Things)-type app, MQTT is in widespread use as standard message interchange. What it offers is pubsub for general use, and a websocket to the browser. What it's missing, is large-scale storage, and the ability to handle HTTP requests.

With MQTT + R

[2015-08-19 00:21] danielmewes commented on #4709
Makes sense, I think that's not an uncommon use case at least.

[2015-08-19 00:25] danielmewes commented on #4689
Thanks for clarifying.

As part of #3711, we're considering adding a plugin infrastructure to RethinkDB. Different integrations can live in plugins that you can launch together with the RethinkDB server (we're going to put up a comprehensive proposal soon). I think that would be a great place for integrating with an MQTT server as well, and we could also put the HTTP endpoint in there. We'll see h

[2015-08-19 00:33] jcw commented on #4689
Sounds good. Thx.

[2015-08-19 01:57] Tryneus opened #4721 "Crash in v2.1.1: Branch history is missing pieces"
Testing on a single node, I had a script creating tables inside the database `test`.  Meanwhile, I ran this in the web UI: `r.dbDrop('test')`.  While the server was still dropping the tables inside the database, I killed it.  Upon restart, I ran the same command and killed the server in the middle of it again.  Further attempts to restart the server resulted in this crash:

[code]

[2015-08-19 02:42] Tryneus commented on #4721
Fix is up in review 3169.

[2015-08-19 04:15] nodesocket opened #4722 "Very slow query performance using orderBy"
Running `RethinkDB 2.1.1` on 3 servers *(each with 2 cores and 13GB of memory)*. The table `daily_quotes` has 3 shards and 3 replicas. Each shard has around 22,000 documents. There is a secondary index on `date`.

Running a simple query:

    r.db('macd').table('daily_quotes').orderBy('date')

Takes over 23 seconds. I ran a query profile and see:

    23.32s round-trip time
    10.87s server time

[2015-08-19 04:16] neumino commented on #4678
@danielmewes, @williamstein -- You can remove the rejection here:
https://github.com/neumino/rethinkdbdash/blob/master/lib/term.js#L107
and here
https://github.com/neumino/rethinkdbdash/blob/master/lib/term.js#L186
Then you should be able to pass any options you want.

[2015-08-19 04:33] #1239 closed

[2015-08-19 04:34] danielmewes commented on #2782
This was fixed in 2.1

[2015-08-19 04:34] #2782 closed

[2015-08-19 04:37] danielmewes commented on #1526
Working on this.

[2015-08-19 06:49] avimar commented on #3949
Just FYI, on rethinkdb 2.1.0+1~0trusty (GCC 4.8.2):
Trying to get a count off a "between" was 21 seconds on my system (260k documents) as it seems to read all the data first.

r.db('freeswitch').table('logs_fs').between(r.minval,r.now().sub(12*60*60),{index:'timestamp'}).count()
I was expected sub-20ms..

[2015-08-19 08:37] veigarfreyr opened #4723 "After upgrading to 2.1.1 all tables are reported "not available""
After upgrading to 2.1.1 the Dashboard reports all tables like:
"Table xxx.yyy is not available.
None of the replicas for this table are reachable (the servers for these replicas may be down or disconnected).
No operations can be performed on this table until at least one replica is reachable."

When trying to dump a backup it returns:
"ReQL error during 'count': The server(s) hosting table `xxx.y

[2015-08-19 10:01] jpillora commented on #746
+1

[2015-08-19 12:46] JohnyDays opened #4724 "[Feature request/bug] Arbitrary expression compound indexes do not support lines/polygons"
Both of these fail with the error
```Could not prove function deterministic.  Index functions must be deterministic```

[code]
[code]

Even though they are deterministic (?). Do line/polygon somehow use a sub-query to a system table?

[2015-08-19 12:46] merrihew commented on #4676
We were experiencing the same issue after moving to v2, and in our case the issue was linked to merges (joining data from another table) and not calling 'coerceTo(array)' after a 'getAll' request. Generally, we've needed to be more deliberate with places where previous versions of Rethink would handle cursors/arrays interchangeably, now using a lot more 'coerceTo' calls.

[2015-08-19 15:12] jcw commented on #4689
[This blog post](http://tonsky.me/blog/the-web-after-tomorrow/) more or less summarises what I'm after. I think :)

[2015-08-19 16:41] larkost commented on #4724
We have had a number of discussions on this: #3009, #3011, and #3287 are a good overview.

The short of it is that geo calculations use floating point math, and sadly there can be generally non-meaningful differences in those calculations depending on the hardware and software that they are run on. Those slight differences force us to mark anything using floating point as non-deterministic to forc

[2015-08-19 16:57] cd34 commented on #4723
Also have the same issue.

Had to downgrade to 2.1.0 (using the packaged version for Debian/Jessie)

Tables were accessible, but, trying to reindex failed:

$ rethinkdb index-rebuild -r isoup.coords -n 2
ReQL error during 'get outdated indexes': The server(s) hosting table `isoup.coords` are currently unreachable.

When downgrading to 2.10

$ rethinkdb index-rebuild -r isoup.coords -n 2
Rebuilding

[2015-08-19 17:12] danielmewes commented on #4723
@veigarfreyr, @cd34 Thanks for the report, and sorry you're running into this. We'll look into this and try to provide a fix asap.

@veigarfreyr Could you email me the output of `r.db('rethinkdb').table('_debug_table_status')` (this can be pretty large), as well as the output of `r.db('rethinkdb').table('table_status')` and `r.db('rethinkdb').table('table_config')`? My email is daniel@rethinkdb.co

[2015-08-19 17:14] danielmewes commented on #4723
@veigarfreyr Another question: Was this working with 2.1.0 like in @cd34 's case? Or did you upgrade directly from 2.0.x or earlier? How many servers are there in your cluster?

(also pinging @VeXocide, @Tryneus in case they have any ideas)

[2015-08-19 17:14] JohnyDays commented on #4724
It can be worked around, I don't know how efficient it will get with more entries, but my use case for this is for a very limited dataset. Thanks for the explanation

[2015-08-19 17:14] #4724 closed

[2015-08-19 17:16] JohnyDays commented on #4722
Hey, you need to use ```.orderBy({index: 'date'})``` or it will not use the index.

[2015-08-19 18:44] aldendaniels commented on #3997
:+1:

[2015-08-19 18:55] larkost commented on #4352
`static_cluster.py` and `proxy_cluster.py` (deleted in favor of `static_cluster.py` with an option) are up for review in CR 3168 from branch `larkost/4352-audit-static_cluster`

[2015-08-19 19:22] danielmewes commented on #1526
An optimization for caching secondary index functions is in CR 3171.
I'm going to look into batching multi-key gets next, because it has showed up as a bottleneck in context of plain `getAll` as well.

[2015-08-19 20:09] danielmewes commented on #3734
Fixed in `next` 091190627e65e72e8343208d5b8be12326945077

[2015-08-19 20:09] #3734 closed

[2015-08-19 20:32] danielmewes commented on #1526
After taking a brief look, I think I might need @mlucy's help on this one...

[2015-08-19 20:32] primitive-type commented on #4299
I believe I'm still experiencing an issue related to this: https://github.com/neumino/thinky/issues/323

[2015-08-19 20:36] danielmewes commented on #4299
@primitive-type That failure looks unrelated to this issue. The "too many open files" message usually means that there's still a configuration problem on the OS side. Can you make sure that your increased maxfiles settings are correctly applied to the user / shell that you run RethinkDB from?

[2015-08-19 20:40] danielmewes commented on #1942
We've fixed backtraces, so there's a chance that this is now fast. Have to re-test.

[2015-08-19 20:44] danielmewes commented on #1942
A quick test shows that the query is about 10x faster on 2.1 than it used to be. 15ms instead of 150ms without the `limit(0)`.
The query with `limit(0)` is still faster yet (0.1ms), so it seems that sending the function to the shards is still significant, but much faster than it used to be.

[2015-08-19 20:44] #1942 closed

[2015-08-19 20:45] danielmewes commented on #4676
@merrihew which version exactly are you running now, and which were you running before? By v2, do you mean 2.0.x or 2.1.x?

[2015-08-19 21:07] ahruygt opened #4725 "Film updated version of "What is RethinkDB?" video"
We need to update the "What is RethinkDB?" video on youtube.  @KittyBot and @dalanmiller perhaps you should decide who does the video, though I think Daniel Miller is a good fit.

Ideas for the updated version:

- A "face to face" introduction.
- Screencast
- Outro, with footage of our community and office culture.

[2015-08-19 21:17] larkost commented on #4352
Merged changes for `kill_acces_point.py`, `static_cluster.py`, and `proxy_cluster.py` into `next` with 74cc1d9d

[2015-08-19 21:22] danielmewes commented on #4725
Did you put this here intentionally? Shouldn't it go in the company tracker?

[2015-08-19 21:42] larkost commented on #4352
`rebalance.py` review is up in CR 3174 off branch `larkost/4352-audit-rebalance.py`

[2015-08-19 21:48] primitive-type commented on #4299
@danielmewes Sure, here is the result of `ulimit -all`:

[code]
I closely followed the instructions at http://docs.basho.com/riak/latest/ops/tuning/open-files-limit/#Mac-OS-X

RethinkDB was using about 25% CPU at the time of the crash. (Mac OS X 10.10.4)

[2015-08-19 22:10] Tryneus opened #4727 "Creating a table in a database that is being deleted leaves an orphaned table"
I wrote a script that created many tables in a database, then deleted the database while other processes were still creating tables in the database.  There is a relatively large window during database deletion for new tables to be successfully created.

These tables will show up in the web UI's stats, but will not be visible in the `Tables` tab, and the only way to see them is through the ReQL adm

[2015-08-19 22:18] clandmeter commented on #4437
@danielmewes done

[2015-08-19 22:43] RubenKelevra commented on #2781
I'm not the part of the team here, so I can't too.

@danielmewes would you? :)

[2015-08-19 22:45] danielmewes commented on #2781
The issue seems to be closed already. Does it show as open for you?

[2015-08-19 23:00] RubenKelevra commented on #3367
Well it's might be nice to combine both features. Something which works like:

When there are changes on X do notify me.

And then, connect and let the database push me changes.

Else let me fetch the pushes at once, without any push.

When reconnecting via push-request to a trigger, you'll receive everything which hasn't been pushed.

This would meet my requirements :)

[2015-08-19 23:30] #4725 closed

[2015-08-20 00:35] williamstein commented on #4678
I rewrote my code to optionally use the native driver instead of rethinkdbdash (and also just wrote my own threadpool system for better control/monitoring).  I've run a lot of tests in the last day, and I guess the main issues that I reported can be worked around.   I just started hitting this new traceback/crash a few seconds after starting one of the main nodes in my testing cluster:

[code]

I'

[2015-08-20 00:37] merrihew commented on #4676
@danielmewes We were running RethinkDB v1.16.3 and `npm/rethinkdb@1.16.2`. We upgraded to RethinkDB v2.0.4 and `npm/rethinkdb@2.0.2`.

Side note, is there a reason that [`npm/rethinkdb`](https://www.npmjs.com/package/rethinkdb) is not always consistent with the [RethinkDB release](https://github.com/rethinkdb/rethinkdb/releases) version numbers?

[2015-08-20 00:40] andrerpena commented on #4687
@ha1331 , thanks. It seems, at least, that transactions should come down the road. Transactions seem to be more important for me because it makes it easier to "enforce" foreign-key consistency on the client.

[2015-08-20 00:42] andrerpena commented on #4687
@danielmewes , thank you for the reply. Great. I feel better now :)

[2015-08-20 00:51] danielmewes commented on #4678
@williamstein Are you setting `readMode: 'outdated'` anywhere? (obviously this still shouldn't crash).

[2015-08-20 00:53] mbroadst opened #4728 "inconsistent results for orderBy query (js driver)"
if you run the following code multiple times, you'll see that the results returned vary between the top returned document being: `{ username: 'arthur', email: 'arthur@gmail.com' }` or `{ username: 'arthur', email: 'aaaaarthur@gmail.com' }`. With the Data Explorer the top result is consistently `{ username: 'arthur', email: 'arthur@gmail.com' }`

[code]

[2015-08-20 00:57] Tryneus commented on #4678
@danielmewes - I can reproduce the crash by adding `{readMode: 'outdated'}` to the `table` term.  Here is a backtrace including line numbers:

[code]

[2015-08-20 00:58] danielmewes commented on #4678
Ok I can reproduce that crash by running these commands:
[code]

This seems to be another side-effect of our accidentally included change to `getAll()`. This works fine for me:
[code]

[2015-08-20 01:00] danielmewes opened #4729 "Include initial changefeed reads must ignore read mode"
This currently crashes the server:
[code]

[code]

Disabling `includeInitialVals` avoids the problem.

(reported by @williamstein in https://github.com/rethinkdb/rethinkdb/issues/4678#issuecomment-132837137 )

[2015-08-20 01:03] Tryneus commented on #4728
@mbroadst, I believe this is expected behavior.  The field you told the query to order by is identical for those two rows, so their order does not matter.  If you want another field to be a tie-breaker, you can specify multiple fields to `orderBy`:

[code]

[2015-08-20 01:04] mbroadst commented on #4728
@Tryneus but running the same operations in the Data Explorer yields consistent results? strange

[2015-08-20 01:04] williamstein commented on #4678
Yes, I was testing using readMode:'outdated'.  I just tried turning that off and the crash goes away.  I turned it back on and got the crash. I've also added `includeInitialVals: false` to my run wrapper function so I won't forget it again.

[2015-08-20 01:05] Tryneus commented on #4728
The Data Explorer shouldn't be doing anything different with the query or the results, the ordering of ties in the results should be a race condition based on which hash shard replies to the query first.

[2015-08-20 01:08] mbroadst commented on #4728
@Tryneus yeah I see in the source that the expected behavior should be a toss up between the two results returned but it's definitely weird that the Data Explorer returns a consistent set at least in a quick test of now ~100 executions. @AtnNn suggested perhaps there is something related to batch size with the explorer. Okay, guess we can close this :smile:

[2015-08-20 01:08] #4728 closed

[2015-08-20 01:09] danielmewes commented on #4728
Thanks for opening an issue @mbroadst . I agree with @Tryneus that it's probably just timing related. The Data Explorer can be a lot slower than other clients, which might have an impact on how the results are batched up, which in turn might impact the ordering.

[2015-08-20 01:10] Tryneus commented on #4728
It's possible that the timing of the race condition is dependent on which thread the query originated on, and HTTP ReQL queries (i.e. from the Data Explorer) are always on the same thread.  Client connections are round-robined across the available threads, so they could be less reliable.

[2015-08-20 02:41] nodesocket commented on #4722
Hi Johny.

Even using the index `date` the query takes about a second each time, which seems very slow seeing as I only have about 64,000 documents, spread across three servers. Is that expected performance?

[2015-08-20 03:53] extrabee commented on #4541
@danielmewes: Thanks for the tip - helped me to build on Raspbian! +1

[2015-08-20 04:13] Tryneus commented on #4721
The fix has been approved and merged to `next` in commit 6b37e33, and cherry-picked into `v2.1.x` in commit 5e8380e.  Will be in release 2.1.2.

[2015-08-20 04:13] #4721 closed

[2015-08-20 05:07] cd34 commented on #4723
@danielmewes sent you email. Can upgrade back to 2.1.1 if you would like to debug. data set is ~1tb so I could send you a physical disk with the data if needed.

[2015-08-20 05:48] danielmewes commented on #4723
Thanks a lot @cd34 . We took a look at your server configuration and think that we understand how this happened.
We're going to include a fix for this in 2.1.2.

It looks like this is basically a side-effect of a migration bug that existed in 2.1.0, but was fixed in 2.1.1. However it seems like the new code in 2.1.1 that works around tables that were already affected by the bug has the side-effect

[2015-08-20 06:19] williamstein commented on #4678
I'm happy to report that I'm now finally successfully running a 5-node n1-standard-1 (with 50GB SSD/each) RethinkDB 2.1.1 cluster in production backing https://cloud.sagemath.com.   Thanks for all the help!

I did get this backtrack/crash when sharding/replicating from 1 to 5 nodes as it was finishing the last table:
[code]

I just restarted rethinkdb immediately after this and it worked.

I *am*

[2015-08-20 06:32] danielmewes commented on #4678
@williamstein I'm really really sorry for the huge amount of trouble you had to go through until you got it working. 2.1.0 ended up being much less stable than we had anticipated after our internal testing. The good news is that your feedback helped us a lot in fixing various issues, so we'll end up with a much better software once we ship the next point release.

[2015-08-20 06:44] RubenKelevra commented on #2781
Nope, sorry :)

[2015-08-20 06:49] danielmewes opened #4730 "Resharding can make secondary indexes unavailable"
While we generally maintain availability during resharding in 2.1, this doesn't generally work for secondary indexes.

We might need to make sure that secondary indexes have finished constructing before we switch over to a new primary for a shard.

[2015-08-20 06:51] RubenKelevra opened #4731 ""cannot write to stdout/stderr: Broken pipe""
I've got an issue on one node of my 5 server cluster test-installation.

4 of 5 Servers run Arch Linux, one is running Debian Jessie. Fulla is running Arch Linux as well. The only difference is that Fulla is longer installed than the others and I'm connecting to fully via ssh-forwarding for the administrations-panel.

Since ArchLinux is using systemd, RethinkDB should send it's logs to journalctl

[2015-08-20 06:52] danielmewes commented on #2781
Must be a problem with GitHub. It's definitely closed here.

![screenshot from 2015-08-19 23 51 44](https://cloud.githubusercontent.com/assets/505365/9377375/46b92c74-46cd-11e5-9036-c1fb1f6c10c9.png)

[2015-08-20 06:54] RubenKelevra commented on #4731
http://i.imgur.com/I68CHkf.png

[2015-08-20 08:17] JohnyDays commented on #4722
That's still way below expected performance I'd venture a guess, something must be off here. Someone from the core team will surely try to help soon.

[2015-08-20 16:03] RubenKelevra commented on #2781
I meant, it's closed, I'm just blind. :)

[2015-08-20 16:15] larkost commented on #4352
the modified `rebalance.py` is in `next` with 393f4e9

[2015-08-20 17:19] VeXocide commented on #4685
Merged into branches `next` and `v2.1.x` via commits d011e80eecb36203a1ebeb63d94b448e8576a82e and 57847c1da46f58e7cd4949210c9ebd7ae6d6c2a0 respectively.

[2015-08-20 17:19] #4685 closed

[2015-08-20 18:45] danielmewes commented on #2781
Ah :-)

[2015-08-20 18:46] danielmewes commented on #4437
Unfortunately the patch make builds fail on OS X:
[code]

[2015-08-20 19:01] thomasmodeneis commented on #746
+1

[2015-08-20 19:17] nodesocket commented on #4722
Yeah, something it wrong for sure. I am using Google Compute, with 3 servers *(each with 2 cores and 13GB of memory)*.

[2015-08-20 19:21] danielmewes commented on #4675
@marshall007 , @qusiax
have you used changefeeds at any time before the crash happened?

[2015-08-20 19:43] stresslimit commented on #746
+1

[2015-08-20 19:50] danielmewes commented on #4722
I think 1 second for reading 64,000 documents isn't totally unreasonable, depending on the CPU performance of the servers (2 cores isn't that much), the network bandwidth, and the performance of the client used.

@nodesocket could you check CPU usage on both the servers (ideally on the one that the client is connecting to), and on the client as well?

What do the documents in the table look like?

[2015-08-20 20:05] danielmewes commented on #4678
There's a race condition in combination with changefeeds that's consistent with the observed segmentation fault crash. I'm currently testing a fix for that. The race condition can only happen while a table is being reconfigured, so this should be rare in normal operation.

An open question is whether this is the same problem as the seg faults in #4675. One report there was while deleting a databas

[2015-08-20 20:16] nodesocket commented on #4722
1 second for 64,000 documents seems unreasonable to me. We plan on storing millions of documents. I am doing this query right from the web interface in query explorer. Could that be the bottleneck?

In terms of documents, they look like:

[code]

With secondary indexes on the following:

[code]

[2015-08-20 20:34] danielmewes commented on #4722
The Data Explorer is really really slow when it comes to retrieving data compared to other clients.

Also keep in mind that since the query uses streaming, only the first batch of results will be computed and sent to the client, until more results are requested.
Overall, the timings from the Data Explorer aren't super useful for assessing query performance unfortunately.

You mention that you're g

[2015-08-20 20:44] #4687 closed

[2015-08-20 21:06] marshall007 commented on #4675
@danielmewes I probably had changefeeds open on another database, but not the one I was dropping.

[2015-08-20 21:07] danielmewes commented on #4731
How exactly are you making RethinkDB log to journalctl?

[2015-08-20 21:51] Morgul commented on #4150
So, having read through the first 2/3rds of this issue and skimmed the rest, I feel amy use case could be beneficial as a talking point.

We have roughly 2 million documents, and wish to store their metadata in RethinkDB. These documents are generated by different business operations, and each has a defined set of business rules for what their metadata must contain, and a less well defined set of

[2015-08-20 22:01] danielmewes opened #4732 "Opening more than 1024 changefeeds on the same connection can lead to stalls"
We have a limit of 1024 concurrent queries per connection. If there are more queries, the additional ones will not be executed until one of the previous ones finishes.

This generally makes sense since it avoids overloading the server, but is problematic in the case of changefeeds.

We should probably remove that limit for changefeeds, or maybe even in general if that's easier.

(assigning @mlucy)

[2015-08-20 22:44] danielmewes commented on #4150
@Morgul thank you for sharing your thoughts on this. The `getAll` solution that you mention is what's currently being proposed.

The main advantages of this over enabling general `filter` terms to use indexes transparently are:
* It's easier for us to implement, because we don't have to analyze the `filter` function. We could restrict this to work only for simple predicates of the form `filter({fi

[2015-08-21 00:00] Tryneus commented on #4723
Fix is up in review 3177.

[2015-08-21 00:28] deontologician commented on #4676
@merrihew the driver package numbers match the major and minor versions of RethinkDB, but the patch number only increments if we release a fix for the driver itself, rather than any time we have a patch release for the server

[2015-08-21 00:46] VeXocide commented on #4694
This is in CR 3178 by @danielmewes.

[2015-08-21 00:53] Tryneus commented on #4664
The fix has been approved and merged to `next` in commit 17769fc, and cherry-picked into `v2.1.x` in commit b161f2d.  Will be in release 2.1.2.

The change was actually a TODO for the raft update to have the `outdated_index_issue_tracker_t` operate on the raft state rather than the table's sindex configuration in the data file's btree.  This has the advantage of being much more accurate about the

[2015-08-21 00:53] #4664 closed

[2015-08-21 01:27] danielmewes opened #4733 "interface.server_config and interface.emergency_repair intermittently failing on v2.1.x"
On newton in debug mode running with `-j 4`:
[code]

(pinging @larkost )

[2015-08-21 01:28] danielmewes commented on #4733
Running the tests individually seems to make them pass pretty reliably, so I guess there might be a timing issue here.

[2015-08-21 01:29] VeXocide commented on #4694
Merged into branches `next` and `v2.1.x` via commits 2cfe68136e618110323c024b1df5e8d3b0f3d186 and 6bb34b84c883c18425cbf991e4882f59cedac8bd respectively.

[2015-08-21 01:29] #4694 closed

[2015-08-21 02:15] nodesocket commented on #4722
@danielmewes running:

[code]

[2015-08-21 02:36] Tryneus commented on #4723
The fix has been approved and merged to `next` in commit 184c68c, and cherry-picked into `v2.1.x` in commit d4149a2.  Will be in release 2.1.2.

Thanks for your patience, @veigarfreyr and @cd34, and for all your help.

[2015-08-21 02:36] #4723 closed

[2015-08-21 03:07] jf commented on #4666
+1!!! Really looking forward to being able to handle rethinkdb using Celluloid!

[2015-08-21 07:02] thelinuxlich commented on #4722
Hey @nodesocket, I'm running a similar setup to yours, except that my instances are 4-cores. My queries are huuuuuge(complex segmentation joining at least four tables with quantity and size of documents similar to yours) and the performance has been acceptable. I'm using some unoptimized things, like ungroup(), distinct() and group() without index, lots of chained filters, etc

[2015-08-21 07:05] thelinuxlich commented on #4722
Are you using SSD? That could provide a huge boost. Also, you should pay attention to the region where your instances are located because there are CPU generation differences. Mine is us-central1-c and it is using Intel Haswell

[2015-08-21 07:06] thelinuxlich commented on #4722
Also I remember @danielmewes saying on the Google Group that a proxy can help too

[2015-08-21 07:24] nodesocket commented on #4722
The instances are:

|      Zone     | Machine Type                         | Disk   | SSD | IOPS (R/W)    | CPU PLATFORM     |
|:-------------:|--------------------------------------|--------|-----|---------------|------------------|
| us-central1-f | n1-highmem-2 (2 vCPUs, 13 GB memory) | 500 GB | YES | 10,000/15,000 | Intel Ivy Bridge |
| us-central1-c | n1-highmem-2 (2 vCPUs, 13 GB memory) | 50

[2015-08-21 07:25] thelinuxlich commented on #4722
they should all be on the same zone to avoid latency issues between them

[2015-08-21 07:30] nodesocket commented on #4722
I just checked, all RethinkDB machines communicate over the local interface, and pings times are all less than 1ms between each machine. That should be fine.

What do you mean by a proxy?

[2015-08-21 07:32] Tryneus opened #4734 "Crash during table fuzzing: Assertion failed: [ptr_]"
Implemented a new table fuzzer to attempt to weed out any `v2.1.x` bugs we haven't found yet, got the following crash:

[code]

[2015-08-21 07:35] qusiax commented on #4675
no

On Thu, Aug 20, 2015 at 2:06 PM, Marshall Cottrell <notifications@github.com

[2015-08-21 07:35] Tryneus opened #4735 "Crash during table fuzzing: Guarantee failed: [!parent->is_draining()]"
Implemented a new table fuzzer to attempt to weed out any v2.1.x bugs we haven't found yet, got the following crash:

[code]

[2015-08-21 07:42] danielmewes commented on #4734
There's a good chance that this will be fixed by the patch in CR 3176

[2015-08-21 07:44] danielmewes commented on #4735
This one ‎too is probably addressed by CR 3176. Will double-check tomorrow. 

[2015-08-21 07:45] thelinuxlich commented on #4722
http://rethinkdb.com/docs/sharding-and-replication/#running-a-proxy-node

[2015-08-21 07:47] danielmewes commented on #4735
Oh actually it's not (though it's related). We'll have to pass in the drainer lock. I'll address that tomorrow.

[2015-08-21 07:50] Tryneus opened #4736 "Crash during table fuzzing: Guarantee failed: [val.has()]"
Implemented a new table fuzzer to attempt to weed out any v2.1.x bugs we haven't found yet, got the following crash.  This test did not use any changefeeds, but did use multiple client threads.

[code]

[2015-08-21 07:52] nodesocket opened #4737 "Javascript client connecting to a high availability cluster"
When using a high availability cluster setup *(version 2.1.1)* with 3 nodes, did the syntax for connecting in the Javascript client change? Currently I am just specifying the primary nodes ip `10.240.102.7` like:

[code]

Do I now have to provide all of the nodes in the clusters config host? If not, how does this work if `10.240.102.7` is down?

[2015-08-21 07:54] Tryneus commented on #4736
Just got a similar crash in `make_replacement_pair` from `table_rebalance` instead of `table_reconfigure`, in case it matters:

[code]

[2015-08-21 08:00] danielmewes commented on #4737
You can only provide one server to `r.connect`. If it is down, you need to handle the error provided by `r.connect` to the callback function and try to connect to another server.
There is no `table` argument by the way.

An alternative is rethinkdbdash (https://github.com/neumino/rethinkdbdash), a third-party driver that comes with a connection pool which handles such cases automatically.

[2015-08-21 08:31] nodesocket commented on #4737
Does the following connection logic make sense, and is it the best way to do this?

    var hosts = ['10.0.0.1', '10.0.0.2', '10.0.0.3'];

Randomly grab one of the hosts out of the `hosts` array and try to connect. If the connection fails, grab another from the hosts array excluding the first host and retry. If that still fails, grab the last host from the array and try to connect. If finally that

[2015-08-21 14:04] aranw opened #4738 ""NaN% cache used" on Dashboard"
While doing a restore I've noticed the "Resources" reads "NaN% cache used"

https://www.dropbox.com/s/vqymbkkh27h3320/Screenshot%202015-08-21%2014.18.38.png?dl=0

I believe its possibly due to the server being busy processing the restore that it does not have the ability to respond to the requests that get the server/table/index/resource data?

Edit: After leaving it for awhile the data updates

[2015-08-21 14:27] chrisvariety commented on #4737
A proxy node would do this sort of thing too, right? http://rethinkdb.com/docs/sharding-and-replication/#running-a-proxy-node

[2015-08-21 14:32] Morgul commented on #4150
@danielmewes Thanks for the clarification. To address a few more points:

* **Analyzing the filter** - I definitely understand the complexity here. I think it might be acceptable to roll out optimization in stages; a first pass that will work for simple predicates in `filter`, and then as time and importance allows, this gets expanded until eventually it's a full blown analysis. Out of curiosity,

[2015-08-21 14:54] deontologician commented on #4738
Hey @aranw, thanks for reporting this. The webui uses some of the admin tables under the hood, so its possible these tables give weird numbers resulting in a zero division or something . I'll check it out

[2015-08-21 15:28] eldritch-fossicker commented on #4150
As a DBA working with both SQL Server and PostgreSQL I get the frustration of working with a query optimize. I also understand the the complexity of code that goes into writing such a beast.  My concerns about no or a limited optimizer are:

*  Metadata availability  #3231, someone/something has to optimize the query. If its me or code from the dev I work with we need a systematic and authoritativ

[2015-08-21 15:32] timshannon commented on #4150
I completely agree @eldritch-fossicker .  SQL Servers's query optimizer seems almost non-deterministic at times.  We've had queries that run fine in our testing environments, and ridiculously slow in Production because the query optimizer came up with a different plan.

With ReQL in it's current state you explicityly tell rethinkdb how you want it to retrieve your data.  I'm fine with the addition

[2015-08-21 17:04] VeXocide commented on #4736
I'll take this one

[2015-08-21 17:15] danielmewes commented on #4738
I usually see that while the web UI is still loading the data. It's possible that this takes a moment when the database is under high load.

[2015-08-21 17:26] internalfx commented on #4150
agree with @Morgul.

Indexes using simple keys is all I have in use right now. But it would be a huge convenience if they were used automatically.

[2015-08-21 17:26] internalfx commented on #4150
Glad to see this issue getting traction again.

[2015-08-21 17:35] VeXocide commented on #4736
`common_table_artificial_table_backend_t::read_row` will return a default-constructed `ql::datum_t` and `true` when it hits an `no_such_table_exc_t` exception in formatting the row, which is likely what's going on here. There's a few ways of fixing this, 'll need to check which makes the most sense.

[2015-08-21 17:36] VeXocide commented on #4736
For clarity, this is probably the behaviour we want in the artificial tables, but not in the `real_reql_cluster_interface_t`.

[2015-08-21 18:17] danielmewes commented on #4735
Added a fix for this to CR 3176

[2015-08-21 18:35] larkost opened #4739 "update `--server-name` entry in `--help`"
It looks like the `--help` text for `--server-name` was not updated when we switched to hostname-based auto-names.

[2015-08-21 18:54] RubenKelevra commented on #4731
In changed nothing in the config-file which is related to logging, so this seems to be default.

[2015-08-21 19:00] larkost opened #4740 "create a warning when server name does not match `--server-name` input"
We have a console warning when you provide `--server-name` on the command line to a server running with existing data file (the one in the data file wins), but we should probably go one step further and create an entry in the `issues` table so that server admins realize that there is a mis-match.

[2015-08-21 20:43] VeXocide commented on #4736
While a `!row.has()` gets rewritten into a `ql::datum_t::null()` in `artificial_table_t::read_row` the function `checked_read_row_from_backend` in there depends on the difference.

[2015-08-21 21:01] Zolmeister commented on #4150
+1 for simple filter optimization
Also, I feel this is important (as with #809), and really ought to be scheduled for an upcoming milestone.

[2015-08-21 21:56] Zolmeister opened #4741 ".skip(0) is slow"
Running a query with `skip(0)` requires 5x I/O operations (as reported by dashboard, compared to omitting the skip)

[code]

Edit: rethinkdb v2.0.4

[2015-08-21 22:38] danielmewes commented on #4619
This has disappeared in 2.1. The mid-term solution is probably #2230. Closing as outdated.

[2015-08-21 22:38] #4619 closed

[2015-08-21 22:56] danielmewes commented on #4741
I'm not entirely sure why this happens. @mlucy do you have an explanation for this?

[2015-08-21 23:15] deontologician opened #4742 "Add optional compression option to client protocol"
I'm sure this has been suggested/discussed before but I couldn't find a specific issue for tracking it.

In my mind this should be optional to avoid headaches for driver writers. During the initial handshake, the client should tell the server whether it supports compression or not.

Also, it may be useful for each response to say whether it's been compressed or not. This helps in HTTP where someti

[2015-08-22 00:22] Tryneus opened #4743 "Hang in `multi_table_manager_t` during table fuzzing"
I ran a 15 minute test of the table fuzzer (1 server, 1 client thread, changefeeds enabled, v2.1.x with fixes for #4734 #4735 and #4736), and after about 10 minutes, the fuzzer was hanging on a query.  Trying queries in the web UI with gdb attached to the process showed that while queries could run, most queries that would touch a table would hang.

The hang was observed to happen on waiting for t

[2015-08-22 00:44] danielmewes commented on #4689
@jcw thanks for the link, that's a nice article.
We're definitely aiming at solving the problems mentioned there. There are still a few components missing right now, but hopefully we can add those in the next months (most importantly the option of getting rid of an application-specific backend layer).

[2015-08-22 01:13] neumino commented on #4737
I can chime in a bit about rethinkdbdash. Basically with rethinkdbdash you never take care of the connection. It manages its own set of connections and you just call `run()` on a query, and the driver will run the query (or reject the query if no connection is no server is available)

The connection pool (let's call it the pools master) keep one connection pool per available server (servers provid

[2015-08-22 05:43] RubenKelevra opened #4745 "Pid-File containing non-running pid, blocking start"
Sometimes the pid-file is still on disk, when rethinkdb is not running, containing a not-running pid:

`$ cat /var/run/rethinkdb/default.pid`
`253`

`$ ps aux | grep 253`
`ruben     1208  0.0  0.1  11260  2312 pts/0    S+   07:39   0:00 grep 253`

But still rethinkdb doesn't want to start up:

`[ruben@fulla ~]$ sudo systemctl start rethinkdb@freifunk`
`[ruben@fulla ~]$ sudo systemctl status rethin

[2015-08-22 11:29] mbroadst opened #4746 "tableCreate seems extremely slow"
**"benchmark"**
[code]

**results**
[code]
**average:** 2504.55ms

**info**
[code]

Is this latency expected?

[2015-08-22 11:36] mbroadst opened #4747 "weird issues with reported table numbers"
I've been writing a lot of integration tests using randomly generated uuids for database/table names, and repeatedly slamming a local database with tableCreates/tableDrops, etc. I've found two weird things crop up as a result:

   * the front page of my admin panel now just says:
[code]

   * even though my "Tables" tab in the admin panel indicates I have two tables in the cluster, the "tables" ba

[2015-08-23 01:58] Timer commented on #4746
Is this a single or multi server cluster?

[2015-08-23 03:27] mbroadst commented on #4746
single, localhost, default install

[2015-08-23 06:22] nodesocket opened #4748 "How to properly create nested secondary indexes in the web UI"
I've created some secondary indexes that are nested via the web UI by just doing:

[code]

Basically using `.` to signify a child object. Is that correct? Is this even working? I've noticed that the web UI will let you put basically anything in the text field for the index key name. Doing the following even works:

[code]

What is the correct way to reference child objects when creating secondary

[2015-08-23 09:59] RubenKelevra opened #4749 "Clickling next log-page button 3 times lead to unhandled error"
If the next log-page button is used 3-4 times the following error occur:

http://i.imgur.com/jJLGQba.png

[2015-08-23 14:39] IanCal commented on #1520
As a bit more information, I'm running a single shard locally and `r.table('example').sample(1).run(conn)` in the python library takes 60s to complete on a table of about 200k rows, so it might not be the cost of pulling data from one shard to another. The frontend shows this as ~6k/s reads, so I'll have to do a bit more investigation to see if this is rethinkdb or the python lib that's causing th

[2015-08-24 08:48] aranw commented on #4738
@danielmewes I think that is the case, I believe the server is under high load and that query then fails. I've also noticed not sure if related but sometimes while doing a restore the tables and database list fails to update straight away.

[2015-08-24 13:40] Kamugo opened #4750 "Out of memory when starting the server"
Rethinkdb has been running fine for months on a VPS with 4GB of RAM. Now, when I try to start the server, I get the following error:

Running rethinkdb 2.0.4~0trusty (GCC 4.8.2)...
Running on Linux 2.6.32-042stab108.2 x86_64
Loading data from directory /root/rethinkdb_data
Listening for intracluster connections on port 29015
Listening for client driver connections on port 28015
Listening for admin

[2015-08-24 14:44] CezarCretu commented on #4138
I've run into this today, was advised on IRC to share my use case as it might be relevant.

My schema, relevant bits: ```{hash, timestamp}```

I was trying to get the first x unique items (by hash), ordered by timestmap.
 Since both ```orderBy(index)``` and ```distinct(index)``` require ```table```, I was left with something like this:
```orderby(index)('hash').distinct().limit(x)``` which is terr

[2015-08-24 15:53] danielmewes commented on #4750
Hi @Kamugo, the first thing I'd try if possible is adding a swap file (http://www.cyberciti.biz/faq/linux-add-a-swap-file-howto/). Depending on the virtualization stack used this might or might not work.

Assuming the data is somewhat distributed across tables, another way you might be able to retrieve your data is by doing the following:
1. Make a copy of your data directory (important!)
2. For e

[2015-08-24 17:35] danielmewes commented on #3367
@RubenKelevra That sounds like it will be covered by https://github.com/rethinkdb/rethinkdb/issues/3471 eventually. The first implementation will be relatively basic, but in the longer term we are planning to implement changefeeds that you can resume after any kind of disconnect or server failure.

[2015-08-24 17:59] danielmewes opened #4751 "rapidjson uses system malloc, instead of rmalloc"
This means that if an allocation fails, we get segmentation faults rather than an explicit out of memory error.
I think this is probably what happened here
https://groups.google.com/forum/#!topic/rethinkdb/vAyJjaR8jnA

[2015-08-24 18:00] Kamugo commented on #4750
I use OpenVZ so I can't create SWAP files. Rethinkdb is only starting if I delete a lot of the table files. Even starting it using three of the smallest tables (12 MB) does not work with a cache size of 2000 MB. It cannot start only with the biggest table (500MB). After removing all the tables but one, the server starts, and the web UI gives this message on the log:

Problem with reading log file

[2015-08-24 18:13] danielmewes commented on #4751
Fix in CR 3184 by @VeXocide

[2015-08-24 18:26] danielmewes commented on #2498
Closing in favor of https://github.com/rethinkdb/rethinkdb/issues/4251 and https://github.com/rethinkdb/rethinkdb/issues/4746 .
The performance numbers in here are now pretty much all outdated, because table creation uses very different code paths since the Raft switch.

[2015-08-24 18:26] #2498 closed

[2015-08-24 18:28] danielmewes commented on #4746
This is expected at the moment (at least I can reproduce it).
Table creation became slower in 2.1 because of our switch to a new Raft-based clustering logic.
I'm sure we can tune this. Putting into `subsequent` and marking as a performance issue.

[2015-08-24 18:33] danielmewes commented on #4750
That sounds like it might be a bug. Is there a chance you can send us the data directory with only the three small tables? We can sign an NDA if necessary.
If you gzip it, it might become small enough for email (daniel@rethinkdb.com). If it's too large, please let me know and I can send you an upload link.

[2015-08-24 18:40] danielmewes commented on #4747
After talking to @mbroadst on IRC, it looks like the tables aren't visible because their database is missing. They show up in `r.db('rethinkdb').table('table_config')` with `{db: '__deleted_database__'}`,

We're not sure what causes the tables to get into that state yet.
The obvious suspect would be https://github.com/rethinkdb/rethinkdb/issues/4465 , but we think that this operation doesn't happe

[2015-08-24 18:44] RubenKelevra commented on #3367
Nice! :+1:

[2015-08-24 19:02] Kamugo commented on #4750
I've sent you the data. After downloading the data from the VPS to my laptop, I still get the same error. However, the error is a bit more specific:

rethinkdb(95834,0x700000081000) malloc: *** mach_vm_map(size=1127654424940544) failed (error code=3)
*** error: can't allocate region
*** set a breakpoint in malloc_error_break to debug
rethinkdb: Memory allocation failed. This usually means that we

[2015-08-24 19:39] mbroadst commented on #4747
duplicate of #4727

[2015-08-24 19:39] #4747 closed

[2015-08-24 20:16] danielmewes commented on #4750
@Kamugo Thank you for the data. It looks like there's a data corruption in the table with ID `d33563f8-342d-40cc-9644-b207a7017f3a`, that's indirectly triggering the out of memory error. We have to look into it more to find out what kind of corruption this is and where it might have come from.

[2015-08-24 20:48] danielmewes opened #4752 "Improve query time reporting in web UI"
We should display server time by default, and only show the round-trip time on the profile tab.

[2015-08-24 21:36] danielmewes commented on #4722
I'm not sure how much a proxy would help here, if the bottleneck is actually on the client. @nodesocket did you get around to trying this with a non web UI client and checking the CPU usage on the server vs. client when running the query?

[2015-08-24 21:45] coffeemug commented on #4569
For anyone watching this thread, we're doing an on-the-wire performance test (without the Python driver) to figure out baseline server performance for this workload. Once we get this information, it will be relatively easy to figure out what we need to do to fix this.

[2015-08-24 21:45] VeXocide commented on #4752
How does `X-RETHINKDB-QUERY-TIME` sound as the header?

[2015-08-24 21:53] deontologician commented on #4752
looks good, I'll use that

[2015-08-24 22:07] Kamugo commented on #4750
Thanks Daniel. I've tried to delete the table file, but I still get the same error. Can it be possible that other tables have been corrupted?

[2015-08-24 22:47] #4751 closed

[2015-08-24 23:10] danielmewes commented on #4750
Looks like it. :-(
I'm also seeing the problem in 11a7aad6-8b1a-449a-a7ac-69a3d3ad1ef6. I haven't checked all of the other ones.

Do you have backups? From the looks of it, those data files will be extremely hard to recover, so I recommend restoring the affected tables from the backup if possible.

I've talked with @Tryneus about this and we're currently thinking through different paths due to whi

[2015-08-24 23:12] danielmewes commented on #4750
Also what is the underlying storage? If this is on SSDs, what model are you using?

[2015-08-24 23:23] coffeemug opened #4754 "Improve "Unable to retrieve the start stamps. Did you just reshard?" message"
The error message is really confusing because it doesn't tell the user anything about what's going on (what are "start stamps?")

We should rephrase it as something like this: "Changefeed has been interrupted by resharding."

[2015-08-24 23:26] coffeemug commented on #4754
Also, /cc @danielmewes @Tryneus since we talked about this internally.

[2015-08-24 23:36] danielcompton opened #4755 "TIME error messages with wrong number of args"
If you pass 1 argument to time, you get the error message `Expected between 4 and 7 arguments but found 1`. If you pass 5 arguments then you get the error message `Got 5 arguments to TIME (expected 4 or 7).`

I propose two improvements to the error message:
1. Make the first error `Expected 4 or 7 arguments but found 1`.
2. Include the query term and arguments in the error message, e.g. `TIME expe

[2015-08-24 23:45] coffeemug commented on #4748
@nodesocket -- the webUI only allows creating indexes on a top-level field. You currently cannot created nested secondary indexes via the web UI -- you have to create them using the `indexCreate` command.

The web UI just called the `indexCreate` command, and you can create indexes on fields like `'{ "quote": [ "price" ] }'`, because it's actually a valid string for the field name in the JSON docu

[2015-08-24 23:54] VeXocide commented on #4736
Merged into branches `next` and `v2.1.x` via commits f3c5d64a075ab004a9944b0223b5e2ec4e342b22 and b5234a0f1625f44d14feecb08f1e2c377f7ebddf respectively.

[2015-08-24 23:54] #4736 closed

[2015-08-25 00:38] danielmewes commented on #4735
Fixed in `v2.1.x` 6391bb80b10e83614835c8bb120ec701437b7ab1 and `next` 294f9e4.

[2015-08-25 00:38] #4735 closed

[2015-08-25 00:39] danielmewes commented on #4734
Fixed in `v2.1.x` 6391bb80b10e83614835c8bb120ec701437b7ab1 and `next` 294f9e4.

[2015-08-25 00:39] #4734 closed

[2015-08-25 00:40] danielmewes commented on #4678
Fixes for that last segmentation fault are in `v2.1.x` 6391bb80b10e83614835c8bb120ec701437b7ab1 and `next` 294f9e4.

[2015-08-25 00:40] #4678 closed

[2015-08-25 00:45] danielmewes commented on #4752
While thinking about how to best report the query times, we also decided to no longer show query times for batched queries. The reason is that those times could only account for the first batch, and hence can be very misleading.

The timings for the first batch are still available in the profiler output if wanted.

[2015-08-25 00:47] VeXocide commented on #4752
In CR 3185 by @danielmewes.

[2015-08-25 00:53] deontologician opened #4756 "Send profiles for later batches in a cursor"
Currently, only the first batch gets a profile

[2015-08-25 01:24] deontologician commented on #4752
webui portion in CR 3186 by @danielmewes

[2015-08-25 01:32] Tryneus opened #4758 "Error during table fuzzing, ReqlInternalError: Unexpected exception"
The full error is:

[code]

The source of this is a `failed_table_op_exc_t`, but contrary to the error text, the cluster was fully available during this time, and no disconnections were seen in the logs.  A `ReqlInternalError` should not be returned to users during normal operation, so either the error needs to be changed or we need more error handling somewhere.  This exception can be thrown from

[2015-08-25 01:40] danielmewes opened #4759 "Cannot set max results per query in Data Explorer"
For some reason it jumps back to the default of 40 as soon as I leave the edit field (in Firefox).

[2015-08-25 01:42] Tryneus commented on #4758
It seems that there may just be a place missing a `CATCH_OP_ERRORS`, which would convert the `failed_table_op_exc_t` to a ReqlAvailabilityError.

Here is an example query that can result in the ReqlInternalError, currently running the fuzzer to see if it finds any more.
[code]

[2015-08-25 01:46] deontologician commented on #4759
Apparently this is set to a minimum of 40. In the original PR that added this (#3908) it was this way. Not sure why. I assume we should be able to set it to anything > 1?

[2015-08-25 01:51] danielmewes commented on #4759
Ah I see. Yeah, I don't see a particular reason for the minimum of 40.

[2015-08-25 01:56] marshall007 opened #4760 "Do not apply max results limit to arrays in Data Explorer"
Currently, even if you chain `.coerceTo('array')` on the end of your query, the Data Explorer will limit the number of results displayed at once. It should be possible to force the Data Explorer to render all results by coercing the stream to an array.

This is necessary for doing one-off exports of data. I believe there's an issue somewhere for downloading Data Explorer results as JSON, which wou

[2015-08-25 02:09] marshall007 commented on #4760
Another solution would be to allow setting the max results limit to `0` or `-1` to indicate "unlimited". I would still prefer the solution that only applies the limit to streamed results so that you can keep the sane default set for most queries.

[2015-08-25 02:12] danielmewes commented on #4760
Do you see all results if you look at the "Raw view"?
You could also add a `.toJsonString()` to your query to get the full result as a string.

I'm actually surprised that this is working. I was under the impression that it was not, see https://github.com/rethinkdb/rethinkdb/issues/3912 .
It's currently useful to enforce the limit even for arrays, because rendering too many results disables syntax

[2015-08-25 02:13] danielmewes commented on #4760
An "unlimited" setting for the limit would make sense though.

[2015-08-25 02:14] Tryneus opened #4761 "Crash during table fuzzing - Guarantee failed: [!pair.first.inner.overlaps(region.inner)]"
Appears to have been during the creation of a new changefeed.  This guarantee failed on two of the cores of the crashing server.  Fuzzer parameters: 4 servers, 16 clients, changefeeds enabled.  I've been running the fuzzer quite a bit and this is the first time I've seen it, so this is probably a fairly small timing window.

[code]

[2015-08-25 02:20] nodesocket commented on #4748
Wow, I had no idea my nested secondary indexes created via the webUI were not even working correctly. I suspect that I am not the first to try `person.name` and assume it works.

As a suggestion and improvement to UX, the web interface really should have an alert that only top-level indexes can be created via the web interface. Ultimately the webUI should support nested secondary indexes in the fu

[2015-08-25 02:20] nodesocket commented on #4722
@danielmewes related https://github.com/rethinkdb/rethinkdb/issues/4748#event-391161094. Apparently my secondary indexes were not even working because they were created via the webUI.

[2015-08-25 02:28] danielmewes opened #4762 "Interrupting queries through jobs table doesn't raise error"
Run this query:
[code]

While it's running, run
[code]
a couple of times (because sometimes it kills itself before it gets to the `r.js` query).

Expected result: the `r.js` query should return an error
Actual result: the `r.js` query returns an empty non-error result

[2015-08-25 02:28] danielmewes commented on #4762
@Tryneus, @VeXocide any ideas?

[2015-08-25 02:35] #4752 closed

[2015-08-25 02:35] #4759 closed

[2015-08-25 02:49] danielmewes commented on #4748
@nodesocket Secondary indexes are deleted in the background, and hence might not show writes for the cluster throughput.
Your `indexCreate` query looks correct (assuming the field is actually called `yld` and not `yield`?)

[2015-08-25 02:50] danielmewes commented on #4748
We'll think about how we can make this restriction clearer in the web UI. One option could be to disallow periods (and maybe other special characters) in index names in general.
This might break some people's applications though, if they're already using such names.

[2015-08-25 03:07] nodesocket commented on #4748
Sure, even literally just a html warning box on top-level only secondary indexes would help I think

[2015-08-25 03:17] marshall007 commented on #4760
@danielmewes you're right, the limits aren't being applied to arrays in 2.x at all. I was working with 1.15.x when I ran into this.

The only problems with the "unlimited" setting are 1) as mentioned above, that's not reasonable for most queries so you might have to change it frequently and 2) you have to remember to set it *before* executing the query, which is annoying if you already kicked off

[2015-08-25 03:40] danielmewes commented on #4569
The raw server performance for a single client reading the data, measured without any parsing on the client-side, is approximately 0.8 seconds per 100,000 documents.

This is using the documents generated by the script above, just slightly modified to store a more compact unix timestamp rather than a ReQL date/time object in the `now` field.

In this test, all data gets transferred to the client,

[2015-08-25 04:27] AlexeyFrolov commented on #4700
Sry for late answer.
Initially transducers were proposed and implemented for Clojure language. Some links:
http://blog.cognitect.com/blog/2014/8/6/transducers-are-coming
https://www.youtube.com/watch?v=6mTbuzafcII

Also there are 2 implementations in JS:
https://github.com/jlongster/transducers.js
https://github.com/cognitect-labs/transducers-js

[2015-08-25 05:08] kulbirsaini opened #4763 "Rethinkdb database/table/index creation inconsistencies"
This is my current setup
* Linux Mint 17 with Linux 3.13.0-37 x64
* Rethinkdb 2.1.1~0trusty (GCC 4.8.2) (Upgraded from 2.0 to 2.1 and then to 2.1.1 right after the respective release)
* Two clustered rethinkdb instances on the same machine
* Rethinkdbdash latest
* SSD as storage

With 2.0, I didn't have many issues. There were at times issues with index creation when I created many of them using P

[2015-08-25 05:56] sontek commented on #4569
@danielmewes Does that scale out linearly?  Whats it at for 50,000 and 500,000?  I think 0.8 seconds would be acceptable as long as the python driver overhead wasn't adding much on top of that.  Another thing we could look at is building out an async query model like:

[code]

So if we know the queries scale linearly we can asynchronously spawn the queries off to get the desired query speed.

[2015-08-25 06:09] Kamugo commented on #4750
I have a backup of about 20 days ago. I do the backups manually and I've been outside the last 2 weeks. Now, the first app has been running properly with a new rethink_data directory for some hours. I will merge the backup with the new data and write a script to generate daily backups.

It it stored in a cheap VPS because it is a personal app, so I can't get a lot of info about the virtualization

[2015-08-25 07:46] coffeemug commented on #4569
@sontek -- talked to @danielmewes in depth, and here are some more details:

- When we cut out the expensive operations in the python driver, we can push the server to ~120k docs/second/client.
- Spinning up multiple parallel clients gets us to ~625k docs/second.
- I'm not entirely sure if we can scale it up like that with async on a single connection; we'll double check, but it definitely works w

[2015-08-25 08:20] coffeemug commented on #4748
Reopening, as there is a legitimate UX issue here. Thanks for reporting, @nodesocket (and sorry for closing too early -- looks like I have itchy fingers today).

[2015-08-25 08:29] coffeemug commented on #4150
@Morgul -- what @danielmewes meant here is that if we restrict the optimizer to terms like `filter({a: b})`, the optimizer wouldn't be able to optimize queries of the type `a < b < c` (where as if we went with the original proposal, we'd be able to optimize both). I actually like your syntax (though we'd have to figure out how to optimize things like "give me every user with age greater than 30").

[2015-08-25 08:46] JannKleen opened #4764 "(Python) Attribute error when nose tries to print error"
When running tests which raise an error from rethinkdb, nose is unable to print the error and gives the following stacktrace instead:

[code]

[2015-08-25 09:09] JannKleen commented on #4764
Just realised that this might be a duplicate of #4114

[2015-08-25 09:41] fvm commented on #3503
Thanks @Tryneus . Is this information still valid? I couldn't find it in the docs, but perhaps it's not been incorporated yet. I'd like to rely on the above to write a script for migrating data (replication isn't an option)

[2015-08-25 12:01] soplakanets commented on #4675
Hello. Have same error in my log file:
[code]

This happens when I run a big delete query by secondary index:
[code]

Data set affected by this query is about 350K records.

My specs are:
[code]

Please let me know how can I help to reproduce this issue.

[2015-08-25 15:25] kofalt commented on #4150
:+1: @coffeemug. Great to hear it!

[2015-08-25 16:53] internalfx commented on #3503
@fvm if you just need to migrate data between 2 databases, try [thinker](https://github.com/internalfx/thinker)

[2015-08-25 17:11] fvm commented on #3503
Thanks for the tip, it's actually between MySQL and RethinkDB. I will keep it in mind for future reference though.

(Yes, from MySQL to RethinkDB)

[2015-08-25 17:52] larkost commented on #4764
From the look of this it is because you are trying to use [`nose`](https://nose.readthedocs.org/en/latest/) as a replacement to the built-in `unittest` and that is trying to be clever at one point and use a StringIO object where we don't support that.

Probably the fundamental problem here is that we don't use `unitest` as our basic testing harness. It is used in some Python tests, but that is mor

[2015-08-25 17:54] larkost commented on #4764
I just re-read this, and am re-opening. I was initially reading this as using our tests, but I think you are running your own tests that happen to use the RethinkDB python driver. Sorry about missing that.

[2015-08-25 18:02] larkost opened #4765 "unable to download openssl on 10.7"
It looks like openssl.org have upgrades their SSL certificate to something that `curl` on 10.7 does not understand. So we are not unable to download the openssl library on that platform. We will have find a workaround to continue using it.

Downloading elsewhere and moving the files over is an intermediate work-around (hint: translate the dash in the name to an underscore)

[2015-08-25 18:53] danielmewes commented on #4755
That's definitely inconsistent, and I agree that the "between" is misleading.

I'm not sure if we list the arguments anywhere else, do we?

[2015-08-25 18:54] dalanmiller opened #4766 "Error when importing into RethinkDB 2.1.1"
Attempting to import into 2.1.1 from an instance of 2.1.1.

From within the created export directory:
[code]

If I instead do:
[code]

Everything works fine.

[2015-08-25 19:05] danielmewes commented on #1520
Thanks for the data @IanCal . That's really *very* slow. I doubt it's Python related, since as far as the client is concerned, that query will only return a single document.

Does your data fit into the cache?
For comparison: How long does it take to run `r.table('example').map(r.row).count.run(conn)`

[2015-08-25 19:06] danielmewes commented on #4760
Ok that sounds reasonable. If you don't mind, I'm going to put a note in https://github.com/rethinkdb/rethinkdb/issues/3912 that we make sure to keep the raw view complete, and close this issue instead.

[2015-08-25 19:06] #4760 closed

[2015-08-25 19:08] marshall007 commented on #4760
Sounds good, thanks @danielmewes!

[2015-08-25 19:08] larkost commented on #4359
Linking this to the parent issue: #2639

[2015-08-25 19:09] danielmewes commented on #3912
As @marshall007 mentioned in https://github.com/rethinkdb/rethinkdb/issues/4760 , it can be useful to have the full query result for copy&paste / export purposes.

When we fix this, we should make sure that the "Raw view" still displays the full result set.

[2015-08-25 19:11] deontologician commented on #3912
does that mean we should try to exhaust the cursor when they switch to the raw view tab?

[2015-08-25 19:14] mlucy commented on #4754
I think there are other failure modes for this besides resharding.  I agree that talking about start stamps is probably bad.  How about something like "Changefeed setup failed.  Are you in the middle of resharding?".

[2015-08-25 19:18] chrisvariety commented on #3912
"Raw View" doesn't currently display all results, so seems kind of separate from this issue.

I think you're going to run into problems trying to exhaust a cursor on tables returning a large amount of rows -- Chrome hangs pretty bad at 12000 rows.

I currently do this silly thing to get all the results for a query: `r.expr({all: r.table('foo').coerceTo('array')})` so I agree it would be nice for a

[2015-08-25 19:23] Tryneus commented on #4766
It's possible this is due to an index created in `v1.13.x` - @dalanmiller, where can I find the import data?

[2015-08-25 19:46] marshall007 commented on #3912
@deontologician @chrisvariety to clarify, in #4760 I was proposing that the "display all results in Raw view" behavior only apply to arrays.  Basically "Tree view" should always be paged (current behavior is broken for arrays) and "Raw view" should only be paged for streams (current behavior is "correct").

[2015-08-25 20:02] danielmewes commented on #4766
The data and indexes appear to import fine for some builds of RethinkDB (tested with 2.1.0 on Mac and 2.1.1 on Linux).
Haven't tried with a brewed version yet.

[2015-08-25 20:11] larkost opened #4767 ""stack level too deep" error in Ruby 2.2"
It seems that something has changed in Ruby 2.2 that is triggering a `stack level too deep (SystemStackError)` error in `polyglot/limits.rb2.2`. The command causing this does not look problematic:
```tbl.insert([{'id'=>7}, {'id'=>8}, {'id'=>9}, {'id'=>10}, {'id'=>11}, {'id'=>12}, {'id'=>13}]).get_field('inserted')```

The command to get here:
```./test/rql_test/test-runner -i rb2.2 polyglot/limits

[2015-08-25 20:17] Tryneus commented on #4762
@vexocide tracked this down to an `if` statement in `query_cache.cc`, which is mostly my code, so I'm going to take it from here.

[2015-08-25 20:23] danielcompton commented on #4755
Yeah, including the arguments might be a step too far for this issue.

[2015-08-25 20:23] VeXocide commented on #4765
It might be an option to download it from OpenSSL's FTP mirror, then check the SHA256 checksum and optionally the PGP signature.

[2015-08-25 20:25] danielmewes commented on #4763
Thanks for the extensive report @kulbirsaini !

There are a couple of different things at play here.

We generally don't allow creating tables with names that already exist. The case where you can end up with this is if you either perform multiple metadata operations at the same time, or if you have a netsplit and create a new table by the same name on both sides of the netsplit, and then rejoin t

[2015-08-25 20:28] mglukhovsky commented on #4754
@mlucy: what are the other failure modes?

[2015-08-25 20:35] danielmewes commented on #3912
@deontologician No, I meant what @marshall007 just said.

[2015-08-25 20:36] danielmewes commented on #4281
This is actually a duplicate of https://github.com/rethinkdb/rethinkdb/issues/2202 .

[2015-08-25 20:36] #4281 closed

[2015-08-25 20:37] danielmewes commented on #3912
See https://github.com/rethinkdb/rethinkdb/issues/2202 for an option to download data directly from the web UI.

[2015-08-25 20:38] danielmewes commented on #2202
It would be nice if the results of arbitrary queries could be "downloaded" easily, not just full tables or databases (related discussion: https://github.com/rethinkdb/rethinkdb/issues/4760).

[2015-08-25 20:44] JannKleen commented on #4764
yes, correct :+1: any idea how I can provide you any additional information or help?
I don't want to exclude the possibility that I'm making a stupid mistake here, but I can't really see where :smile:

[2015-08-25 20:58] danielmewes commented on #4731
I see.
One more question: Did you install a systemd script/configuration or are you using the default /etc/init.d/rethinkdb script for starting RethinkDB?

[2015-08-25 21:01] danielmewes commented on #4675
Thanks @soplakanets. A few quick questions:
Are you using changefeeds, or were you previously using them on the `score` table?
Are there any additional related lines after the "error: Backtrace" one in the log file?

You say that this was a big delete query. Do you mean that the two keys given to `getAll` were matching a large number of documents?

[2015-08-25 21:04] dalanmiller commented on #4766
D'oh, forgot `brew` doesn't automatically restart RethinkDB when updated. Had `2.1.1` installed but the instance running was `2.1.0`. This may be closed.

[2015-08-25 21:05] soplakanets commented on #4675
@dalanmiller

No, and I am quite sure I never used them at all on this database.

Unfortunately, no. After that line goes normal startup info "notice: Running rethinkdb..."

Yes, that is exactly what I meant. the `getAll()` matched ~350K documents.

[2015-08-25 21:06] danielmewes commented on #4766
Hmm that's still kind of unexpected I think.
2.1.1 and 2.1.0 should be compatible.

[2015-08-25 22:35] RubenKelevra commented on #4731
I use the .service file from ArchLinux-Repo:

https://projects.archlinux.org/svntogit/community.git/tree/trunk/rethinkdb.service?h=packages/rethinkdb

[2015-08-25 22:42] mlucy commented on #4754
Anything that can cause a shard to lose its changefeed server between sending the `changefeed_subscribe_t` and sending the `changefeed_stamp_t`.  It's possible that resharding is the only thing that can cause that, but I'm not sure.  It should always be caused by a cluster event, though.  (For example, I wouldn't be shocked if there was a specific timing scenario where a server hosting a shard cra

[2015-08-26 00:22] mlucy commented on #4741
When you write `table.limit(10)`, RethinkDB picks a batch size for the shards that tries to load as few documents as possible from each shard while giving us a very high chance of successfully loading 10 documents in one batch if the shards are roughly balanced.  I would guess that `table.skip(0).limit(10)` the `skip` is discarding this batch optimization for some reason and using its own batch co

[2015-08-26 00:53] larkost commented on #4765
A fix for this is up in the branch `larkost/4765-download-openssl`. @danielmewes will be reviewing and probably including it tonight.

[2015-08-26 03:01] danielmewes commented on #4765
Merged into `next` cf8af7c96715130271120e7d58df7e363d4c574b, `v2.1.x` efb6373e8aa062d6cc22d16563d3510de2b973d0 and `v2.0.x` 85ba8f2ac392cb960ddd7ef7d263620ff2031f09

[2015-08-26 03:01] #4765 closed

[2015-08-26 03:10] kulbirsaini commented on #4763
Thanks @danielmewes for explaining things here.

I can't agree with this immediately and I'll have to do a few more tests to check if it can be reproduced with a single instance.

I moved invisible tables to test db using the command you provided. Since they were just for testing and were of no use to me, I removed them all. Now, the dashboard is working fine. I guess now we know where we should b

[2015-08-26 03:17] danielmewes commented on #4749
Thanks for the issue report @RubenKelevra . It's odd to see a "Connection is closed" error in there. Is this reproducible?
If yes, could you email me the log files of the servers in the cluster? (daniel@rethinkdb.com)

[2015-08-26 03:19] danielmewes commented on #4750
Thanks @Kamugo! Definitely let us know in case you see anything like this again.

An issue with the virtualization stack not passing through disk flushes correctly seems plausible (some virtualization solutions definitely have these issues). However if this happens again, we will definitely need look into this more because it's a pretty serious issue.

[2015-08-26 03:23] danielmewes commented on #4763
A copy of the `log_file` might be helpful. Certain configuration changes generate log messages, which might be useful for reconstructing the series of operations that lead to the `images`/`customers` table to become unavailable.

[2015-08-26 04:20] kulbirsaini commented on #4763
Emailed log files for both instances to you.

[2015-08-26 04:49] danielmewes commented on #4271
@indiedotkim ran into this as well: https://groups.google.com/d/msg/rethinkdb/RMgJDR3u5UY/BxBcg3xbBwAJ

[2015-08-26 06:28] RubenKelevra commented on #4749
Well, it happens often here, not espessially on the 3rd or 4th "next".

Aug 26 08:22:20 fulla systemd[1]: Started RethinkDB database server for instance 'freifunk'.
Aug 26 08:22:20 fulla rethinkdb[17107]: Warning: The following options are not used by this invocation of rethinkdb and will be ignored: server-name
Aug 26 08:22:20 fulla rethinkdb[17107]: Running rethinkdb 2.1.1 (GCC 5.2.0)...
Aug 26

[2015-08-26 08:40] thelinuxlich opened #4768 "Short-circuit chained filters?"
When I write something like this:

[code]

And the first filter doesn't return anything, I expected RethinkDB would skip altogether all the logic after, but if I run the query profile I see something like this:

[code]
Am I right to assume that the second filter is still taken into consideration?

[2015-08-26 08:51] mwielbut commented on #4074
hi @jipperinbham , any timeline on Compose supporting the new SSL connection options as an alternative to the SSH tunnel?

[2015-08-26 11:37] soplakanets commented on #4675
I just had a similar issue with running `r.db('db').table('table').delete()`, effectively deleting all data from a large collection (2M+ records). This time the error is different, but still had a server crash. Here is all the info from logfile:

[code]

[2015-08-26 11:46] soplakanets opened #4769 "Crash during `delete()`: Guarantee failed: [res == archive_result_t::SUCCESS]"
After issuing following query `r.db('db').table('table').delete() RethinkDB server crashed almost instantly.

Log file records:
[code]

Single server setup. Server info:
[code]

[2015-08-26 11:46] soplakanets commented on #4675
Created a separate issue: https://github.com/rethinkdb/rethinkdb/issues/4769

[2015-08-26 11:46] soplakanets commented on #4769
It's worth mentioning that same issue happened on previous 2.1.1 release, I upgraded in hope of this being fixed in 2.1.2.

[2015-08-26 11:53] soplakanets commented on #4769
Well, it looks like this screwed up the table. Now any query on the table crashes server with same error.

[2015-08-26 12:10] IanCal commented on #1520
@danielmewes Thanks, that would appear to be it, `r.table('example').map(r.row).count().run(conn)` was similarly slow.

Setting the cache size to > the disk storage (so the interface now shows a cache usage of ~60%) brings the timings to:

0.6s for `r.table('example').map(r.row).count().run(conn)`

1.8s for `r.table('example').sample(1).run(conn)`

The query profiler only has extremely small timin

[2015-08-26 12:10] jipperinbham commented on #4074
hi @mwielbut, yes, we have some changes coming out for our RethinkDB offering within a week.

[2015-08-26 14:12] 1lann commented on #4769
I would like to mention that this same error happened to me a few days ago, I was running 2.1.1 on OS X. However, this only happened when I ran `rethinkdb dump` and the server would crash with this error:
[code]

[2015-08-26 15:44] danielmewes commented on #4769
This is very concerning for obvious reasons, and we would like to find out how this happened as quickly as possible.

@soplakanets It would be extremely helpful if we could get a copy of your data files. We are happy to sign an NDA if there's any sensitive data in there.

I recommend taking the following steps:

1. Find out the id of the affected table: `r.db(...).table(...).config()` shows you th

[2015-08-26 15:45] danielmewes commented on #4769
@1lann Thanks for adding your report. Were you storing geospatial data in one of your tables?

[2015-08-26 15:48] soplakanets commented on #4769
No need for NDA, this is an auto-generated data which doesn't make sense without context. The problem is that I had to drop the table in order to have it working again. I will try to run the data generation script in  same order to reproduce it again.

As I said above, doing `dropTable()` helped recover from the issue. Thanks for your help.

[2015-08-26 16:12] larkost commented on #4764
The most helpful thing would be to distill the failing test to the smallest reproducible case, and the include that here, or if that is not practical [email it to me](mailto://kalr@rethinkdb.com). Unless you know you are using a StringIO object (my guess is that `nose` is doing that for you), then tell us how you are using that.

I can't promise that this will be high-priority, but with a straight

[2015-08-26 16:38] 1lann commented on #4769
@danielmewes No I did not store any geospatial data whatsoever. I had a total of 3 tables, they contained ~5k, ~100k, ~2M documents each. They were very basic fields with numbers and strings. In the table with 5k documents, one of the fields contained an array with 10 elements. In the same 5k table, I used a compound secondary key consisting of 2 fields, and a few other basic secondary keys.

[2015-08-26 17:36] mlucy commented on #4768
There may be some small constant overhead for the second filter, but if you're filtering a large table and the first filter discards all the elements then the second filter should add very little to total execution time, and that amount shouldn't change as the table gets larger.

[2015-08-26 19:53] shader opened #4770 "Change default db on Data Explorer"
Maybe I just don't know how to use it properly, but when I was using the Data Explorer it assumed the database I was using (for r.table) was 'test.' This made it much more cumbersome to run queries against other dbs.

How can I change the default database for the Data Explorer queries?

[2015-08-26 20:39] deontologician commented on #4770
Hi @shader, currently you can't change the default database in the data explorer. There is another issue talking about the default database for `r.table` is "test" (#301) but I couldn't find an issue that mentions adding an option to change it in the webui.

I think this would be a relatively simple and obviously good option to have

[2015-08-26 20:42] danielmewes commented on #1526
Assigning @mlucy for the multi-key `get_all` optimization.

[2015-08-26 20:48] danielmewes commented on #4770
There was a previous issue here: https://github.com/rethinkdb/rethinkdb/issues/2948. I'm going to close this one as a duplicate.

[2015-08-26 20:48] #4770 closed

[2015-08-26 20:50] danielmewes commented on #4768
@thelinuxlich Can you actually see performance degradation by adding more filters after a filter that let's nothing through?

[2015-08-26 20:51] deontologician commented on #2948
Just an update, I don't know what the ui was like last time this was discussed, but currently there is a very convenient dataexplorer settings section this could easily be dropped into.

[2015-08-26 20:51] danielmewes commented on #4745
@AtnNn I think you have last looked into the PID file management. How is this currently working?

[2015-08-26 21:04] RubenKelevra commented on #4745
Well, actually I can't stop RethinkDB with systemd and start it again, because the pid block the start ... I know the .service file of arch is not maintained by you, but maybe you can give the maintainer of the arch-package any hint what's going wrong here...

https://projects.archlinux.org/svntogit/community.git/tree/trunk/rethinkdb.service?h=packages/rethinkdb

Best regards

Ruben

[2015-08-26 21:24] danielmewes commented on #4745
Ah that doesn't appear to actually be using our `--pid-file` option. Might be that systemd is checking the PID file before it even starts `rethinkdb`.

[2015-08-26 21:25] danielmewes commented on #4745
@anatol do you know anything about how this works with systemd? I'm not too familiar with it unfortunately.

[2015-08-26 21:28] anatol commented on #4745
@RubenKelevra please post your systemd unit file.

[2015-08-26 21:30] danielmewes commented on #4745
Hmm I think I might be wrong.
Judging from the log output it does seem to use RethinkDB's `--pid-file`.
@RubenKelevra could you post your config file from /etc/rethinkdb/instances.d/ ? Maybe that's where it's getting the `--pid-file` from.

This is also related to https://github.com/rethinkdb/rethinkdb/issues/85 btw.

[2015-08-26 21:38] anatol commented on #4745
@RubenKelevra Do you use Arch with its systemd unit file?

I believe just manually removing the pid file should fix the problem.

But it is a good idea if this file got removed automatically in case of rethinkdb process crash. See if adding `PIDFile=/var/run/rethinkdb/%i.pid` to the unit file helps with it.

[2015-08-26 21:51] frankleng commented on #4686
location table -
[code]
[code]

[2015-08-26 22:04] danielmewes commented on #1277
We had tested this for the 2.0 performance report and it appeared to scale fine (after some further optimizations).

[2015-08-26 22:04] #1277 closed

[2015-08-26 22:10] danielmewes commented on #1970
The backfill code has been rewritten. I expect that this isn't a problem anymore.

[2015-08-26 22:10] #1970 closed

[2015-08-26 23:41] marshall007 commented on #4768
I hardly notice any difference in performance by chaining arbitrarily many filters after the first one produces no results. I run into `Insufficient stack space available to compile query.` long before it would become nested enough to have a noticeable performance impact.

[code]

[2015-08-26 23:46] Tryneus commented on #4762
Fix for this is up in review 3189.

[2015-08-26 23:49] marshall007 commented on #4768
The query profile doesn't make a whole lot of sense in this case, though and that's probably the confusing part. As you increase the number of chained `filter`s it makes it appear as though all of them are taking longer to execute when in reality the total round-trip time remains the same.

[2015-08-27 00:02] danielmewes commented on #2226
Superseded by https://github.com/rethinkdb/rethinkdb/issues/4331

[2015-08-27 00:02] #2226 closed

[2015-08-27 00:04] danielmewes commented on #2102
@Tryneus do you think this is likely to still exist?

[2015-08-27 00:11] danielmewes commented on #2374
I don't think we're realistically going to retest this. It's likely the problem no longer exists because the handling of multiple requests is very different now.

[2015-08-27 00:11] #2374 closed

[2015-08-27 00:13] danielmewes commented on #2356
I'm going to close this in favor of https://github.com/rethinkdb/rethinkdb/issues/4150, which is now more active.

[2015-08-27 00:13] #2356 closed

[2015-08-27 00:33] danielmewes commented on #3246
This was probably resolved with 2.1, since we rewrote most of the backfilling logic.

[2015-08-27 00:33] #3246 closed

[2015-08-27 00:35] danielmewes commented on #3520
This was rewritten.

[2015-08-27 00:35] #3520 closed

[2015-08-27 00:37] danielmewes commented on #3457
We've done this in 2.1. I think we should just decide this on a case by case basis in the future.

[2015-08-27 00:37] #3457 closed

[2015-08-27 00:38] danielmewes commented on #3457
(Also I might be over-eager in closing this since I'm trying to clean up our issues a bit. Please let me know if anyone things this needs more discussion)

[2015-08-27 00:40] danielmewes commented on #3336
Moving a table between databases by writing to its config is now possible in 2.1.

[2015-08-27 00:40] #3336 closed

[2015-08-27 00:52] danielmewes commented on #4138
Thanks for your comment @CezarCretu. I'm not sure which version we will be able to ship this in yet, but I hope it won't be too long.
The work-around of doing the `distinct` client-side makes sense, though as you say is clearly not ideal.

[2015-08-27 01:01] danielmewes commented on #2106
This was superseded by https://github.com/rethinkdb/rethinkdb/issues/4544 and shipped with 2.1.

[2015-08-27 01:01] #2106 closed

[2015-08-27 01:02] danielmewes commented on #4223
This is partially implemented in 2.1 (see https://github.com/rethinkdb/rethinkdb/issues/4544). Keeping https://github.com/rethinkdb/rethinkdb/issues/559 for more fine-grained error types in the future.

[2015-08-27 01:02] #4223 closed

[2015-08-27 01:03] danielmewes commented on #1370
Pretty sure this has been fixed a while ago.

[2015-08-27 01:03] #1370 closed

[2015-08-27 01:04] danielmewes commented on #468
Do we know if this is still true in 2.1?

[2015-08-27 01:06] mlucy commented on #4696
@deontologician --I think in ReQL 0-arg `or` should return `false`.  It returns `NIL` in CL because that's the only false value.

[2015-08-27 01:06] danielmewes commented on #1774
The strategy described here is implemented in 2.1.
For paving over the last few seconds of unavailability when switching over shards, we need to implement something like https://github.com/rethinkdb/rethinkdb/issues/4331 . Closing this, since it's 90% done and we have a separate issue to follow up for the remaining 10%.

[2015-08-27 01:06] #1774 closed

[2015-08-27 01:08] danielmewes commented on #4307
Superseded by https://github.com/rethinkdb/rethinkdb/issues/4629 which has a discussion of specific solutions to this.

[2015-08-27 01:08] #4307 closed

[2015-08-27 01:10] danielmewes commented on #4730
Note that this is only true when new servers get involved in a table. Rebalancing a table does not cause this.

[2015-08-27 01:11] mlucy commented on #4715
I would definitely expect 0-argument `merge` to work.  I could easily imagine a query like `r.table('original_documents').get(whatever).merge(r.args(r.table('patches').get(whatever)['patches']))`.

`contains` is more borderline, but in general I expect arbitrary-arity functions to have well-defined 0-arity cases (and languages like the various lisps that have lots of arbitrary-arity predicates alm

[2015-08-27 01:14] danielmewes commented on #3711
Moving to subsequent because this will not be ready for 2.2. However we are going to put up a concrete proposal in the next days and will start working on this soon to get it into 2.3.

[2015-08-27 01:16] danielmewes commented on #4715
It seems like there's no obvious consent on this, and I think it's not as important as many of the other discussions. Moving to backlog.

[2015-08-27 01:18] danielmewes commented on #4643
Good news: We've set up an SSL certificate on the update check server (certificate pinning is still pending).
We will switch RethinkDB over to using it asap.

[2015-08-27 01:21] danielmewes commented on #4763
I wonder if the dashboard issue was due to https://github.com/rethinkdb/rethinkdb/issues/4521

[2015-08-27 01:33] danielmewes commented on #2719
This comes up quite a bit in user queries btw. I'm not sure if we'll have time to do this in 2.2, but we should try to not push this off too far.

[2015-08-27 01:42] danielmewes commented on #4659
This is as easy as mentioning it in the release notes and simply not building the packages for it.
Closing because it doesn't really warrant an open issue.

Eventually we can remove the schroot environment for lucid and remove the buildbot config for it.

[2015-08-27 01:42] #4659 closed

[2015-08-27 01:42] deontologician commented on #4715
I'm less "behind this" and more "we should be consistent". Since it seems #4696 is full steam ahead, I'll just close this one

[2015-08-27 01:42] #4715 closed

[2015-08-27 01:44] danielmewes commented on #2919
Superseded by https://github.com/rethinkdb/rethinkdb/issues/4601

[2015-08-27 01:44] #2919 closed

[2015-08-27 05:03] Tryneus commented on #4766
I did some testing and found that importing a v1.13 secondary index would cause a `fail_due_to_user_error`, which means a query could crash the server.  I've uploaded a fix in review 3190 to make this situation result in a ReqlRuntimeError.

The original problem in this issue is likely caused by the incomplete secondary index version handling in v2.1.0, wherein we would correctly handle outdated `

[2015-08-27 05:23] thelinuxlich commented on #4768
Great, I'm gonna close this

[2015-08-27 05:23] #4768 closed

[2015-08-27 09:17] RubenKelevra commented on #4745
@anatol yes I use the package from arch-repo.

[ruben@fulla ~]$ cat /etc/rethinkdb/instances.d/freifunk.conf | grep -v ^# | grep -v '^$'
pid-file=/var/run/rethinkdb/default.pid
directory=/var/lib/rethinkdb/default
bind=all
canonical-address=10.206.0.3
join=10.206.0.2:29015
join=10.206.0.5:29015
join=10.206.0.6:29015
join=10.206.0.7:29015
server-name=fulla

[2015-08-27 12:33] JannKleen commented on #4764
I get it's not a high priority issue, I might start working on a PR myself if this is indeed an issue with rethinkdb and not my fault.

https://gist.github.com/JannKleen/b7acad567ada75c88edb

These tests cause similar errors:
[code]

[2015-08-27 15:42] Kamugo commented on #4750
Thank you @danielmewes. The day after the problem, the VPS was running very slowly and had some crashes, so I suppose it was a hardware failure. When the VPS was running well again, I imported the backup and got some problems with the indexes, but a rebuild solved the problem. Now I do a backup every day in case the problem happens again.

[2015-08-27 16:36] danielmewes commented on #4663
@balasuar We have released RethinkDB 2.1.2 with a fix for this. We're also going to release a 2.0 point release (2.0.5) next week, in case you want to stay on the 2.0 branch.

[2015-08-27 16:37] danielmewes commented on #4694
@marshall007 We released 2.1.2 with a fix for this.

[2015-08-27 16:37] danielmewes commented on #4710
@vyerukon RethinkDB 2.1.2 is out and contains the fix for this.

[2015-08-27 16:38] danielmewes commented on #4723
RethinkDB 2.1.2 with the fix for this is now available. (@veigarfreyr , @cd34)

[2015-08-27 16:42] balasuar commented on #4663
Great. I'll migrate to 2.1.2!

Thanks for addressing this fix so quickly.

[2015-08-27 16:50] vyerukon commented on #4710
Thank you

Regards
Venkata Ramana
Sent from my iPhone

[2015-08-27 17:15] marshall007 commented on #4694
@danielmewes thanks!

[2015-08-27 18:26] danielmewes commented on #1520
Yeah the profiler doesn't work too well for some queries. I wouldn't rely on the timings it gives you for this to be honest.

The remaining difference between `map.count` and `sample` is likely because of our inefficient `sample` implementation that was mentioned before, which concentrates all documents on a single thread. `map.count` on the other hand performs the count on multiple threads in par

[2015-08-27 18:47] deontologician commented on #4639
:+1: It's backwards compatible and is straightforward and easy to understand and use

[2015-08-27 18:53] danielmewes commented on #4639
I like it too. :+1:

[2015-08-27 18:55] deontologician commented on #4382
+1 for removing one more place where "test" database is implicitly used

[2015-08-27 19:00] coffeemug commented on #4639
:+1:

[2015-08-27 19:00] deontologician commented on #2645
nestingDepth is in the js driver too. I'm not clear on the rationale behind the nesting limits. Is it due to a limitation on the server, or just a safeguard against auto-generated queries getting out of hand (for example, when someone doesn't realize you can't do recursion with reql functions)

[2015-08-27 19:01] coffeemug commented on #4639
Deleted my upvote, as I have a slightly more nuanced opinion. Will post in the PR.

[2015-08-27 19:05] danielmewes commented on #2645
I think it only applies to `r.expr`, so it usually wouldn't help with auto-generated queries that get too deep. But I might be wrong.
Could it have been meant as a protection against objects that have cycles?

[2015-08-27 19:05] deontologician commented on #4529
So is the proposal here to increase the query size limit or make the error better?

[2015-08-27 19:09] danielmewes commented on #4529
This is about increasing the limit (https://github.com/rethinkdb/rethinkdb/issues/4529#issuecomment-120578254)

[2015-08-27 19:12] VeXocide commented on #4382
+1

[2015-08-27 19:12] danielmewes opened #4771 "No error message when query size is over limit"
When sending a query that's larger than 64 MB, we generate an error.
It seems like this error is sometimes displayed (https://github.com/rethinkdb/rethinkdb/issues/4529#issue-94200712) , but in other cases not (https://github.com/rethinkdb/rethinkdb/issues/4529#issuecomment-130731908). Both users were using the JavaScript driver.

We should find out why @Morgul wasn't seeing the error.

[2015-08-27 19:13] danielmewes commented on #4529
I opened https://github.com/rethinkdb/rethinkdb/issues/4771 for the problem of the error message not being shown.

[2015-08-27 19:15] deontologician commented on #4308
Maybe we could try to detect backreferences and throw a nicer error. It looks like it will be just a matter of rejecting anything with `/\\\d+` in the regex string.

[2015-08-27 19:15] mlucy commented on #2645
That was the original motivation.

[2015-08-27 19:16] danielmewes commented on #4529
I think having some limit here is useful, because very large queries could have a lot of performance side effects on the server that we aren't testing for.

Now that storing binary data has become more common, I think 128 MB would be a more reasonable limit. That way you can transmit a 64 MB document + overhead in a query.

[2015-08-27 19:17] VeXocide commented on #4529
Is there a reason not to make this configurable by the user?

[2015-08-27 19:17] mlucy commented on #4639
I like it as well.

[2015-08-27 19:17] deontologician commented on #4529
Is there any principled way to decide what the limit should be? There's always going to be some way of going over it

[2015-08-27 19:18] danielmewes commented on #2645
That makes sense.

:+1: for increasing the default to 100 (and not adding a global driver option for now).

[2015-08-27 19:19] mlucy commented on #4228
So the current proposal is just to define `count` on strings?  That seems obviously good to me, so +1.

[2015-08-27 19:20] mlucy commented on #4228
I would like to propose that we also define `count` on objects and have it count the number of fields.  I think most languages that have a common function that works on arrays and strings also define that function on objects.

[2015-08-27 19:20] mlucy commented on #4227
+1, defining `slice` on strings seems good.

[2015-08-27 19:22] VeXocide commented on #4228
+1 for extending it to support both strings and objects

[2015-08-27 19:24] mlucy commented on #2269
I think we should handle this by extending `default` to handle `INF` and `NaN` errors.  The simplest thing to do would be to just say that we consider these errors non-existence errors, but that doesn't quite make sense so I would also be open to introducing a new error type `foo` and saying that default handles both non-existence errors and `foo` errors.

I'm not sure we should do this on the fir

[2015-08-27 19:24] Tryneus commented on #2102
This still exists in that if we can't resolve the hostname for a '--join' parameter, we exit.  We could change it such that we ignore any `--join` parameters that do not resolve (or even reattempt the resolution later, although that would be more complicated).

[2015-08-27 19:24] danielmewes commented on #4529
@VeXocide complexity I guess. But I'm not opposed to making it configurable in principle. Unfortunately we don't have anything in the protocol that allows configuring the current connection at the moment. We could either add a new command to our protocol for these purposes, or make it a cluster setting configurable through `r.db('rethinkdb').table('cluster_config')`. I feel like either option migh

[2015-08-27 19:25] deontologician commented on #4228
+1 for objects as well

[2015-08-27 19:27] deontologician commented on #2645
Is there not a reason to have it be like 1000 or something? The only cost I can think of is that people who have cycles take a few seconds to find out instead of a few milliseconds