[2016-03-03 01:34] thelinuxlich commented on #1401
Another inspiration, antirez is adding BITFIELD to Redis 3.2: http://antirez.com/news/103

[2016-03-03 02:44] xycjimmy opened #5479 "[Rethindb]a rethinkdb server in a cluster has been dead suddenly, but i dont know why"
This is the error information from the rethinkdb server:
Wed Mar 2 08:17:24 2016\n\n1 [0xa6ce20]: backtrace_t::backtrace_t() at 0xa6ce20 (rethinkdb)\n2 [0xa6d180]: format_backtrace(bool) at 0xa6d180 (rethinkdb)\n3 [0xaddba0]: report_fatal_error(char const*, int, char const*, ...) at 0xaddba0 (rethinkdb)\n4 [0xc007fe]: ql::changefeed::range_sub_t::apply_ops(ql::datum_t) at 0xc007fe (rethinkdb)\n5 [

[2016-03-03 02:55] danielmewes commented on #5479
Hi @xycjimmy, you're probably running into issue https://github.com/rethinkdb/rethinkdb/issues/5238 .
This issue was fixed in RethinkDB 2.2.3 and higher. I recommend upgrading to RethinkDB 2.2.4, which should resolve the problem.

Please let me know if you see the issue again after upgrading.

[2016-03-03 02:55] #5479 closed

[2016-03-03 08:18] thelinuxlich commented on #1862
Something for inspiration: http://redis.io/topics/cluster-spec#keys-hash-tags

[2016-03-03 08:18] thelinuxlich commented on #911
Something for inspiration: http://redis.io/topics/cluster-spec#keys-hash-tags

[2016-03-03 08:19] thelinuxlich commented on #364
Something for inspiration: http://redis.io/topics/cluster-spec#keys-hash-tags

[2016-03-03 10:05] no-more commented on #1862
Hi,
thanks but I don't understand how/where I can define that a key starting with america have to be in serveur tag america ?

If I have a big cluster does `r.expr("America-").add(r.uuid()))` ensure uniquity ?

Thanks.

[2016-03-03 11:09] analytik commented on #5301
Also, @quexer, can you please elaborate on the hardware? Do I understand it correctly that you're sharing one physical SSD across those 1-6 nodes?

[2016-03-03 15:47] tatsujin1 commented on #5438
Unfortunately, for some mysteriously and as-of-yet discovered reason, we haven't had any crash since sunday...
So I can't really say if this fix fixed the problem for us. :-|

[2016-03-03 15:50] nstogner commented on #3875
Any progress on compound primary keys?

[2016-03-03 19:24] danielmewes commented on #911
Thanks for sharing @thelinuxlich. We should probably find a way to do this without relying on certain "magic" string formats. But the general idea of hash tags is interesting.

[2016-03-03 19:25] danielmewes commented on #3875
@nstogner We have been very busy working on some other important features, and unfortunately haven't gotten to this yet. At the moment you still need to generate the compound primary keys manually in your application code.

[2016-03-03 19:29] danielmewes commented on #1862
@no-more Indeed, I meant if #5431 was implemented, then you could configure one (or multiple) shards explicitly to contain all the "America-*" keys. Currently this is not directly possible.

`r.uuid()` has a negligibly small chance of collision, and for practical purposes is sufficient to ensure uniquity. Furthermore RethinkDB actually checks that primary keys are unique, so in the (extremely unli

[2016-03-03 21:32] danielmewes commented on #5345
After reading up on ReactiveStreams a bit, I think I agree that it makes sense to support that (first). It seems to be becoming the quasi-standard API for asynchronous streams, and is designed to interoperate with other higher-level frameworks.

[2016-03-03 22:31] larkost commented on #4976
A fix for this us up for review with CR 3516 from branch `larkost/4976-quiet-read_ports_from_log-error`

[2016-03-03 22:59] nstogner commented on #3875
Thanks for the speedy response!

[2016-03-04 01:13] srh commented on #1396
This might also give you some headroom on file size bloat.

[2016-03-04 01:33] danielmewes commented on #1396
Moving to subsequent. I think we should reconsider this soon.

Per-document compression could be especially effective if it pushes slightly larger documents below the 250 bytes btree inlining size limit.

[2016-03-04 01:36] danielmewes commented on #1396
As far as I can tell multi-document compression is a lot more difficult to implement in our codebase (though it would also be significantly more effective).

A static dictionary that can be specified at table creation but can't be changed afterwards should also be fairly easy to do, and can help to reduce the overhead of repeating field names in each document if those names are known beforehand.

[2016-03-04 02:06] danielmewes opened #5480 "Pretty printer (for rethinkdb.jobs) inverts `map` arguments"
The pretty printer seems to not handle multi-stream `map` correctly.

If I run a query like this:

[code]

It shows up in `r.db('rethinkdb').table('jobs')` as follows:

[code]

Note that the function and the second stream arguments are swapped.

[2016-03-04 02:09] danielmewes opened #5481 "Sanity check failed on multi-stream `map` with empty input stream"
Running this query
[code]

with an empty table `empty_table` results in:
[code]

[2016-03-04 02:10] danielmewes commented on #5481
@mlucy Can you see anything obviously wrong with the code referenced in the backtrace?
This was on v2.2.5.

[2016-03-04 02:47] mlucy commented on #5472
I agree this is confusing and probably nobody is using it for its actual semantics.  We should probably forbid it.  (For what it's worth, though, these *are* the intended semantics: it's identical to `table.indexCreate('now'){|row| Time.now}`.)

[2016-03-04 02:52] danielmewes commented on #5481
@mlucy Never mind, @VeXocide and I probably found the bug.

[2016-03-04 03:16] danielmewes commented on #5481
A fix is in code review 3518, branch daniel_5481

[2016-03-04 03:28] thelinuxlich commented on #5472
#3583 and #5283 are slightly related

[2016-03-04 06:30] quexer commented on #5301
@analytik I didn't share SSD cross nodes.

[2016-03-04 10:18] artdude543 opened #5482 "Web UI - JS Error / Not Working"
Hello,

I recently changed my ReThinkDB setup to use a Proxy for the apps to connect too. We followed the docs to the point and it all seems to be working; but the web UI seems to be broken. (I'm assuming we connect to the web app via the proxy IP (as stated in the docs)) but this bug also affects the other cluster instances running on the server.

This is the error being thrown in the console.
![

[2016-03-04 10:38] ntquyen commented on #5456
I'm getting that log again. It seem to happen after a heartbeat timeout and connections were killed between every nodes

[2016-03-04 20:05] sanchopanca commented on #4656
I agree, very confusing message. Link to documentation in error message would be helpful.

[2016-03-04 20:06] danielmewes commented on #5482
Hi @artdude543, It almost looks like this error is unrelated to the proxying.

Can you still open the web UI? If yes, are you able to navigate to the Data Explorer, and run the following query?
[code]

If this works, could you post the query output here?

[2016-03-04 20:08] danielmewes commented on #5482
Oh and could you run
[code]
and
[code]

as well?

[2016-03-04 20:15] larkost commented on #5258
This is in `next` with 2bcc6f4d and `v2.2.x` with 9dffffd7.

[2016-03-04 20:15] #5258 closed

[2016-03-04 20:26] danielmewes commented on #5456
Thanks for the update @ntquyen .
I was able to get this message in a quick test after a heartbeat timeout, but it stops quickly for me once the servers are fully connected again (that behavior is pretty much expected with the current implementation).
Is it still printing the message continuously for you @ntquyen ?

To find the timestamp of the heartbeat timeout, you can grep the RethinkDB log file

[2016-03-04 20:38] danielmewes commented on #5472
The semantics are inconsistent though. This function is correctly rejected by RethinkDB as being non-deterministic:
[code]

We can't (easily) detect which client-side functions were used to generate the ReQL lambda. However by accepting the server-side function `r.now()` in a secondary index, we're leaking the implementation detail that `r.now` is transformed into something deterministic at compil

[2016-03-04 22:20] artdude543 commented on #5482
Sure can do! Will get the outputs for you now. (Sorry for the late reply was at work)

[2016-03-04 22:27] artdude543 commented on #5482
Yeah the data explorer works fine. Just the other pages don't work. I.E. The `Tables` page never loads the databases / tables listing. The Server listing takes around 5/10mins to show anything and then more time to view details about a server. But the main page shows the active graph working fine but the stats take a while to load and sometimes don't load at all.

Here are the outputs as requested

[2016-03-04 23:50] ntquyen commented on #5456
@danielmewes Yes, it still keeps printing the message continuously for over 20 hours and doesn't stop yet. This is the log in i tail in `log_file`
[code]

[2016-03-05 00:27] danielmewes commented on #5463
I'd like to propose one exception from the rules above:
The `jobs` table should only be readable by the admin user for now.

The reason is that `jobs` exposes all sorts of queries that contain secret data (e.g. password of other users if they're currently changing theirs).
A common scenario is setting up a "read only" user with global read permissions. Such a user could escalate its privileges by

[2016-03-05 04:21] mike-marcacci commented on #5427
Today on the same cluster, I removed our original (smaller) server so that the cluster now consists of 5 nodes with equivalent hardware. I then re-configured the cluster to have 5 shards, with 5 replicas. Initially, everything worked perfectly and 4 of the 5 shards successfully rebalanced. Then, with 4 replicas of shard 3 green, and the fifth one backfilling, the shard changed which server it list

[2016-03-05 06:31] mike-marcacci commented on #5427
Alright, it looks like third times the charm: everything finished backfilling and the table went green...

After about 20 minutes of stability, I decided that since I was already in the cluster I'd do the most recent update from 2.2.4 to 2.2.5. After restarting one node, one replica of shard 3 went into backfilling, and then again right when all 5 replicas of shard 3 were about to go green, it swi

[2016-03-05 11:06] analytik commented on #3471
+1

I'm aching to replace RabbitMQ with RethinkDB, since we mostly need it for persistent event and worker queues, and querying and updating documents in RethinkDB would be much easier than setting up queues/exchanges/dead letter queues in RabbitMQ. While we can achieve this with saving a watermark on every update + reading it on every app server restart, it's not as elegant and atomic.

Subsequen

[2016-03-05 20:21] deontologician commented on #3471
@analytik For replacing RabbitMQ job queues, this proposal won't be enough. You'll need something like #4133 to guarantee that two workers don't get the same job.

[2016-03-05 20:25] analytik commented on #4133
+1

[2016-03-05 21:40] n3integration commented on #5128
+1

FWIW - I agree that Jackson may be a preferable choice since it is already bundled with a lot of frameworks, as @dbolotin pointed out. For an example, the Play framework's Json serialization [implementation](https://github.com/playframework/playframework/blob/master/framework/src/play-json/src/main/java/play/libs/Json.java) is a fairly straight foreword implementation and handles most use case

[2016-03-06 07:04] fkollmann opened #5485 "Check if the connected server is a proxy"
**Description**

Currently, there is no direct way to determine, whether or not the connected server is a proxy. This is important, because when using configuration in production environments, setting the server name to localhost is a no-go. Instead, we dynamically check if there is a proxy available on localhost.

However, the downside of this is, that if the local server is not a proxy, but a se

[2016-03-06 07:05] fkollmann commented on #5485
Here is our actual implementation we use in typescript:

[code]

[2016-03-06 08:19] VeXocide commented on #5485
I come bearing both good and bad news, and 'll start with the latter.

If you currently run `conn.server()` on a connection to a proxy it crashes the proxy with the failed guarantee below. Unfortunately we assume the server we're connected to has a name, which a proxy doesn't.

The solution however should be pretty simple, and this being a bug now we should straighten this out as soon as possible.

[2016-03-06 12:28] StephanMeijer commented on #746
+1 for an expire-feature.

[2016-03-06 14:54] thomasmodeneis commented on #4133
+1

[2016-03-06 18:42] gngeorgiev opened #5486 "[Q] Tables vs nested data"
I have a question, I am planning on using rethinkdb in large scale. Currently in mongo I have a lot of collections. E.g. think of it as ~5 collections per user. In rethinkdb should I go for tables or nest the data inside one collection as this is also possible.

Think of it as if it is large scale, think about the read/write performance and also the realtime changes.

Thanks in advance

[2016-03-06 21:41] thelinuxlich commented on #5486
If the nested data could be thousands of items(or hundreds with fat objects), you should turn to extra tables until RethinkDB implements something like partial reads/writes

[2016-03-06 23:10] sinfex commented on #746
+1

[2016-03-07 03:33] QianJin2013 opened #5487 "[Question of Java Client]: Should LocalDateTime be saved with time zone information?"
I have a trivial question about Java Client Driver of RethinkDB.
I am working on [Support almost ALL types in/out. (e.x. Enum, OffsetDateTime, BigDecimal, double, Float... ) by QianJin2013 · Pull Request #5484 · rethinkdb/rethinkdb](https://github.com/rethinkdb/rethinkdb/pull/5484), it's too long, so i ask it here separately.

First, let me give some summary about Java's new Date Time type design:

[2016-03-07 15:11] ktersius commented on #3711
@mglukhovsky I'm working on a pet project of mine and I'd really be interested to see what you guys have planned with Horizon. It might affect some of my design decisions... Can I also get an invite please?

[2016-03-07 16:18] gitblit opened #5488 "RFE: Higher level date difference ReQL function"
I'm really happy to have the date subtraction capability - because I need it.  :)  But it would be great if I could specify something like:

    r.diff(r.time(2016, 1, 1, 'Z'), r.time(2015, 1, 1, 'Z'), 'd')

to get the difference in days.  Right now I have to write this:

    r.floor(r.time(2016, 1, 1, 'Z').sub(r.time(2015, 1, 1, 'Z'))).div(86400))

Arguably, that is not horrible, but having a sma

[2016-03-07 18:50] danielmewes commented on #5427
Thanks for the update @mike-marcacci . Sorry you had to deal with this.

I'm still not quite sure why it would backfill so much. A brief backfilling period is normal, but unless the write load is extremely high, it should only take a few seconds.

It's also weird that the table went into outdated reads only. Usually the table configuration logic should ensure that it only switches primaries when i

[2016-03-07 18:55] danielmewes commented on #5485
Adding the `isProxy` field to the `conn.server()` info in addition to fixing the bug sounds good to me.

I think we can put both into `v2.2.x` for the next point release.

@encryptio do you mind taking care of this?

[2016-03-07 19:08] mike-marcacci commented on #5427
Hi @danielmewes, thanks for following up on this. I just sent an email with the output of those queries. Let me know if there's anything else you could use!

[2016-03-07 19:12] danielmewes commented on #5482
Thanks for the configuration data @artdude543 .

It looks like the query that's failing is this one:
[code]

The `table_config` and `server_config` outputs you posted look fine to me, which leaves `table_status` and `server_status` as potential sources of unexpected data.

A third option is that `/ajax/me` returns something odd.

@artdude543 Could you try three more things and post the results her

[2016-03-07 19:45] #5481 closed

[2016-03-07 19:45] danielmewes commented on #5481
Fixed in `v2.2.x` ffcf022 and `next` d587a8a.

The fix will ship with RethinkDB 2.2.6.

[2016-03-07 20:06] danielmewes opened #5489 "Unify handling of proxy servers in system tables"
This is related to https://github.com/rethinkdb/rethinkdb/issues/5485 , https://github.com/rethinkdb/rethinkdb/issues/5428 and https://github.com/rethinkdb/rethinkdb/issues/3182 .

Proxy server currently don't appear in any of the system tables or administrative commands.
I've discussed this with @VeXocide a bit.

We should probably do the following things:
* Determine a consistent naming scheme f

[2016-03-07 21:27] artdude543 commented on #5482
No worries happy to help out with finding out on what's going on.

So the outputs as request.

- Table Status: [Output](https://gist.github.com/artdude543/85d06a2814e1812dcc28)
- Server Status: [Output](https://gist.github.com/artdude543/dc2cb20eea38e4ba0fae)
- /ajax/me: `"8d71875b-bace-4a3a-a176-11c26107aee0"`

I stared out the IP's from the listing (I don't think they make a difference in the ou

[2016-03-07 21:49] danielmewes opened #5490 "Bootstrapping of password-protected clusters"
___Status quo___
* We want to keep bootstrapping a cluster for development and local deployments simple. Especially in the case where user accounts / password protection is not needed.
* Our current solution is that a new server starts out with a default `admin` account that doesn't have a password. If you don't need password protection, you can just start your cluster and connect. Once you set a

[2016-03-07 21:50] danielmewes commented on #5490
Pinging @coffeemug @VeXocide @larkost @mlucy @encryptio @Tryneus .

[2016-03-07 21:55] danielmewes commented on #5490
This is already an issue with our current auth key by the way.

[2016-03-07 22:35] nighelles commented on #5115
An improvement is in review 3519.
Implemented in nighelles/5115

[2016-03-07 22:36] danielmewes commented on #5486
Closing this since there has been another answer in https://groups.google.com/forum/#!topic/rethinkdb/oMx3ZeA6MO8 .

The issue with a large number of tables is that they incur some memory overhead (about 8 MB RAM per table).

[2016-03-07 22:36] #5486 closed

[2016-03-07 22:37] danielmewes commented on #5115
:clap:
What are the latest numbers for the speedup? :-)

[2016-03-07 22:41] nighelles commented on #5115
Looks like ~10X across the board. Haven't been able to reproduce the higher numbers I saw. :(

[2016-03-07 22:44] thelinuxlich commented on #5115
:100:

[2016-03-07 23:34] mlucy commented on #5472
I don't see how the semantics are inconsistent.  They may be (and in fact probably are) sub-optimal, but they aren't inconsistent: `r.f(r.now, r.now) <=> x = Time.now; r.f(x, x)`.  `UUID`s are different because you get a different UUID every time you call it.

As an aside, maybe part of the problem is that `r.now()` is presented as a function in Python and JS?  In Ruby I right `r.now` with no pare

[2016-03-08 00:01] ha1331 commented on #5488
thumbs up for everything related to easier and more convenient date/time functions. Past few months I've written 30+ queries that do some variation of r.now() to epochTime, do some math on that and use what comes to create a proper date time for the actual query. ReQL being so nice, it's not THAT bad of a task, but feel's like there might a proper opportunity for improvements.

[2016-03-08 00:12] mglukhovsky commented on #3711
@ktersius: could you ping me on our Slack channel, or send me an email? (mike@rethinkdb.com)

[2016-03-08 00:13] danielmewes commented on #5487
I hope I understand this correctly.

I think storing the timezone offset with `LocalDateTime` is the right thing to do. The data stored in the database has to represent the same time no matter what the locale of the Java client is. That is the current offset of the current locale should be encoded explicitly in the ReQL DataTime in terms of a timezone.

Also pinging @deontologician .

[2016-03-08 00:16] danielmewes commented on #5487
Imagine you have two clients A and B and both have different locales (e.g. they are running in different countries). If client A inserts a `LocalDateTime` object into RethinkDB, and client B then retrieves it from the database, the time should be adapted to describe the same actual time in the local time zone.

The alternative I guess would be to convert `LocalDateTime` objects to UTC and to alway

[2016-03-08 00:17] QianJin2013 commented on #5487
I'd thought same, but you can see LocalDate is not saving with timestam, LocalTime either.

[2016-03-08 00:21] QianJin2013 commented on #5487
Sorry for type miss, on the contrary, LocalDate, LocalTime is not being saved with time zone, why?

[2016-03-08 01:38] danielmewes commented on #5138
@AtnNn Would this become any easier with your new init script?

[2016-03-08 01:52] lucidfrontier45 opened #5491 "Reset connection without reconnect"
Hi all.

Since Python driver is currently not thread-safe as described [here] ( https://rethinkdb.com/api/python/connect/), I'm working on a rethinkdb connection pool [library](https://github.com/lucidfrontier45/RethinkPool).

Now I want to know if I can just **reset** a connection that may be use by `run` and not all the results were fetched without re-initiating another tcp handshake.

I checked

[2016-03-08 02:41] deontologician commented on #5487
I think this was just an oversight. I agree that if the Date object contains timezone offset data we should use it. Also, the java driver focused mainly on the Time api from Java 8, I don't know if any of these types are from older date apis in Java

[2016-03-08 02:46] danielmewes commented on #5491
Hi @lucidfrontier45 , resetting the connection (i.e. closing all open cursors) is currently not possible without a complete reconnect.

It's probably possible to add this functionality to the driver (or even the server), though I'm unsure how important this is.

[2016-03-08 03:19] QianJin2013 commented on #5487
@danielmewes thans for your explain.
@deontologician These types are all Java 8 new types.

LocaDate is saved without timezone, but LocalDateTime saved WITH timezone. So one of them is wrong?

Currently it seems nobody use LocaDate yet, javaers use LocalDateTime in most case, so this is not a big problem.

If no one is interested on this trivial problem, i will close this issue.

[2016-03-08 03:31] danielmewes commented on #5487
Hmm `LocalDate` is a tricky edge case I think. The timezone doesn't have a lot of meaning if you only have a date without a time.

[2016-03-08 03:49] QianJin2013 commented on #5487
lol, no wonder they are treated differently. I think you are right, `LocalDate` can be converted to absolute time without time.
OK, i am convinced. Thank you all.

[2016-03-08 03:49] #5487 closed

[2016-03-08 04:17] lucidfrontier45 commented on #5491
according to discussion #2427, especially this [comment](https://github.com/rethinkdb/rethinkdb/issues/2427#issuecomment-140289274), reusing connection can will give roughly twice performance for simple query. Though the connection overhead is not important for complex queries, I think it is not ignorable for relatively simple query used for building REST APIs.

[2016-03-08 08:20] threepointone commented on #3711
Would you please add me too? Thank you!

[2016-03-08 10:15] cymen commented on #3711
I'd love an invite too. Thanks!

[2016-03-08 11:02] chentsulin commented on #3711
May I also get an inivite? Thanks!

[2016-03-08 11:14] webigor44 commented on #3711
And me, thanks!

[2016-03-08 12:01] tatsujin1 commented on #5477
If this is in practice only for programmatic access, how about making it return a whitespace-separated list of numbers and leave it up to the reading code to decide how many are relevant?
e.g.: `2 2 1 2`. It might use only one, or all, or anything in between.

[2016-03-08 13:27] threepointone commented on #3711
I apologize, shouldn't have asked here. Followed up on slack.

[2016-03-08 14:29] mbroadst commented on #2873
@dalanmiller @timmaxw am I seeing this correctly that we would have to wait a fixed 24 hours in order to get the other nodes to forget about a node you're attempting to remove from the cluster: https://github.com/rethinkdb/rethinkdb/blob/next/src/clustering/administration/servers/auto_reconnect.cc#L57

[2016-03-08 18:56] danielmewes commented on #5491
@lucidfrontier45 I agree that this becomes relevant if you need to do it frequently.
Can I ask why you need to reset connections at all in your connection pool though?

[2016-03-08 19:03] danielmewes commented on #2873
@mbroadst Yes that is correct.

[2016-03-08 19:13] mbroadst commented on #2873
@danielmewes is there any way to perhaps make this configurable? This basically means the answer to our solution is to either:

1. block traffic on that node to port 29015 for 24 hours
2. iterate through previous cluster members and restart them

Both of these are not exactly desirable..

[2016-03-08 19:14] encryptio commented on #3182
`/ajax/me` was removed in 22b9e92. The web UI was switched to use `conn.server()` instead (which is broken on proxy servers; see #5485.)

Since this is related to #5485 which I'm working on, I'll fix up the web UI to use the new `isProxy` value in the same branch.

[2016-03-08 19:18] danielmewes commented on #2873
We can think about a way for making them configurable. I'd like to understand better how common this use case is though.

Do you mind explaining a bit why you need to take down nodes, and then restart a new node on the same server that should not become part of the previous cluster? Is this a testing scenario or are you running multiple independent clusters in production?

[2016-03-08 19:21] mbroadst commented on #2873
@danielmewes yeah we're running multiple independent clusters in production. The primary use case at the moment is simply to remove a single node and repurpose it - even if its a shard, we aren't interested in the data being maintained.

[2016-03-08 21:18] encryptio opened #5493 "Connecting a proxy raises a "The following servers are not fully connected" issue"
Starting with no data, running these two concurrently:

[code]

Raises an issue on the web UI:

[code]

The issue occurs on `next` as of at least d587a8a (but probably was introduced earlier.)

[2016-03-08 21:21] danielmewes commented on #5493
@nighelles could you look into this please?

[2016-03-08 21:32] encryptio commented on #5485
In review as CR 3522

[2016-03-08 22:25] segphault opened #5494 "Support JSON Schema validation"
As we've discussed a few times, it'd be really nice for RethinkDB to natively support JSON Schema validation. Possibly, this feature could be exposed through a new ReQL term that could be used in conjunction with others like `r.branch` to make operations conditionally depend on validation.

## Handling Refs

One of the most complex issues to address in JSON Schema implementations is handling refer

[2016-03-09 00:30] lucidfrontier45 commented on #5491
I am afraid that leaving or reusing a connection that has unfetched result data may cause problem.

My concern is

1. leaving unfetched data can waste memoey on both server and client.
2. reusing connection a connection with unfetched data can corrupt the following result data.

I know nothing about RethinkDB internal and this concern might be misdirected.
If so I can just reuse connections withou

[2016-03-09 00:49] danielmewes commented on #5488
Thanks for the proposal @gitblit . We've had some related discussions, but I think we haven't had anything quite like this proposal.

We'll discuss it for one of the upcoming releases.

[2016-03-09 00:57] danielmewes commented on #5491
That is true, but only for as long as the cursor that requested the data is still around. If you close the cursor, or it gets garbage collected, the unfetched data is deleted too.

This is not currently a concern. The behavior of a query is not influenced by any previous query that was run on the same connection.

I think in practice you most likely don't need to worry about resetting connections.

[2016-03-09 01:07] #3182 closed

[2016-03-09 01:07] #5485 closed

[2016-03-09 01:12] VeXocide commented on #5485
It's now named `"proxy"` instead of `"isProxy"`.

[2016-03-09 01:32] encryptio commented on #5485
Committed and pushed to branch `next` for 2.3 and branch `v2.2.x` for 2.2.6.

[2016-03-09 02:15] danielmewes commented on #5494
Nice writeup @segphault . I have to look into this in a bit more detail.

I should note that we cannot actually ensure referential (cross-document) integrity. We can check those criteria on a "best effort" basis, but they will always be subject to race conditions.

[2016-03-09 02:19] danielmewes commented on #5494
I'm going to put this into `subsequent` for now.

I think there are a bunch of open questions here that make it more reasonable to implement this in Horizon for now, mostly because we are more flexible there when it comes to amending and changing how schema validation works at a later point.

Long term though I think this should definitely be a core RethinkDB feature. A JSON schema term would work

[2016-03-09 02:27] Eliakos commented on #3142
I support too the idea for rethinkdb to be a multi model db by adding graph capabilities and so, go beyond too simple relationships management such exposed here https://rethinkdb.com/docs/data-modeling/.
I were asked on slack to a bring the specific use case i exposed on slack :

Based on betting exchange gaming, players match their bets (at a given stake and odd) with others players. There a lot

[2016-03-09 02:43] danielmewes commented on #5482
Thanks for the outputs @artdude543 .

This was helpful. The string from `ajax/me` is usually the ID of a server, which should be appearing in `server_status`. However proxies do not appear in `server_status`, and that breaks the web UI.

I can actually reproduce this now. I'm not quite sure why we haven't noticed this issue before.

For what it's worth, this is working fine on `next`.

We'll try t

[2016-03-09 02:46] danielmewes commented on #5493
On a side-note, it looks like the sub-heading is cut off? It reads "Some servers are only partially connected to the". Should it say "cluster" after that?

![incomplete connectivity](https://cloud.githubusercontent.com/assets/505365/13623813/1880b36a-e55e-11e5-84f6-b152a77c4922.png)

[2016-03-09 03:02] Eliakos opened #5495 "Visual Flow-based Programming"
Hello,

It's a suggestion about allowing easier creation and maintenance of powerful backend logic.

I won't paraphrase articles about visual programming definition and added values (wikipedia [here](https://en.wikipedia.org/wiki/Visual_programming_language)) and Flow-based programming (wikipedia [here](https://en.wikipedia.org/wiki/Flow-based_programming))

but i will paraphrase niallobrien about

[2016-03-09 07:24] TofPlay opened #5496 "iOS and Android SDK?"
Do you have an SDK for iOS and Android?

[2016-03-09 07:43] hiddentao commented on #4150
I just hit this issue myself. It's 2016 now - is is on the roadmap for this year?

[2016-03-09 08:20] lucidfrontier45 commented on #5491
@danielmewes

Thank you for advice.
I did not intend to reuse a cursor but a connection.

Just for clarity, in the following code

[code]

the `cur2` is not affected by `cur1` correct?

[2016-03-09 14:09] Wargog commented on #5496
You can use the [Java API](http://rethinkdb.com/docs/install-drivers/java/) for Android, and as far as I know there are no APIs for iOS.

[2016-03-09 17:26] sinfex commented on #117
Hopefully this proves to be of some value... I find it to be a pretty elegant solution: [Sharding & IDs at Instagram](http://instagram-engineering.tumblr.com/post/10853187575/sharding-ids-at-instagram)

[2016-03-09 18:47] chovy commented on #746
any eta on ttl? its been 3 years.

[2016-03-09 19:03] sinfex opened #5497 "Physical references to records"
How about introducing a way of referring to records using their physical location? I don't believe such a way of referencing is common among DBs, but it might be pretty neat and go hand-in-hand with #4853. Excerpt from the documentation of a Graph database:

[2016-03-09 19:20] danielmewes commented on #5497
Thanks for the proposal @sinfex .

I don't think we can support this in RethinkDB. RethinkDB stores small documents (< 250 bytes) inline in the (primary key) index tree. That means that their physical location can change at any time if any rebalancing occurs on the tree. The physical location of the record would change.
(in this scenario I'm already assuming that we use something we call "logical

[2016-03-09 19:32] sinfex commented on #5497
@danielmewes this is cited from OrientDB: http://orientdb.com/docs/2.0/orientdb.wiki/Tutorial-Record-ID.html

The way they deal with it is pretty simple: the record IDs are in the form `#<cluster-id>:<cluster-position>`.

I'm not sure about the limitations; in fact, it's the only way to access records directly without defining a separate property+index. The only thing I ran into is that if you exp

[2016-03-09 19:43] danielmewes commented on #5497
I see, thanks for the link.

Unfortunately as mentioned, this concept doesn't really work with RethinkDB's storage engine.

[2016-03-09 19:43] #5497 closed

[2016-03-09 19:45] danielmewes commented on #746
@chovy No definite ETA yet, but this is definitely on our short-list of things to implement soon. I'm pretty sure we will be able to ship this this year.

[2016-03-09 20:02] danielmewes commented on #5491
I understand. Sorry for causing confusion. The reason I talked about cursors was that cursors are the main thing that affect the state of a connection. A cursor is bound to a connection, and closing all cursors that use a given connection is pretty much equivalent to "resetting" the connection.

That is correct. `cur2` will behave the same way regardless of `cur1`.

As long as `cur1` is still open

[2016-03-09 20:05] marshall007 commented on #5488
This is almost identical to my proposal in #4187.

[2016-03-09 20:08] danielmewes commented on #5488
@marshall007 Thanks for pointing to it. I missed that...

I'm going to close this as a duplicate then.

[2016-03-09 20:08] #5488 closed

[2016-03-09 20:09] nighelles commented on #5493
@danielmewes I think it's a layout issue with a subtitle that's too long. I'll look into that also.

[2016-03-09 20:34] encryptio opened #5498 "Server does not automatically detect container memory limits"
When running a Linux container, e.g. docker, you can set memory and swap limits independently for the container (actually the cgroup.) RethinkDB's automatic cache size detection logic does NOT take this into account, and simply checks its host's entire memory size.

Thus, when you run something like `docker run -m 128MB -p 28015:28015 rethinkdb` (which runs `rethinkdb 2.2.5~0jessie` at the time of

[2016-03-09 20:54] artdude543 commented on #5482
We have a panel running on one of the clusters. But the panel does not work either, only difference is the `ajax/me` request is returning the right server ID for the server I'm connected too.

[2016-03-09 20:55] artdude543 commented on #5482
But thank you for looking into this issue means a lot to see awesome people helping others and the support here is amazing ^_^

[2016-03-09 21:02] danielmewes commented on #5482
That's interesting. For the non-proxy panel, are you connecting directly to the server or is it through some sort of HTTP proxy or other indirection? Which browser is this with?

[2016-03-09 21:04] artdude543 commented on #5482
It's both broken via an NGINX proxy and connecting direct via the IP/Port.

[2016-03-09 21:16] chovy commented on #746
@danielmewes thanks for the update. Looking forward to it. I'll add my use case to the list:

each row in the table would have its own expiring field set. I have a list of messages are going to expire based on what the user has defined the expiration in their profile settings -- could be "delete all messages after 10 minutes" or an option when creating a message "delete this message after [5] minu

[2016-03-09 21:44] vyerukon commented on #5456
We have a 9 node cluster with rethinkdb 2.2.4 and seeing the same error in the logs

2016-03-02T14:05:56.553092829 690944.959671s notice: Disconnected from server "XXXXX" 5f9a754d-8b70-47a3-9fff-dea23bc4fd00
2016-03-02T14:05:56.565463416 690944.972041s notice: Disconnected from server "XXXXX" 83e9ae96-5764-4e7b-97d5-0de81f8d9da7
2016-03-02T14:05:56.565487260 690944.972065s notice: Disconnected fro

[2016-03-09 21:47] danielmewes commented on #5496
For iOS, there's a chance that you can use this Objective C driver https://github.com/dparnell/rethink-db-client , but I don't understand the iOS environment very well.

Usually an iOS or Android application would not access a RethinkDB server directly, but instead would connect to an application-specific backend that you implement, which in turn would talk to RethinkDB.

This is important because

[2016-03-09 21:47] #5496 closed

[2016-03-09 21:48] mikemintz commented on #162
@danielmewes It looks like I mixed up my commits somehow. In https://github.com/rethinkdb/rethinkdb/pull/5067 I had intended to correct the earlier problem of omitting the `return` statement, but it looks like my commit was still missing `return` before `@`. I'l submit a fixed PR.

[2016-03-09 21:48] nighelles commented on #5493
I didn't see the layout problem on my side. What browser was this in?

[2016-03-09 21:51] danielmewes commented on #5493
Firefox 44.0.2

On Wed, Mar 9, 2016 at 1:48 PM, Nighelles David <notifications@github.com>
wrote:

[2016-03-09 21:52] StephanMeijer commented on #746
Great news! Thanks.

[2016-03-09 21:56] tatsujin1 commented on #746
"And there was much rejoicing" 😁

[2016-03-09 21:57] devlounge commented on #746
So what you and most of us would like is a background ttl task which deletes or marks for deletion and deletes multiple times a day, based on a secondary index whenever its value(s) match a user defined expression which evaluates to True.

Anthony

[2016-03-09 22:01] danielmewes commented on #5456
@vyerukon Thanks for letting us know. The logic around this was changed a bit in RethinkDB 2.2.5, so upgrading might fix this for you. It's also worth noting that occasionally seeing this message after a temporary disconnect is normal (note that it's only an "info", not a warning or error).

The weird thing that this bug is about is that it keeps on happening over an extended period of time.

[2016-03-09 22:01] danielmewes commented on #5456
@ntquyen We haven't made any progress on understanding this yet btw.
Does it still print the message after more than 24 hours?

[2016-03-09 22:02] StephanMeijer commented on #746
Or something like a trigger:

when `current_time` is after `timestamp of expirement of row`: delete the row.

Or maybe something like making the specific row inaccessible after the timestamp is passed, and deleting it once in a few hours.

[2016-03-09 22:04] thelinuxlich commented on #746
Once we get reliable changefeeds, this could be implemented on a system table without much difficult

[2016-03-09 22:33] danielmewes commented on #162
Fixed by https://github.com/rethinkdb/rethinkdb/pull/5499

[2016-03-09 22:33] #162 closed

[2016-03-09 22:47] coffeemug commented on #4150
@hiddentao -- it isn't at the moment because of some higher priority projects. We're shipping something we're really excited about in April -- we'll reevaluate after that! (sorry to keep you waiting)

[2016-03-09 22:49] nighelles commented on #5493
This is in review 3524. Implemented in nighelles/5493.

[2016-03-09 23:33] VeXocide commented on #5072
Note `// TODO #5072` in `src/clustering/administration/persist/migrate/rewrite.cc`

[2016-03-10 01:11] nighelles commented on #5493
This is in next.

[2016-03-10 01:11] #5493 closed

[2016-03-10 01:15] nighelles commented on #5303
We widened the box for #5493

[2016-03-10 01:37] danielmewes commented on #5482
504 seems to be "Gateway timeout" http://www.checkupdown.com/status/E504.html .

Are you getting the same error when connecting directly (not via NGINX)? Or is that failing with a different error?

[2016-03-10 01:57] danielmewes commented on #5495
I'll have to look into this a bit more.

Right now RethinkDB doesn't implement job queue primitives directly, though it can be used to obtain a similar functionality.

Supporting something like this either natively or as an addon system could be very cool.
It's also interesting in the context of Horizon, a new software we're working on that works on top of RethinkDB and enables developing frontend

[2016-03-10 03:14] artdude543 commented on #5482
Same error when connecting via both methods.

[2016-03-10 06:01] Eliakos commented on #5495
Thanks you Daniel for having a look in this

[2016-03-10 07:45] lucidfrontier45 commented on #5491
OK, got it. Thank you.

[2016-03-10 13:07] RubenKelevra commented on #5493
Thanks! :)

[2016-03-10 13:52] thomasmodeneis commented on #746
For sure if there is reliable changefeeds this feature will be easily implemented :)

[2016-03-10 16:08] stellanhaglund commented on #5456
Hi I seem to have the same problem, the db I'm experiencing this with is placed in a docker container and running 2.2.5, I also tried with another db that is not running in docker and has version 2.2.1 and there I'm not getting the error.

[2016-03-10 16:13] stellanhaglund commented on #5456
and the node application I'm trying to run gives me this, Unhandled rejection ReqlDriverError: Could not connect to *.*.*.* so I'm not able to start my application

[2016-03-10 16:23] stellanhaglund commented on #5456
Seems I forgot to bind the port to the docker container but it still gave me that issue, so the problems gone for me now.

[2016-03-10 16:47] stellanhaglund opened #5500 "Shards when a server drops"
Hi i just tried running a cluster of 3 instances and set 3 on both sharding settings.

Then if I stop one of the instances i get and error about that which is understandable, but im not sure how this would be handled if i try to set the sharding settings back to 1 in the admin ui it just says loading and nothing happens.

So is the solution always to get that instance up and running again?

[2016-03-10 19:07] danielmewes commented on #5500
I assume by "both sharding settings" you mean the number of shards and the number of replicas?

If you had three replicas, you should be able to change the table configuration even with one server missing. It's probably a bug if that's not working.

Which RethinkDB version are you running?

Can you try to run the following command in the Data Explorer to reduce the shards manually, and post the re

[2016-03-10 20:02] stellanhaglund commented on #5500
Im running 2.2.5, i will try it when im back at the computer

torsdag 10 mars 2016 skrev Daniel Mewes <notifications@github.com>:

[2016-03-10 22:04] danielmewes commented on #746
I'm actually not sure how useful reliable / resumable changefeeds will be for this.
If you have an index on the timestamp, re-running the query periodically or when restarting is cheap.

For using changefeeds, an important missing feature is having a changefeed on `r.now`. https://github.com/rethinkdb/rethinkdb/issues/3583

[2016-03-10 22:06] danielmewes commented on #746
A note if you're reading this and want to implement TTL manually until it's available natively in RethinkDB:
  There's a description of how to do it in this thread on Google Groups: https://groups.google.com/forum/#!topic/rethinkdb/tFSiG5Ex1KE

[2016-03-10 23:45] hamiltop opened #5501 "Point changefeed for array id."
Accidentally, I stumbled on this:
[code]

[code]

If I do a changefeed:
[code]

Then it does not find the document. Changes don't go out.

[2016-03-11 00:27] hamiltop commented on #5501
Hmm... Works for me too now. Nevermind then. :smile:

[2016-03-11 00:27] #5501 closed

[2016-03-11 00:36] moserrya opened #5502 "segfault in rethinkdb 2.2.4"
appears similar to: https://github.com/rethinkdb/rethinkdb/issues/4675

[code]

There was no backtrace. The server hung until I restarted the EC2 instance. This happened while writing ~30 documents/s and building a secondary index on a timestamp on a 90M document table. This instance was deployed using the RethinkDB marketplace page. Please let me know what other details would be useful and I will

[2016-03-11 00:45] danielmewes commented on #5502
Thanks for the bug report.
It's probably also the same as https://github.com/rethinkdb/rethinkdb/issues/5348

Unfortunately we still don't know why this happens, though inserting documents was mentioned in the other thread as well as a potential trigger for this.

We'll bump the priority of this and run additional tests on our end.

I'm going to close this as a duplicate of #5348, just to keep thi

[2016-03-11 00:45] #5502 closed

[2016-03-11 00:45] danielmewes commented on #5348
A similar report from @moserrya https://github.com/rethinkdb/rethinkdb/issues/5502:

--

appears similar to: https://github.com/rethinkdb/rethinkdb/issues/4675

[code]

There was no backtrace. The server hung until I restarted the EC2 instance. This happened while writing ~30 documents/s and building a secondary index on a timestamp on a 90M document table. This instance was deployed using the Ret

[2016-03-11 00:52] mike-marcacci commented on #2692
I'd just like to point out that these semantics might be able to be reused for atomic, multi-document mutations if such a feature were [implemented like this](https://github.com/rethinkdb/rethinkdb/issues/4598#issuecomment-140972504).

[2016-03-11 00:54] danielmewes commented on #3983
Re-opening. @definitelycarter ran into this with a 2.2.5 server hosted on Azure.
It happens reliably on his server with Safari (including the version on the iPhone), but not with Firefox or Chrome.

[2016-03-11 02:17] thelinuxlich commented on #5494
Just as an inspiration, I'm using Joi(https://github.com/hapijs/joi) which provides a DSL similar to ReQL to validate schema rules and also return the final object with the types correctly coerced.

Take a look into a schema I'm using in production: https://gist.github.com/thelinuxlich/5d0b8dcb1a5a791838dc

I import this into a authorization middleware and execute ```Joi.validate(params, schema)``

[2016-03-11 03:21] icesmurf opened #5503 "ruby rethink driver does not seem to honour timeout flag"
``
#!/usr/bin/env ruby
require 'timeout'
require 'rethinkdb'
include RethinkDB::Shortcuts

host = '192.168.40.10'

begin
  Timeout::timeout(10) {
    begin
      puts "attempting to connect to #{host}"
      r.connect(:host=> host, :port=>28015, :timeout => 5).repl
    rescue Exception => e
      pp e
      puts "Connection to #{host} not established, error at RQLDriver level"
      exit
    end

[2016-03-11 04:54] mlucy commented on #5503
Thanks for the bug report @icesmurf !

I tried this locally and it successfully times out for me.  What's your environment?  (Specifically, what OS are you on, what version of the RethinkDB driver, and what Ruby version.)

[2016-03-11 04:56] mlucy commented on #5438
This fix is in v2.2.x and next.

[2016-03-11 04:56] #5438 closed

[2016-03-11 16:08] raffaeletani opened #5504 "Error in replication after node reconnect"
Hi there

I have the following Setup running:

Location A:
  Raspberry Pi with two instances of Rethinkdb 2.2.4
  very poor internet connection

Location B:
  Debian Jessie 32Bit with Rethinkdb 2.2.4

I'm testing the replication / self healing if location A somehow loses connection to location B

As soon as they are able to reconnect, Rethinkdb on Debian throws the following error message:

error:

[2016-03-11 17:27] GlurG opened #5505 "rethinkdb dump doesn't work on Windows"
rethinkdb dump fails spectacularly on Windows with the following error:

[code]

I guess this happens because it tries to create a file with a ":" in it, which seems to be illegal on windows. I'm running the following version of RethinkDB

[code]

[2016-03-11 18:26] Wargog commented on #5505
Right, there is a list of characters that aren't allowed when you create a folder in Explorer and `:` is one of them. Where did you find version alpha-6 though, you should probably try [alpha-4](https://download.rethinkdb.com/windows/rethinkdb-dev-preview-0.zip) which is the version listed on the website.

[2016-03-11 19:51] kulakowka opened #5506 "The proposal to improve administrator's data explorer"
Could you implement a list of frequently used queries?

You can save in the history each executed query. But show each query only once. Last executed query should moves to the very top. Thus, we get a list of where the most frequent requests are at the top. And at the same time it will allow us to get rid of duplicate requests in history. Each request can be assigned a name and arrange them in the

[2016-03-11 20:02] byw commented on #3711
Could you add me as well? Thanks!

[2016-03-11 20:05] danielmewes commented on #5504
Hi, thanks for the report.

A few questions about your setup:
How did you compile RethinkDB on the Pi, and which distribution are you running on it?
How did you compile it on Debian? Is the Debian box also an ARM system?

[2016-03-11 20:15] danielmewes commented on #5505
This is good to know, thanks for the feedback.

We haven't fully tested `rethinkdb dump` on Windows yet, but are trying to get it working for the 2.3 release.

The version of the server probably doesn't matter here, since the `rethinkdb dump` script actually comes from the Python driver.

[2016-03-11 20:17] danielmewes commented on #5505
@Tryneus Looks like we need to replace the `:` in the filename on Windows.

I suggest that we change this *only* on Windows (with a check in the code?), in case users on Linux or Mac are relying on the output filename in their setups.

[2016-03-11 20:23] TofPlay commented on #3711
Me too. Thanks 😊

[2016-03-11 20:28] TofPlay commented on #5496
@danielmewes Thanks for your answer

I don't know about Horizon but why not. My requirements are simple have an open solution that I can install on my server with same features as Firebase or better. SDKs for iOS and Android are an absolute requirement too.

[2016-03-11 20:37] nighelles commented on #5188
This is in review #3525.
Implemented in nighelles/5188

[2016-03-11 20:56] devlounge opened #5507 "add consecutive=True to the group command"
Hi,

This is a feature request:

example sequence:
[{"foo": 1}], {"foo":1}, {"foo":0}, {"foo": 1}]
sequence.group(index='foo', consecutive=True) => 3 groups instead of 2 currently

The expected behaviour would be the same than itertools.groupby in python

[2016-03-11 21:27] thelinuxlich commented on #5507
I think you're looking for ```r([{"foo": 1}, {"foo":1}, {"foo":0}, {"foo": 1}]).group(r.row.values())```

[2016-03-11 21:44] danielmewes commented on #5507
Hi @devlounge ,

the good news is that you will be able to easily do this yourself in RethinkDB 2.3 by using the `fold` command that we are introducing. The details of `fold` are discussed in https://github.com/rethinkdb/rethinkdb/issues/3736#issuecomment-163095798 and following , but here is how you would implement the consecutive group command:

[code]

(@chipotle: Would this be a suitable examp

[2016-03-11 21:49] danielmewes opened #5508 "`fold` emit_final function has wrong semantics"
I ran into this when trying out my example from https://github.com/rethinkdb/rethinkdb/issues/5507#issuecomment-195566372 .

It looks like the result of the `final_emit` function of `fold` is inserted into the output stream as a single element, rather than being split into multiple elements if it's an array. That is it doesn't appear to have the `concatMap` semantics.
However this only seems to be

[2016-03-11 21:58] danielmewes commented on #5507
@thelinuxlich I think that's only a part of it, since he wants a new group to be started whenever the value of "foo" changes. Your command would only have one group per "foo" value in the output, even if the input goes back and forth between multiple values of "foo".

[2016-03-11 22:17] larkost commented on #5490
I am in favor of Option 2 for a few reasons:
1. In addition to synchronizing/setting the admin password it also forms a solid basis for cluster-id
2. That cluster-id pre-share would keep clusters seperated, so (at least for password-set clusters) we would not have the current worries of accidentally merging clusters.
3. Changing the password becomes a much more deliberate process.

There are also

[2016-03-11 22:19] raffaeletani commented on #5504
I Compiled rethinkdb on the PI according to your website https://www.rethinkdb.com/docs/install/raspbian/

Debian is a virtual machine, running on proxmox VE, the server has an amd processor.
The virtual processor type was kvm64 ( by mistake ), i'll change it to kvm32 and check if it still occurs.

[2016-03-11 22:25] thelinuxlich commented on #5507
You're right, I wrote that without really testing :(

[2016-03-11 22:26] thelinuxlich commented on #5507
By the way, does ```fold``` works on streams?

[2016-03-11 22:28] danielmewes commented on #5507
Yes `fold` can be used on streams and also emits a stream which is one reason for why it's so useful. :-)
It's similar to `concatMap`, except that it keeps an accumulator across multiple input documents so you can maintain state.

[2016-03-11 22:31] danielmewes commented on #5504
Oh that's interesting. I'm actually surprised that Intel and ARM RethinkDB servers even connect to each other.
It's quite plausible that there's some kind of incompatibility there between architectures.

[2016-03-11 22:32] nighelles commented on #5508
This is in next.

[2016-03-11 22:32] #5508 closed

[2016-03-11 22:35] danielmewes commented on #5496
Sounds like Horizon will work for you. It's basically what you describe, though the SDKs for iOS and Android will follow later (the first release will target browser-based applications, but I'm pretty sure we'll add SDKs for mobile apps soon after).

[2016-03-11 22:37] danielmewes commented on #5506
Thanks for the proposal @kulakowka .

This sounds very similar to https://github.com/rethinkdb/rethinkdb/issues/3928 . Do you mind if I merge this with the other issue?

[2016-03-11 22:40] thelinuxlich commented on #5507
Awesome

[2016-03-11 22:50] kulakowka commented on #5506
@danielmewes yes, of course! Thank you for the link. I'll be watching.

[2016-03-11 23:21] danielmewes commented on #3928
A similar suggestion by @kulakowka from https://github.com/rethinkdb/rethinkdb/issues/5506 :

--
Could you implement a list of frequently used queries?

You can save in the history each executed query. But show each query only once. Last executed query should moves to the very top. Thus, we get a list of where the most frequent requests are at the top. And at the same time it will allow us to get

[2016-03-11 23:21] danielmewes commented on #5506
Closing as duplicate of https://github.com/rethinkdb/rethinkdb/issues/3928

[2016-03-11 23:21] #5506 closed

[2016-03-12 01:39] danielmewes commented on #3983
I've been able to even reproduce this with a server running locally (on newton). It doesn't happen as quickly, but if I click around in the web UI a little it eventually gets into the state.

[2016-03-12 06:20] marshall007 opened #5509 "Add optarg to `eachAsync` for managing concurrency"
Now that we have `eachAsync` for automatically awaiting async operations before continuing to read from the cursor, it would be nice if the concurrency could be controlled. This would essentially be equivalent to [`Promise.map(..., { concurrency: <int> })`](http://bluebirdjs.com/docs/api/promise.map.html#map-option-concurrency) from bluebird.

While this can be done in user-code with relative ease

[2016-03-12 06:53] raffaeletani commented on #5504
So this means as of now we only can connect servers with the same cpu architecture and no 32bit to 64bit also?
Changing the virtual processor type to kvm32 did not do the trick,....

[2016-03-12 07:38] marshall007 commented on #5509
I have this working in marshall007/rethinkdb@37c7b32.

[2016-03-12 08:45] StephanMeijer commented on #746
Thank you, Daniel.

[2016-03-12 08:50] jpillora commented on #746
In an effort to reduce spam, I think this thread should be locked and users in favour should leave a :+1: reaction on coffeemug's [issue description comment](https://github.com/rethinkdb/rethinkdb/issues/746#issue-13880815). (Sorry for the spam!)

[2016-03-12 13:25] gitblit commented on #5488
Doh! I searched before reporting but evidently I failed. Looking forward to an implementation for #4187. :+1:

[2016-03-12 16:52] devinivy commented on #1716
How does this relate to dynamodb's dealings with global secondary indices? (http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GSI.html)

[2016-03-12 18:58] nknganda commented on #4900
+1

[2016-03-12 19:39] deviantmk opened #5510 "durability in a cluster"
Hi
while using **soft durability** and full cluster replication (n/n), can data loss occur if a machine fails?

i skimmed through the docs

so will the write be immediately acknowledge on every cluster node, or it will propagate to the rest of the nodes only after its written to disk on the initial one

[2016-03-12 21:57] icesmurf commented on #5503
ruby-2.2.1, rethinkdb (2.2.0.4)

[code]

That's not wrapped in a timeout, and it's the section where AFAIK ruby is attempting to setup the socket connection, (which it can't since it's firewalled). Unless i'm missing something (quite possibly, i'm only intermediate at ruby at best), i can't see anything that'd wrap that connection in a timeout in the code at all. If you mean the code i wrote succe

[2016-03-12 22:29] icesmurf commented on #5503
Actually, looking at that trace a bit more, Timeout.timeout is a bad idea, it spawns a new thread for a start. Probably a better option is to use the tcp_timeout https://github.com/lann/tcp-timeout-ruby , either that, or write our own non-blocking socket code that we can customize the timeout.

References:

http://stackoverflow.com/questions/21014272/how-ruby-tcpsocket-timeout-is-defined
https://s

[2016-03-13 00:30] deviantmk opened #5511 "Table size after delete()"
In a cluster with 3 replicas I had a ~GB of data, i did a delete on the table and was tottaly empty.

Resources
12% cache used
75.0 MB disk used

I erased the table and created a new one with all the replicas again

Resources
1% cache used
32.0 MB disk used

Why is this extra space taken after running delete on the table?

[2016-03-13 12:24] gutenye opened #5513 "ReqlQueryLogicError: Invalid LineString. Are there antipodal or duplicate vertices?"
Given

[code]

Have one next-to duplicate point will throw this error, but GeoJSON LineString with duplicate points works in Google Maps and http://geojson.io, is it considered as a bug?

[2016-03-13 22:05] velocityzen opened #5514 "Server crashes"
I use rethinkdbdash@2.2.18 nodejs driver

Everything is running on a single machine:
1. I've got two web sockets connections from different browsers.
2. App creates two different change feeds for every connection on one table.
3. I insert message into table, both browsers got the message
4. Server crashes, in the app I've got this error:
[code]

The app doesn't crash and no other error messages.

[2016-03-13 22:18] velocityzen commented on #5514
Everything works fine with rethinkdb 2.2.0

[2016-03-14 07:05] ntquyen commented on #5456
@danielmewes Sorry for late reply, I keep getting that error. And yes, for more than 24 hours. One thing to note that on instance is running on a CoreOS node that uses bonding NIC, mode 0 (round robin) in front of two physical NICs. And every one in a few days, one physical NIC is down and up for a ~1 minute.

[2016-03-14 17:17] ntquyen commented on #5456
Another notice I've just dicovered: I have a bunch of rethinkdb proxies joined to ther cluster and in everyone of those, their `log_file` is constantly printing `info: Rejected a connection from server `[server-id]` since one is open already.` The `server-id`s are not listed in table `server_config` so I guess they are ids of the proxies. I can replicate the issue easily in different CoreOS enviro

[2016-03-14 17:49] danielmewes commented on #5514
Hi @velocityzen , thanks for the report. It looks like you're running into https://github.com/rethinkdb/rethinkdb/issues/5438 . Sorry about that.
We already have a patch, and will release RethinkDB 2.2.6 soon.

[2016-03-14 17:49] #5514 closed

[2016-03-14 17:59] AlexzAK commented on #4433
When release 2.3 with gevent support will became available?

[2016-03-14 18:05] danielmewes opened #5515 "Print proxy ID on startup"
Proxies use randomly assigned server IDs. Those can for example show up in the log messages of other servers (e.g. https://github.com/rethinkdb/rethinkdb/issues/5456#issuecomment-196419276 ).

For regular servers, we print "Server ready, "newton_ifn" cb189fa9-06d2-442d-8675-e88d67200067" on startup. However for proxies, we just print "Proxy ready."

I think we should include the server UUID there

[2016-03-14 18:16] danielmewes commented on #5456
Thanks for the additional info @ntquyen .

I'm not familiar with bonding NICs. Does that mean that the server has two different IP addresses (which should be fine)? Or is this below the IP level?

Regarding the proxies: In the test with 10 proxies, are you running all of them on the same container, or each one in a separate container?

I think we currently don't print the proxy ID anywhere. I open

[2016-03-14 18:43] brownish commented on #3711
I would love an invite as well. Sounds great!

[2016-03-14 18:59] larkost commented on #5515
@nighelles: could you please still allow for distinguishing proxies from servers in the logs? Still using "Proxy ready", but adding the id would work for me.

[This line](https://github.com/rethinkdb/rethinkdb/blob/next/test/common/driver.py#L360) will also need to be checked to make sure it works for the new format.

[2016-03-14 19:09] larkost commented on #4433
@AlexzAK: We are planning on releasing 2.3 sometime around the end of the month. That timing is chained to a major feature (user-level security), so is more of a guideline than a promise.

[2016-03-14 19:50] tcanavan opened #5516 "XA Transactions"
I would like to write to the RDBMS and the rethinkdb as part of an XA Transaction. This would eliminate the need for a queue that would sit between the RDBMS and rethink.

[2016-03-14 20:00] encryptio opened #5517 "Allow changefeeds on db.tableList"
If you want to get a changefeed on the tables' existence in a database, you currently need to do something like:

[code]

and then do some work to track table names.

It'd be much easier to instead be able to do:

[code]

but that currently fails with `Cannot call 'changes' on an eager stream`.

[2016-03-14 20:09] danielmewes commented on #5510
If you have a cluster of at least two servers, and a single server fails, you should not get any data loss even with soft durability.

The reason is that a write will only be acknowledged once it has been applied on a majority of replicas.

Soft durability changes the meaning of "has been applied" in this, but the write still has to go to a majority first before the acknowledgement. Basically the

[2016-03-14 20:09] #5510 closed

[2016-03-14 20:10] danielmewes commented on #5510
It will be send to all replicas at the same time, regardless of when it gets written to disk.

[2016-03-14 20:13] danielmewes commented on #5510
https://github.com/rethinkdb/docs/issues/1048

[2016-03-14 20:18] danielmewes commented on #5511
This is normal. Even in a completely empty table, there will still be some metadata and index structures in the file. The way RethinkDB's storage format works, that metadata can be placed at any location within the file. If it was placed let's say around the 75 MB mark while the table was full, that would stop RethinkDB from being able to shrink the file below 75 MB until that piece of metadata is

[2016-03-14 20:18] #5511 closed

[2016-03-14 20:23] danielmewes commented on #746
Locking the issue will stop us from getting useful extra information. But using the :+1: on the initial comment instead of posting separate messages would be great!

Please use the :+1: reaction on the topmost comment to express your support for this feature
------

[2016-03-14 20:28] danielmewes commented on #5504
Well we're not testing cross-platform clusters, so it's not an officially supported configuration.

However we still need to investigate this. There *shouldn't* be any incompatibilities and we should fix this. It's also possible that this has nothing to do with the different architectures, and something else is broken.

[2016-03-14 20:28] encryptio commented on #5456
In the help slack channel, @rosskukulinski had a similar issue (repeated "rejected connection ... because one is open already", bad connectivity inside the cluster) when running RethinkDB inside Kubernetes; Kubernetes has a complex networking system and ends up with each `rethinkdb` process on its own dynamically allocated IP (different from the node's IP), in addition to many other IPs.

He was a

[2016-03-14 20:36] danielmewes commented on #5516
We'll need to check to which degree XA can be applied to RethinkDB. The spec is available here http://pubs.opengroup.org/onlinepubs/009680699/toc.pdf . I haven't fully read it yet.

I find the idea very interesting though.

Do you know if local transactions are a pre-requirement for implementing XA support? (see also: https://github.com/rethinkdb/rethinkdb/issues/4598 )

[2016-03-14 20:41] danielmewes commented on #5513
This is expected. Some implementations probably ignore duplicate vertices.

We are not currently doing this, though we're planning to filter out duplicates automatically in the future, see https://github.com/rethinkdb/rethinkdb/issues/4518 .

At the moment you'll need to filter the input geometry yourself.

[2016-03-14 20:41] #5513 closed

[2016-03-14 20:47] danielmewes commented on #1716
@devinivy Yeah, from the document you linked:

Non-unique global secondary indexes are already supported by RethinkDB.

[2016-03-14 20:50] danielmewes commented on #5509
Sure :) Do you want to open a PR?

[2016-03-14 20:57] marshall007 commented on #5509
@danielmewes sure, PR up!

[2016-03-14 21:14] danielmewes commented on #5517
One option for implementing this is rewriting `tableList()` into a filter on the `table_config` table, as previously suggested in https://github.com/rethinkdb/rethinkdb/issues/3421#issuecomment-65882474 .

However I think such a rewrite would have implications for permissions, considering https://github.com/rethinkdb/rethinkdb/issues/5463 .

[2016-03-14 22:12] Tryneus opened #5519 "std::out_of_range exception in caching_machinery_t"
While running `table_fuzzer.py --servers 5 --changefeeds --kill` against `next`, I encountered the following crash:

[code]
...

[2016-03-14 22:14] Tryneus opened #5520 "Changefeed stamp assertion failed: [stamp >= rs->latest[server_uuid]]"
While running `table_fuzzer.py --servers 5 --changefeeds --kill` against `next`, I ran into the following crash:

[code]

[2016-03-14 22:25] nighelles commented on #5515
This is in next, OTS by @danielmewes

[2016-03-14 22:25] #5515 closed

[2016-03-14 23:22] larkost commented on #4976
This has been merged into ~next` with a488d4d5.

[2016-03-14 23:22] #4976 closed

[2016-03-15 01:14] sirvon opened #5521 "this should be a simple insert....What am I missing?"
[code]

[code]

[2016-03-15 01:33] Tryneus commented on #5521
It looks like it is interpreting the result of the `r.http` call as a string rather than a JSON object - looking at the HTTP response, it isn't setting the Content-Type, so `r.http` does not try to convert it to anything.  You can specify the result type of the query by using `r.http(..., result_format='json')`.

[2016-03-15 01:51] nighelles commented on #5505
This is in next. OTS by @danielmewes

[2016-03-15 01:51] #5505 closed

[2016-03-15 04:02] icesmurf opened #5522 "incorporate replica weighting for tags."
I'd like to be able to do something like :
[code]
Thereby allowing rethinkdb to prioritise the table failvoer when selecting a new primary to whatever has the hightest (or lowest i guess) weight.

[2016-03-15 04:05] icesmurf opened #5523 "DC level/tag level replication masters."
It'd be nice to be able to be able to control the replication in such a way that you can prioritise which replicas get data first, for example if you have three dc's, and you've assigned dc 1 as your primary, you may only want to replicate tables to one or two replicas in each other DC and the rest of the replicas in that DC would replicate from them, thereby reducing the overall inter DC traffic,

[2016-03-15 07:44] ntquyen commented on #5456
@danielmewes That's correct, the bonding NIC is load balancing (round robin) between 2 physical NICs which each has different IP, it just works the same as normal NIC (though I'm not sure if it's exactly the same) This is the related documentation I followed: https://coreos.com/os/docs/latest/network-config-with-networkd.html

For the proxies, I'm running it inside each kubernetes pod, along with

[2016-03-15 10:25] MarcMueltin commented on #4900
+1, really looking forward to a good RethinkDB support (ORM)

[2016-03-15 10:35] cggaurav commented on #5522
+1

[2016-03-15 10:50] gngeorgiev opened #5524 "[Q] ReQL Updating object inside an embedded array emits create and delete changes"
Hey guys,

I am hitting the following problem: Suppose that I have the following structure:

[code]

And the following query:
[code]

I am listening for changes in this specific array only, and when the item is updated both create and delete events are emitted. I really need to receive an update event, e.g. `old_val` is not null and `new_val` is not null.

Thanks in advance guys

[2016-03-15 15:37] raffaeletani commented on #5504
I just ran further tests.
I can create a cluster if the table is empty and nothing inserts any record at the time of reconfiguration.
Writing data to the table after reconfiguration works as expected. the only issue is the connection loss between the servers.

Hope this helps to narrow down the issue a bit.

[2016-03-15 18:06] danielmewes commented on #5491
I'm going to re-open this and put it in the "backlog" milestone. I think there might still be a use-case for resetting a connection (basically closing all cursors on it). I don't think it's a necessary feature for implementing a reliable connection pool, but I'd like to keep it on the list.

[2016-03-15 18:10] danielmewes commented on #5524
Let's continue this discussion on the Google group: https://groups.google.com/forum/#!topic/rethinkdb/OWuW4N01frY

If this turns out to be a server bug, we will re-open this.

[2016-03-15 18:10] #5524 closed

[2016-03-15 18:22] nh2 opened #5525 "dump/restore to/from stdout/stdin"
It would make lots of sense if `rethinkdb-dump` could write to stdout and `rethinkdb-restore` could read from stdin, so that you can do something like

`ssh otherhost rethinkdb-dump --stdout | rethinkdb-restore -`

for importing a remote database without writing intermediate files (where you would have to worry about access permissions, deleting it afterwards - this way would allow to never be sto

[2016-03-15 18:26] danielmewes commented on #5523
Hi @icesmurf ,

for supporting this, the first step is going to be allowing replicas to replicate their data from a non-primary replicas. I vaguely remember seeing a previous issue about this, but I can't find it right now.
Secondly, we will need the replicas to either be explicitly aware of DC boundaries, or to use some sort of adaptive metric (e.g. latency times) to pick the "best" replica to ba

[2016-03-15 18:44] danielmewes commented on #5525
Thanks for opening a proposal @nh2 .

I think this idea has come up before in another issue, but I can't find it (@Tryneus do you remember this?).

[2016-03-15 18:52] danielmewes commented on #5522
There are some restrictions with the current model, that would need some work to change. Specifically, we must currently select a replica as primary during failover that's at least as up-to-date as the most up-to-date replica in any quorum of replicas (in practice we simply pick the most up-to-date one). Violating this would cause already acknowledged write to be rolled back.

We could pick the mo

[2016-03-15 18:53] sirvon commented on #5521
that worked marvelously...how did you look at the http response?

[2016-03-15 18:59] #5521 closed

[2016-03-15 19:07] encryptio commented on #5525
#3838 is the previous issue

[2016-03-15 19:18] nh2 commented on #5525
OK, happy to close this then as a duplicate, if we can extend the scope of the other issue to also contain exporting to stdout.

Or do you want to keep them separate, one for importing, one for exporting?

[2016-03-15 19:20] nh2 commented on #5525
Note btw that while the importing problem can be worked around with bash substitution (quite hacky but it seems to work), this doesn't work for exporting:

[code]

and there doesn't seem to be a flag to force the write.

[2016-03-15 19:21] icesmurf commented on #5523
I see adding something like "dc-tag" on start up, similar to server tags, and maybe dc-prinary to control which set of servers are replicated to first, then fail over priority as per my other issue. The combination should allow pretty granular control of data flow, and primary selection

[2016-03-15 19:43] nh2 commented on #5525
No longer! https://github.com/rethinkdb/rethinkdb/pull/5526

[2016-03-15 19:48] Tryneus commented on #5521
@sirvon - in Firefox I opened Developer Tools -> Network, then loaded the link.  I clicked the HTTP GET, then clicked the Raw Headers button to see what they were.

There has been some discussion about exposing the entire HTTP response in ReQL - it would actually be pretty easy - but the hard part is deciding how the interface should work (see #3371).

[2016-03-15 20:19] danielmewes commented on #5525
Ah, thanks @encryptio.
Let's keep this open until your PR is merged.

[2016-03-15 20:52] larkost commented on #5413
I have an initial version of this pushed to branch `larkost/5413-javascript-connection-tests`. That winds up doing a lot more than this initially started out as it adds extensive testing for the new behavior for `eachAsync`, as well as as preliminary testing for #5478 (has not been checked with that code yet).

This does wind up turning up a trio of repeated problems that @nighelles is working on.

[2016-03-15 20:59] danielmewes commented on #5490
The problem I have with the second option is that it

a) Is more work to design and implement, so it would probably delay the 2.3 release.

b) That it comes with the annoyance of adding extra steps to bootstrapping and extending a cluster.
In option 1, all you need to do is add the `--initial-pw auto` argument to any servers that you add to your cluster after the initial ones. In option 2, you nee

[2016-03-15 21:00] sceutre commented on #5448
Imo, you should release a beta-6 driver for this bugfix.  Or at least remove beta-5.

[2016-03-15 21:06] danielmewes commented on #5448
Thanks for the reminder @sceutre .
We'll likely release a new version end of next week, since @deontologician is currently out of office.

Are you actually running into this @sceutre ?
I believe that this can only happen if the server unexpectedly drops a connection, or if there's an issue with the network connection. Am I wrong?

[2016-03-15 21:11] danielmewes commented on #5399
@nighelles has since tested `rethinkdb restore` / `rethinkdb import` on Windows and it should now be working.

[2016-03-15 21:11] #5399 closed

[2016-03-15 21:53] thelinuxlich opened #5527 "Shorter datetime representation on the database"
Right now it's something like this:

[code]

I think you should make it a bit terse, like this:
[code]
You shave 20 bytes off the original format with this improvement. Why? Because many people add datetime fields to secondary indexes and compound primary ids and it's a pain sometimes to fit the index byte limit.
Also, this could help the document squeeze into the 250 bytes limit to share the same

[2016-03-15 22:10] thelinuxlich commented on #5527
Also, reading this: "Additional blocks are allocated to store index trees for secondary indexes as well as for the primary index of each table. Roughly one block is used per 30 documents for each index; the exact number depends on the sizes of the index keys." I think it should speed up reads a bit when these fields are involved.

[2016-03-15 22:11] danielmewes commented on #5527
In indexes, a more compact representation is already used (though it could be made even smaller).

I think it's a good idea to reduce the sizes of the internal field names as you suggest, so dates use less space in a table. We should also check if we can save space for geometry data, though I think those are already fairly compact.

[2016-03-15 22:15] thelinuxlich commented on #5231
A much better Go implementation was released: https://github.com/ventu-io/go-shortid

[2016-03-15 22:31] danielmewes commented on #5319
We're going to ship something different instead, that allows to configure a "waiting period" during which a server needs to hold its connection open, but doesn't fully join the cluster yet.

[2016-03-15 23:06] nh2 commented on #5525
This would be the one for the dump-to-stdout feature: https://github.com/rethinkdb/rethinkdb/pull/5528

[2016-03-15 23:13] marshall007 commented on #5413
@larkost I don't think [`cursor.mocha#L542-L560`](https://github.com/rethinkdb/rethinkdb/blob/331da0f8b37fcabbde9b86f8cbd249250fbf823e/test/rql_test/connections/cursor.mocha#L542-L560) is a valid test. Enforcing this behavior would require you to `return Promise.resolve()` as a no-op when you want to skip over a row, for example.

[2016-03-15 23:18] nighelles commented on #5413
Returning undefined is not an error, right?

On Tue, Mar 15, 2016 at 4:13 PM, Marshall Cottrell <notifications@github.com

[2016-03-15 23:26] larkost commented on #5413
Ya, just `return;` would be valid, just not returning anything other than a `Promise`. The goal is to make sure that people get an error message rather than us silently swallowing values.

[2016-03-15 23:28] marshall007 commented on #5413
Ah, ok. As long as `return;` is still valid that seems reasonable.

[2016-03-15 23:59] danielmewes commented on #2230
I additionally had to set `MACOSX_DEPLOYMENT_TARGET=10.7` in the environment, or else those options weren't getting applied to all external libraries.

Still need to test the generated DMG on 10.7.

[2016-03-16 01:15] sceutre commented on #5448
Yes we were seeing it on our servers, it was leaking connections until the cluster ran out of open file descriptors and became unresponsive.  We never applied you change so I don't know exactly if it is the same issue, but downgrading to beta-4 fixes it for us.

Our use case for connections is to wrap them in a connection pool so we can distribute load to all servers in the cluster and handle node

[2016-03-16 01:37] nh2 opened #5530 "dump/restore to/from stdout/stdin without any intermediate files"
My PR for #5525 adds dump/restore to/from stdout/stdin which already helps to implement the `ssh otherhost rethinkdb-dump --file=- | rethinkdb-restore - --force` workflow I had in mind.

But since `dump`/`restore` are still based on the `export`/`import` commands, which are directory based, it still writes temporary files, both for `dump` and `restore`.

There are situations when you don't want th

[2016-03-16 01:37] nh2 commented on #5525
Note that my PR adds this feature, which already helps to implement the `ssh otherhost rethinkdb-dump --file=- | rethinkdb-restore - --force` workflow I had in mind.

But since `dump`/`restore` are still based on the `export`/`import` commands, which are directory based, it still writes temporary files, both for `dump` and `restore`.

There are situations when you don't want that for security reas

[2016-03-16 01:56] thelinuxlich opened #5531 "r("string").json() should work"
Currently it's only a top-level term.

[2016-03-16 07:35] mlucy commented on #5527
We shouldn't change the name to `$r_t$` without thinking about it.  We explicitly reserve the namespace `$reql_*$` for ourselves, which is important because if users have data with keys that match our magic internal names RethinkDB won't safely store and retrieve that data.

I think we should instead just serialize pseudotypes to disk in a way that ignores their actual object representation.

[2016-03-16 10:11] cggaurav commented on #5522
Our use case is that if we have replicas on internal nodes that we host and a few on external nodes we host. The master is on the internal node and if it fails, if we can specify the next replica to become elected the master to be on an external node - gives us time to fix the cluster internally. Weights help us configure that.

[2016-03-16 10:24] cachenbach commented on #4133
+1

[2016-03-16 14:58] lukaszkorecki opened #5532 "Expose server/table stats over HTTP"
It would be great to expose the server stats via HTTP, similarly to [Elasticsearch's stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-stats.html) or variety of information available in [RabbitMQ Admin plugin](https://www.rabbitmq.com/management.html).

We use collectd to gather system, service and application level stats.  With [curl_json](https://collectd.org/wiki/in

[2016-03-16 15:39] wrathagom commented on #5351
Just food for thought if you've never used elastic search or postgres' ngram functionality. Might help lay some foudation or see various use cases. I too would be interested in this.

http://www.postgresql.org/docs/9.1/static/pgtrgm.html
https://www.elastic.co/guide/en/elasticsearch/guide/current/_ngrams_for_partial_matching.html

[2016-03-16 17:30] snobear commented on #5389
@AtnNn is there a place I can access the latest Windows builds?  For now I'm using the 2.2.4 alpha 6 build you linked to above, but wasn't sure if there's been others since then.

On the public rethinkdb site, I still see the one from Feb 10 in https://download.rethinkdb.com/windows/.

[2016-03-16 18:56] danielmewes commented on #5531
:+1: from my side.

Marking as a ReQL proposal.

[2016-03-16 19:13] believer commented on #3711
I would love an invite! Really excited about this! :smile:

[2016-03-16 19:15] danielmewes commented on #5448
@sceutre

That actually sounds like it might be a different issue. I think when using `close()` to close the connection, it should have closed the socket even before this patch.

I can't find anything obviously wrong with the `close()` implementation.

@sceutre Would you be able to share your connection pool code and maybe the relevant parts of your application with us (my email address is daniel@

[2016-03-16 19:20] rnenjoy commented on #3711
Me too :)

[2016-03-16 22:11] Eliakos commented on #5495
As a beginning, something similar to Foxx for arangodb is interesting to look at

[2016-03-16 23:04] danielmewes commented on #5532
Hi @lukaszkorecki , we're actually trying to get away from having specialized HTTP APIs on the server, as it adds additional code complexity.

It should be pretty easy to write a node.js or Python script that queries `r.db('rethinkdb').table('stats')` from the RethinkDB server and exposes it through an HTTP server.
Would that work for you?

Our long-term plan is to support "plugins" as described i

[2016-03-16 23:41] danielmewes commented on #5519
Fix in review 3529

[2016-03-17 01:27] danielmewes commented on #5519
Fixed in next 33fe126

[2016-03-17 01:27] #5519 closed

[2016-03-17 03:46] marshall007 commented on #5413
@larkost all the failures with `row error passed through outer promise rather than final function` are not valid. `eachAsync` will always return a promise and `.catch(...)` is now the preferred way to handle exceptions. The (optional) finish callback is only there for callback-style people who aren't looking at the promise returned from `eachAsync` and, if specified, should be called **in addition

[2016-03-17 04:22] marshall007 commented on #5413
@larkost also in [`cursor.mocha#L929-L956`](https://github.com/rethinkdb/rethinkdb/blob/331da0f8b37fcabbde9b86f8cbd249250fbf823e/test/rql_test/connections/cursor.mocha#L929-L956). This is not intended behavior. As I mentioned, the final callback is only for the callback-style and should not be used in conjunction with promises. Expecting a promise returned from the final callback to be resolved be

[2016-03-17 09:26] lukaszkorecki commented on #5532
@danielmewes Plugin system looks really cool  that's what makes RabbitMQ or Elasticsearch shine and also keeps the core pretty small.

(I'm not a fan of depending on node/npm but that's just my personal opinion ;-)

As for monitoring - at least with collectd - you can extend it with python (or anything really, through `exec` plugin) and push down query results to the collector. Of course that's st

[2016-03-17 09:26] #5532 closed

[2016-03-17 15:02] ronzeidman commented on #5209
+1
I agree with the proposal, the first thing I tried was "append" when that didn't work I tried "union" only than I remembered that "add" worked for arrays. then I searched for it online.
I think "union" is the best fit.
in the meantime is there a better way than
`<some binary>.coerceTo('string').add(<someOtherBinary>.coerceTo('string')).coerceTo('binary')`
Are there any bad binaries that cannot

[2016-03-17 16:05] knownasilya commented on #3711
@coffeemug if you can spare an invite :+1:

[2016-03-17 16:16] mquandalle commented on #3711
I have subscribed to this thread because I’d like to follow RethinkDB+GraphQL developments, but I’m getting a bit bored to be notified everytime someone requests an invite. Could you consider another process for invite requests (like a google form, or writing your name on a etherpad document, or something else)?

[2016-03-17 16:25] knownasilya commented on #3711
Or whoever upvotes your comment?

[2016-03-17 17:02] stream7 commented on #3711
Or people could join the slack team first http://slack.rethinkdb.com/ and ask for an invite there?

[2016-03-17 17:58] larkost commented on #5413
@marshall007: I disagree with you on both of your previous posts:
1. That `eachAsync` returns a promise even when there is a `final` function (callback style) already demonstrates that we are going to support "mixed" behavior. Since we have gone down that road we need to embrace it, not ignore things because they are not pure.
2. I am strongly against sending an error both to the `final` handler a

[2016-03-17 18:41] marshall007 commented on #5413
@larkost I agree with you on points (1) and (4). My main point is that they are two separate APIs and thus using one should not have side-effects on the other. As a result, I do not think handling the error in the `final` callback and/or returning a promise from there should have any impact on the outer promise.

[2016-03-17 19:28] sceutre commented on #5448
Sure, I'll look into it.

[2016-03-17 19:59] danielmewes commented on #5520
Fix in review 3531

[2016-03-17 20:01] larkost commented on #5413
@marshall007: But they are not separate APIs. There is only one call, and we branch our behavior on how you make it (first on number of functions, then again on arguments to the first function). We have to have some sort of logical construct that its over all uses. Can you clarify how your argument does not make the `final` function's handling of errors necessarily redundant (since you would alway

[2016-03-17 20:12] danielmewes commented on #5209
@ronzeidman

Yes, strings must be valid UTF-8 strings. So some binary data isn't a valid string.

I don't think there currently is any way in ReQL to concatenate binary data.

The original idea behind the binary data type was really just to store small blobs, such as avatar images, but not to do any processing (or incremental updating) on them.

[2016-03-17 20:23] coffeemug commented on #3711
I'm thinking through another process with @mglukhovsky right now. We tried Slack and a web form, but it's getting lost in the comments. We should figure out how to handle this better in a day or two. Sorry everyone for getting spammed with invite requests!

[2016-03-17 20:35] danielmewes opened #5535 "Changefeed "Unreachable code" crash on null field"
This one looks similar to https://github.com/rethinkdb/rethinkdb/issues/5438 , but still happens on `v2.2.x`:

[code]

[code]

Assigning @mlucy

[2016-03-17 20:41] danielmewes commented on #5291
The build seems to be working without credentials now, but we probably still need that UTF-8 attribute?

[2016-03-17 20:42] danielmewes commented on #5250
I'm going to close this until we see this again. There doesn't seem to be anything we can do right now.

[2016-03-17 20:42] #5250 closed

[2016-03-17 20:43] danielmewes commented on #5353
Moving to `backlog` since we have only seen this a single time and it's not reproducible as far as I know. Please correct me if I'm wrong.

[2016-03-17 20:45] danielmewes commented on #4808
I'm closing this since it looked like this was mainly a memory consumption issue.
RethinkDB 2.2 came with a redesign of secondary index construction logic and it also reduced the general memory overhead for large data sets.

@bgardner87 please let me know if there are still any issues that we need to look into.

[2016-03-17 20:45] #4808 closed

[2016-03-17 21:01] marshall007 commented on #5413
@larkost you do not necessarily have to catch the outer promise, it can resolve without error. If we were to have implemented `eachAsync` without callback support, the only supported syntax would be:

[code]

Since we also want to support the traditional node callback style, we are essentially "nodeifying" this API. So each part of the promise-based API has an equivalent in the callback-style, but

[2016-03-17 21:16] danielmewes commented on #5456
I've finally been able to reproduce this thanks to some additional info from @ntquyen .

I can trigger the described behavior by:
1. Starting two servers, say with `-o 0 -j localhost` and `-o 1 -j localhost`
2. Starting a proxy with two `-j` parameters: `-o 2 -j localhost -j localhost:29016`
3. Shutting down the proxy and restarting it with the same parameters again

[2016-03-17 22:10] mlucy opened #5536 "We don't error when you coerce a non-Unicode binary blob to a string"
Even if it results in a string that we would have rejected if you tried to specify it literally, like "\xFF".  It looks like we'll also happily store these invalid strings in documents, and even use them as primary keys.

[2016-03-17 22:26] mlucy commented on #5535
A fix for this is in CR 3533 by @danielmewes .

[2016-03-17 23:42] nighelles commented on #5115
This is in next.

[2016-03-17 23:42] #5115 closed

[2016-03-17 23:50] nighelles commented on #5467
This was in review 3527, now in next.

[2016-03-17 23:50] #5467 closed

[2016-03-17 23:56] mlucy opened #5537 "We should allow `-`s in db names, table names etc."
It seems like the rest of the world is moving to that in place of `_`, and it's pretty annoying.

(@danielmewes, is there any way we could schedule this for 2.4?)

[2016-03-18 00:43] danielmewes commented on #5456
Working on a solution...

[2016-03-18 01:27] lucidfrontier45 opened #5538 "Suggestion: Automatic DB/Table creation"
In mongodb, database or collection will be created if not exist when referred.
I don't see any of this kind feature in RethinkDB.
How about  adding automatic db/table creation in RethinkDB?

For example

[code]

will automatically create DB `test_db` and Table `test_table`.

[2016-03-18 01:55] larkost commented on #5413
But since we do have the `final` function, people will expect that if they have that for the callback style, that it would resolve the error. But your proposal to have the error also be expressed by a Promise rejection would necessarily mean that someone not using Promises would get an error in their code, even though they already handed it in their `final` function. Therefore we need to have the

[2016-03-18 02:17] larkost commented on #3473
From my read of things as it stands now, it seem that we already have the rethinkdb-specific flags in `RT_CXXFLAGS`, and so the only debate would be whether additional flags given through `./configure CXXFLAGS=` should be included into `CXXFLAGS` or `RT_CXXFLAGS`.

Since this has come up in #2230 (build on 10.9) again, @AtnNn could you comment please? I see both pitfalls and advantages to both app

[2016-03-18 02:48] frankleng commented on #4333
We are also hacking our way around this atm.
it works reasonably well for now, but definitely does not scale.
Will need multipolygon support soon when we get more historical geo data from the county assessor's office.

[2016-03-18 04:51] aaronorosen opened #5539 "Provide way to run rethinkdb proxy node via init scripts"
Currently, one must manually edit the init file for rethinkdb if they would like to start an additional instance to run as a proxy node. It would be nice if there was an option to specify this in config file in instances.d/<instance>.conf if the node should run as a proxy instead. This would make automating the install/setup process of rethinkdb easier.

[2016-03-18 05:47] aaronorosen commented on #5538
My 2 cents is that I like that it throws an error, if the table does not exist. This adds an extra layer of protection to ensure it's not just a typo in some query for the table name rather than automatically creating it.

[2016-03-18 06:24] lucidfrontier45 commented on #5538
@aaronorosen
How about adding an option in connect ?

[code]

I think writing this kind of code every time to ensure the db and table exists is a little annoying.

[code]

[2016-03-18 06:36] aaronorosen commented on #5538
imho explicitly creating the tables directly your self is better. Also, creating a table takes sometime to occur so it's probably better to have your application create these on startup rather on first insert of data.

[2016-03-18 09:34] mikemaccana opened #5540 "Suggestion: rename dbDrop() tableDrop() etc to dbDelete() tableDelete() in next major release"
Drop is a well established database convention for deleting data. However most folk aren't DBAs, 'drop' doesn't sound sufficiently clear for a destructive action, nor is the term 'drop' consistent with the rest of technology where 'delete' or 'remove' is used.

There's also the obvious code smell:

I.e. if the documentation has to state what the function does, the name's not obviously explicit.

'

[2016-03-18 14:23] felixis-1 commented on #5537
+1.

Just to add, we have a number of applications where we store some metadata into RethinkDB and create databases and tables by naming them as the auto generated ID of these metadata records. This use case occurs too often for us. And just because of this restriction on `-` character, we need to do string manipulation all over the place. This will be a very nice modification for us.

[2016-03-18 14:51] VeXocide commented on #5538
This appears to be a duplicate of #2355, I'll close this issue in favour of that given the amount of discussion there.

[2016-03-18 14:51] #5538 closed

[2016-03-18 16:07] whyando opened #5541 "Incorrect server uptime"
I'm new to rethinkdb but this must be a bug
http://prntscr.com/agvcp3
somehow it thinks the server has been running 369 years
additionally it lists all the log entries as being within a minute although that's not true

[2016-03-18 16:17] mglukhovsky commented on #5541
@whyando: what version of RethinkDB are you running, and on what operating system?

[2016-03-18 16:25] abovemike opened #5542 "crash error when using multi secondary index"
crash log file:

2016-03-18T16:07:31.160057174 53.033707s error: Guarantee failed: [cmp != 0]
2016-03-18T16:07:31.160068783 53.033719s error: Backtrace:
2016-03-18T16:07:31.212232952 53.085885s error: Fri Mar 18 16:07:31 2016\n\n1 [0xa5ce10]: backtrace_t::backtrace_t() at 0xa5ce10 (/usr/bin/rethinkdb)\n2 [0xa5d1a3]: format_backtrace(bool) at 0xa5d1a3 (/usr/bin/rethinkdb)\n3 [0xc9f6b5]: report_fata

[2016-03-18 16:26] whyando commented on #5541
printscreen of rethinkdb.exe:
http://prntscr.com/agvmek

version 2.2.4-windows-alpha-4 (debug)
I'm on windows 10 but it thinks I'm running windows 8 server

[2016-03-18 16:30] abovemike commented on #5542
nevermind. works after i removed leftBound: 'open' from options

[2016-03-18 16:42] mglukhovsky commented on #5541
@whyando: thanks! It looks like this is a duplicate of #5388 -- we're working on a fix.

[2016-03-18 16:42] #5541 closed

[2016-03-18 16:52] danielmewes commented on #5542
Thanks for the bug report @abovemike.
Re-opening, since it's still a crash and we need to fix it.

[2016-03-18 18:38] danielmewes commented on #5537
Yeah, good idea.

[2016-03-18 18:43] danielmewes commented on #5540
Hi Mike, I agree with you that `delete` is better than `drop` in retrospect.

I don't necessarily agree that `drop` isn't clear enough for a destructive action. But it's also not as intuitive in my opinion as `tableDelete` or even better `deleteTable`.

I don't think it's worth changing. But I could be convinced otherwise. We'll see what others think about this.

Note that there's also https://git

[2016-03-18 18:45] mikemaccana commented on #3130
Per the other ticket above, this is also a good time to drop 'drop' which has a number of issues. Eg: `table.delete()`

[2016-03-18 18:47] mikemaccana commented on #5540
Thanks for the quick response @danielmewes. One of my assumptions here - and I think it's both true and very conservative - is that there will be 1000x as many people who will write software in the future than who do it now. Those people will appreciate clarity and consistency.

[2016-03-18 20:23] danielmewes commented on #5413
I had a brief look at this and these are my thoughts:

1. I agree with @marshall007 on the `row error passed through outer promise rather than final function` argument. I think errors should not only be passed to the `final` callback, but should also be rejected on the returned promise. As far as I understand there isn't any issue with an unhandled rejected promise being returned if it is never us

[2016-03-18 20:39] danielmewes commented on #5536
Moving into 2.3. 2.3 isn't that far away, and fixing this can potentially break queries.

[2016-03-18 20:46] larkost commented on #5413
The rejection is not silently ignored (thankfully for my sanity in debugging):
[code]

[2016-03-18 20:47] danielmewes commented on #5413
@larkost I was just about to comment. @nighelles also pointed me towards this fact.

That changes my conclusion on 1, and it looks like there's no way we can still reject the promise when the `final` callback is used. @marshall007 is this correct?

[2016-03-18 20:49] danielmewes commented on #5539
Agreed. This is actually a duplicate of https://github.com/rethinkdb/rethinkdb/issues/5138.

[2016-03-18 20:49] #5539 closed

[2016-03-18 20:50] larkost commented on #5413
The only exception to that would be if we have an error within the `final` handler. Then we have no other option (that the user could theoretically catch) than to put it out out the Promise chain as an error/rejection.

[2016-03-18 21:57] marshall007 commented on #5413
It looks like using [`.nodeify(cb)`](http://bluebirdjs.com/docs/api/ascallback.html) (as we typically do to support callbacks) does not modify the promise yet also prevents "uncaught" rejections from bubbling up.

[code]

I still think resolving promises from `final`doesn't make any sense. For one thing, there's no reason for promise people to use the `final` callback. It can already be accomplish

[2016-03-18 22:34] danielmewes commented on #5542
@abovemike I looked into this with @mlucy and we believe we understand where the bug came from. Unfortunately the fix will require changes to the on-disk format, and is outside the scope if a bug fix release (2.2.6). Instead we will fix it for RethinkDB 2.3, which isn't that far away either.

We also noticed that your index function probably is one nesting too deep with respect to the output. The

[2016-03-18 23:09] hackerunet commented on #5389
Hello, I'm having exactly the same problem, can you please post a newer version or post a fix for the bug?
regards

[2016-03-18 23:20] snobear commented on #5389
There's a link to a patched version a few comments up.

[2016-03-18 23:20] hackerunet commented on #5389
yeah yeah, I already notice that and it worked like a charm. Thanks a lot!

[2016-03-18 23:42] larkost commented on #5470
I think I have this nailed: we are missing the `__init__.py` file from `rethinkdb/backports` because that is not defined as a module in our `setup.py`. Newer versions of Python (e.g.: Python 2.7.10 on OS X 10.11) don't care about this file, so long as there is an `__init__.py` in `rethinkdb/backports/ssl_match_hostname`.

My testing versions of Python 2.6 did not pick up on this because `backports

[2016-03-18 23:42] #5470 closed

[2016-03-18 23:53] larkost commented on #5469
Assigning to @nighelles, since he is working on merging @marshall007's pull request with this.

[2016-03-18 23:55] larkost commented on #5474
For anyone who might be confused by this later: there is an upcoming change that will make this an error rather than just ignoring it. The error ironically aborts the `eachAsync`.

[2016-03-19 00:28] Tryneus opened #5543 "logNTC messages are going to stderr instead of stdout"
Ran into this in the Horizon tests that examine the output of the server (to determine the listening ports).  In `next`, `logNTC` should output to `stdout`, but it is going to `stderr`.

[2016-03-19 00:31] danielmewes commented on #5542
Fix in review 3535

[2016-03-19 00:31] danielmewes commented on #5222
Fix in review 3535

[2016-03-19 00:34] danielmewes opened #5544 "test_runner swallows server crashes"
On my branch `daniel_5542` which is branched off `next`, I ran the following test on a faulty server (compiled from `next` and not my branch):
[code]

This test crashed the server as expected, but you can see that `test-runner` still reports the test as "Successfully passed".

[2016-03-19 00:44] danielmewes commented on #5456
A fix is in internal code review 3536.

[2016-03-19 00:46] danielmewes commented on #4934
We're changing the reconnection logic for proxies in order to fix https://github.com/rethinkdb/rethinkdb/issues/5456 . In the future, servers (including proxies) won't try to connect to a proxy more than once. Instead the proxy itself will be responsible for reconnecting to all servers once it loses a connection.

This might resolve this issue as well, though I'm not sure since we have never been

[2016-03-19 00:53] Tryneus commented on #5543
Fix is up in review 3537.

[2016-03-19 02:43] hamiltop commented on #4934
I'm happy to try to reproduce it once the fix is in.

On Fri, Mar 18, 2016, 5:46 PM Daniel Mewes <notifications@github.com> wrote:

[2016-03-19 19:10] abovemike commented on #5542
wow thanks for the fast response. you are exactly right, i was confused on the secondary index function. for anyone that gets here through search, the proper way would be more like this:
[code]
looking forward to 2.3! keep up the great work danielmewes & mlucy

[2016-03-19 20:46] sirvon opened #5546 "What is this error saying, "failed to parse JSON response: Missing a name for object member..""
this is the structure of the json..
https://github.com/sirvon/LoQooNYC/blob/master/database/data/marketplaces/by_city/bronx_marketplaces.json
here's the query..
[code]
what am i missing?

[2016-03-19 23:03] VeXocide commented on #5546
It appears to be invalid JSON, trying to parse it using Python's `json` module cause the following exception.
[code]

There's at least one problem here:
[code]
Note the `,` after `""`, the JSON parser expects another key to follow.

[2016-03-19 23:04] VeXocide commented on #5546
I'm closing this issue as it's not a bug, but feel free to ask more questions here.

[2016-03-19 23:04] #5546 closed

[2016-03-19 23:25] sirvon commented on #5546
Rethinkdb team is super helpful! Thank you.

[2016-03-20 10:58] sjmueller commented on #4143
@danielmewes @thelinuxlich here's a scenario for using `r.args` with `between`:
[code]
There are certain complex queries can only be accomplished in rethink using orderBy+between with a compound index.  What if you don't know the min/max of your ids, and need to calculate left and right args for `between`?  Currently an exception is thrown:
[code]

[2016-03-20 16:43] bchavez opened #5547 "Java Driver: ReqlExpr AND / OR inconsistency"
An issue came up in the **C# driver** regarding `ReqlExpr` `And` and `Or` method signatures. https://github.com/bchavez/RethinkDb.Driver/issues/36

It also appears the **Java driver** exhibits the same issue, specifically:

**Java Driver:** [`ReqlExpr.java`](https://github.com/rethinkdb/rethinkdb/blob/next/drivers/java/src/main/java/com/rethinkdb/gen/ast/ReqlExpr.java#L1746)
[code]

**C# Driver:**

[2016-03-21 01:28] danielmewes commented on #5413
Thanks for the explanations @marshall007 .

This project is getting a bit out of hand.
To be honest I think in reality nobody is going to care about these edge cases of `eachAsync`, and we have enough other important things to take care of.

As a third option: How about we simply return `undefined` from `eachAsync` if the `final` callback is specified?

It would enforce the usage of *either* the p

[2016-03-21 02:14] danielmewes commented on #5432
I have an implementation of this in `daniel_5432`.

[2016-03-21 02:35] danielmewes commented on #5413
Just to clarify: this didn't go against you @marshall007 , and I really appreciate your input on this. It was a general observation based on the fact that we have spent considerable time on discussing edge cases of eachAsync like these offline in the office. In retrospect we probably should just have sticked to your initial implementation that relied on the Bluebird defaults and defined the semant

[2016-03-21 05:47] episodeyang commented on #4707
I recently implemented a diff patch API for a collaborative editor I was building.

From the application engineering's perspective, the key here with `jsondiffpatch` is that the algorithm need to be very strict w.r.t. the exactness of the base version that it patches to. Aka the patch can only be applied with the base version is exactly the same as the base version on the client.

In a collaborati

[2016-03-21 08:05] tatsujin1 commented on #5293
Ouch, I discovered that this does indeed not work as I expected (i.e. sort the results).
Does this mean that it's not possible to sort the initial result?  :-|

[2016-03-21 16:02] eden opened #5548 "order by random sometimes crashes rethinkdb"
When ordering rows by the result of `r.random()`, rethinkdb sometimes crashes. Below is a stack trace and sample script. This only repros on Linux and did not repro when I ran it locally on my Mac.

[code]

[code]

[2016-03-21 16:34] gngeorgiev commented on #5438
@danielmewes, can you send me the prebuild package to gngeorgiev.it@gmail.com, I discovered that the changefeeds break the same way in my case with rethink 2.2.5. I need at least ubuntu 14 and maybe a arch linux build. This is highly appreciated since this is huge blocker :relieved:

[2016-03-21 17:41] gngeorgiev opened #5549 "Cannot build next and v2.2.x branches"
I get the following error after running `./configure --allow-fetch` and `make`

[code]

I am on ubuntu 14.04 and have followed the instructions from the docs, installing all dependencies and such

[2016-03-21 17:43] danielmewes commented on #4143
@sjmueller We should probably support `r.args` with `between`, but you can also get the described behavior as follows without `r.args` (since the number of arguments is constant):

[code]

[2016-03-21 17:45] danielmewes commented on #5547
Thanks for checking the Java driver and opening the issue here @bchavez .

Looks like `Or` should get the same signature as `And`.
Pinging @deontologician .

[2016-03-21 17:46] danielmewes commented on #5547
Note that the 0-argument version of `r.and` and `r.or` is not available in RethinkDB 2.2.x, but is an upcoming RethinkDB 2.3 feature. So this is probably not a big issue right now.

[2016-03-21 17:48] danielmewes commented on #5293
@tatsujin1 Not for large result sets unfortunately. If your result set is small enough to fit into RAM, you can add a `limit` after the `orderBy` and your initial results will be ordered.

[2016-03-21 18:02] tatsujin1 commented on #5293
Oh I see, that's probably not a problem in my case.

 /AndréSent from my Nokia Mobira Talkman. On Mon, Mar 21, 2016 at 6:50 PM, Daniel Mewes <notifications@github.com> wrote:@tatsujin1 Not for large result sets unfortunately. If your result set is small enough to fit into RAM, you can add a limit after the orderBy and your initial results will be ordered.

—You are receiving this because you were

[2016-03-21 18:19] danielmewes commented on #5548
Thanks for the bug report @eden .

I think we didn't consider the scenario of having a non-deterministic function to sort on when implementing `orderBy`. We make use of the standard library's `std::stable_sort`, and I think that gets into trouble when the comparison isn't behaving consistently, depending on its implementation (which explains why it crashes on Linux and not on Mac).

As a work-arou

[2016-03-21 18:20] danielmewes commented on #5548
I think we should probably rewrite the in-memory `order_by` to pre-compute all sorting values. Alternatively we could disallow non-deterministic sorting functions.

[2016-03-21 19:34] danielmewes commented on #5549
Can you try running `make clean` and then try the `make` again?

If that doesn't resolve this, you can also try configuring with `--allow-fetch --fetch npm --fetch node` followed by another `make clean` and `make`.

[2016-03-21 20:20] danielmewes commented on #5328
We'll do something a bit different for #5319, so ignore this for now.

[2016-03-21 20:25] Tryneus commented on #5543
The fix has been approved and merged to `next` in commit 91421bb.

[2016-03-21 20:25] #5543 closed

[2016-03-21 21:57] #5233 closed

[2016-03-21 21:58] danielmewes commented on #5490
I talked to a few people about this offline.

We're going with option 1 and will look into cluster IDs later.

[2016-03-21 22:46] larkost commented on #5309
It is still very reliable for me, both locally and on `gantz`. I am using the following build setting (aliased to `makec` on `gantz`):

`git clean -xddf && ./configure --fetch all --ccache && make DEBUG=1 -j20`

[2016-03-21 22:56] marshall007 commented on #5413
@danielmewes I'm happy with the third option you suggested, I don't see any problems with that. Apologies for all the back-and-forth. Hopefully we can get this wrapped up now.

[2016-03-21 22:59] danielmewes commented on #5413
Cool, let's go with option 3 then (returning `undefined` from `eachAsync` if `final` is provided). :-)
Pinging @nighelles.

[2016-03-21 23:01] nighelles commented on #5413
Ok, sounds good.

[2016-03-21 23:10] larkost commented on #4962
I am in favor of wrapping generally. In this case my reasoning is that we are the ones managing the underlying tcp/ip connection, and so people are not directly exposed to the API that is generating this error. To me the ideal solution would be to inherit both from `r.ReqlError` and from the native error. That way you could catch things either way, depending on how you wanted to look at it.

[2016-03-21 23:22] larkost commented on #5544
This should be fixed in `next` with a7d4cb5f, and in `n2.2.x` with 34bda449.

[2016-03-21 23:22] #5544 closed

[2016-03-21 23:26] larkost commented on #5544
Not that this was introduced in bdf85489. That made all access to the running server go though a proxy to hide when we have external servers vs. ones we spin up ourselves. This problem was a missing call on that proxy. I audited all access and the proxy should now have all of the calls used.

[2016-03-21 23:49] larkost commented on #5349
I am a bit late in commenting, but I think that this is just normal floating point storage issues. Because we are not doing anything to make sure that we have only a single flowing point implementation, we should expect small rounding errors like this. Usually I would expect it more in things that involve math (e.g.: multiplication), but this still looks like valid behavior to me.

I will probably

[2016-03-22 00:08] danielmewes commented on #5520
Closed in next 278af66

[2016-03-22 00:08] #5520 closed

[2016-03-22 00:40] danielmewes commented on #5309
Thanks @larkost . I can reproduce it with those configure options.

[2016-03-22 01:38] danielmewes commented on #5309
I'm putting this on the backburner again because:
* It works in release mode, just not in debug mode
* I can't get a backtrace, making this hard to debug (not even from GDB)
* Simply increasing the required stack size in the places where we're currently checking it isn't enough

[2016-03-22 02:12] tve commented on #3875
I'm interested in this too and reading the docs thought it was supported. At least that's how I read https://www.rethinkdb.com/api/javascript/table_create/ where it says:

Maybe I'm misunderstanding what that means...

[2016-03-22 07:59] tatsujin1 commented on #3583
Yes, filtering using the current time would be very useful in some situations I have!

But I guess there would need to be two `r.now()`; one `r.query_start_now()` (i.e. the current one), and one `r.current_now()`, if you know what I mean?   :)

One simple case I have, or want to have, because doing it without this feature is complicated :), is this:
[code]
That is, get the document once it has bee

[2016-03-22 09:19] gngeorgiev commented on #5549
[code]

[2016-03-22 17:26] danielmewes commented on #5549
@gngeorgiev That looks like there's either an issue with `curl` or with the Internet connection.

Can you post the contents of the file `build/external/node_0.12.2_fetch.log`?

Also what happens if you run `curl http://nodejs.org/dist/v0.12.2/node-v0.12.2.tar.gz > /dev/null` manually?

[2016-03-22 18:26] danielmewes commented on #3875
@tve The difference is that the documentation talks about storing an array in the single primary key field, while this issue is about supporting a primary key that combines data from multiple fields.

If you store arrays in the primary key field, the primary index will indeed behave somewhat like a compound index when querying.

I think the wording in the documentation is a bit misleading here. I'

[2016-03-22 18:34] danielmewes commented on #3583
@tatsujin1 Good point. We indeed need to figure out a nice way for distinguishing the two variants since both can be useful as you say. Maybe with a separate term, or with the optarg (I think the former might be easier to implement).

[2016-03-22 19:24] danielmewes commented on #5456
Fixed in v2.2.x via commit 0a70be3 , and in next via 19cbfdd.

[2016-03-22 20:25] nighelles commented on #3753
This was in review #2523.

[2016-03-22 20:31] nighelles commented on #3753
This is in next.

[2016-03-22 20:31] #3753 closed

[2016-03-22 20:32] thelinuxlich commented on #3583
A third option(probably crazy), would be a lazy wrapper:

[code]

[2016-03-22 20:37] larkost commented on #5413
Sine there is therefor no way to catch any errors that come up from the `final` handler, are we going to just silently drop any (non Promise) values returned from that handler? Or are we going to just throw from an uncatchable spot?

[2016-03-22 21:09] danielmewes commented on #5413
I think it's fine to drop them (*including* promises I assume?).

@marshall007 any opinions on this one?

[2016-03-22 21:09] marshall007 commented on #5413
@larkost I think the plan is to ignore the return value of `final` entirely, Promise or not. Any exceptions thrown in `final` will automatically bubble up as uncaught exceptions, just as they would in any other callback.

[2016-03-22 21:29] danielmewes commented on #5349
Hmm the fact that just round-tripping through the JSON protocol introduces rounding errors is a bit weird though, isn't it?
We are setting `RAPIDJSON_PARSE_DEFAULT_FLAGS=kParseFullPrecisionFlag` in our `build.mk` make file. @AtnNn is that getting applied on Windows too or might we somehow not hit that definition with the Windows build system?

[2016-03-22 21:33] larkost commented on #5413
As I understand it the plan is still to accept `Promise` returns, for consistency with the `row` handler. Even if we don't, we should still warn people if we don't accept them, as otherwise people will run into bad surprises when their code in production does not work like it happened to in development because we are not actually following returned `Promise`s.

[2016-03-22 22:12] danielmewes commented on #5349
I just checked the generated `rethinkdb.vcxproj` on Windows and it doesn't contain the `RAPIDJSON_PARSE_DEFAULT_FLAGS` definition. That might be the issue.

[2016-03-22 22:30] danielmewes commented on #5413
@larkost That was a misunderstanding then. If we don't return anything from `eachAsync` when it has a `final` callback, there is nothing we could do with those promises.
People can't run into bad surprises as far as I can tell, because it makes no difference whether we resolve the promise or not. We will return `undefined` in either case.

[2016-03-22 22:41] bchavez commented on #5349
Hi @larkost ,

Are you referring to in-memory storage of floating point values?

If I recall correctly, the failing C# test is here
[**`DatumNumber.YamlTest` Line 165**](https://github.com/bchavez/RethinkDb.Driver/blob/master/Source/RethinkDb.Driver.Tests/Generated/DatumNumber.cs#L167):
[code]
I would probably feel more comfortable with rounding issues as a result of some kind of mathematical oper

[2016-03-22 22:45] danielmewes commented on #5349
@bchavez I'll send you a `rethinkdb.exe` with the `RAPIDJSON_PARSE_DEFAULT_FLAGS=kParseFullPrecisionFlag` fix shortly. Thanks for helping us test this.

[2016-03-22 22:51] danielmewes commented on #5349
@bchavez You can download the build with the potential fix here: https://www.dropbox.com/s/a4vexv4zizf9w1a/rethinkdb-windows-5349.zip?dl=1

[2016-03-22 22:55] danielmewes opened #5550 "Change server_id_t serialization"
We are now serializing the proxy flag of `server_id_t`s by flipping a bit in the UUID. This was done for backwards-compatibility in 2.2.x, to simplify migration, and because our cluster handshake currently uses `(de)serialize_universal` which must not change.

It would be cleaner to serialize the proxy flag explicitly. We would need to stop using `serialize_universal` on `server_id_t`, and we will

[2016-03-22 23:32] bchavez commented on #5349
@danielmewes Ah, yep. That seems to be it. https://ci.appveyor.com/project/bchavez/rethinkdb-driver/build/471/tests `DatumNumber` YAML tests are passing now both on AppVeyor and dev box with your precision flag set. :+1: Nice find!!! :)

[2016-03-22 23:34] danielmewes opened #5551 "Handle `ERR_error_string` failures"
It turns out `ERR_error_string` can return `nullptr`. We're using it in our code with https://github.com/rethinkdb/rethinkdb/commit/d14a456cd607f6d787e1080d58bd835f4ed96467 . We need to add a bunch of checks around it.

[2016-03-23 00:41] thelinuxlich commented on #3997
+1, my project has a concept of visitor profiles, which segments visitor data potentially joining some tables. Right now to do something when a visitor fits a profile, I need to poll for results.

[2016-03-23 09:21] gngeorgiev commented on #5549
@danielmewes Yeah, trying to manually download the files with curl was my initial action, sorry for not clarifying, for what it's worth, it works when I do it manually. Here's the log:
[code]

[2016-03-23 09:54] tatsujin1 opened #5552 "Support python's "in" operator"
compare:
`table.filter(r.row['field'].contains('ball'))`
with:
`table.filter('ball' in r.row['field'])`

It's basically syntactic sugar on the existing syntax, as it simply turns into: `r.row['field'].__contains__('ball')`.
But it looks nicer :)  and I guess it's more "pythonic".

A slight downside is that when using a lambda parenthesis are required:
`table.filter( (lambda x: x == 1) in r.row['fi

[2016-03-23 17:40] danielmewes commented on #5549
According to the `curl` man page, error code 22 means:
[code]

What happens if you run the exact command line from the build script manually:
[code]
Does that still work?

[2016-03-23 17:52] danielmewes commented on #5552
I believe this isn't possible in our case. :-( See https://github.com/rethinkdb/rethinkdb/issues/3995 for the explanation.

[2016-03-23 17:52] #5552 closed

[2016-03-23 18:23] tatsujin1 commented on #5552
Oh I see, didn't know it did that... weird. 😠

[2016-03-23 18:32] danielmewes commented on #5549
@gngeorgiev Actually you should run it like this when trying manually. @larkost noticed that it doesn't print any errors otherwise:
[code]

[2016-03-23 18:57] larkost commented on #5549
A shot-in-the-dark guess is that a proxy is involved, as they often make scripting downloads difficult. And while it is not going to resolve any issues, I have improved the output a little when downloads like this do fail in `next` with d27e636f and `v2.2.x` with f2b36957.

[2016-03-23 19:02] danielmewes opened #5553 "Using TLS-encryption for the web UI: "error: HTTP server connection TLS handshake failed: 336027804 - error:1407609C:SSL routines:SSL23_GET_CLIENT_HELLO:http request""
I'm getting this warning printed from time to time (about once every 30 seconds or so) when using the web UI via TLS in Firefox:
[code]

It seems to keep working fine regardlessly, and Firefox doesn't show any issues in its network logger either.

@VeXocide Do you understand what this error means?

We should probably also reduce the severity of this message to something like `logNTC` or `logWRN`.

[2016-03-23 19:05] danielmewes commented on #5553
*Actually* it looks like the full error message is "http request speaking HTTP to HTTPS
port!? ". I wonder why it's not getting printed completely.

In any case, it went away when I switches to a different port. I probably have a browser tab open somewhere that tries to connect via HTTP to the port...

I might add some special handling for this particular error code to make the error message nicer

[2016-03-23 19:15] danielmewes commented on #5553
Fix in review 3542

[2016-03-23 19:51] danielmewes opened #5554 "Various TLS-related crashes"
This first one happens when shutting down a server while a TLS-encrypted client connection is still open:
[code]

This second crash happened when I tried to join two servers via a TLS connection (both servers crashed immediately):
[code]

This one happened in the same situation, but looks different:
[code]

All of these are debug-mode assertions, which is probably why these things (seemingly) work

[2016-03-23 19:57] mlucy commented on #5548
We should probably disallow non-deterministic sorting functions; that seems a little clearer.

[2016-03-23 20:23] larkost opened #5555 "cpplint erros in d14a456c"
`./scripts/check_style.sh` is complaining about the following things on `v2.2.x` d14a456c:

[code]

Assigning to @nighelles, since he is about half responsible, and volunteered.

[2016-03-23 20:43] larkost commented on #5555
I thought I was on `v2.2.x`, but was accidentally on `next`.

[2016-03-23 20:59] danielmewes commented on #5554
I have fixes for the first two.
Working on one for the last one. The last one actually happens if servers with incompatible CA certificates try to join.

[2016-03-23 21:23] nighelles commented on #5555
This is fixed in next.

[2016-03-23 21:23] #5555 closed

[2016-03-23 21:36] danielmewes commented on #5554
The fixes are in code review 3543 by @VeXocide .

[2016-03-23 21:47] #5554 closed

[2016-03-24 00:04] nighelles commented on #5270
This is in review 5536.

[2016-03-24 00:20] danielmewes commented on #332
Superseded by https://github.com/rethinkdb/rethinkdb/issues/2720

[2016-03-24 00:20] #332 closed

[2016-03-24 00:22] danielmewes commented on #950
Superseded by more specific issues such as https://github.com/rethinkdb/rethinkdb/issues/4412 and https://github.com/rethinkdb/rethinkdb/issues/4271

[2016-03-24 00:22] #950 closed

[2016-03-24 00:26] danielmewes commented on #1323
I don't think we're going to change how arguments get evaluated any time soon.

[2016-03-24 00:26] #1323 closed

[2016-03-24 00:27] danielmewes commented on #1282
I think we'll disallow `r.now` in secondary index functions as per https://github.com/rethinkdb/rethinkdb/issues/5472 , and then think about a way for getting something closer to the behavior described here for TTL and changefeeds (there already is some discussion in other issues, which numbers I don't have at hand right now).

[2016-03-24 00:27] #1282 closed

[2016-03-24 00:32] danielmewes commented on #1575
We don't have any plans for adding a global configuration at the moment. Closing.

[2016-03-24 00:32] #1575 closed

[2016-03-24 00:33] danielmewes commented on #1633
Superseded by https://github.com/rethinkdb/rethinkdb/issues/2720

[2016-03-24 00:33] #1633 closed

[2016-03-24 00:35] danielmewes commented on #1693
Let's not change this. It doesn't matter.
Eventually we'll overhaul the profiler completely and then we can consider changing the field named.

[2016-03-24 00:35] #1693 closed

[2016-03-24 00:37] danielmewes commented on #1495
I don't think we're using PID files for locking the data directory anymore.

[2016-03-24 00:37] #1495 closed

[2016-03-24 00:38] danielmewes commented on #1696
A lot has been improved since this issue was observed. I suspect this might have been fixed.

[2016-03-24 00:38] #1696 closed

[2016-03-24 00:40] danielmewes commented on #1833
We're getting rid of multiple instance support in the init script with https://github.com/rethinkdb/rethinkdb/issues/3450 , so it makes no sense to fix this. Closing.

[2016-03-24 00:40] #1833 closed

[2016-03-24 00:40] #1819 closed

[2016-03-24 00:45] danielmewes commented on #1850
Our protocol is now natively asynchronous, and many drivers support a syntax similar to what @nviennot proposed here, or can easily emulate this syntax (through EventMachine in case of Ruby). Closing as outdated.

[2016-03-24 00:45] #1850 closed

[2016-03-24 00:48] danielmewes commented on #2001
This doesn't really matter in practice. Closing.

[2016-03-24 00:48] #2001 closed

[2016-03-24 00:48] danielmewes commented on #2041
Very similar to https://github.com/rethinkdb/rethinkdb/issues/4853

[2016-03-24 00:48] #2041 closed

[2016-03-24 00:49] danielmewes commented on #4853
Also mentioning https://github.com/rethinkdb/rethinkdb/issues/4853 here, which has some older discussion on a similar proposal.

[2016-03-24 00:49] danielmewes commented on #1956
We no longer rely on protobuf.

[2016-03-24 00:49] #1956 closed

[2016-03-24 00:51] danielmewes commented on #2109
Sounds hard to fix. Closing.

[2016-03-24 00:51] #2109 closed

[2016-03-24 00:56] danielmewes commented on #1423
I think this is outside the scope of `default` as it is now.

We should discuss a general term for catching arbitrary errors at some point (something similar was discussed in https://github.com/rethinkdb/rethinkdb/issues/2269 ).

[2016-03-24 00:56] #1423 closed

[2016-03-24 01:00] danielmewes commented on #2116
Moving to backlog since we don't have evidence that this affects us in practice.

[2016-03-24 01:02] danielmewes commented on #2129
We're including more of the metadata overhead now (I think since RethinkDB 2.2.0). I think it's probably good enough. We can reopen if this becomes a problem again. Closing.

[2016-03-24 01:02] #2129 closed

[2016-03-24 01:07] danielmewes commented on #2120
Moving in favor of https://github.com/rethinkdb/rethinkdb/issues/3144

[2016-03-24 01:07] #2120 closed

[2016-03-24 01:08] danielmewes commented on #2150
This is really old and we don't have a lot of information. Is likely fixed by now.

[2016-03-24 01:08] #2150 closed

[2016-03-24 01:09] danielmewes commented on #2146
More fine-grained `--bind` options are going to ship in 2.3. https://github.com/rethinkdb/rethinkdb/issues/5467

[2016-03-24 01:09] #2146 closed

[2016-03-24 01:10] danielmewes commented on #1825
These numbers are fairly old. We should still *generally* improve insert performance, but this issue doesn't help much with that.

[2016-03-24 01:10] #1825 closed

[2016-03-24 01:13] danielmewes commented on #932
Outdated.

[2016-03-24 01:13] #932 closed

[2016-03-24 01:38] nighelles commented on #5536
I have a fix in nighelles/5536

[2016-03-24 01:45] mlucy commented on #5535
The fix is in next and 2.2.x.

[2016-03-24 01:45] #5535 closed

[2016-03-24 02:00] nighelles commented on #5536
This is in next.

[2016-03-24 02:00] #5536 closed

[2016-03-24 02:00] danielmewes opened #5556 "Write 2.2.6 release notes"

[2016-03-24 10:15] QianJin2013 opened #5558 "Can i use index reliably immediately after a lot of bulk inserts?"
I have encountered a rare case problem:
I insert about 100,000 records to a table `bookings`, using bulk insert method (passing row array),
immediately after insertion done,  i call verify function to check data integrity, it failed, but if i ran the check function again, it succeeded.

This is the asserted reql:
[code]

All indexes are correctly created and indexWait called when create index.

[c

[2016-03-24 12:34] tatsujin1 commented on #5558
One point; are the inserts made using `noreply` ? If so, then no (depending on definition of "reliably").

As the data is being inserted in the background you can't retrieve it immediately. To make sure the data is written, call without `noreply` option (the `insert()` returns after completion), or use `noreplyWait()` after the inserts have been performed (waits until writes using `noreply` has be

[2016-03-24 14:36] QianJin2013 commented on #5558
Thanks. I have not used noReply mode, i just use normal insert method.

The select use an new connection than insert.

They are just executed by junit one by one, i have confirmed insert is
first get executed.

I will try it again by using same connection.

Anyway, this is not easy to happen.

I have uploaded test source to
https://github.com/sjitech/rethinkdb_test_java

The error happened at
http

[2016-03-24 15:15] tatsujin1 commented on #5558
If it is asynchronous then I guess my point still applies; the write it's still in progress when you're trying to read it back.
I don't know anything about the java driver though, perhaps there is some way to wait for the write to compete.

[2016-03-24 15:36] ankit92agrawal opened #5559 "How to get data explorer work on a server"
I am testing Rethinkdb on a cluster of 3 machines.I have no idea how to make use of something like data explorer in server machine.I tried to tunnel from my localhost to my machine on port 8080 in hope that I can query from my machine.Does rethinkdb has any shell for querying data or any other workaround.i cant get into code everytime I have to execute a query
Thanks

[2016-03-24 15:36] QianJin2013 commented on #5558
The writes did completed because  assertion of row count succeeded
in
https://github.com/sjitech/rethinkdb_test_java/blob/master/src/test/java/PerformanceTests.java#L240
[code]

2016-03-25 0:16 GMT+09:00 Tatsujin <notifications@github.com>:

[2016-03-24 15:45] QianJin2013 opened #5560 "is there a reql converter for js <-> java <-> python ?"
Normally i input reql in WebAdmin UI, check the result, then convert it to java.
So is there any conversion tool to do this?

[2016-03-24 15:57] tatsujin1 commented on #5558
Ah, interesting. That does sound inconsistent.

[2016-03-24 16:00] deontologician commented on #5560
We don't have a js to X converter.

But you may be able to write one using a js parser like [esprima](http://esprima.org/). I wrote a [python to js/java/ruby converter](https://github.com/deontologician/multireql) that might give you a start on how to build one.

There's also issue #4171 for allowing different languages in the dataexplorer

[2016-03-24 16:07] QianJin2013 commented on #5560
thank you! The python multi converter is Great.

[2016-03-24 16:07] #5560 closed

[2016-03-24 17:32] QianJin2013 commented on #5558
I can not reproduce the problem yet.

I have added special test case https://github.com/sjitech/rethinkdb_test_java/blob/master/src/test/java/PerformanceTests2.java#L91

Then repeatedly tested the case.

So i think it's not rethinkdb's problem,  maybe my mistake, or maybe it's because junit execution order changes sometime, so the sub query table `drives`  are old data.

Let me close this question

[2016-03-24 17:32] #5558 closed

[2016-03-24 17:48] danielmewes commented on #5558
@QianJin2013 If you want to post the `bulkInsert` I can take a look and see if I can spot anything wrong. Though it looks like it's working now?

In general indexes are consistent as soon as the write operation returns. Though you will get inconsistent results if you run the `count` while the write is still happening, or when using `noreply` writes as @tatsujin1 mentioned.

[2016-03-24 17:50] danielmewes commented on #5558
@QianJin2013 Never mind regarding `bulkInsert`. I just found it here https://github.com/sjitech/rethinkdb_test_java/blob/master/src/test/java/util/Database.java#L84 . The current version of it definitely looks fine.

[2016-03-24 17:50] larkost commented on #5234
Sorry, there was a checkin to `next` under this bug, but that was not supposed to close out the issue, only be a step in that direction.

[2016-03-24 17:57] danielmewes commented on #5559
@ankit92agrawal Using a tunnel to port 8080 is usually the easiest option and should work. You can also check out http://www.rethinkdb.com/docs/security/ , which describes how to set up a reverse proxy for this.

There are multiple options for querying from the terminal. You can use `python` with the RethinkDB Python driver, or if you prefer JavaScript syntax, you can use one of the third-party CL

[2016-03-24 17:57] #5559 closed

[2016-03-24 18:03] QianJin2013 commented on #5558
thank you, it's working.
It just happened once, and another guy have strange "select after insert" problem (reason not clear), so i turned serious to this.

Sorry bother you.

I am looking at source of <a href="https://github.com/rethinkdb/rethinkdb/blob/next/src/rdb_protocol/real_table.cc#L87">real_table_t::read_all_with_sindexes</a>
to see what will happen if index is on building.

I am trying t

[2016-03-24 18:06] danielmewes commented on #5558
If you try to use an index while it's building, the query will fail with an exception. It should never use an incomplete or inconsistent index.

[2016-03-24 18:09] QianJin2013 commented on #5558
Good policy, simple and consistent.

Can i call indexWait then select ?

2016-03-25 3:07 GMT+09:00 Daniel Mewes <notifications@github.com>:

[2016-03-24 18:19] analytik commented on #1771
+1 for this feature.

Our use case is that we want to save I/O on non-SSD nodes. Maximum size and related complications are not a concern, as the table would be basically a view for another table, of which historical data creates a big part (growing, let's say, 100k~500k documents per day), and the "active" data is only 10~100k documents.

Technically, of course, it's not necessary to have such ta

[2016-03-24 18:43] danielmewes opened #5561 ""sub_it != real_added.end()" guarantee failure (changefeeds)"
Crash on RethinkDB 2.2.3:
[code]

This was reported by @tatsujin1 . He only ran into this once.

The only other data that we have right now:
"I had a bunch of processes with changefeeds (some of them identical) and only ~5 writes, in total."

@tatsujin1 What types of  `orderby.limit` changefeeds are used in your application? Does any of them use a multi secondary index?

[2016-03-24 18:51] danielmewes commented on #5558
@QianJin2013 Yes if you call `indexWait` first that will make sure that the index finishes constructing.

If you want to combine both operations into one query, you can do something like this:
[code]

[2016-03-24 18:53] QianJin2013 commented on #5558
thank you

2016-03-25 3:52 GMT+09:00 Daniel Mewes <notifications@github.com>:

[2016-03-24 18:58] tatsujin1 commented on #5561
What do you mean by "what types"?
No `order_by.limit` queries use multi indexes.
Some non-changefeed queries use multi indexes, however. Both reads & writes.

[2016-03-24 19:02] danielmewes opened #5562 "Improve connection behavior when part of the cluster (e.g. proxy) is behind firewall"
@hamiltop investigated this scenario and found the following sequence of steps that currently causes incomplete connectivity:

The query in step 6 fails because the proxy doesn't connect to the new (fourth) server.

Our current connection logic is based on the assumption that every server can connect to every other server, including proxies. In this case that's not true, because the proxy is behin

[2016-03-24 19:04] danielmewes commented on #5562
Our current logic will also not work if there's a transient networking issue during the initial join. The new server will attempt to connect to the existing servers once, but won't retry if the initial connection attempt fails.
Our auto-reconnect logic only kicks in after a server has been connected to a given other server at least once.

[2016-03-24 19:39] tatsujin1 commented on #5561
In case multi indexes are a point of interest: I noticed in my logs that just before the crash (at 12:28:03,100) there was a write to a multi-index field, a list of strings. A `set_insert()` I believe.

There are changefeeds that receives events from that write, but the index itself isn't mentioned in the query (the indexed `order_by()` is on a time stamp field).

[2016-03-24 20:03] danielmewes commented on #5561
Thanks for the info @tatsujin1 .
By types I meant if there are any more complex changefeeds of the form `...order_by(index=...)....limit(...)...changes()`? E.g. with filters or maps between the order_by and the limit, or after the limit?

[2016-03-24 20:10] #3151 closed

[2016-03-24 20:10] #3158 closed

[2016-03-24 20:13] danielmewes commented on #5330
@nighelles Could you look into this?

We basically need an option for specifying a CA certificate file for these commands, and pass that to `connect`.

You can start a test server with a TLS-encrypted driver port on `next` by following the steps described here: https://github.com/rethinkdb/docs/issues/1057#issuecomment-200515848

[2016-03-24 20:21] #5384 closed

[2016-03-24 21:12] tatsujin1 commented on #5561
Oh ok. All (those) changefeeds have nothing between `order_by()` and `limit()`.

Generally, they follow this pattern:
`table.order_by(index=...).limit(...).filter(...).pluck(...).changes()`

A few of them also have a `filter()` and some even a `merge()` after `changes()`.

[2016-03-24 21:34] danielmewes commented on #5547
A fix is in review 3546, and commit https://github.com/rethinkdb/rethinkdb/commit/762875067d0fd951c6c4ff97f1ed32365d9e7a0c .

@bchavez Note that this required a change to the AstSubclass template, as you can see here: https://github.com/rethinkdb/rethinkdb/commit/762875067d0fd951c6c4ff97f1ed32365d9e7a0c#diff-9952793414fd4dee1b383f0bbd945f7fL43

[2016-03-24 21:45] bchavez commented on #5547
Thanks very much @danielmewes . Also, thanks for the heads up on the `AstSubclass` template change. I'll try to get this ported later this weekend or early next week.

Also, just out of curiosity, where did `.wait_()`, `.reconfigure()`, and `.rebalance()` go? Were they dupes in `TopLevel`?

[2016-03-24 22:18] meenie commented on #1118
Any movement on this?

[2016-03-24 23:13] nighelles commented on #5330
This is in review 3547, implemented in nighelles/5330

[2016-03-25 00:16] danielmewes commented on #5547
@bchavez: Those terms are no longer valid on the top level: https://github.com/rethinkdb/rethinkdb/issues/4382

[2016-03-25 00:17] nighelles commented on #5469
This, along with the pull request from @marshall007, is in review 3545.

[2016-03-25 00:40] nighelles commented on #4815
I ran into this earlier, I think SSLContext is in 2.7.9 as well.

[2016-03-25 00:42] #5547 closed

[2016-03-25 00:52] danielmewes commented on #5465
Turns out right now changefeeds remain open and usable indefinitely if the permissions are changed in the middle.

[2016-03-25 00:54] danielmewes commented on #5465
If it's easy to do, we should add some code that rechecks the permissions for example at the beginning of every batch.

[2016-03-25 01:24] nighelles opened #5563 "Crash while testing ssl and rethinkdb-import"
error: Error in src/arch/runtime/thread_pool.cc at line 367:
error: Driver connection TLS handshake failed: 0 - TLS handshake failed, shutdown cleanly
error: Segmentation fault from reading the address (nil).
error: Backtrace:
error: Driver connection TLS handshake failed: 0 - TLS handshake failed, shutdown cleanly
error: Driver connection TLS handshake failed: 0 - TLS handshake failed, shutdown c

[2016-03-25 02:20] danielmewes commented on #1118
@meenie Not yet. This is probably going to be the next thing after https://github.com/rethinkdb/rethinkdb/issues/3997 .

[2016-03-25 02:36] danielmewes commented on #5563
I can reproduce this by trying to open two non-SSL connections at the same time.

[2016-03-25 03:36] danielmewes commented on #5563
OpenSSL requires certain callbacks to be registered for becoming thread-safe. Working on a fix.

[2016-03-25 04:01] danielmewes commented on #5563
Fix in review 3549, implemented in branch daniel_5563

[2016-03-25 16:47] NameOfTheDragon opened #5564 ""Query terminated by an unknown cause" when running on Windows"
See also http://stackoverflow.com/questions/36211224/why-is-my-rethinkdb-update-query-terminated-by-an-unknown-cause

When I run this query:

[code]
after several minutes of activity (a lot of reads followed by some writes) I receive the following error message:

<pre>
e: Query terminated by an unknown cause in:
r.db("geodata").table("os50kgazetteer").getAll(false, {"index": "has_geolocation"}).up

[2016-03-25 16:53] NameOfTheDragon opened #5565 "C# driver causes the database server to terminate"
I have been experimenting with this C# driver and the Windows port of RethinkDB, I'm using build 2.2.4-windows-alpha-4.

When I run the unit tests for the driver, the database process terminates almost immediately. A client shouldn't be able to bring down the server...

The repro for the problem is to download the driver source code, open it in Visual Studio and run the unit tests. I have the data

[2016-03-25 17:05] danielmewes commented on #5564
It looks like you ran into https://github.com/rethinkdb/rethinkdb/issues/5113 . The Data Explorer has a limit of 5 minutes for running queries. I recommend running the query from one of the other drivers.

Closing as a duplicate of https://github.com/rethinkdb/rethinkdb/issues/5113 for the bad error message.

[2016-03-25 17:05] #5564 closed

[2016-03-25 17:07] danielmewes commented on #5565
Thanks for the bug report. Can you post the output of the RethinkDB server when this happens?

[2016-03-25 17:16] bchavez commented on #5565
Hi @NameOfTheDragon , there are some bad bugs in `alpha-4`. IIRC, this was fixed recently, see #5386 for details.

Currently, the C# driver is using [`alpha-6`](https://github.com/bchavez/RethinkDb.Driver/blob/master/Builder/build.fsx#L7) for testing (see [`build.fsx`](https://github.com/bchavez/RethinkDb.Driver/blob/master/Builder/build.fsx#L7)).

[code]

Using `alpha-6` should solve this issue a

[2016-03-25 17:23] nighelles commented on #5330
This is in next.

[2016-03-25 17:23] #5330 closed

[2016-03-25 18:21] NameOfTheDragon commented on #5113
You can close this if you want, but I think you're putting your head into the sand. It is a massive usability issue.  "Query failed for an **_unknown cause_**". Not "the connection timed out" or "the data explorer has a limit of 5 minutes". An Unknown Cause, which apparently is completely known. How's a user supposed to figure out what the problem is?

[2016-03-25 18:27] NameOfTheDragon commented on #5565
Brian, thanks for that. I didn't see any binaries for the DB server beyond alpha 4 and I'm not up for building from source code really. I'm getting all sorts of issues including queries failing because replicas lose contact with each other, etc. I will see if I can get a later build after easter.

[2016-03-25 18:27] danielmewes commented on #5113
@NameOfTheDragon Yes I agree, that's what this issue is about and why it's open.
We have no intention of closing it before it's fixed. Sorry if there was a misunderstanding.

[2016-03-25 18:30] danielmewes commented on #5565
@NameOfTheDragon You can download the mentioned alpha 6 here: http://circus.atnnn.com/ipfs/QmZkxXdHE9sRhNQ91Fh418wN927GdJ2QBVnQeZLDV3LX5j/rethinkdb-windows-alpha-6.zip

The current version for Windows is a "developer preview" and hence still has many bugs. We will release an official beta together with RethinkDB 2.3.0 in a few weeks.

[2016-03-25 18:32] NameOfTheDragon commented on #5113
Yes you're right. I hadn't realised the original issue was still open. My bad.

[2016-03-25 18:36] NameOfTheDragon commented on #5565
I appreciate that it's an alpha build and I'm expecting bugs. I really want RethinkDB to work well on Windows and that's why I'm bashing on it. I assume the point of an alpha release is for people to find the bugs and report them, no?

That said, I'm closing this issue as Brian already mentioned that the issue is fixed in a subsequent build.

[2016-03-25 18:36] #5565 closed

[2016-03-25 19:59] danielmewes commented on #5565
@NameOfTheDragon I didn't mean to come across as dismissive. I appreciate you taking to time to report this bug! Definitely helpful.

[2016-03-25 20:41] nighelles commented on #5188
This is in next.

[2016-03-25 20:41] #5188 closed

[2016-03-26 00:35] #5556 closed

[2016-03-26 10:59] davidbilly commented on #3711
@coffeemug Hi, could you invite me into Horizon project. I been asked on slark group, but nobody reply me :( Thanks!

[2016-03-26 21:05] djeeg commented on #5389
thanks, that's fixed it on Windows 8

[2016-03-27 16:54] opsb commented on #4629
@coffeemug I'm not sure how far along this is, has the api been decided yet?

[2016-03-27 21:05] jhspaybar commented on #3677
For what it's worth, I googled for "fe-accel-cgl.mm:390: fe_cgl_create_context(): Failed to create OpenGL context for accelerator. This may be fatal." and this is literally the only result.  I actually ran into it running `sips` to convert CR2(raw) files into jpg.  Maybe it helps...maybe it doesn't, but I figured I'd let you know :)

[2016-03-28 00:58] dineyw23 commented on #1280
Hi,
I thought I could try working on this, [here](https://github.com/rethinkdb/rethinkdb/blob/0ec7cc90061bb7cd4f38b52cfea9bc9767a78d5f/src/rdb_protocol/pseudo_time.cc). I believe the valid timezone are:

`±hh:mm, ±hhmm, ±hh and Z`

Right?

[2016-03-28 13:10] JOE95443 opened #5567 "Exception in Python Driver when using orderby on getall with compound index"
This is an issue with the latest version of the RethinkDB Python driver. When trying to run a query with get_all and then order_by, an exception is thrown when using a compound index.

To reproduce:
The database table looks like this: `id | feed | datetime | content`

Create the index:
[code]

Try to use the index in a query, like so:
[code]

This error should be thrown:
[code]

I added a `try: ex

[2016-03-28 18:06] danielmewes commented on #4629
@opsb We have an API and a partial implementation. We're trying to ship this for non-squashing changefeeds with the 2.3.0 release.

@mlucy could you briefly describe the API we implemented? I forgot the details of it.

[2016-03-28 18:17] danielmewes commented on #5567
Thanks for the bug report @JOE95443 .
This is probably the same issue that @nighelles mentioned in https://github.com/rethinkdb/rethinkdb/issues/5331 . It will be fixed with RethinkDB 2.3.0.

The issue is triggered by calling `print` directly on a cursor result by the way. You can probably avoid it by adding a `.to_array()` behind the `run()` before calling `print` on the result.

It also shouldn'

[2016-03-28 18:17] #5567 closed

[2016-03-28 18:47] larkost commented on #3677
I hav ebben able to produce it a few times, but it has never caused any problems that I was able to find. I am keeping this one open in case I ever happen to figure it out. But my assumption is that this is benign.

[2016-03-28 20:51] larkost opened #5568 "Make `toString` on JavaScript cursors ignore arguments"
Currently the `toString` method on our JavaScript cursors error (like other methods) when given arguments (it takes none). This does not match our behavior when returning an array (unique to the JavaScript driver), where we act more like normal JavaScript objects and just ignore arguments.

I talked to @danielmewes on which way we should go on this (make array-like error, make everything ignore, o

[2016-03-28 20:54] deontologician opened #5569 "Modify metajava.py to generate customized .optArg signatures"
Right now every type of signature is emitted for every AstSubclass. Ideally, we'd only emit the signatures necessary for each ast class.

Example:

`term_info.json`

[code]

When this is run through `AstSubclass.java` to create `Distinct.java`, only the following signature would be generated for `.optArg`:

[code]

but would not generate `optArg` signatures where the value is a `ReqlFunction2`, `R

[2016-03-28 20:56] larkost commented on #5568
Note: once this is changed `./test/rql_test/connections/cursor.mocha` should be updated (search for the bug number).

[2016-03-28 22:07] danielmewes commented on #5547
This is fixed in `next` together by 95dfdb2, together with support for the new `union` `interleave` optarg and complete support for the new `fold` command.
Will be released with RethinkDB 2.3.0.

[2016-03-28 23:43] danielmewes opened #5570 "Migration from 2.0.0 broken in 2.2.6"
2.2.6 generates a bunch of different errors during migration from a 2.0.0 database folder (an empty database is enough, no tables are needed to reproduce this):
[code]

It's still working with 2.2.5.

[2016-03-29 00:03] frankleng commented on #5570
confirmed upgrading to 2.1.x or 2.2.5 as workaround

[2016-03-29 02:05] danielmewes commented on #5570
A fix is up in review 3551, commit https://github.com/rethinkdb/rethinkdb/commit/17364f666c4a80fe2380e8d43aba232674ed377a

[2016-03-29 02:19] danielmewes commented on #5461
@deontologician can you work on this please?

The server-side implementation is currently available in branch vexocide/5406.

There is a reference implementation for the Python driver in this file: https://github.com/rethinkdb/rethinkdb/blob/vexocide/5406/drivers/python/rethinkdb/handshake.py

The handshake protocol is formally described here https://github.com/rethinkdb/rethinkdb/issues/5406#issu

[2016-03-29 02:21] danielmewes commented on #5460
@mlucy can you work on this please?

(the following is virtually identical to what I wrote in https://github.com/rethinkdb/rethinkdb/issues/5461#issuecomment-202669667 )

The server-side implementation is currently available in branch vexocide/5406.

There is a reference implementation for the Python driver in this file: https://github.com/rethinkdb/rethinkdb/blob/vexocide/5406/drivers/python/reth

[2016-03-29 02:21] danielmewes commented on #5459
@nighelles can you work on this please?

(the following is virtually identical to what I wrote in https://github.com/rethinkdb/rethinkdb/issues/5461#issuecomment-202669667 )

The server-side implementation is currently available in branch vexocide/5406.

There is a reference implementation for the Python driver in this file: https://github.com/rethinkdb/rethinkdb/blob/vexocide/5406/drivers/python/

[2016-03-29 02:27] danielmewes commented on #5458
The synchronous implementation is now in branch vexocide/5406.

I collected some more info here: https://github.com/rethinkdb/rethinkdb/issues/5461#issuecomment-202669667

[2016-03-29 02:33] danielmewes opened #5571 "Method to get client port and address in Java driver"
Analogously to what was added in https://github.com/rethinkdb/rethinkdb/pull/4796 for the other drivers.

[2016-03-29 02:38] danielmewes commented on #1280
I'm not 100% sure. @mlucy do you know?

[2016-03-29 02:45] deontologician commented on #5461
Ok, I'll start on this tomorrow

[2016-03-29 03:46] mlucy commented on #1280
Yes, that's right.

[2016-03-29 03:59] jazoom commented on #4147
I just came across a similar issue to this and I have to say, the behaviour is quite unexpected. Here's my issue:

I have a secondary index where it is possible for some items to have the same value, but they will always have another value that is different. (e.g. { secondaryKey: a, otherValue: n} and {  secondaryKey: a, otherValue: o }. If the secondary key is the same, otherValue is guaranteed t

[2016-03-29 07:25] dineyw23 commented on #1280
Thanks.
Based on the other errors. How about something like thing?

![sample](https://cloud.githubusercontent.com/assets/10092343/14100762/a6096650-f544-11e5-9bfe-b68849067dfc.png)

[2016-03-29 10:32] analytik commented on #5112
Is there any specific version of v8 you're aiming for?

Node.js 6 will be built on v8 5.0, which has an extensive ES6 support. Since Node.js 6 will be a long term support release, I think it would be great if RethinkDB had the same or newer v8 (probably not for 2.3, but some time during 2016 would be nice).

This is just a nice to have feature, I guess mostly to keep syntax the same between newer

[2016-03-29 11:39] fluxxu opened #5572 "error: Error in src/extproc/extproc_spawner.cc at line 219:"
[code]

Is this because the server has only 1GB of RAM (512MB swap)?
Thanks!

[2016-03-29 14:31] emilv commented on #5477
The most sensible thing to do would probably be to follow the GNU coding standard here:

https://www.gnu.org/prep/standards/html_node/_002d_002dversion.html#g_t_002d_002dversion

[2016-03-29 17:50] danielmewes commented on #5570
Fixed in v2.2.x 17364f666c4a80fe2380e8d43aba232674ed377a and in next 573c853.

[2016-03-29 17:50] #5570 closed

[2016-03-29 18:05] danielmewes commented on #5112
@analytik The version we pick isn't all that important, since it only affects the `r.js` command. The Data Explorer relies on the browser to parse the JavaScript, so it will support whatever language features are available in your browser.

[2016-03-29 18:20] danielmewes commented on #5572
Thanks for reporting this @fluxxu . It's possible that this is because of low memory, but it might also be a bug of some sort.

@Tryneus do you know anything about this error?

[2016-03-29 18:26] danielmewes commented on #1280
@dineyw23 Thanks for working on this first of all.

I think the message is almost good, but I would set the backticks around each alternative rather than around the whole list:

(except with the single +/- character that you're using)

[2016-03-29 19:03] danielmewes commented on #4147
@jazoom Thanks for the feedback. Good idea documenting the fact that duplicates in the key list result in duplicate results better. I've opened https://github.com/rethinkdb/docs/issues/1067 for this.

If you haven't figured this out already, you might want to look into `distinct` to remove duplicates in your key list: `tbl.getAll(r.args(r.expr(keyList).distinct()), {index: ...})`.

About your seco

[2016-03-29 19:21] thelinuxlich commented on #4147
Probably it is a multi index

[2016-03-29 19:49] mlucy commented on #1280
I would personally vote for `+hh:mm, -hh:mm` instead of `±hh:mm` just to avoid having unusual characters in an error message.

[2016-03-29 20:29] #5222 closed

[2016-03-29 20:29] #5542 closed

[2016-03-29 20:30] danielmewes commented on #5222
Fixed in next by a57b599

[2016-03-29 20:30] danielmewes commented on #5542
Fixed in next by a57b599. Will ship with RethinkDB 2.3.0

[2016-03-29 20:31] danielmewes commented on #1280
:+1: on whatever @mlucy says :)

[2016-03-29 21:03] jazoom commented on #4147
Hmmm... it's just a basic secondary index. I'll play with it some more to find a difference, or, you know, a mistake in my code. I'll let you know.

[2016-03-29 23:11] #1280 closed, assigned to mlucy

[2016-03-29 23:29] VeXocide commented on #5465
43440cbc37a50f01ec54ce5a1d0f6c871d7ac718 on `vexocide/5406` implements this real tables, we'll implement it on artificial tables as part of #5463.

[2016-03-30 00:36] mineralres opened #5574 "is there any cpp client driver on windows?"
i tried the cpp driver at https://github.com/AtnNn/librethinkdbxx, but it can only build on linux currently. is there any cpp client driver on windows?

[2016-03-30 01:22] jazoom commented on #4147
My apologies, @danielmewes. It appears to work as you said. I'm not sure what was going on before.

Thanks for adding info on duplicate behaviour to getAll in your documentation. I think that will save other people some hassle in future.

[2016-03-30 06:16] danielmewes commented on #4777
Unfortunately there are still issues with the implementation, and I don't think we can ship this with 2.3. Sorry everyone who has been waiting for this. It will definitely be in 2.4.

[2016-03-30 06:16] danielmewes commented on #3351
Since https://github.com/rethinkdb/rethinkdb/issues/4777 is delayed because of bugs, this likely won't make it into 2.3 either.

[2016-03-30 06:58] tatsujin1 commented on #3583
I like this.
In theory such a `lazy` operator might be useful in other situations as well. I have no idea, currently, what these might be, however. :)

Also, this would supposedly hide whatever "ugly" solution is selected (`current_now()` or `r.now(dynamic=True)`, etc).

[2016-03-30 07:51] danielmewes commented on #4777
There's actually hope again. We found a work-around that avoids the remaining issues so far.

The work-around is to internally disable batching for the initial read from a `getIntersecting` changefeed. This increases the memory footprint of a getIntersecting changefeed with initial values, but shouldn't be an issue as long as the result set isn't too big.

[2016-03-30 09:18] haraldschilly opened #5575 "web ui: shards table vertical axis labels wrong"
in 2.5.5, with ~6M documents across 6 shards/3 replicas, I expect 3 million per shard, right? But it looks like this:

![rethinkdb-shards-scaling-v225](https://cloud.githubusercontent.com/assets/207405/14137598/bbaa3762-f668-11e5-83fe-2112b4dc2bd6.png)

I suspect, the "1M" should be "10M" and the "1000000" should be "1M".

[2016-03-30 09:22] haraldschilly opened #5576 "error when running rebalance"
2 out of 6 nodes crashed when rebalancing. minutes later everyone is happy again, but that's still bad. I found one stacktrace, that might be helpful...

version is 2.5.5

[code]

[2016-03-30 18:38] nunoandrenovo opened #5577 "Python driver ignores no_proxy environment variable"
I'm connecting RethinkDB to a local machine but when I go proxied the driver returns a `rethinkdb.errors.ReqlDriverError` even if I set no_proxy environment variable to server local IP.

I can solve this problem setting `socks.setdefaultproxy(None, None)` just before the connection and setting it to proxy just after, but i'd be great if rethinkdb could read environment variables.

[2016-03-30 18:51] danielmewes commented on #5576
Thanks for the report @haraldschilly . I thought we had this under control, but apparently not. :-(

Is there an error message above the backtrace in the log?

[2016-03-30 18:51] danielmewes commented on #5576
(pinging @mlucy )

[2016-03-30 19:03] joakimbeng commented on #4886
In my case this happened even when I had a new connection open, because I forgot to also close the cursor from a changefeed query when the old connection was closed.

[2016-03-30 19:16] opsb commented on #4629
I had a quick scan of #next but couldn't tell whether this is in yet, has it been merged in or is it still wip?

[2016-03-30 19:25] larkost opened #5578 "Swap warning too aggressive on MacOS X"
With #5235 we now provide a warning when swap is used, to try and help users distinguish RethinkDB performance problems from underlying issues. However this seems to be a bit too aggressive on MacOS and so is providing warning to me almost every time I spin up a local cluster. In addition to the WebGUI warnings, this is also causing problems in some tests that look that all issues have been resolv

[2016-03-30 19:49] haraldschilly commented on #5576
oh sorry, I missed that there is some part above! That looks indeed helpful for you:

[code]

[2016-03-30 20:06] danielmewes commented on #4629
@opsb and others:
Unfortunately I have bad news. We have a partially working implementation in the branch https://github.com/rethinkdb/rethinkdb/tree/mlucy_write_stamps , but we haven't been able to properly test it yet. Due to all the other things ( https://github.com/rethinkdb/rethinkdb/milestones/2.3 ) that still need to happen for the 2.3 release, I decided to move this out of the 2.3 mileston

[2016-03-30 20:08] danielmewes commented on #5576
Thanks, that error should indeed be helpful.

[2016-03-30 20:31] larkost commented on #5441
If this is resolved, then the changes that I have made in the tests to filter this out should be removed. Look for this bug's number to find them in:
`test/scenarios/more_or_less_secondaries.py`

[2016-03-30 21:06] mikemintz commented on #162
Now that this is merged and 2.2.6 is released, could you publish a new RethinkDB JavaScript driver release on npm?

[2016-03-30 21:15] opsb commented on #4629
Gah, disappointing :( Completely understand about not wanting to merge something shaky though, I certainly appreciate the general reliability of rethinkdb.

I'm keen to at least get what's there running locally so I can start to develop against it. My c++ isn't so hot these days (must have been nearly 15 years since I last wrote any), if you guys could provide any pointers regarding how to use the

[2016-03-30 21:22] larkost opened #5579 "change the implicit regexes for `./test/run` and `./test/rql_test/test-runner`"
Currently any non-option input you give to either `./test/run` or `./test/rql_test/test-runner` is interpreted as a regex. For most cases this is very helpful, for example:
`./test/rql_test/test-runner polyglot`

However, there are some difficult side-effects, for example:
`./test/rql_test/test-runner polyglot/regression/522`
matches the regression tests for both #522 and #5222. And there is no wa

[2016-03-30 21:35] thelinuxlich opened #5580 "Top-level term r.break()"
It would be useful to have a term that stops iteration earlier and continues the subsequent query chain.

A naive example:

[code]

[2016-03-30 21:40] danielmewes commented on #162
@mikemintz The latest JavaScript driver 2.2.3 includes the change. Have you tried it?

[2016-03-30 22:06] #3351 closed, assigned to danielmewes

[2016-03-30 22:23] larkost commented on #5578
If this is resolved, then the changes that I have made in the tests to filter this out should be removed. Look for this bug's number to find them in:
`test/scenarios/more_or_less_secondaries.py`

[2016-03-30 22:47] larkost commented on #5413
I am going to close this, since my work on this is done, and has been folded into @nighelles work on the driver in issue #5518.

[2016-03-30 22:47] #5413 closed

[2016-03-30 22:49] larkost commented on #5454
This is as solved as it is going to be at this point in the work for #5518.

[2016-03-30 22:49] #5454 closed

[2016-03-30 22:52] larkost commented on #5365
The issue behind this was fixed in `next` with 4f8aa7d then re-synced with `v2.2.x` with 51afc02.

[2016-03-30 22:52] #5365 closed

[2016-03-30 23:27] danielmewes commented on #5580
Hmm so it's like a `return`, except that it causes `map` to also skip this element?

Maybe we should just implement `return`, and one can use `concatMap` if some inputs don't generate any outputs. That might be a bit clearer in terms of semantics.

In that case you would write:
[code]

[2016-03-30 23:28] danielmewes commented on #5575
Thanks for reporting this @haraldschilly . This is actually a duplicate of https://github.com/rethinkdb/rethinkdb/issues/4907 .

[2016-03-30 23:28] #5575 closed

[2016-03-30 23:30] danielmewes commented on #5575
Oh with regard to this being 1M and not 3M: The shard shows the number of documents per shard, not considering the number of replicas. If you change the number of replicas, the shard sizes will remain the same. This is by design.

[2016-03-30 23:33] danielmewes commented on #4629
@opsb We can discuss the details of how to use the timestamps on Slack. My user ID is danielmewes on https://rethinkdb-team.slack.com . If you aren't registered yet, you can go to http://slack.rethinkdb.com to get signed up.

[2016-03-30 23:37] marshall007 commented on #5580
@danielmewes what are you proposing for `r.return()` to actually do? I think in your example, this is equivalent to just doing `r.branch(value.gt(3), [], [value])`.

[2016-03-30 23:39] thelinuxlich commented on #5580
Oh no, r.break() should eagerly return the .map() sequence, not just skip the values

[2016-03-30 23:46] danielmewes commented on #5580
@marshall007 Yes right. I thought it would be useful when you have more deeply nested terms. Though apparently I understood the proposal wrong.

@thelinuxlich Oh I see. So it would break out of the next higher `filter`, `map`, `reduce` etc. term?

[2016-03-30 23:47] danielmewes commented on #5574
There is no other C++ driver I'm aware of at the moment.

[2016-03-30 23:47] #5574 closed

[2016-03-30 23:48] thelinuxlich commented on #5580
A better example of the behavior:

[code]

[2016-03-31 00:15] mikemintz commented on #162
@danielmewes you're right, I am able to get it to work with 2.2.3 in IE10. Thanks!

[2016-03-31 00:45] mlucy opened #5581 "Crash in vexocide/5406"
I got this while sending what appear to me to be well-formed requests:

[code]

[2016-03-31 00:46] mlucy commented on #5581
Actually, this appears to happen if I close the connection in the middle of a valid request, just after receiving the message from step 2.  It may also happen in other circumstances, I haven't investigated too carefully.

[2016-03-31 00:52] mlucy commented on #5581
Here are the two messages I sent that caused this:
[code]

I'm gonna go look at the Python implementation again, it's possible I misread it.

[2016-03-31 01:03] mlucy commented on #5581
Ah, looking at the code it seems like the case where a user doesn't have a password (like the "admin" user) just isn't implemented yet.

[2016-03-31 05:10] VeXocide commented on #5581
@mlucy -- could you please check which branch you're on, because this shouldn't be the case in `vexocide/5406` but was in `vexocide/4519`?

[2016-03-31 07:43] bchavez commented on #5547
@danielmewes Thanks very much for the info and diffs. It was very helpful porting downstream. The regenerated C# driver AST now has the new `fold` term and support for `union:interleave`. https://github.com/bchavez/RethinkDb.Driver/commit/94caa94a008651532b59560229c859041e5e608b

I'm probably going to hold off on re-generating unit tests until 2.3.0 is released since it looks like we have a new `f

[2016-03-31 18:21] danielmewes commented on #5577
Thanks for the report @nunoandrenovo . So this is for a Socks proxy?

How exactly are you configuring the proxy? Which version of Python are you using? (so we can reproduce this)

[2016-03-31 19:07] nunoandrenovo commented on #5577
Hi! Yes, i'm proxying the rest of the script through Tor with `pysocks`.

    import rethinkdb, socks, socket

    socks.setdefaultproxy(proxy_type=socks.PROXY_TYPE_SOCKS5, addr="127.0.0.1", port=9150)
    socket.socket = socks.socksocket

    rethinkdb.connect('192.168.1.134', 28015).repl()

When I connect to RethinkDB server at LAN IP I get:

    rethinkdb.errors.ReqlDriverError: Could not conne

[2016-03-31 20:21] danielmewes commented on #5448
@sceutre We have shipped a new version (2.2-beta-6) of the Java driver that has the fix @pires talked about. As mentioned before, I'm not sure if this is the same thing that you're experiencing. You might want to try it out though.

[2016-03-31 21:17] larkost opened #5582 "Occasional failure on changefeeds.change_master"
When running `./test/run changefeeds.change_master` I am seeing an occasional timeout failure on a `table.wait` for a table where the master and replica have only been switched. The timeout is set for 20 seconds, and there should be no backfilling necessary as this is only a swap in rolls on one of the two shards on the table. I am only seeing this occasionally, so far only when there are other te

[2016-03-31 21:38] larkost opened #5583 "remove threading from interface.system_changefeeds"
`./test/run interface.system_changefeeds` (`test/interface/system_changefeeds.py`) uses threads to monitor a number of changefeeds. This tests has been a bit flaky when run with other tests, especially when run while the system is under load, and I suspect it is thread starvation with the Python GIL that is contributing to this. I don't see much value in running these on their own threads, so we s

[2016-03-31 21:44] #3838 closed

[2016-03-31 21:44] #5525 closed

[2016-03-31 22:09] larkost opened #5584 "Backtrace on unit.ClusteringRaft"
I has a single failure (not repeatable so far) of `./test/run unit.ClusteringRaft` built from d75cfc64 on MacOS. This was during a complete `./test/run -j3` so it is very possible that machine load had something to do with it. Solo runs since then have not been able to reproduce it. The backtrace:
[code]

[2016-03-31 22:32] larkost commented on #5441
This is in branch `larkost/5441-audit-wait-in-tests`, and up for review in CR 3555.

[2016-03-31 22:34] eatnut opened #5585 "Can't install on debian stretch"
[code]
Thank you for taking your time.

[2016-03-31 22:38] phil-hildebrand opened #5586 "Reading table_status can be very slow during reconfigures of large tables"
While using rethinkdb import to a 9 node cluster on a table with 150m rows during a reconfigure the web interface became unusable, presumably due to very long calls reading the rethinkdb.table_status table.

r.db('rethinkdb').table('table_status').count()  took 2min 5.61s., but did return the correct result of 16 tables.

The reconfigure was going from 9 shards/2 replicas -> 8 shards/2 replicas.

[2016-03-31 22:45] phil-hildebrand commented on #5586
For Reference:
RethinkDB Version: 2.2.6
Servers - VMWare (ubuntu), SSD, 62GB Ram, 4vCPU

[2016-03-31 23:42] mlucy commented on #5581
@VeXocide -- I'm on `vexocide/5406`.  The exact commit is `f02637f`.  It's possible something weird happened, I could rebuild from scratch and try to reproduce if you want.

[2016-04-01 03:17] ntquyen opened #5587 "Instances in rethinkdb cluster got disconnected without any reason"
In my system I'm using multiple rethinkdb cluster 2.2.5 with 3 instances. Each instance of every cluster is install in one separated node in a LAN network. Recently from one of my clusters (lets call it "account" cluster with 3 instance A, B, C), there are 2 instances A, B got disconnected from instance C a few times every day without any reason. The log pattern is

[code]

It happened for only ~1

[2016-04-01 15:25] joeblew99 opened #5588 "binary installs ?"
At the moment all the releases are package with other stuff.
It woudl be great if you can also just release the binary.
The reason i am asking for this is because the binary for OSX, linux, windows is all i need for packaging into the main applications i build.

rethinkdb is great because it can run with just the binary and not even a config !!
So make it easy, since it is that easy to run it :)

[2016-04-01 15:44] phil-hildebrand commented on #1830
Will this also cover issues with files that could be compacted after rebalancing shards, or reconfiguring with additional shards?

This is something we could use given how fast our tables grow (we're predicting some to grow by 7 TB this year, so adding shards as we add nodes would be easier to manage if we new the datafiles would be compacted after the rebalance

[2016-04-01 16:17] Wargog commented on #5588
You can download the [Windows binary](https://download.rethinkdb.com/windows/rethinkdb-dev-preview-0.zip) at any time, Linux and OSX is a bit more tricky as there are dependencies that must be installed on the users system as well since those OSes don't support native binaries like Windows does. But that is just my 2 cents, I will leave it to the Rethink guys to give a final answer.

[2016-04-01 16:37] eatnut commented on #5588
+1

[2016-04-01 17:14] danielmewes commented on #5463
Because we're a bit tight on time, let's do the simple thing for `jobs` for now and disallow reading from it alltogether for non-admin users. (@vexocide)

[2016-04-01 17:19] danielmewes commented on #4620
This was merged via https://github.com/rethinkdb/rethinkdb/pull/4796

[2016-04-01 17:19] #4620 closed

[2016-04-01 17:20] VeXocide commented on #5581
This really shouldn't have happened at this point, it'd be great if you could find a way to reproduce this.

[2016-04-01 18:09] danielmewes commented on #5319
The join delay is in CR 3559

[2016-04-01 19:01] larkost commented on #5588
We actually have no dependencies at all in the MacOS package, and our installer only installs the single file at `/usr/local/bin/rethinkdb` (#4507 would change that). We make sure that everything needed is either in the system install, or statically linked.

For users on MacOS X I would rather not add an additional official route for the following reasons:
1. Using a `.pkg` installer means that up

[2016-04-01 19:03] larkost commented on #5588
For the linux side of things, that might be handled at some point with #5392, but there probably needs to be more in-depth discussion there.

[2016-04-01 20:36] danielmewes commented on #5319
Merged into next b14e56f1dddb0b1df00ef190ac09f7b1eb96f7b2 . This introduces a `--join-delay <seconds>` option. I'll open a docs issue later (we can document this after shipping 2.3, it's not too critical).

[2016-04-01 20:36] #5319 closed

[2016-04-01 21:50] nighelles commented on #5464
This is in review 3560, implemented in nighelles/5464

[2016-04-01 21:52] nighelles commented on #5459
This is in review 3561, implemented in nighelles/5459.

[2016-04-01 22:13] Sxw1212 commented on #5348
`2016-04-01T18:04:01.228394161 80.508366s error: Error in src/arch/runtime/thread_pool.cc at line 359:
2016-04-01T18:04:01.365382085 80.645549s error: Segmentation fault from reading the address 0x18.
2016-04-01T18:04:01.601167095 81.181004s error: Backtrace:`

I'm experiencing this too. On a cluster with two nodes and 35K documents. The node with more RAM is not crashing under load, only the proc

[2016-04-01 22:24] danielmewes commented on #5490
Variant 1 is implemented and in code review 3562

[2016-04-01 22:25] danielmewes commented on #5348
@Sxw1212 thanks for reporting it. We've had the suspicion that this could be triggered by certain out-of-memory situations. Do you have any monitoring through which you might be able to find out if the 512 MB node ran out of memory?

[2016-04-01 23:00] nighelles commented on #5578
This is in next.

[2016-04-01 23:00] #5578 closed

[2016-04-01 23:01] danielmewes commented on #5563
Fixed in branch vexocide/5406. Going to end up in `next` later today hopefully.

[2016-04-01 23:01] #5563 closed

[2016-04-01 23:19] danielmewes commented on #5588
I'm going to close this as a duplicate of https://github.com/rethinkdb/rethinkdb/issues/5392 , since the Mac side is mostly covered by what @larkost explained.

On Linux, you can build a statically compiled package yourself by compiling like this:
[code]
You'll find the resulting binary in build/release/rethinkdb afterwards.

[2016-04-01 23:19] #5588 closed

[2016-04-01 23:21] danielmewes commented on #1830
@phil-hildebrand Yeah, the compaction operation would cover that. It's not clear yet when we'll get around to implementing this though.

[2016-04-01 23:28] danielmewes commented on #5585
Thanks for the report.

It looks like stretch upgraded to libssl1.0.2. We probably need to update our build environment to make it build against a newer version of the library.
I'll do that for the upcoming RethinkDB 2.3.0.

For now you can probably build from source: http://rethinkdb.com/docs/install/debian/

[2016-04-01 23:47] larkost opened #5589 "Add `close` event to JavaScript event emitter interface"
Currently the behavior for the `EventEmiter` interface on JavaScript is not well defined when you close a cursor. We wind up emitting an error event in most cases, as it will (at some point in the future) try to pull an item from the cursor and fail with a `Cursor is closed.` message.

Rather we should really emit a `close` event, and then spin things down in a controlled fashion.

[2016-04-02 02:21] danielmewes opened #5590 "New --bind options don't appear in `rethinkdb --help`"
In the function `get_network_options` in command_line.cc, they are not adding the appropriate entries to the help output.

[2016-04-02 03:31] danielmewes opened #5591 "table_fuzzer out of memory issue"
I'm getting the following reliably when running `test/run interface.table_fuzzer` on `next`:
[code]

I compiled with recc++ in debug mode.

[2016-04-02 03:40] deontologician commented on #5461
This is up in review 3569 by @VeXocide

[2016-04-02 03:40] Sxw1212 commented on #5348
Yes. I'll test that shortly. Are there any more logs I can collect to help find the cause?

[2016-04-02 04:00] deontologician commented on #5461
The branch is josh/5406

[2016-04-02 04:18] danielmewes commented on #5591
It looks like it's passing in release mode.

[2016-04-02 04:35] danielmewes commented on #5591
Got a backtrace for the allocation:
[code]

[2016-04-02 12:29] joeblew99 commented on #5588
This does not seem to be based on my experiences.

@joshua
On OSX and windows it's a single binary. At the moment I have to install
the complete package and copt out the single binary and then delete the
package.

Building from source is a huge inconvenience.

I get its not a priority, but still registering my objections :)

On Sat, 2 Apr 2016, 01:20 Daniel Mewes, <notifications@github.com> wrote:

[2016-04-02 18:50] AtnNn opened #5592 "TLS support on Windows"
RethinkDB on windows (#1100) doesn't support TLS (#5381)

[2016-04-02 20:54] bgnorlov opened #5593 "Performance question"
Can anyone explain why one query inside database slower than two queries in runtime? I have table 'folder' , table 'boards' with 'folders_id' index and table 'posts' with 'boards_id' index. My first query
[code]
uses concatMap and it took nearly 151 ms. But secon query
[code]
uses two runtime queries (first retrieves all ids and second fetches all posts) and it took nearly 60 ms. I tested with oth

[2016-04-03 02:41] chrisvariety commented on #5593
Just a guess and the folks at RethinkDB would know more, but...

The first example runs a bunch of separate getAll's, one for each set of posts within each board, and the second just runs two getAll's total.

I'm not sure if you want to return _both_ boards _and_ posts or only _posts_. Assuming you want only posts, you can just do this which is roughly equivalent to your second example:

[code]

T

[2016-04-03 18:20] bgnorlov commented on #5593
@chrisvariety Thanks for "r.args" trick - it gave 30% performance boost compare to approach of two separate request. By the way, I don't see a big difference - in both cases (nested concatMap or nested getAll in args) database need retrieve all boards in folder and all post for each board.

[2016-04-04 00:15] fkollmann opened #5594 "Building v2.2.6 fails when using pre-installed NPM"
**Error**

Command: `/usr/bin/npm --userconfig /mnt/resource/rethinkdb_build/rethinkdb-2.2.6/mk/support/config/npm.conf --cache /mnt/resource/rethinkdb_build/rethinkdb-2.2.6/external/npm_cache-E5b39eIe --no-registry install /mnt/resource/rethinkdb_build/rethinkdb-2.2.6/external/admin-deps_2.0.3`

NPM error message: `registry URL is required`

**Workaround**

Allow NPM to download packages online,

[2016-04-04 17:44] danielmewes commented on #5490
In `next` ebbce92

[2016-04-04 17:44] #5490 closed

[2016-04-04 17:47] danielmewes commented on #5553
This is fixed in next.

[2016-04-04 17:47] #5553 closed

[2016-04-04 17:56] danielmewes commented on #4519
It's in next! :)

[2016-04-04 17:56] #4519 closed

[2016-04-04 17:56] danielmewes commented on #5406
It's in next.

[2016-04-04 17:56] #5406 closed

[2016-04-04 17:58] VeXocide commented on #5463
This is next.

[2016-04-04 18:02] mbroadst opened #5595 "git/build problems with `next`"
Hey guys,
I'm putting a patch together to configure the cluster node reconnect timeout, and I've noticed two issues with `next`:

  * there are a number of files that seem to have issues with line endings, or at least that's my best guess. I have `core.autocrlf` enabled globally on my systems, and I'm running into this on linux and mac. Nothing I do can "reset" these files, they are just automatic

[2016-04-04 20:05] #4772 closed

[2016-04-04 20:08] larkost opened #5597 "work out what goes wonky with .gitattributes"
A few of us have had odd problems that were traced back to the `.gitattributes` addition recently. We should probably figure out exactly what is happen and work to mitigate those problems. One example was the first section of #5595.

For those who might be directed her to fix temporary problems, here is the workaround, do this from the root of the repository:
1.  `echo "" > ./.gitattributes` to wi

[2016-04-04 20:08] larkost commented on #5595
The first part is probably because `.gitattributes` was added, and it does not play nice whence crossing over that limit. The solution is to `echo "" > ./.gitattributes`, then `git checkout` everything that is having this problem, then `git checkout .gitattributes` again to re-set it. I have filed #5597 to see if we can mitigate problems like this in the future.

I am going to being in @VeXocide o

[2016-04-04 20:15] VeXocide commented on #5595
@danielmewes fixed the second issue this morning, he ran into it as well.

[2016-04-04 20:16] nighelles commented on #5424
@danielmewes Did we resolve this?

[2016-04-04 20:20] larkost commented on #5595
@mbroadst: Can you try updating your repository? We think that second issue is already fixed.

[2016-04-04 20:32] larkost commented on #5588
@joeblew99: Can you elaborate? Your last comment does not have much to go on.

[2016-04-04 20:42] VeXocide opened #5598 "Weird relationship between `db_config_artificial_table_backend_t` and `real_reql_cluster_interface_t`"
The `db_config_artificial_table_backend_t` calls back into the `real_reql_cluster_interface_t` to drop a database. `r.db("foo").config().delete()` takes the cluster interfaces in a chain of command style, it skips through the artificial into the real, the real then makes a single selection from the artificial `db_config` backend which has a pointer to the real interface to drop the actual table in

[2016-04-04 20:50] nighelles commented on #5590
This is fixed in next.

[2016-04-04 20:50] #5590 closed

[2016-04-04 20:52] mbroadst commented on #5595
@larkost @VeXocide  very strange, that error was from a compile 45min ago, but I now see that next has a commit from 4hours ago to fix the issue. Maybe there was a force push of old commits or something. Thanks, looks like this is no longer an issue.

WRT the .gitattributes, is that just going to be the solution for that from here on out? Your suggested tips fixed the issue, however the issue rema

[2016-04-04 20:52] #5595 closed

[2016-04-04 21:08] mlucy commented on #5581
I decided to just try reproducing on `next` to save us some time, and this crash appears not to happen there, so it was either a build problem or was fixed between `f02637f` and `next`.

[2016-04-04 21:08] #5581 closed

[2016-04-04 22:41] joeblew99 commented on #5588
Sorry I guess I am too in my head...
Basically when for example I go to download OSX, I can only download a PKG,
which is not great when all you want is the rethinkdb binary executable
only.

The exe is all I need for OSX ( and also windows and Linux ), in order to
run my code ( golang in my case ) to talk to rethinkdb.

I place the rethinkdb exe inside the main deployed tar or zip that gets
deplo

[2016-04-04 22:41] danielmewes commented on #5424
@nighelles No, we still need to integrate the test into `configure`. Can you see if you can figure out how that works?

[2016-04-04 23:10] nighelles opened #5599 "Reading using write permissions"
@VeXocide

[code]

[2016-04-04 23:26] VeXocide commented on #5599
Nice find, after some discussion we've decided to require read permissions when writing as well.

[2016-04-04 23:29] #5599 closed

[2016-04-04 23:29] VeXocide commented on #5599
Fixed in `next` via commit 807da35498c9c4c7b64f3c35e78ca571ee0fe275, over-the-shoulder by @danielmewes.

[2016-04-04 23:33] mlucy commented on #5460
This is in next, CR 3558 by @VeXocide .

[2016-04-04 23:33] #5460 closed

[2016-04-04 23:57] mlucy commented on #5576
A potential fix for this is in `next` (OTS by @danielmewes).  We think the bug might be caused by calling `note_reshard` in the destructor of `local_replicator_t`, which previously happened *before* that object's auto-drainer was destroyed, meaning that `changefeed_subscribe_t`s on the old region might still be queued up and wind up happening *after* `note_reshard`.

[2016-04-05 00:01] AtnNn commented on #5597
Sorry about that, I introduced the `.gitattributes` to fix issues with line endings on windows. I haven't ran into any problems with it myself. What odd problems have you run into? If I can reproduce them I would be happy to try to fix them.

[2016-04-05 00:18] larkost opened #5600 "Ruby driver getting "pbkdf2_hmac() function is unimplemented on this machine" on MacOS"
The system installed version of Ruby on MacOS is getting the following error during `./test/rql_test/test-runner connections/cursor.rb` on `next` (once another problem is worked around):
[code]

It looks like this has to do with the underlying OpenSSL library:
[code]

This does not happen on linux, or on other custom-installed versions of Ruby on my machine that are linked against custom versions

[2016-04-05 00:21] VeXocide commented on #5600
There's a similar issue with older versions of Python, see https://github.com/rethinkdb/rethinkdb/blob/next/drivers/python/rethinkdb/handshake.py#L262 for a bare bones implementation of `pbkdf2_hmac`.

[2016-04-05 00:23] VeXocide commented on #5600
Note that `ruby -e 'require "openssl"; OpenSSL::HMAC'` seems to indicate that the HMAC functionality is available to base `pbkdf2_hmac` on.

[2016-04-05 00:25] Tryneus commented on #5597
@AtnNn - I seem to be ending up with files that I haven't modified, but git reports them as modified, and I can't discard the changes.  This usually seems to show up when I'm switching/merging branches.  Example:

[code]

[2016-04-05 00:36] mlucy commented on #5600
It looks like the default version of OpenSSL on OS X is just slightly too old.  There's a Ruby-only implementation of pbkdf2 available; I'll change it to fall back to that if the OpenSSL one is unavailable.

[2016-04-05 01:35] danielmewes commented on #5461
In next fbe2072

[2016-04-05 01:35] #5461 closed

[2016-04-05 02:30] deontologician commented on #5461
Thanks guys :)

[2016-04-05 02:32] danielmewes commented on #5136
This is done. The minimum required GCC version is not 4.7.4.
4.7.4 is confirmed working, and 4.7.2 is confirmed not working (it crashes). I didn't try 4.7.3.

As a consequence of this change, we are going to drop support for Debian Wheezy with RethinkDB 2.3.0.

[2016-04-05 02:32] #5136 closed

[2016-04-05 02:40] danielmewes commented on #5585
I've made the required changed to our build servers. RethinkDB 2.3.0 will again work with Debian stretch.

[2016-04-05 02:40] #5585 closed

[2016-04-05 02:40] danielmewes commented on #5576
I'm going to close this for book-keeping reasons. If we see the issue again after RethinkDB 2.3.0, we will re-open it.

[2016-04-05 02:40] #5576 closed

[2016-04-05 02:41] danielmewes commented on #2230
This is done for 2.3.0, though @larkost is still working on an improved solution.
Going to close this.

[2016-04-05 02:41] #2230 closed

[2016-04-05 02:58] nighelles commented on #5424
This is in review #3574.

[2016-04-05 03:15] mlucy commented on #5600
It looks like the pbkdf2 gem doesn't quite work.  We should probably just implement it ourselves.

[2016-04-05 03:27] nighelles commented on #5469
This is in next.

[2016-04-05 03:27] #5469 closed

[2016-04-05 03:39] nighelles commented on #5424
This is in next.

[2016-04-05 03:39] #5424 closed

[2016-04-05 05:55] azabujuban commented on #1672
+1
Right in the middle of debugging of a not so super-crazy-complex-function, but still something like this would be really helpful.

[2016-04-05 05:55] erikdubbelboer opened #5601 "Rethinkdb crashes on big object"
We have a rethinkdb proxy instance that crashes almost every day. Below is some information. At the moment I'm trying to log the exact query that causes the instance to crash. I will amend this issue when I found it.

[code]

Started in a screen using:
[code]

End of the logfile:
[code]

[2016-04-05 06:06] erikdubbelboer commented on #5601
Maybe this could be an out of memory situation that's not handled properly?

[2016-04-05 07:35] erikdubbelboer commented on #5601
The proxy crashes when I try to save an object with a nesting depth of around 2000. It works normally when not using the proxy.

This limitation is not mentioned in https://rethinkdb.com/limitations/ so I'm guessing it's a bug.

[2016-04-05 07:37] erikdubbelboer commented on #5601
When not using the proxy it actually crashed the normal rethinkdb instance I noticed now :(

[2016-04-05 07:45] erikdubbelboer commented on #5601
The JSON I'm trying to save can be found here: https://gist.github.com/erikdubbelboer/50d14dfdff759563880c1e3459c7716d

As you can see the deep nesting goes like `{[{[{[{[{[` which might have something to do with this crash I guess.

[2016-04-05 08:09] analytik opened #5602 "As a beginner, I want to see WebUI warnings about misunderstanding ReQL concepts"
From my observations (and own mistakes), there are several common errors for people beginning with ReQL in JavaScript:

- Using math, logic and comparison operators, which cannot be overloaded:
  - `.update({field: doc('other_field') + 2})` instead of `r.add()`
  - `!r.hasFields('field')` instead of `r.hasFields('field').not()`
  - `doc[4]` vs `doc.nth(4)`
- Using if/then/else, which cannot be ove

[2016-04-05 08:22] iorlas1 opened #5603 "javadriver ignores timeout?"
Noticed that in the javadriver the method DefaultCursor.getNext(Optional<Long>) ignores the timeout argument. I tried to make a change where the argument was passed to waitOnCursorItems() and to the awaitingContinue.get() method call. Worked fine for me.

I checked out the code but failed to run the tests - guess there is some setup that I need - so I haven't contributed my solution. I can build t

[2016-04-05 16:39] danielmewes commented on #5348
@Sxw1212 only 6 MB free might be enough to cause an out-of-memory crash like this one. If you aren't setting an explicit cache size already, you can start `rethinkdb` with the `--cache-size 32` parameter (or add it to your instance configuration in /etc/rethinkdb/instances.d as `cache-size=32` if you're using the init script to start Rethink). That will reduce memory usage a little bit.

[2016-04-05 16:52] danielmewes commented on #5594
@larkost have you seen this one before?

@fkollmann As a work-around, I recommend calling `configure` with the `--fetch npm` flag.

[2016-04-05 16:59] danielmewes commented on #5603
Thanks for the bug report @iorlas1 .

A pull request would be most welcome. We can run the tests on our end. (You might want to take a quick look at our CLA as well: http://rethinkdb.com/community/cla/ .)
In general the Java drive tests require a running RethinkDB server on your local machine. Then you can run them through `gradle test` in the `drivers/java` directory.

Also pinging @deontologicia

[2016-04-05 17:01] danielmewes opened #5604 "Ruby tests failing with "uninitialized constant RethinkDB::Shim::ReqlServerCompileError" error"
A bunch of ReQL tests have started failing on `next` with errors like this one:

[code]

@mlucy

[2016-04-05 17:03] danielmewes commented on #5601
Thanks for the issue report @erikdubbelboer . This is a stack overflow caused by the deep nesting depth during JSON parsing.

We'll look into it, but I recommend changing the data layout in the meantime. In general extremely deeply nested JSON data like this one is likely to hit badly tested edge cases both in terms of resource consumption as well as performance.

[2016-04-05 17:04] danielmewes commented on #5601
If you don't need to do any database-side processing of the deeply nested structure, you could consider storing it as a single string value instead, i.e. encode it as JSON on the client, and then store the JSON string instead of the object itself.

[2016-04-05 17:05] danielmewes commented on #5602
That's an amazing idea @analytik . Thanks for the very useful writeup.

We'll try to schedule this.

[2016-04-05 17:08] larkost commented on #5588
@joeblew99: specifically on MacOS X, `.pkg` is a far better tool than wrapping things up as a `.zip` or '.tar.*', for the reasons I have highlighted above. That is why it is the preferred format for almost [1] all of the MacOS deployment solutions I know of: AutoDMG, Caspar, DeployStudio, Imagr, Munki, NetRestore, and Puppet. Even FileWave has a digester. Having done a lot of work in this area, I

[2016-04-05 17:13] danielmewes commented on #5604
This patch seems to fix it:
[code]

[2016-04-05 17:19] scottder opened #5605 "Indicate in logs or WebUI when TLS is in use"
Version: rethinkdb 2.3.0-pre-horizon-85-g3c99aa-dirty (GCC 4.8.4)

It would be great if there was some kind of indication in the logs or UI (or both) to show when a cluster member is using TLS succesfully.

[2016-04-05 17:39] danielmewes commented on #5604
Fixed in `next` 8d65c59.

[2016-04-05 17:39] #5604 closed

[2016-04-05 17:56] larkost opened #5606 "Make `test-runner` aware of user accounts"
Now that we have user accounts, and the possibility of an admin user password, `test-runner` needs to know to check for those settings so that they don't bleed from one test into the next. Since in most circumstances we already have an open connection to the database, we should be able to reset all of this between tests.

I will try and get this done this week.

[2016-04-05 18:06] danielmewes commented on #5551
There are still a few instances of this which we need to look into. In practice this is probably not going to fail.

[2016-04-05 18:07] danielmewes commented on #5465
Since we won't allow non-admin access to artificial tables in 2.3, this is fixed.

[2016-04-05 18:07] #5465 closed

[2016-04-05 18:08] danielmewes commented on #5463
@VeXocide merged this with https://github.com/rethinkdb/rethinkdb/commit/634a193f4c505a538ecae6d88ae6d4499eb7f646

[2016-04-05 18:08] #5463 closed

[2016-04-05 18:08] danielmewes commented on #5432
@nighelles You merged this with your `eachAsync` changes right?

[2016-04-05 18:08] #5432 closed

[2016-04-05 18:09] danielmewes commented on #5382
@AtnNn fixed this.

[2016-04-05 18:09] #5382 closed

[2016-04-05 18:20] danielmewes commented on #5462
In review 3578

[2016-04-05 18:28] #5223 closed

[2016-04-05 18:29] scottder opened #5607 "2.3 proxy and admin password issue"
If the cluster has an admin password set a proxy cannot connect because it doesn't have the admin PW set as well.

`warn: Connection attempt from <IP>:29015 failed, reason: no admin password (The remote peer has an admin password configured, but we don't. Connecting to it could make the cluster insecure. You can run this server with the `--initial-password auto` option to allow joining the passwor

[2016-04-05 18:30] VeXocide commented on #5223
Fixed in `next`, over the shoulder by @danielmewes.

[2016-04-05 18:44] binarycrayon opened #5608 "Python Driver throws error when slicing deque"
collections.deque is the default data structure used by 'Cursor', but not correctly sliced when returning result. I'm submitting a pull request to slice with `itertools.islice`

[code]

[2016-04-05 18:47] danielmewes commented on #5607
Thanks for the report. I'm testing a fix right now...

[2016-04-05 18:55] danielmewes commented on #5607
Fix in branch daniel_5607, code review 3580

[2016-04-05 19:03] larkost commented on #5608
I believe that this is already fixed in `next`, specifically with 4c84e336. That change is slated go out soon with the 2.3 release. I will be closing this as duplicate, but if I have missed something please comment and I will re-open this.

[2016-04-05 19:03] #5608 closed

[2016-04-05 19:07] danielmewes commented on #5607
Fixed in next b56de83d6f72cf00e3465382df17e69a08327fb6 .

[2016-04-05 19:07] #5607 closed

[2016-04-05 19:08] binarycrayon commented on #5608
I see, I downloaded driver post6 and had that issue. Should I just use the driver provided in next instead?

I added pull request but perhaps I'll just close it too.
https://github.com/rethinkdb/rethinkdb/pull/5609

[2016-04-05 19:08] danielmewes commented on #5462
The test is in next e8182e2 .

[2016-04-05 19:08] #5462 closed

[2016-04-05 19:40] danielmewes commented on #5608
Thanks for the pull request @binarycrayon . You can close it, since a similar fix already exists.

The error happens when trying to turn a cursor into a string (for example for printing). As a work-around, you can convert it into a `list` first if it's small enough, and then print the list instead. Sorry for the inconvenience.

The issue that fixed this for the upcoming 2.3 driver was https://gith

[2016-04-05 19:52] larkost opened #5610 "merge `promise.mocha` into `connections.mocha`"
Recently all of the Promise-style tests on `Cursor`s have been merged into `cursor.mocha`, and that has worked out well in expanding those tests to cover things. A similar push should probably be done to get everything from `promise.mocha` into `connections.mocha`.

This might be better to do soon, possibly as part of the update for user accounts.

[2016-04-05 19:53] #1100 closed

[2016-04-05 19:54] danielmewes commented on #1100
We're going to release a beta version of RethinkDB 2.3.0 for Windows soon.

[2016-04-05 20:04] larkost opened #5611 "cpplint erros in 8d65c59"
Here is the latest batch, and `git blame` points the finger at @VeXocide:
[code]

[2016-04-05 20:04] marshall007 opened #5612 "`<object>.isEmpty()` should work"
Currently `.isEmpty()` only works on sequences. I think calling it on an object should be equivalent to `<object>.values().isEmpty()`. In other words, it should return true if the object doesn't contain any keys.

[2016-04-05 20:22] larkost commented on #5594
This is a dupe of #5230, and is about the changing options to `npm`, specially `--no-registry` vs. `--registry http://disabled-registry`.

[2016-04-05 20:22] #5594 closed

[2016-04-05 21:26] larkost commented on #5578
We have decided to leave the filters in-place as these warnings could come up in testing and not be important in those tests.

[2016-04-05 21:50] nighelles commented on #5459
This is in next.

[2016-04-05 21:50] #5459 closed

[2016-04-05 22:43] nighelles commented on #5464
This is in next.

[2016-04-05 22:43] #5464 closed

[2016-04-05 22:51] mlucy opened #5614 "Make the Python and JS drivers cache the results of PBKDF2 to reduce latency."
We aren't including the server nonce in the PBKDF2 calculation, so we can cache the result of it to drastically speed up connection times when re-authenticating as the same user.  This is probably a good idea since some users may be on the old "one connection per query" model.  (This is already in review for Ruby.)